[2015-08-03 18:17] #1137 closed, assigned to gocentral

[2015-08-03 18:17] #1138 closed, assigned to gocentral

[2015-08-03 18:17] #1139 closed, assigned to gocentral

[2015-08-03 18:17] #1140 closed, assigned to gocentral

[2015-08-03 18:17] #1141 closed, assigned to gocentral

[2015-08-03 18:18] #1142 closed, assigned to gocentral

[2015-08-03 18:18] #1143 closed, assigned to gocentral

[2015-08-03 18:18] #1146 closed, assigned to gocentral

[2015-08-03 18:18] #1148 closed, assigned to gocentral

[2015-08-03 18:18] #1149 closed, assigned to gocentral

[2015-08-03 18:18] #1150 closed, assigned to gocentral

[2015-08-03 18:18] #1151 closed, assigned to gocentral

[2015-08-03 18:18] #1153 closed, assigned to gocentral

[2015-08-03 18:18] #1154 closed, assigned to gocentral

[2015-08-03 18:18] #1155 closed, assigned to gocentral

[2015-08-03 18:18] #1156 closed, assigned to gocentral

[2015-08-03 18:18] #1157 closed, assigned to gocentral

[2015-08-03 18:18] #1158 closed, assigned to gocentral

[2015-08-03 18:18] #1159 closed, assigned to gocentral

[2015-08-03 18:18] #1160 closed, assigned to gocentral

[2015-08-03 18:18] #1162 closed, assigned to gocentral

[2015-08-03 18:18] #1165 closed, assigned to gocentral

[2015-08-03 18:18] #1166 closed, assigned to gocentral

[2015-08-03 18:19] #1167 closed, assigned to gocentral

[2015-08-03 18:19] #1168 closed, assigned to gocentral

[2015-08-03 18:19] #1169 closed, assigned to gocentral

[2015-08-03 18:19] #1170 closed, assigned to gocentral

[2015-08-03 18:19] #1172 closed, assigned to gocentral

[2015-08-03 18:19] #1173 closed, assigned to gocentral

[2015-08-03 18:19] #1174 closed, assigned to gocentral

[2015-08-03 18:19] #1176 closed, assigned to gocentral

[2015-08-03 18:19] #1179 closed, assigned to gocentral

[2015-08-03 18:19] #1180 closed, assigned to gocentral

[2015-08-03 18:19] #1181 closed, assigned to gocentral

[2015-08-03 18:19] #1182 closed, assigned to gocentral

[2015-08-03 18:19] #1183 closed, assigned to gocentral

[2015-08-03 18:19] #1184 closed, assigned to gocentral

[2015-08-03 18:19] #1185 closed, assigned to gocentral

[2015-08-03 18:19] #1187 closed, assigned to gocentral

[2015-08-03 18:19] #1188 closed, assigned to gocentral

[2015-08-03 18:19] #1189 closed, assigned to gocentral

[2015-08-03 18:19] #1190 closed, assigned to gocentral

[2015-08-03 18:20] #1191 closed, assigned to gocentral

[2015-08-03 18:20] #1192 closed, assigned to gocentral

[2015-08-03 18:20] #1193 closed, assigned to gocentral

[2015-08-03 18:20] #1195 closed, assigned to gocentral

[2015-08-03 18:20] #1196 closed, assigned to gocentral

[2015-08-03 18:20] #1197 closed, assigned to gocentral

[2015-08-03 18:20] #1198 closed, assigned to gocentral

[2015-08-03 18:20] #1199 closed, assigned to gocentral

[2015-08-03 18:20] #1200 closed, assigned to gocentral

[2015-08-03 18:20] #1201 closed, assigned to gocentral

[2015-08-03 18:20] #1202 closed, assigned to gocentral

[2015-08-03 18:20] #1203 closed, assigned to gocentral

[2015-08-03 18:20] #1204 closed, assigned to gocentral

[2015-08-03 18:20] #1205 closed, assigned to gocentral

[2015-08-03 18:20] #1206 closed, assigned to gocentral

[2015-08-03 18:20] #1207 closed, assigned to gocentral

[2015-08-03 18:20] #1208 closed, assigned to gocentral

[2015-08-03 18:20] #1210 closed, assigned to gocentral

[2015-08-03 18:20] #1211 closed, assigned to gocentral

[2015-08-03 18:21] #1214 closed, assigned to gocentral

[2015-08-03 18:21] #1215 closed, assigned to gocentral

[2015-08-03 18:21] #1217 closed, assigned to gocentral

[2015-08-03 18:21] #1220 closed, assigned to gocentral

[2015-08-03 18:21] #1221 closed, assigned to gocentral

[2015-08-03 18:21] #1223 closed, assigned to gocentral

[2015-08-03 18:21] #1224 closed, assigned to gocentral

[2015-08-03 18:21] #1225 closed, assigned to gocentral

[2015-08-03 18:21] #1227 closed, assigned to gocentral

[2015-08-03 18:21] #1231 closed, assigned to gocentral

[2015-08-03 18:21] #1233 closed, assigned to gocentral

[2015-08-03 18:21] #1235 closed, assigned to gocentral

[2015-08-03 18:21] #1238 closed, assigned to gocentral

[2015-08-03 18:22] #1239 closed, assigned to gocentral

[2015-08-03 18:22] #1240 closed, assigned to gocentral

[2015-08-03 18:22] #1241 closed, assigned to gocentral

[2015-08-03 18:22] #1242 closed, assigned to gocentral

[2015-08-03 18:22] #1243 closed, assigned to gocentral

[2015-08-03 18:22] #1244 closed, assigned to gocentral

[2015-08-03 18:22] #1245 closed, assigned to gocentral

[2015-08-03 18:22] #1247 closed, assigned to gocentral

[2015-08-03 18:22] #1248 closed, assigned to gocentral

[2015-08-03 18:22] #1250 closed, assigned to gocentral

[2015-08-03 18:22] #1251 closed, assigned to gocentral

[2015-08-03 18:22] #1255 closed, assigned to gocentral

[2015-08-03 18:22] #1262 closed, assigned to gocentral

[2015-08-03 18:23] #1263 closed, assigned to gocentral

[2015-08-03 18:23] #1264 closed, assigned to gocentral

[2015-08-03 18:23] #1265 closed, assigned to gocentral

[2015-08-03 18:23] #1266 closed, assigned to gocentral

[2015-08-03 18:23] #1268 closed, assigned to gocentral

[2015-08-03 18:23] #1270 closed, assigned to gocentral

[2015-08-03 18:23] #1271 closed, assigned to gocentral

[2015-08-03 18:23] #1274 closed, assigned to gocentral

[2015-08-03 18:23] #1276 closed, assigned to gocentral

[2015-08-03 18:23] #1278 closed, assigned to gocentral

[2015-08-03 18:23] #1283 closed, assigned to gocentral

[2015-08-03 18:23] #1284 closed, assigned to gocentral

[2015-08-03 18:23] #1285 closed, assigned to gocentral

[2015-08-03 18:23] #1286 closed, assigned to gocentral

[2015-08-03 18:24] #1287 closed, assigned to gocentral

[2015-08-03 18:24] #1288 closed, assigned to gocentral

[2015-08-03 18:24] #1289 closed, assigned to gocentral

[2015-08-03 18:24] #1290 closed, assigned to gocentral

[2015-08-03 18:24] #1291 closed, assigned to gocentral

[2015-08-03 18:24] #1292 closed, assigned to gocentral

[2015-08-03 18:24] #1295 closed, assigned to gocentral

[2015-08-03 18:24] #1299 closed, assigned to gocentral

[2015-08-03 18:24] #1302 closed, assigned to gocentral

[2015-08-19 08:11] ValWood opened #1305 "TPV phosphatase activity cause by F-P links"
"phosphatase activity"  has F-P links to  "protein phophorylation"
but this causes TPV's for some descendants
for example  GO:0008252 nucleotidase activity

[2015-08-19 08:12] ValWood commented on #1305
please add Pombase  label to this an others, I don't have permission to add labels.
Thanks

Val

[2015-08-19 08:12] ValWood commented on #1305
wrong tracker

[2015-08-19 08:12] #1305 closed

[2015-08-19 08:16] ValWood opened #1306 "IPR008280 GO:0051258 protein polymerization"
This mapping does not seem to be correct for tubulins (it is similar to annotating a modified protein to the associated modification term).

[2015-08-19 08:57] ValWood opened #1307 "IPR004545 proliferation mapping"
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008283

Note the annotation comment:

This term was moved out from being a child of 'cellular process' because it is a cell population-level process, and cellular processes are restricted to those processes that involve individual cells. Also note that this term is intended to be used for the proliferation of cells within a multicellular organism, not for

[2015-08-21 11:07] ValWood opened #1308 "IPR009453 mapping"
Hi,

Could you check this one...PomBase have annotation to
"inosine salvage" via SGD  (ISS)
which has ancestry to "nucleoside metabolic process" but the mapping  is to  InterPro
"nucleotide metabolic process". It might be correct, I'm not sure ...it has other annotation but all with "nucleoside" ancestry

[2015-08-21 11:50] ValWood opened #1309 "IEA IPR007648"
IEA	IPR007648
negative regulation of nucleotide metabolic process
seems not quite right.

Maybe a better mapping here would be
"negative regulation of ATPase activity"

[2015-08-29 21:15] ValWood opened #1310 "IPR004712 too specific (potassium transport?)"
In pombe this is a sodium transporter
http://www.pombase.org/spombe/result/SPAC977.10
Val

[2015-09-01 08:58] EBI-Hsinyu commented on #1310
Hello,

Thank you for this. I have deleted this term.

Hsinyu

[2015-09-01 20:45] ValWood opened #1311 "UniProtKB-KW:KW-0184 mapping for conjugation to pombe cig2 incorrect?"
P36630
has a mapping to conjugation, but this is not valid as far as we know... do you have a citation (cig2 is G1/S transition)

[2015-09-02 15:20] ValWood opened #1312 "PTHR12377 - Query PAINT annotation UniProtKB:Q9UTL0|PTN000272201|SPAC144.16"
This one is strange
PomBase	SPAC144.16	cia2		GO:0007059	PAINT_REF:12377	IBA	PANTHER:PTN000272126	P	iron-sulfur cluster assembly protein Cia2 (predicted)	UniProtKB:Q9UTL0|PTN000272201|SPAC144.16	protein	taxon:284812	20140919	GO_Central

it seems that some of the evidence is from SPAC144.16 itself, but this is unstudied in pombe. As far as we know from SGD this is involved in ron-sulfur cluster asse

[2015-09-14 14:00] ValWood opened #1313 "PTHR24356 (1300 members) PANTHER:PTN001220075) problem annotation for fission yeast"
I just spotted this

mug27           positive regulation of septation initiation signaling       GO Central  Schizosaccharomyces pombe   IBA PANTHER:PTN001220075            PAINT_REF:0024356   20150429

[code]

This kinase hasn't been studied in detail in pombe but it seems to be involved in prospore membrane assembly rather than "nuclear division".

I can't see an ortholog which could generate th

[2015-09-15 14:58] asangrador commented on #1309
Hi Val,

I have changed it following your suggestion.

[2015-09-15 14:58] asangrador commented on #1309
closed#1309

[2015-09-15 15:02] asangrador commented on #1309
closes #1309

[2015-09-15 15:23] asangrador commented on #1308
I think "nucleotide metabolic process" refers to the degradation of IMP to inosine, while the production of inosine would be  "nucleoside metabolic process" (synthesis). So both would be in theory right. But perhaps "inosine salvage"  is more informative about the function of the protein, so I have added this term.

[2015-09-15 15:54] asangrador commented on #1307
I have removed 'cell proliferation' as it can not be applied, as you've  point out, to the fungal proteins in this entry. There is not evidence for cell cycle or transcription activity in pombe, the annotation is based in higher eukaryotes, where it is involved in proliferation [PMID:24275324], cell cycle transition [PMID15689342] and transcription [PMID:23242156]. We will consider removing the an

[2015-09-15 16:03] asangrador commented on #1306
This was some old annotation. I have removed all the terms that they do not apply to this entry (including protein polymerization!)

[2015-09-15 16:19] ValWood commented on #1307
Yeah I would remove them. They seem to be more 'phenotypes' observations then real characterized processes. They all seem a bit weak...Having no GO annotation might be better....

[2015-09-17 16:16] ValWood opened #1314 "PAINT_REF:10571 IEA PANTHER:PTN000060284"
gpt2            GO:0019348      PAINT_REF:10571 IEA     PANTHER:PTN000060284    P       UDP-N-acetylglucosamine--dolichyl-phosphate N-acetylglucosaminephosphotransferase       alg7|gpt        protein taxon:4896      20140919        GO_Central

we have this annotated to
GO:0006489	dolichyl diphosphate biosynthetic process

which seems more correct. Its not really metabolising dolichol?

val

[2015-09-17 16:30] ValWood opened #1315 "PTHR23500 (was:PAINT_REF:24063 IBA PANTHER:PTN000756124) (MFS family glucose transporters)"
PomBase SPAC20G8.03     itr2            GO:0046323      PAINT_REF:24063 IEA     PANTHER:PTN000756124    P       MFS myo-inositol transmembrane transporter              protein taxon:4896      20150313        GO_Central

I don't think we probably want to transfer specificities of some of these transporters. In pombe itr2 isn't transporting "glucose".
This is a member of a "sugar" transporter family

[2015-09-17 16:32] ValWood commented on #1315
similarly

PomBase	SPAC4F8.15	itr1		GO:0046323	PAINT_REF:24063	IEA	PANTHER:PTN000756124	P	myo-inositol transmembrane transporter Itr1	SPAC7D4.01	protein	taxon:4896	20150313	GO_Central

we have an IMP to carbohydrate but didn't feel we could be more specific
v

[2015-09-17 16:45] ValWood commented on #1315
We have a whole family of these, and the specificities are not always known. I think 'glucose' has been added to all of them, but it is known they they have different specificities. Also GO:0005351 sugar:proton symporter activity and I can't find any evidence for this mechanism (they are MSF family?). Can you point me to the original annotation for this for a family member?

For process I don't th

[2015-09-17 17:01] ValWood opened #1316 "PAINT_REF:14094 IEA PANTHER:PTN000363482 (signal recognition particle)"
srp72 is picking up an annotation to
GO:0005047	signal recognition particle binding

But IT IS part of the SRP ?

PomBase	SPCC320.10	srp72		GO:0005047	PAINT_REF:14094	IEA	PANTHER:PTN000363482	F	signal recognition particle subunit Srp72 (predicted)		protein	taxon:4896	20140929	GO_Central

[2015-09-18 10:17] mcourtot opened #1317 "Test issue - please ignore"

[2015-09-18 10:18] EBI-Hsinyu commented on #1317
test again.

[2015-09-18 10:32] #1317 closed

[2015-09-18 10:42] #1310 closed

[2015-09-23 08:38] #1309 closed

[2015-09-23 08:39] #1308 closed

[2015-09-23 08:40] #1306 closed

[2015-09-23 08:41] #1301 closed

[2015-09-23 08:44] #1304 closed

[2015-09-24 07:15] ValWood opened #1318 "query old unused term"
Hi David,
I think you should kill
"establishment of mitotic spindle orientation involved in growth plate cartilage chondrocyte division"
(no annotations).

If I understand the biology, the spindle does have a role in signalling cytokinesis generally (via the signalling pathway known as the septation initiation network in fungi).

This seems like it is connecting an upstream process to a downstream

[2015-09-24 07:17] ValWood commented on #1318
WRONG TRACKER!

[2015-09-24 07:17] #1318 closed

[2015-09-24 07:57] ValWood opened #1319 "PAINT annotations and "contributes to" rpb4 as an e.g"
In the paint file rpb4 orthologs have PAINT annotations to

DNA-directed RNA polymerase activity
single-stranded DNA binding
single-stranded RNA binding

At SGD these have IDA annotations with "contributes to" because the complex binds DNA/RNA. I don't think any annotations with "contributes to" should be transferred by PAINT unless it is confirmed that this particular subunit is required for the

[2015-09-24 08:10] ValWood opened #1320 "getting PAINT annotations for things with taxon restrictions"
tions:

PomBase	SPCC5E4.04	cut1		GO:0005813	PAINT_REF:12792	IEA	PANTHER:PTN000300670	C	separase/separin	ptr4	protein	taxon:4896	20150313	GO_Central

see
GOTAX:0000518	 GO:0005813	centrosome	never_in_taxon	4751	Fungi

[2015-09-24 08:16] ValWood opened #1321 "PTHR10438 - PAINT annotation, thioredoxin and "protein folding""
All thioredoxins in pombe are getting annotations to "protein folding".I can't see any evidence for this for trx1 or trx2...they are involved in protein repair via  peptide-methionine (S)-S-oxide reductase activity

[2015-09-24 08:26] ValWood opened #1322 "PTHR24031 sum3 ! chromosome segregation PAINT_REF:24031"
sum3 is a translation initiation factor. Roles in translation (or possibly splicing?)

chromosome segregation is way too indirect:

PomBase SPCC1795.11 sum3        GO:0007059  PAINT_REF:24031 IEA PANTHER:PTN000619593    P   translation initiation RNA helicase Sum3    moc2|slh3|ded1  protein taxon:4896  20150318    GO_Central

[2015-09-24 08:54] paolaroncaglia opened #1323 "IPR001434 mapping"
From Ingrid @keseler

The issue I have run across is a GO mapping for Domain of unknown function DUF11 (IPR001434) to GO:0005727 extrachromosomal circular DNA, which I really don't understand at all. Is it really correct?

Thanks,
Ingrid

[2015-09-24 08:56] paolaroncaglia commented on #1323
Val @ValWood ,
I don't have permission to add (or even edit) labels on this tracker. If you do, could you please add 'InterPro' to this ticket?

Thanks,
Paola

[2015-09-24 09:32] asangrador commented on #1323
Hi,

This is a very old entry. I don't understand how it came to have this annotation. I have removed it!

[2015-09-24 15:59] keseler commented on #1323
Thanks, everyone!

[2015-09-25 15:38] krchristie commented on #1319
Hi Val,

Having done both the majority of the SGD annotations for RNA polymerase subunits and also having done the PAINT annotations for this family (which I am looking at right now), I have a couple comments.

1. Looking at the family in PAINT, the "RNA-directed RNA polymerase activity" term is not propagated to any sequences in the RPB4 family. I did not make these annotations in SGD. I recall l

[2015-09-25 15:47] ValWood commented on #1319
Hi Karen,

I think the main problem is that is annotation transfer is made from a gene with a "contributes_to" qualifier, there needs to be a mechanism to retain the "contributes_to"  qualifier on the annotations which are created. Would you agree? (the contributes_to qualifier is not present in the PAINT file)

[2015-09-25 16:04] ValWood commented on #1319
So, my understanding is that "contributes_to" with a complex subunit means that the complex was annotated, not the individual gene product, or that multiple subunits contribute to the activity.

Therefore, it seems sensible to either
1. not make the annotation transfer for a contributes_to annotation,
OR,
2. also ensure that the contributes_to qualifier appears in the annotation file. I think eith

[2015-09-25 16:04] krchristie commented on #1319
Hi Val,

There is a mechanism in the PAINT tool to choose whether or not to propagate a qualifier when it is present on a source annotation.

According to what I see in PAINT for this family, I did propagate the "contributes to" qualifier. I also find it present in the family specific GAF generated by PAINT for this family.

Also, when I look in MGI, I see the "contributes_to" qualifier is present

[2015-09-25 16:14] ValWood commented on #1319
I see this in the PomBase PAINT gaf....I'll have to dig around to tell you exactly where I got this from but it was the place Chris pointed me to, and it was only a couple of weeks ago....I'll see if I can track down the link...

PomBase	SPBC337.14	rpb4		GO:0005665	PAINT_REF:21297	IEA	PANTHER:PTN000480538	C	DNA-directed RNA polymerase II complex subunit Rpb4		protein	taxon:4896	20140415	GO_Central

[2015-09-25 16:15] ValWood commented on #1319
ignore the fact that they are IEA. I switch the evidence code temporarily so that I could filter redundant annotations before evaluation.

[2015-09-25 16:18] krchristie commented on #1319
Val,

Good luck with tracking this down.

However, I don't think I have anything else to add to this thread since I've checked that the "contributes_to" qualfier is being propagated appropriately in the original PAINT GAF and has been propagated all the way through to the mouse IBA annotations incorporated in MGI.

-Karen

[2015-09-25 16:24] ValWood commented on #1319
I found it. @cmungall  pointed me here:
exported for consumption into MODs:
http://www.geneontology.org/gene-associations/submission/paint/pre-submission/

So this file does not appear to have "contributes to"

Chris,  which tracker do you want me to move this to? (no hurry...this is parked for me for a few weeks)

[2015-10-19 09:21] #1323 closed

[2015-10-19 20:02] ValWood opened #1324 "gamma glutamyl transferase and glutathione hydrolase"
Does anybody know  anything about  gamma-glutamyltranspeptidases ?

In pombe we have 2
ggt1 http://www.pombase.org/spombe/result/SPAC664.09
and
ggt2 http://www.pombase.org/spombe/result/SPAC56E4.06c

we have annotated to
gamma-glutamyltransferase activity
and so has SGD
http://www.yeastgenome.org/locus/YLR299W/overview#go

but EC mapping is to GO:0036374 glutathione hydrolase activity

[2015-10-19 20:05] ValWood commented on #1324
I want to ping Peter D' for this one but I can't see his github profile? Anyone know?

[2015-10-20 14:53] deustp01 commented on #1324
I don't, but but here is a reference from Alton Meister (who I think was the preeminent authority on this) and a recent one from another person who looks like an authority:
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC283344/
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4388159/
From a description of the cycle that I just skimmed, it looks like the cycle works to preserve the energy in the bond conn

[2015-10-20 17:08] ValWood commented on #1324
Thanks Peter, I took the easiest option and contacted Marie Hannigan for advice/confirmation

[2015-10-21 07:03] ValWood commented on #1324
A really useful summary from Marie:

Thanks for reaching out to me. The link to my review that was included in the earlier post will provide a fairly compressive overview of the enzyme -  http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4388159/

The answer answer to your questions: Gamma-glutamyl transferase and gamma-glutamyl transpeptidase  are alternative names for the same protein. There is actual

[2015-10-21 08:14] ValWood commented on #1324
suggested a comment on the  gamma-glutamyltransferase activity term
https://github.com/geneontology/go-ontology/issues/12114

(In yeast this part of the pathway appears to occur in the vacuole)

[2015-10-21 08:32] ValWood commented on #1324
I wonder if this applies in yeast?
https://github.com/pombase/curation/issues/728

[2015-10-21 09:35] ValWood opened #1325 "UniPathway:UPA00392 to queuosine biosynthetic process"
UniPathway:UPA00392 mapping for queuine tRNA-ribosyltransferase activity
eg
http://www.pombase.org/spombe/result/SPAC1687.19c
needs to be suppressed.

See
https://sourceforge.net/p/geneontology/ontology-requests/11744/

[2015-10-21 09:37] ValWood commented on #1321
@pgaudet  @gocentral  Do we need a PAINT label

[2015-10-21 20:40] Pauldenny opened #1326 "Annotating yeast autophagy regulators in PMID:25660547 ?"
I have annotated human proteins in experiments described in  "Rph1/KDM4 Mediates Nutrient-Limitation Signaling that Leads to the Transcriptional Induction of Autophagy" - PMID:25660547 but there are a large number of experiments done with yeast (S. cerevisiae )that might be better handled by others - anyone interested?

[2015-10-21 22:58] srengel commented on #1324
thanks Val.  i updated the annotation in SGD (from PMID:11672438) from GO:0003840 gamma-glutamyltransferase activity to GO:0036374 glutathione hydrolase activity.  the experiment was done in vacuoles.

[2015-10-23 00:03] selewis commented on #1319
Touchup and PAINT v2 use GoLR (rather than mySQL) to load the experimental annotations. Turns out the GoLR load wasn't including the qualifiers. Heiko has fixed it. Changes should percolate into pre-submission as soon as Touchup is run again.

[2015-10-23 00:03] #1319 closed

[2015-10-23 02:07] selewis commented on #1320
The problem is that all the old GAF files used the previous taxonID of 28xxxxx rather than the revised taxonID (4751). So, the taxon check didn't spot the error (the taxon checker only has the current taxon, we might need to consider keeping previously used ones as well).

I've made a change to the touchup code that will revise all of the GAF files, -and- do the proper taxoncheck. However for this

[2015-10-23 09:30] RLovering opened #1327 "Query about IGI evidence code guidelines"
Hi

I do not agree with the changes that have recently been made to the IGI evidence code guidelines, and I do not think that these reflect the decision made about these guidelines in annotation calls.

One of the established guideline is:
Examples where the IGI evidence code should be used:
mutation in gene B provides information about gene A being annotated. For this type of experiment, use the

[2015-10-25 17:04] selewis commented on #1320
See https://github.com/obophenotype/ncbitaxon/issues/4

[2015-10-26 08:02] pgaudet commented on #1320
Hi Suzi,

'Preclude' as in forbid ? That wouldn't work, as most eukaryotes have centromeres.

Thanks, Pascale

[2015-10-26 12:04] mah11 commented on #1320
Just to preclude (swidt?) panic - pombe most assuredly does have centromeres. It does not have GO:0005813; that's *centrosome*.

I'm not sure what subset of eukaryotes have centrosomes, although I think Fungi generally don't.

[2015-10-26 16:45] selewis commented on #1320
Preclude the branch (fungi?) but the other branches it would be fine.
P.S. It looks like there may be a bunch of these corrections to make. Basically for every time the taxon checker fails, we need to determine whether it's the correct biology (yay) or the taxonchecker itself needs to be educated.
Question!:

There are two ways for providing the taxa to check to the taxonchecker
1. Use the taxon o

[2015-10-26 19:22] cmungall commented on #1320
This is the intended behavior, centrosome is a valid structure for Eukaryotes in general (but this can be overridden if we know more about the specific lineage; e.g. pombe where it is lost)

[2015-10-26 19:28] selewis commented on #1320
Why was this decided upon? This effectively precludes being able to ask whether a given GO term is valid for -all- members of a given higher level taxonomic classification.
In what possible situation is it useful to be able to ask "Can any members of XXX taxon have this GO term YYY applied?". Are there any extant use cases (that is, actual pieces of software) that utilize this type of query? The o

[2015-10-26 20:03] cmungall commented on #1320
It's been this way since the Deegan et al paper. But it was not so much decided upon, more the consequence of the semantics of the two relations being used: never-in-taxon and only-in-taxon. In the initial paper by Waclaw he defined an additional relation for found-in-all-members-of, but in practice this is very hard to apply at higher levels because loss is so common, and we are rarely confident

[2015-10-26 20:14] selewis commented on #1320
Being done by iteration, implemented in PAINTv2.09 (actually in Touchup1.09, which PAINT2 relies upon)

[2015-10-26 20:14] #1320 closed

[2015-11-01 16:02] ValWood opened #1328 "PANTHER:PTN000002458 srb11"
This is mediator complex not:

[code]

(which seems to be  a grouping term for the major cell cycle CDK kinases, at lease, it doesn't really make sense in terms of the mediator cyclins)

Note that cyclins are a bit of a special case, there has been some re-wiring of cyclin -associated processed over evolution, a lot of inferences between organisms are not going to make sense.

[2015-11-04 09:14] #1307 closed

[2015-11-10 20:37] tberardini opened #1329 "[Protein2GO] Notification of annotation dispute concerning protein Q30201 (PTHR16675) (Dispute ID: 2614)"
Moved from GO helpdesk:
http://jira.geneontology.org/browse/GO-809

A dispute has been raised over a GO annotation coming from your group. The details are given below.

If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond to the disputer, you may contact the disputing curator by replying to this email.

SOURCE	ENTITY TYPE	EN

[2015-11-10 20:40] tberardini opened #1330 "[Protein2GO] Notification of annotation dispute concerning protein Q30201 (Dispute ID: 2613)"
Moved from GO helpdesk:
http://jira.geneontology.org/browse/GO-808

A dispute has been raised over a GO annotation coming from your group. The details are given below.

If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond to the disputer, you may contact the disputing curator by replying to this email.

SOURCE	ENTITY TYPE	EN

[2015-11-10 20:41] tberardini opened #1331 "[Protein2GO] Notification of annotation dispute concerning protein P55899 (PTHR16675) (Dispute ID: 2893)"
Moved from GO helpdesk:
http://jira.geneontology.org/browse/GO-864

A dispute has been raised over a GO annotation coming from your group. The details are given below.

If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond to the disputer, you may contact the disputing curator by replying to this email.

SOURCE	ENTITY TYPE	EN

[2015-11-10 20:43] tberardini commented on #1331
@RLovering

[2015-11-10 20:45] tberardini commented on #1330
Can't find github id for Klaus, @RLovering, can you link him please?  Thanks.

[2015-11-10 20:46] tberardini commented on #1329
Can't find github id for Klaus, @RLovering, can you link him please?  Thanks.

[2015-11-10 22:19] tberardini opened #1332 "[Protein2GO] Notification of annotation dispute concerning protein P55899 (PTHR16675) (Dispute ID: 2894)"
Moved from GO helpdesk:
http://jira.geneontology.org/browse/GO-865

A dispute has been raised over a GO annotation coming from your group. The details are given below.

If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond to the disputer, you may contact the disputing curator by replying to this email.

SOURCE ENTITY TYPE EN

[2015-11-10 22:19] tberardini commented on #1332
@RLovering

[2015-11-11 01:34] keseler opened #1333 "PTN000349745 annotation to GO:0005794, Golgi apparatus"
...may be slightly too eukaryotic for E.coli.  I get this annotation for the E. coli RfaJ and RfaI proteins.

http://www.ebi.ac.uk/QuickGO/GProtein?ac=P27129
http://www.ebi.ac.uk/QuickGO/GProtein?ac=P27128

Cheers,
Ingrid

[2015-11-23 09:51] Antonialock opened #1334 "EC:2.7.1.137 mapping"
pombe tor1 and tor2 have an IEA mapping to 1-phosphatidylinositol-3-kinase activity
EC:2.7.1.137
but I think these proteins are ser/thr kinases, they are part of the PIKK family of kinases (kinases that look like PI3 kinases but are not, as far as I understand it). This should probably be removed?

cheers

[2015-11-23 18:12] ValWood opened #1335 "obsoletetion or merge of APC-complex activity terms"
Hi Tanya,

I thought we were going to get rid of these in favour of  using the  corresponding
x ubiquitin ligase  MF terms ......

Val

GO:0051488 activation of anaphase-promoting complex activity
GO:0051487 activation of anaphase-promoting complex activity involved in meiotic cell cycle
GO:0090302	APC-Cdc20 complex activity
GO:0007092	activation of APC-Cdc20 complex activity
GO:0060564	negative r

[2015-11-25 19:52] tberardini commented on #1335
Still on my plate, see open Ontology GH issue. Unfortunately, no bandwidth to do it yet.

https://github.com/geneontology/go-ontology/issues/11757

[2015-11-25 19:52] #1335 closed

[2015-11-26 08:39] ValWood commented on #1335
ok, I couldn't remember where we were up to.
val

[2015-12-02 15:22] mah11 opened #1336 "PomBase inferred GAF missing annotations"
We've noticed this the last few times we've committed the PomBase GAF to GO: the gene_association.pombase.inf.gaf file produced by the Jenkins job has far fewer inferred annotations than the equivalent file I get when I run the owltools checks locally (most recently 342 in build 97 vs. 2355 annotations).

I haven't examined every inferred annotation in detail, but some spot-checking suggests that

[2015-12-02 15:31] mah11 commented on #1336
p.s. The inferred GAFs from builds 93-95 are also suspiciously small. That's as far back as the build history goes on the Jenkins site.

[2015-12-02 16:03] mcourtot commented on #1336
Hi Chris - is this something the software team could look into?

[2015-12-04 13:53] paolaroncaglia opened #1337 "Importing annotations from ExoCarta and Vesiclepedia in GO"
Stemming from the soon-to-be-submitted paper (for publication in the JBMS ontology issue)
"Extending Gene Ontology in the Context of ExRNA Communication".

1) The short-term plan is as follows -
"The Protein Function Content team at EMBL-EBI are currently working on importing annotations from ExoCarta and Vesiclepedia into the GOC."
Aleksandra Shypitsyna started looking at a small subset of ExoCar

[2015-12-14 10:31] pfey03 opened #1338 "taxon restraints for 'programmed cell death' - excluding Dicty?"
Hello,
I was notified by GOA report that we had 4 (older) ISS annotations to GO:0006915 'apoptotic process' which is taxon restricted for Opisthokonta. Dicty doesn't have any caspases, so I decided to use the parent GO:0012501 'programmed cell death'
Def.: "PCD, caspase-independent apoptosis, regulated cell death, caspase-independent cell death, non-apoptotic programmed cell death, nonapoptotic pr

[2015-12-14 22:15] jimhu-tamu opened #1339 "IntAct IPI annotation to P03772"
http://www.ebi.ac.uk/QuickGO/GProtein?ac=P03772

The imported IntAct annotation is showing interaction between a bacteriphage protein (the annotation object) and a mouse protein (the with/from). This is not biologically relevant to the function of the phage protein and seems like something that might be catchable by taxon constraints.

[2015-12-15 08:13] bmeldal opened #1340 "Tor[X] proteins annotated to wrong function? (GO:0009033 trimethylamine-N-oxide reductase activity vs GO:0050626 trimethylamine-N-oxide reductase (cytochrome c) activity)"
Moved from ontology tracker https://github.com/geneontology/go-ontology/issues/12192

The IntEnz xrefs for proteins annotated to the above terms don't match up between GO and UniProt.

GO:0009033 trimethylamine-N-oxide reductase activity has xref EC 1.6.6.9
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009033

GO:0050626 trimethylamine-N-oxide reductase (cytochrome c) activity has xref EC 1.7.2.3
http

[2015-12-15 08:40] paolaroncaglia commented on #1338
Hi Petra,

I confirm that GO:0012501 'programmed cell death' doesn't have any taxon constraint at all. So you shouldn't get an error. I will look into this. Thanks for reporting!

Paola

[2015-12-15 08:51] pfey03 commented on #1338
Thanks Paola!
I just checked in P2GO today and still flagged for taxon constraint reasons. Maybe this is then more a question for Tony that the flag doesn't disappear when you update the GO term? The annotations are for
- Q86IX1
- Q55FS2
- Q54EY4
- Q54JG7

Thanks again, Petra

[2015-12-15 08:53] paolaroncaglia commented on #1338
Hi again,

Unfortunately Tony is away this week. In the meantime, @mcourtot , @cmungall would you have any tip on fixing this, please?

Cheers,
Paola

[2015-12-15 08:54] paolaroncaglia commented on #1338
Mentioning @tonysawfordebi anyway, for the records

[2015-12-15 09:45] bmeldal opened #1341 "P50750 - MF annotation taken from introduction of paper"
GO:0008353 RNA polymerase II carboxy-terminal domain kinase activity

is a correct annotation but using IDA from PMID:12721286 comes only from the introduction which seems wrong...

Better papers are: PMID:10866664 & PMID:9499409 if you want to have evidence!

Thanks,
Birgit

[2015-12-15 11:28] cmungall commented on #1338
I don't see any restriction on PCD in the ontology, so perhaps a P2GO
issue? cc @TonySawford

On 14 Dec 2015, at 2:31, pfey03 wrote:

[2015-12-17 10:33] mcourtot commented on #1334
Forwarded to Michele for investigation.

[2015-12-17 10:34] mcourtot commented on #1340
Forwarded to Michele for investigation.

[2015-12-21 08:27] tonysawfordebi commented on #1338
I haven't looked into this yet, but I can clarify that the flag doesn't get reset in P2G until the next time the taxon constraint pipeline is run (which happens every weekend). So if an annotation is flagged and you update the GO term, then it will remain flagged until the next constraint validation run.

[2015-12-21 10:12] pfey03 commented on #1338
Alright - thanks Tony, good to know! Just checked and the flags are indeed gone:-)

[2015-12-22 12:01] paolaroncaglia commented on #1337
Note - while revising the manuscript, Paul Thomas commented on the following section:
"In collaboration with the GOC editorial team, we have mapped the ExoCarta and Vesiclepedia gene products (coding and non-coding RNAs and proteins) onto their corresponding RNAcentral (http://www.rnacentral.org) and UniProt (http://www.uniprot.org/) identifiers using the newly extended GO Cellular Component terms

[2015-12-22 17:43] #1338 closed

[2015-12-23 11:22] paolaroncaglia opened #1342 "Annotations to ion channels"
Some time ago, we discussed the issue of selective- versus non-selective ion channels and their representation in GO - this was unsatisfactory to some researchers; Huaiyu reported it and we started to look into this, as described in these annotation call minutes

http://wiki.geneontology.org/index.php/Annotation_Conf._Call,_June_9,_2015#ion_channels

Changes in the ontology are now in place. We ma

[2016-01-08 12:15] mcourtot commented on #1340
Emailed UniProt curator who said:
The TORA_VIBCH (Q9KRF0) entry has a correct Swiss-Prot annotation (correct EC number) but should be annotated to GO:0050626 by similarity to TORA_ECOLI (P33225) and not to GO:0009033 as it is currently annotated with the ISS code.
The characterized entry is TORA_ECOLI, which has a trimethylamine-N-oxide reductase (cytochrome c) activity, and whose adjacent gene in

[2016-01-08 14:26] mcourtot commented on #1340
Tony S. and I checked, and there seem to be 2 issues:
1. wrong ISS annotations from TIGR (and we'll see whether that can be solved if we can reach a maintainer)
2. possibly wrong InterPro2GO mapping which generates the IEAs you see. I am tagging this issue with "InterPro" so their curators can see it. **InterPro team**: we are seeing IEAs from your source for example to http://www.ebi.ac.uk/QuickG

[2016-01-08 15:38] EBI-Hsinyu commented on #1340
Hello,

Thank you for letting us know. I have had a look at the entry 'IPR011887' and found it was assigned the wrong GO term 'GO:0009033'. I have replaced it with 'GO:0050626'.

Hsin-Yu
InterPro curator

[2016-01-13 14:25] mcourtot commented on #1334
Ivo Pedruzzi (SIB) says: "Antonia is right on the issue and I have seen it can easily be solved by updating/correcting the UniProt annotation of these proteins."
He will do the fix.

[2016-01-19 19:04] ValWood opened #1343 "methyltransferase mapping incorrect for IPR001555"
IPR001555 has methyltransferase activity

It is present in pombe ade5 (S. cerevisiae ade8, human GART)

It is trifunctional (in human) and these are the activities
this is the
phosphoribosylglycinamide formyltransferase activity

is the methyltransferase correct?

[2016-01-19 19:10] ValWood opened #1344 "Ensembl pipeline propagation issues"
I just spotted that
human Trifunctional purine biosynthetic protein adenosine-3 GART

has the following mappings from the Ensembl pipeline. A good example of annotations which should probably a) not be transferred and b) sound more like indirect phenotype annotations (GART is involved in nucleotide biosynthesis, and causes problems in DNA replication, so pretty upstream of development???).

brains

[2016-01-20 09:43] EBI-Hsinyu commented on #1343
Hello Val,

You are right. I have deleted this GO term.

Hsin-Yu

[2016-01-20 16:48] ValWood opened #1345 "IPR002975 incorrect IEA mapping to adenylate cyclase-activating G-protein coupled receptor signaling pathway"
For pombe gpa1. The effector is not known, but it isn't adenylate cyclase.

adenylate cyclase-activating G-protein coupled receptor signaling pathway
IEA	IPR002975	GO_REF:0000002

[2016-01-21 14:30] EBI-Hsinyu commented on #1345
Hello Val,

You are right. I have deleted this term.

Hsinyu

[2016-01-21 14:30] #1345 closed

[2016-01-25 07:54] Antonialock opened #1346 "UniProtKB:P15442, UniProtKB:P33892"
Pombe gcn1 and gcn2 (UniProtKB:P15442, UniProtKB:P33892) are annotated to
positive regulation of cell death with a uniprotKB reference (?), could this please be removed.

Also remove 'positive regulation of translational initiation in response to starvation' - I think these kinases are involved in negatively regulating translational initiation in response to stresses.

The ISSs to 'response to X s

[2016-01-25 20:21] ValWood opened #1347 "GO:0004497 monooxygenase activity IEA UniProtKB-KW:KW-0503"
Is applied to pombe  coq7
GO:0008682	2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone hydroxylase activity
"Catalysis of the reaction: 2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone + O2 = 2-octoprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone."

which doesn't appear to fit the defintion of monoxygenase?

[2016-01-25 20:29] ValWood opened #1348 "GO:0006098 pentose-phosphate shunt IEA UniProtKB-KW:KW-0570"
triosephosphate isomerase   P07669
is mapping to  pentose-phosphate shunt

Is that correct? I cant see it in the pathway

[2016-01-26 08:40] ValWood commented on #1346
and yih1 	O13997
negative regulation of cell death	ISS	UniProtKB:O55091	GO_REF:0000024

[2016-01-26 09:06] mcourtot commented on #1346
Could you please let me know where exactly you see these annotations, and what you mean by "UniProtKB reference" - is this the assigned_by, WITH string or else?

I checked the first annotation and it is not in QuickGO, https://www.ebi.ac.uk/QuickGO/GProtein?ac=P33892. Our internal audit tables also don't see it.

Thanks!

[2016-01-26 09:11] Antonialock commented on #1346
Val could you have a look? I couldn't see them in our files so I assumed they're from an external source.

[2016-01-26 09:12] ValWood commented on #1346
weird, we presumed they were coming in from the GOA file as they are't in our annotation either. If they aren't there, they are clearly removed from wherever they were coming from, so I guess we can close this.

[2016-01-26 09:17] ValWood commented on #1346
Actually I see it in the table (6th row, source UniProt)
val

[2016-01-26 09:19] ValWood commented on #1346
Oh that is cerevisiae...but its  a suspect GO annotation, its a phenotype really.....I doubt SGD would make that annotation. I'll check the pombe entries...

[2016-01-26 09:25] mcourtot commented on #1346
Hi Val, could you please raise the dispute from P2GO? Those annotations seem to come from SIB.

[2016-01-26 09:26] ValWood commented on #1346
yep its here
http://www.uniprot.org/uniprot/Q10105

I would remove the original annotation  (SGD) and the ISS derived from it... for all...

I think its based on some sort of cell survival assay:
overexpression of IMPACT in yeast cells inhibited growth under all stress conditions that require GCN2 and GCN1 for cell survival,
Using these criteria to annotate to "cell death" every yeast gene could b

[2016-01-26 09:27] ValWood commented on #1346
cell death already has this comment:

This term should not be used for direct annotation. The only exception should be when experimental data (e.g., staining with trypan blue or propidium iodide) show that cell death has occurred, but fail to provide details on death modality (accidental versus programmed). When information is provided on the cell death mechanism, annotations should be made to the

[2016-01-26 09:29] ValWood commented on #1346
will do...

[2016-01-26 10:51] ValWood commented on #1346
I raised the dispute.

[2016-01-26 13:04] ValWood opened #1349 "IEA IPR004226 unfolded protein binding"
Is this correct? its Tubulin binding cofactor A but this is involved in heterodimer assembly. I don't know if it binds beta-tubulin until it is folded?

[2016-01-26 13:08] ValWood commented on #1349
to clarify these are the post chaperonin co-factors.
va

[2016-01-26 14:12] deustp01 commented on #1348
Conventional pathway boundaries have some reactions that generate glyceraldehyde-3-phosphate inside the pentose phosphate shunt, but its conversion to dihydroxyacetone phosphate (glycerone phosphate) by triosephosphate isomerase counts as part of glycolysis.and gluconeogenesis.

[2016-01-26 14:58] ValWood commented on #1349
ignore, well, the tubulin is 'partially' folded at this stage...I thought the post chaperonin part was assembly of the alpha beta dimers, but it could be a bit of both.
I'm not sure that I would call it 'unfolded' though....

[2016-01-26 15:09] ValWood opened #1350 "protein folding chaperone"
why is it a synonym of protein binding?

It took me a while to reilise the correct term to use was the descendent"protein binding involved in protein folding"

(can we remove ALL synonyms which are applied to ancestors of exact synonym matches, they aren't helpful).

Also the terms "protein folding chaperone" does not come up anywhere in my list of suggestions in QuickGO. Can just "chaperone" also

[2016-01-26 15:13] ValWood commented on #1350
in fact, can the primary term name of

protein binding involved in protein folding
be
'protein folding chaperone'
It will make more sense to users, can still be defined and placed as a binding term

That way, I can link it to
post-chaperonin tubulin folding pathway

and it will look like this
protein folding chaperone has_substrate(beta tubulin), part_of post-chaperonin tubulin folding pathway

ra

[2016-01-27 08:32] ValWood commented on #1350
moved to correct tracker
https://github.com/geneontology/go-ontology/issues/12252

[2016-01-27 08:32] #1350 closed

[2016-01-27 09:48] EBI-Hsinyu commented on #1349
Hello Val,

I have had a look at this entry yesterday. I agree with you about this GO term. It is not really wrong, but it does not really add huge value in term of functional annotation. I have deleted this term and updated the abstract to reflect the fact this entry also includes yeast Rbl2, which only shares 32% sequence identity with human TBCA and may use different mechanisms to bind beta-tub

[2016-01-27 12:02] ValWood commented on #1349
Agreed!
you could add "post-chaperonin tubulin folding pathway" for BP
val

[2016-01-27 13:09] EBI-Hsinyu commented on #1349
Thanks! I have also added GO:0007023 post-chaperonin tubulin folding pathway.

Hsinyu

[2016-02-05 12:27] ValWood commented on #1336
Can somebody take look at this bug, its affecting  (all) the annotation if we aren't getting the F-P links we are expecting. We just did an update see  the same issue.

Maybe this is on the wrong tracker, its more production than annotation? Let me know if you need us to move it elsewhere.

Val

[2016-02-05 12:35] mah11 commented on #1336
This ticket describes a problem with annotations, so opening it on the annotation tracker is entirely reasonable. I also don't see a tracker that's obviously for software issues generally or Jenkins/OORT specifically.

[2016-02-05 21:19] ValWood opened #1351 "SPKW amino acid"
The following mappings to amino acid biosynthetic process seem too indirect. This sulphite assimilation. required for amino acid metabolism  but upstream.

[code]

[2016-02-06 11:50] ValWood opened #1352 "IEA check for IPR003043 precorrin-2 dehydrogenase activity"
This domain is described as

Uroporphiryn-III C-methyltransferase, conserved site

but mapped to
precorrin-2 dehydrogenase activity
which has the synonym
1,3-dimethyluroporphyrinogen III dehydrogenase activity

should it be
GO:0004851	uroporphyrin-III C-methyltransferase activity
(I used this ISO to the SGD entry
http://www.yeastgenome.org/locus/S000001777/overview#go
which had IDA)

[2016-02-06 11:52] ValWood commented on #1352
GOt it:
precorrin-2 dehydrogenase activity
is probably one or both of these:
PF14823	Pfam	IPR028162	Siroheme biosynthesis protein Met8, C-terminal	163	225
PF14824	Pfam	IPR028281	Siroheme synthase, central domain	132	158

The confusion arises because they have a shared N-terminal domain
PF13241	Pfam	IPR006367	Sirohaem synthase, N-terminal

[2016-02-06 12:55] ValWood opened #1353 "IPR01180 cysteine metabolism"
This is in a pathway upstream of cysteine metabolism (although it is required for some sulpher containing amino acids)
http://www.genome.jp/dbget-bin/www_bget?spo:SPAC13G7.06

cysteine metabolism is indirect.

[2016-02-08 09:30] EBI-Hsinyu commented on #1352
Hello Val,

Our database is frozen for the InterPro 56.0 release the moment. So, we will update these GO terms a bit later.

Cheers,
Hsin-Yu

[2016-02-08 09:35] ValWood commented on #1352
Thanks, no hurry.

[2016-02-09 16:33] monicacecilia commented on #1327
Review is undergoing - see the Annotation Call notes for details http://wiki.geneontology.org/index.php/Annotation_Conf._Call_2016-02-09

[2016-02-12 15:14] ipedruzz commented on #1334
I have updated both UniProtKB entries for tor1 and and tor2 from S.pombe, most importantly replacing the erroneous EC:2.7.1.137 by EC:2.7.11.1
The updated entries will be public in UniProt release 2016_04. I'm unsure however of how much time it takes for the correction of the GO term assignment, as these are all automatic procedures, but eventually the IEA mapping to GO:0016303; F:1-phosphatidylin

[2016-02-12 15:25] Antonialock commented on #1334
Super, thank you Ivo!

[2016-02-12 17:23] keseler opened #1354 "IPR008867 annotation to GO:0036355"
This seems wrong.  ThiG is the "other" component of the ThiGH thiazole synthase complex; it is the ThiH component that is the 2-iminoacetate synthase.  ThiG catalyzes the sulfurtransferase and cyclization.  The systematic name of the reaction in the EC is "1-deoxy-D-xylulose 5-phosphate:thiol sulfurtransferase", EC 2.8.1.10.  Unfortunately there is no GO term (yet) for this reaction (or I can't fi

[2016-02-15 08:55] mcourtot commented on #1334
Was trying to assign ipedruzz but didn't work as Ivo is not member of the project yet. Ivo: let me know if you would like to be added to this tracker.

[2016-02-15 08:55] #1334 closed

[2016-02-15 11:33] ValWood opened #1355 "IPR016652 mapping to omega peptidase activity"
Is this correct for ubiquitin hydrolases? it doesn't seem to fit this def.

Val

[2016-02-15 11:34] ValWood commented on #1355
same question	IPR017390

[2016-02-15 13:50] EBI-Hsinyu commented on #1355
Hello Val,

Thank you for spotting this. You are right. I have deleted this GO term and added more appropriate terms, such as  'GO:0016579 protein deubiquitination' and 'GO:0004843 ubiquitin-specific protease activity'. The same applies to IPR017390.

Regards,
Hsin-Yu

[2016-02-17 12:00] ValWood opened #1356 "IPR009076 drug binding"
Not normal process for this gene product (or anything really!)

[2016-02-17 13:04] EBI-Hsinyu commented on #1356
Hello Val,

Thank you for spotting this. I have deleted this GO term.

Regards,
Hsin-Yu

[2016-02-19 09:29] EBI-Hsinyu commented on #1353
Hello Val,

Thank you for this. I have deleted this GO term. I kept GO:0019379 and GO:0004604 for this entry.

Regards,

Hsin-Yu

[2016-02-19 15:04] RLovering opened #1357 "PTHR11848 PANTHER:PTN000218063 odd PAINT"
Hi

I find it odd that dpp (TGF-beta ortholog, P07713, Drosophila) is annotated to TGF-beta receptor binding based on homology with BMP4 (at least this is how it is listed at flybase). At QuickGO it is listed with
PANTHER:PTN000218063. But then P12644 (BMP4_HUMAN) is part of this Panther family and is annotated to  TGF-beta receptor binding although there is experimental evidence to support this p

[2016-02-19 15:30] dosumis commented on #1357
I used to work on this pathway.  I'm pretty sure there is direct biochemical evidence for binding to Drosophila BMP receptors (sax, tkv, bab).

[2016-02-19 16:59] RLovering commented on #1357
yes but is there evidence for BMPs binding to TGFbeta receptors?

[2016-02-23 22:19] tberardini commented on #1336
Talked with @hdietze and this issue is in the right tracke and on his radar and TODO list.  Stay tuned.

[2016-02-24 04:59] linuxlovell commented on #5
thanks www.movied.org

[2016-02-24 05:15] linuxlovell commented on #7
thanks www.movied.org

[2016-02-24 05:15] linuxlovell commented on #6
thanks www.movied.org

[2016-02-24 05:33] linuxlovell commented on #8
thanks www.movied.org

[2016-02-24 07:30] linuxlovell commented on #9
thanks www.movied.org

[2016-02-24 07:58] linuxlovell commented on #10
thanks www.movied.org

[2016-02-24 08:05] linuxlovell commented on #12
thanks www.movied.org

[2016-02-24 08:05] linuxlovell commented on #11
thanks www.movied.org

[2016-02-24 08:23] linuxlovell commented on #13
thanks www.movied.org

[2016-02-24 08:29] linuxlovell commented on #14
thanks www.movied.org

[2016-02-24 08:37] linuxlovell commented on #16
thanks www.movied.org

[2016-02-24 08:37] linuxlovell commented on #15
thanks www.movied.org

[2016-02-24 08:42] linuxlovell commented on #18
thanks www.movied.org

[2016-02-24 08:42] linuxlovell commented on #17
thanks www.movied.org

[2016-02-24 11:42] ValWood commented on #1336
Thanks!

[2016-02-25 11:04] #1300 closed

[2016-02-25 11:04] #1273 closed

[2016-02-25 11:05] #1253 closed

[2016-02-25 11:05] #1163 closed

[2016-02-25 17:17] ValWood opened #1358 "IPR002993 ornithine decarboxylase inhibitor activity"
Isn't an enzyme inhibitor (it isn't reducing the enzyme activity directly its reducing the level of the protein)

val

[2016-02-25 17:18] ValWood commented on #1358
a ref
http://www.ncbi.nlm.nih.gov/pubmed?term=9769097

[2016-02-28 20:55] ValWood opened #1359 "IPR024222 capping not lengthening?"
Not sure about this one, but I think ten1 should be "telomere capping" not "telomere maintenance via telomere lengthening" (its cap complex)

Val

[2016-02-28 20:56] ValWood opened #1360 "IPR015519 to replicative senesence"
This seems wrong for ATM checkpoint kinase. Is there a reference? it sounds like a phenotype.

val

[2016-02-28 20:56] ValWood opened #1361 "IPR007259 should be nucleation not 'regulation of.." #"
Is a gamma tubulin subunit. Gamma tubulin complex has a direct role in nucleation

[2016-02-28 21:01] ValWood opened #1362 "O74821 Fe-S cluster assembly protein dre2 (UniProtKB-KW:KW-0053)"
I don't think this protein, or its orthologs should map to "apoptotic process" is this  annotated from an experimental readout?

[2016-02-28 21:59] ValWood opened #1363 "IPR030847 heme biosynthetic process"
This is indirect, it's a glycine transmembrane transporter acting upstream of this process.

Va

[2016-02-28 22:07] ValWood opened #1364 "IPR028419 actin filament organization (and IPR001837 actin binding)"
This doesn't seem to fit for  cap1 (adenylate cyclase)

[2016-02-28 22:11] ValWood commented on #1364
also cell morphogenesis	IEA	IPR016098

[2016-02-28 23:21] ValWood opened #1365 "IPR032259 hydro-lyase activity"
is mapping to	hydro-lyase activity
but is a
3-hydroxyisobutyryl-CoA hydrolase activity

(I don't know if this is also a hydro-lyase, but it isn't in the ancestry)

[2016-02-29 09:53] EBI-Hsinyu commented on #1363
Hello Val,

This GO term is added because of this reference: PMID:19412178

'......SLC25A38 is important for the biosynthesis of heme in eukaryotes."

Hsin-Yu

[2016-02-29 10:06] EBI-Hsinyu commented on #1364
Hello Val,

I think these GO terms are from:

1. 	Hubberstey AV, Mottillo EP.
Cyclase-associated proteins: CAPacity for linking signal transduction and actin polymerization.
FASEB J. 16 487-99 2002 [PubMed: 11919151]
http://www.fasebj.org/cgi/content/abstract/16/6/487
2. 	Deeks MJ, Rodrigues C, Dimmock S, Ketelaar T, Maciver SK, Malho R, Hussey PJ.
Arabidopsis CAP1 - a key regulator of actin organ

[2016-02-29 10:11] EBI-Hsinyu commented on #1365
Hello Val,

You are right. I have replace this go term with '3-hydroxyisobutyryl-CoA hydrolase activity'. Thank you for all the feedback. :)

Regards,

Hsin-Yu

[2016-02-29 10:56] ValWood commented on #1363
It is, but its  upstream of the biosynthesis pathway.... We wouldn't  make a GO annotation to the process in this case.

See here, although the role in heme biosysnthesis is recognised, the GO annotation isn't made:
http://www.yeastgenome.org/locus/YDL119C/overview

although the phenotype
heme accumulation: decreased
is recorded.

Val

[2016-02-29 11:02] ValWood commented on #1364
I would need to look into this one further.

I'm not sure the actin role is broadly conserved:
CAP is conserved over a wide range of organisms. Cross-species complementation experiments have shown that heterologous CAP can consistently complement S. cerevisiae CAP-dependent cytoskeletal functions but not AC activation. The N-terminus of S. cerevisiae CAP is required to expose AC binding sites to R

[2016-02-29 11:11] ValWood commented on #1364
Actually this one is fine.
I fund a paper that isn't curated yet!
http://www.ncbi.nlm.nih.gov/pubmed/26542710

[2016-02-29 11:11] #1364 closed

[2016-02-29 11:59] EBI-Hsinyu commented on #1363
Hello Val,

After discussing with other curators, we decide to delete this term. Thank you for bringing this to our attention.

Regards,

Hsin-Yu

[2016-03-01 13:24] Pauldenny commented on #1359
Is this of interest to @RLovering @rachhuntley @NancyCampbell ?

[2016-03-01 15:40] rebeccafoulger opened #1366 "IPR032465, GO:0046874 quinolinate metabolic process"
For IPR032465 I think the mapping to 'GO:0046874 quinolinate metabolic process' should be replaced by  'regulation of quinolinate biosynthetic process ; GO:1904984' or 'negative regulation of quinolinate biosynthetic process ; GO:1904985'.

There are two main pathways in ACMS metabolism:

i) tryptophan ->  ACMS -> QA -> NAD
ii) tryptophan -> ACMS -> AMS -> PA

QA = quinolinic acid/quinolinate

ACM

[2016-03-01 16:36] EBI-Hsinyu commented on #1366
Hello Rebecca,

Thank you for the information. I have deleted the term 'GO:0046874 quinolinate metabolic process'. However, I can't find the terms 'GO:1904984' or 'GO:1904985' in QuickGO or the database. Are these new terms?

Regards,

Hsin-Yu

[2016-03-02 08:41] RLovering commented on #1359
Hi

Jess has sent me this: I agree capping more accurate - if this is pombe ten1 then I see it already has an annotation to "telomere capping"  - as well as "telomere maintenance via telomere lengthening".

Best

Ruth

[2016-03-02 09:46] EBI-Hsinyu commented on #1359
Hello,

Than you for this. I have change the term into 'telomere capping'.

Hsin-Yu

[2016-03-05 13:32] linuxjackto1 commented on #204
thanks www.movied.org

[2016-03-05 13:33] linuxjackto1 commented on #203
thanks www.movied.org

[2016-03-05 13:34] linuxjackto1 commented on #202
thanks www.movied.org

[2016-03-05 13:41] linuxjackto1 commented on #205
thanks www.movied.org

[2016-03-05 13:44] linuxjackto1 commented on #206
thanks www.movied.org

[2016-03-05 14:08] linuxjackto1 commented on #207
thanks www.movied.org

[2016-03-05 14:16] linuxjackto1 commented on #208
thanks www.movied.org

[2016-03-05 14:18] linuxjackto1 commented on #210
thanks www.movied.org

[2016-03-05 14:18] linuxjackto1 commented on #209
thanks www.movied.org

[2016-03-05 14:53] linuxjackto1 commented on #211
thanks www.movied.org

[2016-03-05 15:12] linuxjackto1 commented on #212
thanks www.movied.org

[2016-03-05 15:16] linuxjackto1 commented on #213
thanks www.movied.org

[2016-03-05 15:40] linuxjackto1 commented on #214
thanks www.movied.org

[2016-03-05 15:50] linuxjackto1 commented on #215
thanks www.movied.org

[2016-03-05 15:58] linuxjackto1 commented on #216
thanks www.movied.org

[2016-03-05 16:09] linuxjackto1 commented on #217
thanks www.movied.org

[2016-03-05 16:12] linuxjackto1 commented on #218
thanks www.movied.org

[2016-03-05 16:36] linuxjackto1 commented on #221
thanks www.movied.org

[2016-03-05 16:37] linuxjackto1 commented on #220
thanks www.movied.org

[2016-03-05 16:38] linuxjackto1 commented on #219
thanks www.movied.org

[2016-03-05 16:45] linuxjackto1 commented on #223
thanks www.movied.org

[2016-03-05 16:45] linuxjackto1 commented on #222
thanks www.movied.org

[2016-03-05 16:52] linuxjackto1 commented on #224
thanks www.movied.org

[2016-03-05 16:56] linuxjackto1 commented on #225
thanks www.movied.org

[2016-03-05 17:07] linuxjackto1 commented on #226
thanks www.movied.org

[2016-03-05 17:08] linuxjackto1 commented on #227
thanks www.movied.org

[2016-03-05 17:26] linuxjackto1 commented on #229
thanks www.movied.org

[2016-03-05 17:26] linuxjackto1 commented on #228
thanks www.movied.org

[2016-03-05 17:46] linuxjackto1 commented on #230
thanks www.movied.org

[2016-03-05 18:06] linuxjackto1 commented on #231
thanks www.movied.org

[2016-03-05 18:23] linuxjackto1 commented on #232
thanks www.movied.org

[2016-03-05 18:30] linuxjackto1 commented on #235
thanks www.movied.org

[2016-03-05 18:30] linuxjackto1 commented on #234
thanks www.movied.org

[2016-03-05 18:31] linuxjackto1 commented on #233
thanks www.movied.org

[2016-03-05 18:39] linuxjackto1 commented on #236
thanks www.movied.org

[2016-03-05 18:45] linuxjackto1 commented on #237
thanks www.movied.org

[2016-03-05 19:01] linuxjackto1 commented on #238
thanks www.movied.org

[2016-03-08 15:37] mcourtot commented on #1360
Hi Val, I looked at the other ticket, https://github.com/geneontology/go-ontology/issues/12305, and was wondering whether this should be a taxon constraint? If this term is not applicable to Pombe we can maybe just state that and have those annotations be removed after the InterPro mapping step?

[2016-03-08 17:49] ValWood commented on #1360
That could be  a solution but it isn't a way they have been dealt with previously (mappings should be true across kingdoms....with some exceptions like active site mutations, which get flagged). This means that the mappings  can be used for protein families independently of knowledge about GO taxon restrictions.

I would describe cellular ageing in yeast as a phenotype, not a process, but SGD do h

[2016-03-21 15:51] ValWood opened #1367 "viral process Source: UniProtKB-KW human proteins mapped"
viral process Source: UniProtKB-KW

is applied to

[2016-03-21 15:52] ValWood commented on #1367
is applied to human CENP-A
http://www.uniprot.org/uniprot/P49450

[2016-03-21 16:18] mcourtot commented on #1367
Hi Val,

Is the issue having a 'viral' term applied to a 'human' protein?

viral process definition reads 'A multi-organism process in which a virus is a participant. The other participant is the host. Includes infection of a host cell, replication of the viral genome, and assembly of progeny virus particles. In some cases the viral genetic material may integrate into the host genome and only subs

[2016-03-22 09:06] ValWood commented on #1367
I initially reported this because I thought that human proteins should  only be annotated to normal processes, and this isn't 'normal'.
However it seems that  some human proteins can be annotated to viral processes. I can now see this might be necessary  to describe a process  like 'viral replication' but this does not seem to be one of those instances. I can't see any evidence to  CENP-A being co

[2016-03-22 09:20] mcourtot commented on #1367
Should we bring this up at an annotation call? It may be too late for the one tonight, but maybe the following one? cc @ukemi

[2016-03-22 11:48] ukemi commented on #1367
I thought that quite some time ago we decided that it was ok to annotate a host protein to a normal parasitic process if the host protein was coopted for the parasitic process.

[2016-03-22 12:04] ValWood commented on #1367
Thats sounds right. But don't you need dual taxon in this case? I can't find any evidence that cenp-a is co-opted for anything ...it seems odd, is the inner centromere histone-variant protein....

IEA SPKW mappings for  mapping viral processes seems dodgy....

[2016-03-23 10:19] ValWood opened #1368 "IPR001094 mappings FMN binding and iron ion binding"
I think the other subunit of sulfite reductase (NADPH) activity might be the one which binds FMN (at least this is called the flavoprotein subunit?

Also that should be iron-sulpher cluster or heme binding (I'm not sure which , UniProti entries have both)

val

[2016-03-23 12:28] asangrador commented on #1368
Hi Val,
This entry matches both the sulfite reductase subunit alpha from bacteria (and not the beta) and the sulfite reductase subunit beta from yeast (but not the alpha). It is describing a flavodoxin-like domain that is supposed to have a flavin mononucleotide (FMN)-binding site. In bacteria, the alpha subunit  binds FAD or FMN, and the beta chain binds one iron-sulfur (Fe4S4) cluster [PMID:7657

[2016-03-23 14:22] ValWood commented on #1368
Hi Amaia,

I think its probably OK. I had a look but I couldn't see a structure of the 2 subunits with FMN so I can't be sure, but it is possible that both subunits bind....

In Uniprot, its the other subunit which  is annotated to bind FMN
http://www.uniprot.org/uniprot/Q09878

not this one
http://www.uniprot.org/uniprot/Q1K9C2

I was basing on this, but I can't see the source of the annotation..

[2016-03-23 14:27] rebeccafoulger opened #1369 "IPR028867/IPR028868 mappings to glutamate receptor complex (GO:0032983)"
Neto1 and Neto2 are auxiliary subunits that associate with kainate receptors (KARs) to modulate their function. IPR028867 and IPR028868 are generating IEA annotations for NETO1 and NETO2 to the receptor complex itself (GO:0032983)

In GO the definition of GO:0032983 doesn't include the auxiliary subunits:

kainate selective glutamate receptor complex ; GO:0032983
An assembly of four or five subuni

[2016-03-23 16:26] asangrador commented on #1369
Hi Rebecca,

You are right, the definition for the the receptor complex does not include the accessory subunits, so I have removed this annotation. Unfortunately we don't have the possibility of using qualifiers with our GO annotations, so the only thing I can do is remove them.
Cheers,
Amaia

[2016-03-24 07:04] hattrill opened #1370 "PTHR10071 PAINT issue: c.elegans heart development GO:0007507 PANTHER:PTN001600558 P28515"
from GOHelp desk 15th March 2016
http://jira.geneontology.org/browse/GO-1132
[Protein2GO] Notification of annotation dispute concerning protein P28515 (Dispute ID: 4233)

A dispute has been raised over a GO annotation coming from your group. The details are given below.

If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond t

[2016-03-29 11:21] ValWood opened #1371 "conflicting SP:KW UniProtKB-KW:KW-0336 & KW:KW-0812"
O13960 Cell wall protein ecm33

Has conflicting SP:KW annotations
UniProtKB-KW:KW-0336
GO:0031225 - anchored component of membrane (cellular_component)
Definition: "The component of a membrane consisting of the gene products that are tethered to the membrane only by a covalently attached anchor, such as a lipid group that is embedded in the membrane. Gene products with peptide sequences that are e

[2016-03-29 15:23] paolaroncaglia commented on #1337
Update: paper was accepted. Working with Shiva's team to incorporate small subset of ExoCarta + Vesiclepedia annotations. This involves Aleks too as she drafted guidelines for the external curators - thanks @zebrafishembryo

[2016-03-31 11:07] mcourtot commented on #1344
Thanks Val - just seeing this now. Ccc'ing @tonysawfordebi as he is working on the new files.

[2016-03-31 11:11] mcourtot commented on #1346
Closing this issue as the ticket has been raised in P2GO.

[2016-03-31 11:11] #1346 closed

[2016-03-31 11:12] #1353 closed

[2016-03-31 11:12] #1349 closed

[2016-03-31 11:13] mcourtot commented on #1359
Closing as this is done. Please re open if outstanding action to be taken.

[2016-03-31 11:13] #1359 closed

[2016-03-31 11:14] mcourtot commented on #1355
Closing as this is done. Please re open if outstanding action to be taken.

[2016-03-31 11:14] #1355 closed

[2016-03-31 11:15] mcourtot commented on #1363
Closing as this is done. Please re open if outstanding action to be taken.

[2016-03-31 11:15] #1363 closed

[2016-03-31 11:15] mcourtot commented on #1365
Closing as this is done. Please re open if outstanding action to be taken.

[2016-03-31 11:15] #1365 closed

[2016-03-31 11:16] mcourtot commented on #1343
Closing as this is done. Please re open if outstanding action to be taken.

[2016-03-31 11:16] #1343 closed

[2016-03-31 11:17] mcourtot commented on #1340
cc @tonysawfordebi - reminder to check when we get news from TIGR

[2016-03-31 11:44] mcourtot commented on #482
@ValWood this is a very old ticket - ok to close?

[2016-03-31 11:44] mcourtot commented on #541
@rachhuntley: this is a very old ticket - ok to close?

[2016-03-31 11:45] mcourtot commented on #566
Hi Val: did this get fixed?

[2016-03-31 11:46] mcourtot commented on #622
HI Val, did this get fixed?

[2016-03-31 11:47] mcourtot commented on #629
Hi Val - going through old tickets in hopes of cleaning up the tracker. It seems a lot of those were submitted/commented on by you, so apologies in advance but I'll be bouncing them back trying to see if they should remain open or can be closed.

[2016-03-31 11:48] mcourtot commented on #635
Hi Val: can you update status, and whether this can be closed?

[2016-03-31 11:48] mcourtot commented on #673
Hi Val: can you update status, and whether this can be closed?

[2016-03-31 11:51] EBI-Hsinyu commented on #1352
Hello,

Sorry for the late reply. I have had a look at this entry and found that it hits a few multifunctional proteins and some related proteins, such as siroheme synthase cysG protein and cobalamin biosynthesis protein CobIJ. Therefore, the GO term "precorrin-2 dehydrogenase activity"  is too specific. I have deleted this term. Thank you for spotting this.

Regards,

Hsin-Yu

[2016-03-31 11:51] #1352 closed

[2016-03-31 11:52] mcourtot commented on #694
Hi Val - can you confirm status? I'm adding the correct label so hopefully once those tickets are sorted out we can address them all at once.

[2016-03-31 11:54] mcourtot commented on #787
@rachhuntley: can you confirm status?

[2016-03-31 11:55] mcourtot commented on #816
@thomaspd: you seem to be the last one referenced on this (old) ticket - can you follow up?

[2016-03-31 11:56] #1361 closed

[2016-03-31 11:57] mcourtot commented on #817
@pgaudet: trying to go through old tickets on tracker and do some cleanup. I'm assigning Panther tickets to you, but please reassign if this should go to someone else.

[2016-03-31 11:57] EBI-Hsinyu commented on #1361
Hello,

I have replaced the term with GO:0007020 microtubule nucleation.

Hsin-Yu

[2016-03-31 11:59] mcourtot commented on #824
@rachhuntley: can this be closed or is it still active?

[2016-03-31 12:01] EBI-Hsinyu commented on #1366
The terms seem to be in the database now. I have added 'GO:1904984' in this entry. It will be visible in our next release.

Regards,

Hsin-Yu

[2016-03-31 12:01] #1366 closed

[2016-03-31 12:02] mcourtot commented on #877
Seems addressed by @rachhuntley - please reopen if not.

[2016-03-31 12:02] #877 closed

[2016-03-31 12:19] mcourtot commented on #956
@rachhuntley: can this be closed?

[2016-03-31 12:22] mcourtot commented on #916
@rachhuntley: can this be closed?

[2016-03-31 12:31] EBI-Hsinyu commented on #1354
Hello,

Thank you for this. I have deleted the term 'GO:0036355 2-iminoacetate synthase activity '.

Regards,

Hsin-Yu

[2016-03-31 12:31] #1354 closed

[2016-03-31 12:32] mcourtot commented on #974
@ValWood: can you check status?

[2016-03-31 12:35] ValWood commented on #974
This one is fixed

[2016-03-31 12:35] #974 closed

[2016-03-31 12:36] ValWood commented on #916
Nope mapping it still applied to this (and probably to other related proteins)
http://www.uniprot.org/uniprot/P38937

[2016-03-31 12:41] ValWood commented on #956
nope still present:

http://www.ebi.ac.uk/QuickGO/GProtein?ac=Q10360
Q10360 rrn10
GO:0006355 regulation of transcription, DNA-templated
P
IEA
UniProt Keywords2GO (UniProtKB/Swiss-Prot entries)
UniProtKB-KW:KW-0805

[2016-03-31 12:42] mcourtot commented on #916
Thanks Val - I am applying the label "UniProt KW' to those, so I can submit a bulk update to the UniProt curators. I also added a link in the contributing guidelines for the tracker towards the UniProt update submission form as those are dealt with by someone in the UniProt team at SIB, so in future it is probably best to submit directly there to make sure they don't fall through the cracks.

[2016-03-31 12:44] ValWood commented on #956
This one is hardly surprising as we had an experiemental annotation to a regulation term, now fixed

[2016-03-31 12:44] mcourtot commented on #956
Thanks - assigning myself and tagging for bulk submit to UniProt curators later.

[2016-03-31 12:47] ValWood commented on #635
Nope, still has "voltage-gated ion channel'
http://www.uniprot.org/uniprot/O59826
Although this is a subunit of a transporter complex it isn't a transporter itself.

[2016-03-31 12:47] mcourtot commented on #1004
@Val: can you confirm status?

[2016-03-31 12:48] mcourtot commented on #1014
@ValWood: can you please submit on the ontology tracker if you still wish to request this term?
Thanks,
Melanie

[2016-03-31 12:48] #1014 closed

[2016-03-31 12:49] ValWood commented on #673
No, still has a transport mapping
http://www.ebi.ac.uk/QuickGO/GProtein?ac=Q7Z991

[2016-03-31 12:49] mcourtot commented on #1021
@ValWood: can you please check status?

[2016-03-31 12:49] mcourtot commented on #1024
@ValWood: can you please check status?

[2016-03-31 12:49] mcourtot commented on #1032
@ValWood: can you please check status?

[2016-03-31 12:50] mcourtot commented on #1034
@ValWood: can you please check status?

[2016-03-31 12:51] mcourtot commented on #635
Thanks for checking - tagging for bulk submission to UniProt.

[2016-03-31 12:51] ValWood commented on #694
First one fixed, second one not. I won't check the rest
http://www.uniprot.org/uniprot/Q9UTS6

[2016-03-31 12:52] mcourtot commented on #1048
@ValWood: can you please check status?

[2016-03-31 12:52] mcourtot commented on #1058
@ValWood: can you please check status?

[2016-03-31 12:52] mcourtot commented on #1059
@ValWood: can you please check status?

[2016-03-31 12:53] mcourtot commented on #1060
@ValWood: can you please check status?

[2016-03-31 12:54] mcourtot commented on #694
Thanks Val - there seems to be quite a bit of outstanding tickets on those. Would it be easier to sit together when you're next here and prepare the submission together?

[2016-03-31 12:55] mcourtot commented on #1076
@ValWood: can you please check status?

[2016-03-31 12:56] mcourtot commented on #1073
@ValWood: can you please check status?

[2016-03-31 12:56] mcourtot commented on #1072
@ValWood: can you please check status?

[2016-03-31 13:03] ValWood commented on #1072
still there
http://www.uniprot.org/uniprot/G2TRT3

transport unlikely, its this family:
http://pfam.xfam.org/family/PF06624

[2016-03-31 13:05] mcourtot commented on #1063
Still there. http://www.ebi.ac.uk/QuickGO/GProtein?ac=Q9P772 Tagging.

Action: Remove UniProtKB:KW-0315 from Q9P772.

[2016-03-31 13:05] ValWood commented on #1073
First one since there

[2016-03-31 13:06] mcourtot commented on #1052
Still there.Tagging.

Action: Remove KW-0234 from P04910

[2016-03-31 13:08] ValWood commented on #1076
Actually, this one is OK

[2016-03-31 13:08] #1076 closed

[2016-03-31 13:09] mcourtot commented on #1077
@ValWood : seems to be fixed: http://www.uniprot.org/uniprot/Q10325

[2016-03-31 13:09] #1077 closed

[2016-03-31 13:11] ValWood commented on #1034
still there

[2016-03-31 13:12] mcourtot commented on #1084
Seems fixed, http://www.ebi.ac.uk/QuickGO/GProtein?ac=P11620

[2016-03-31 13:12] #1084 closed

[2016-03-31 13:13] ValWood commented on #1060
still there for tea3, presume for the others too
http://www.ebi.ac.uk/QuickGO/GProtein?ac=O14248

[2016-03-31 13:14] mcourtot commented on #1087
Still there, tagging. http://www.uniprot.org/uniprot/O14188

Action: remove KW-0717 from O14188

[2016-03-31 13:15] mcourtot commented on #1093
Still there, tagging. http://www.uniprot.org/uniprot/Q09685

Action: remove KW-0235 from Q09685

[2016-03-31 13:16] mcourtot commented on #1100
Seems fixed: http://www.ebi.ac.uk/QuickGO/GProtein?ac=Q9P7P7

[2016-03-31 13:16] #1100 closed

[2016-03-31 13:17] mcourtot commented on #1103
Still there, tagging. http://www.ebi.ac.uk/QuickGO/GProtein?ac=P36627

Action: remove KW-0238 from P36627

[2016-03-31 13:19] mcourtot commented on #1034
Action: remove KW-0690 from P36136

[2016-03-31 13:19] ValWood commented on #1024
Still there
http://www.uniprot.org/uniprot/P49373

[2016-03-31 13:20] ValWood commented on #1021
Still there.

Ion transport mapping looks dodgy too?

[2016-03-31 13:21] mcourtot commented on #1108
Still there, tagging. http://www.ebi.ac.uk/QuickGO/GProtein?ac=O94640

Action: remove KW-0234 from O94640

[2016-03-31 13:21] ValWood commented on #629
Still there...
http://www.uniprot.org/uniprot/P41878

[2016-03-31 13:22] mcourtot commented on #1113
@cmungall , @ValWood : should this be closed as we're overhauling the ensemble pipeline?

[2016-03-31 13:23] ValWood commented on #622
Still there
http://www.ebi.ac.uk/QuickGO/GProtein?ac=P32747

[2016-03-31 13:24] mcourtot commented on #1116
Still there. http://www.ebi.ac.uk/QuickGO/GProtein?ac=P40383

Action: remove KW-0415 for P40383

[2016-03-31 13:25] mcourtot commented on #1119
Still there. http://www.ebi.ac.uk/QuickGO/GProtein?ac=P40383

Action: remove KW-0493 from P40383

[2016-03-31 13:26] mcourtot commented on #1144
@ValWood  Still there. http://www.ebi.ac.uk/QuickGO/GProtein?ac=P32747

Action: remove KW-0812 from P32747

[2016-03-31 13:27] ValWood commented on #1059
still there
http://www.uniprot.org/uniprot/O74737

This is derived from a genome-wide localization study. We think its a false positive and removed it from this dataset. It has quite a few FP's and its probably not a good source of mapping data

[2016-03-31 13:27] mcourtot commented on #1145
@ValWood still there, http://www.ebi.ac.uk/QuickGO/GProtein?ac=P0A6D0

Action: remove KW-0804 from P0A6D0

[2016-03-31 13:28] mcourtot commented on #1024
Action: remove KW-0238 from P49373

[2016-03-31 13:28] ValWood commented on #482
yep

[2016-03-31 13:28] #482 closed

[2016-03-31 13:31] ValWood commented on #566
nope
http://www.uniprot.org/uniprot/P38086

[2016-03-31 13:31] mcourtot commented on #1021
Action: remove KW-0626 from O13656 (both porin activity and pore complex come from the same KW)

[2016-03-31 13:33] mcourtot commented on #629
Action: remove KW-0046 from P41878, P30821, P05219, Q09146

[2016-03-31 13:33] ValWood commented on #1004
still there

[2016-03-31 13:36] mcourtot commented on #1059
Action: remove SL-0191 from O74737

[2016-03-31 13:38] mcourtot commented on #566
Action: remove KW-0799 from P38086

[2016-03-31 13:39] ValWood commented on #1032
still there

[2016-03-31 13:39] mcourtot commented on #1004
Do you have a link to the uniprot entry? the above is dead for me.

[2016-03-31 13:40] ValWood commented on #1048
Still there.
Also recombination...

[2016-03-31 13:41] ValWood commented on #1024
Note that  when these fixes are implemented they do not ONLY affect the proteins with the reported problem, but all of the orthologs which the KW is transferred to.

[2016-03-31 13:45] ValWood commented on #1004
I couldn't track the UniProt ID for the SGD entry, here's the l entry for the pombe ortholog. Same issue.
http://www.uniprot.org/uniprot/O43007

[2016-03-31 13:49] ValWood commented on #1058
still there. I can see where this comes from, but its weak  for  a mapping (really only warrants a phenotype).

[2016-03-31 13:51] mcourtot commented on #1032
Action: remove KW-0234 from P20433, Q8VC56, Q80XJ2

[2016-03-31 13:52] mcourtot commented on #1048
Action: remove KW-0235, KW-0233 from O74833

[2016-03-31 13:53] ValWood commented on #694
I would just put this one throught to. These are the outstanding ones (for pombe, but other organimss will need checking too).
Others are fixed.

SPAC1805.08	dlc1, dynein light chain Dlc1
	Q9UTS6 http://www.uniprot.org/uniprot/Q9UTS6

SPAC926.07c	dlc2, dynein light chain Dlc2
Q9UR05 http://www.uniprot.org/uniprot/Q9UR05

[2016-03-31 13:53] mcourtot commented on #1058
Action: remove KW-0805 from O74991

[2016-03-31 13:54] mcourtot commented on #1004
Action: remove KW-0028 from O43007

[2016-03-31 13:59] ValWood commented on #916
In addition, most of these have already been submitted to the UnIProt helpdesk a number of times, so I don't think anyone monitors this either!

[2016-03-31 14:02] ValWood commented on #916
I should add that one problem with using the helpdesk is that  if I submit these from fission yeast acc numbers they will be assigned to the yeast UniProt curator, because they come from pombe. However, these are NOT fission yeast specific mapping issues, they affect all species to which the mapping is applied, so the mapping needs to be looked at critically.

[2016-03-31 15:37] Val opened #1372 "Please stop spamming me by adding @Val in your comments"
* https://github.com/geneontology/go-annotation/issues/1004#issuecomment-203917536
* https://github.com/geneontology/go-annotation/issues/1004#issuecomment-203937742
* https://github.com/geneontology/go-annotation/issues/1004#issuecomment-203941244
* https://github.com/geneontology/go-annotation/issues/1004#issuecomment-203945956
* https://github.com/geneontology/go-annotation/issues/1004#issuecom

[2016-03-31 15:42] mcourtot commented on #1372
Sorry Val, my mistake - will be more careful with autocomplete in future.

[2016-03-31 15:42] #1372 closed

[2016-03-31 15:47] Val commented on #1372
Thx

[2016-03-31 18:25] penso commented on #1004
@mcourtot You dont want to bother @Val using his nickname but should use @ValWood instead.

[2016-03-31 18:26] penso commented on #1004
Every time you used @Val in this thread, he got a notification about it.

[2016-04-01 08:45] #1369 closed

[2016-04-01 19:45] ValWood commented on #1113
I guess it could be.  But in these cases I would prefer to keep the ticket and flag as needing checking after the new orthology pipeline is in place so we can be sure that any existing problems were properly addressed.

[2016-04-02 00:29] cmungall commented on #1113
Yes, the problem is still outstanding. We would like to switch to ref, but we would like our annotations to be complete. When will the new pipeline be in place?

[2016-04-04 12:11] ValWood opened #1373 "matrix UniProtKB-KW:KW-0131 splicing gene to cell cycle"
The cell cycle defect for BUD31  is indirect (upstream)
We would not make a GO annotation for this.
http://www.uniprot.org/uniprot/P25337

[2016-04-04 12:13] ValWood opened #1374 "ASPGD annotation of splicing components to cell cycle"
ASPGD has annotations of many splicing components to "cell cycle"

The first one I checked  Aspve1_0039699 is from InterPRO
http://tomodachi.berkeleybop.org/amigo/gene_product/AspGD:Aspfo1_0042686
but this Interpro family does not have this mapping

[2016-04-04 12:16] ValWood commented on #1374
same for
	Aspfo1_0042686
	Asptu1_0041558
        Aspgl1_0552764
        Aspgl1_0552764

I don't know who is now maintaining ASPGD annotations...

[2016-04-04 12:31] ValWood commented on #1373
Also to S. cerevisiae
UniProtKB-KW to Q06819 DIB1

UniProtKB-KW:KW-0132	 cell  division
UniProtKB-KW:KW-0498	 mitotic nuclear division

are also mis applied here.

[2016-04-04 12:35] ValWood opened #1375 "matrix human SMC1A not splicing"
Human SMC1a is annotated to

mRNA splicing, via spliceosome
Reactome TAS. Can this be deleted, It doesn't  have a role in splicing AFAIK

(I 'll   put this one through protein2GO, but I don't think the  Reactome mapping issues I have reported so far are getting fixed. I want this one as an example to link to another ticket).

Val

[2016-04-04 15:11] ValWood commented on #1375
Oddly I do not see this annotation in protein2GO,
although I see it in the GO database attached to this Uniprot entry:
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q14683

Why   are there different entries for SMC1A with different annotations attached?

[2016-04-04 15:23] cmungall commented on #1375
I can't see protein2go, but QuickGO, AmiGO and the GAFs appear to be consistent. I assume because Reactomes are imported it can't be edited in p2go?

I'm having a hard time finding this in a splicing pathway in Reactome, cc @deustp01

[2016-04-04 15:25] ValWood commented on #1375
Well I see *some * Reactome annotation in protein2GO, just not ALL of them. So I can't figure out  what the criteria is for Reactome annotation to be included in Protein2GO.
Usually I would raise a dispute this way.

[2016-04-04 15:26] ValWood commented on #1375
This could be a bigger problem....

http://jira.geneontology.org/browse/GO-1147?jql=project%20%3D%20%22GO%22%20AND%20created%3E%3D-1w%20ORDER%20BY%20created%20DESC

[2016-04-04 16:36] deustp01 commented on #1375
I can't get to the URL to see the "bigger problem" but here are some comments about the problem in the rest of the thread. But if

How did we generate the assertion that SMC1A has a role in "mRNA splicing, via spliceosome"? Like Val and Chris, I can't figure out how we made that specific mistake.

However, until very recently, we generated many protein-to-biological_process assertions by taking a

[2016-04-04 17:11] ValWood commented on #1375
Don't worry about the 'bigger problem' Peter. That was me going off on a  tangent.

However, my tangent was based an an assumption that some legacy annotations were hanging around, and that might be the case for Reactome  from what you say here (I thought initially that other pipelines could also be affected).

So I guess that the action  of this thread is to ensure somehow that legacy annotations

[2016-04-04 17:57] ValWood opened #1376 "IPR007150 mapping to "DNA repair""
hus1 is a checkpoint protein so it isn't involved  in "DNA repair"

[2016-04-04 19:33] cmungall commented on #1375
Just to clarify for anyone else coming to this thread, we're talking about `assigned_by=Reactome` lines within the GOA GAF, rather than issues with the Reactome GAF (which we're not currently loading in AmiGO). The current reactome GAF does *not* have this annotation.

So it sounds like these oddities were a result of the old Reactome pipeline. GOA pulls in Reactome, so somehow these are not being

[2016-04-05 04:52] ValWood commented on #1375
Ah yes my mistake. Even though they aren't in Protein2GO, they are in GOA
http://www.ebi.ac.uk/QuickGO/GProtein?ac=Q14683

[2016-04-05 04:58] ValWood commented on #1375
@deustp01  Are the "protein sumoylation/post-translational protein modification" annotations also extant ? They don't seem quite right for SMC1A either?

[2016-04-05 05:03] ValWood commented on #1375
It would be nice to reduce the redundancy from the Reactome pipeline.

For this single gene product:
nucleoplasm 15 TAS
chromosome 4 TAS
cytosol 4 TAS
chromosome, centromeric region 5 TAS

[2016-04-05 09:12] mcourtot commented on #1375
As mentioned on the helpdesk ticket, and after checking with @tonysawfordebi:

The last GOA release was March 14th 2016, and as mentioned by Chris the GOA files produced at this time include those annotations. The latest snapshot we still have of the Reactome file is dated March 29th, and does not include those annotations. It therefore seems that those annotations were deleted from Reactome betwe

[2016-04-05 13:38] deustp01 commented on #1375
That's plausible - Reactome got out a new release on March 24 (version 56), and while our annotations for SMC1A shouldn't have changed from version 55 (December 2015 - need to double-check this), our procedure for assigning biological_process terms should have changed as described in the long comment yesterday.
So, to-do items now on the Reactome side: confirm the state of our SMC1A annotations, a

[2016-04-07 10:12] rachhuntley commented on #541
No, this one also needs to go back to UniProt as Q6NW93 still has two GO annotations derived from KW-0418.

[2016-04-07 10:21] rachhuntley commented on #787
It looks like KW-0617 plasminogen activation is no longer mapped to GO:0004252 serine-type endopeptidase activity. I'm not sure if the keyword has changed name or just the mapping has been removed, but the three proteins mentioned above still have both KW-0617 and KW-O722, but only the latter is producing a GO annotation. There is no longer any annotation for GO:0004252 serine-type endopeptidase a

[2016-04-07 10:24] rachhuntley commented on #916
The process that we agreed on when I was at EBI was that I would forward these requests onto the UniProt helpdesk because UniProt don't monitor this tracker. They did receive them but had such a huge backlog that some just got missed. I don't know if this is still the procedure?

[2016-04-07 10:30] rachhuntley commented on #824
Well, the two proteins mentioned at the beginning no longer have annotation to GO:0000718 nucleotide-excision repair, DNA damage removal, so this appears to have been resolved (in only 5.5 years - woo-hoo!)

[2016-04-07 10:30] #824 closed

[2016-04-07 10:49] mcourtot commented on #824
Yes - I was trying to clean up the backlog at least a little bit... on the bright side, 5.5 years is better than never ;)

[2016-04-07 15:45] krchristie opened #1377 "Computed annotation to 'do not annotate terms'"
Hi

I noticed that MGI has some annotations to 'sperm part' coming from the GOC pipeline. For example, Spag17 has an GOC sourced annotation to "sperm part" by IC from "axonemal central apparatus" with the annotation extension "part_of sperm"

However, the term "sperm part" is in the "Terms not to be used for direct annotation (gocheck_do_not_annotate) set.

It seems that the GOC inference pipeline

[2016-04-12 19:10] keseler opened #1378 "IPR006195 annotations to GO:0006418 and 4812 problematic"
It turns out that AsnA, the ammonia-utilizing asparagine synthetase of E. coli, gets these two GO annotations via IPR006195.  There is indeed an evolutionary relationship between asparagine synthetases and aminoacyl-tRNA synthetases; see, e.g. PMID 12874385.  However, the AsnA enzyme does not charge tRNAs.

Thanks,
Ingrid

[2016-04-13 09:49] EBI-Hsinyu commented on #1378
Hello Ingrid,

Thank you for this. You are right. I have deleted these two terms in IPR006195.

Regards,

Hsin-Yu

[2016-04-13 09:57] EBI-Hsinyu commented on #1376
Hello Val,

Sorry for the late reply. InterPro was locked for 57.0 release. I have deleted this term now. This will be visible in InterPro 58.0. Thank you!

Regards,

Hsin-Yu

[2016-04-13 13:04] almitchell commented on #1378
Hi Hsin-Yu,
Was there no higher level term that we could map to this entry?

Alex

[2016-04-13 15:03] EBI-Hsinyu commented on #1378
In theory, this is a domain entry, no GO term should be given. And there
are many family entries that have GO terms in them. I think it's safer
not to give any GO terms.

Hsinyu

On 13/04/2016 14:04, almitchell wrote:

[2016-04-13 15:10] almitchell commented on #1378
Ok - just checking! ;)

[2016-04-13 15:17] ValWood commented on #1378
Is that a general rule?

-pombe has 16 members, all tRNA ligases. If the E.coli member is a ligase, maybe this MF is still appropriate? Val

[2016-04-13 15:28] almitchell commented on #1378
No, that’s not a general rule. It is just that domain entries are often more difficult to GO map,
since they often occur in proteins with diverse functions (and often the function of the protein is not
the function of the domain).

[2016-04-14 01:51] cmungall commented on #1113
Hopefully this can be discussed at the GO meeting.

Note we have 20 different identifiers for human BRCA1 right now, in goa_human

[2016-04-14 02:21] cmungall commented on #1113
Here is my understanding, based on cursory analysis, not sure if this is documented:

 * ensembl predictions spread across multiple proteins, not just the GCRP
 * HPA IDAs spread across multiple proteins, not just the GCRP
 * experimental annotations from other sources get duplicated across multiple members, not just the GCRP. E.g.:

[code]

[2016-04-14 18:05] jimhu-tamu opened #1379 "Annotations to GO:0044179 hemolysis in other organism and its child terms"
We were looking at hemolysis terms and stumbled across some odd annotations in QuickGO.

The host albumin is being annotated to hymolysis by symbiont of host terms. This doesn't make sense to us.

[2016-04-17 01:09] dianeoinglis opened #1380 "Ortholog relevance displayed on CGD/AspGD pages"
Hello Editors,

The IEA annotations from different fungal species are presented in a context on the CGD or AspGD gene/protein pages that is not communicated in the annotations as they are presented in UniProtKB. The impact is mostly on BP that varies widely among fungi with many processes being mutually exclusive between some fungal species. In the absence of the hierarchy of relevance that is sho

[2016-04-18 09:59] ValWood commented on #1380
Hi Diane,

Transfer of annotations between fungal species is going to create problems.  At present @tonysawford ebi  is in the process of replacing the pipelines.

I *think* the procedure is to transfer annotation between !:1 orthologs only. Inevitably this will   create some problematic annotations for some processes, particularly for  terms related to transcription and signalling processes.

Pro

[2016-04-18 14:06] Antonialock opened #1381 "UniProtKB - A6NFY7 (SDHF1_HUMAN)"
Hi,
A6NFY7 has a NAS to GO:0016226 iron-sulfur cluster assembly
based on PMID:19465911

I looked at this paper, and it looks like the authors are just speculating that this protein might be involved in this process (right at the end in the discussion bit)? Could you please review?

[2016-04-18 14:55] mcourtot commented on #1381
Hi Antonia,

It seems that the NAS evidence code can be used in this case: http://geneontology.org/page/nas-non-traceable-author-statement

If you could provide a little bit more information as to why you think this annotation is wrong I will raise a dispute in P2GO, which will notify the original curator for review.

Cheers,
Melanie

[2016-04-18 15:06] ValWood commented on #1381
So presumably if they are speculating there is some experimental evidence in the paper to support this?

[2016-04-18 15:11] Antonialock commented on #1381
SDHAF1 is a mitochondrial respiratory chain complex II assembly factor.

The authors say:
"SDHAF1 contains a LYR tripeptide motif, which is present in the N-terminal region of several protein sequences in different species"

Interpro:
Family: LYR motif-containing protein 2 (IPR026868)
Proteins in this family contain a LYR motif. Their function is not clear.

The authors say that human contains 8 L

[2016-04-18 15:13] mcourtot commented on #1381
I would suspect, as per the annotation guidelines, that the original curator thought this was a valid statement. I don't think the paper needs to contain experimental evidence supporting this, as the guidelines I linked to above state "As this paper provided no reference to support the author's ascertion that CELF3 is located to the nucleus (nor presentation of sequence analyses related to this st

[2016-04-19 05:21] mcourtot commented on #1381
Original curator agreed and deleted the annotation.

[2016-04-19 05:21] #1381 closed

[2016-04-19 22:48] Antonialock opened #1382 "UniProtKB - P53384 cellular component annotation"
human NUBP1 is annotated to extracellular exosome from PMID:23376485
http://www.sciencedirect.com/science/article/pii/S1874391913000407

but I can't see this gene mentioned in this paper? Could you please take a look

[2016-04-20 09:30] ValWood opened #1383 "IPR016555 regulation of phagocytosis/ regulation of cell migration"
Both out of scope for most...
(I'll also request taxon checks for these).

[2016-04-20 10:44] EBI-Hsinyu commented on #1383
Hello Val,

Thank you for spotting this. I have removed these two terms due to the fungi matches in this entry.

Regards,

Hsin-Yu

[2016-04-20 15:21] mcourtot opened #1384 "Paper for next annotation call"
AI from Geneva

@ValWood   Antonia/Birgit/Sandra to work on paper with complexes for next annotation call on 26th April

[2016-04-20 15:25] mcourtot opened #1385 "human/Pombe complexes"
AI: Val to go through list of 560 complexes from yeast from Sandra, and mark the conserved ones in human and Pombe.

AI from Geneva meeting

[2016-04-20 15:27] mcourtot opened #1386 "Check attribution to InterPro in GAF"
Check attribution to InterPro in GAF to give proper credit @tonysawfordebi

[2016-04-20 15:41] mcourtot opened #1387 "Deprecate JCVI set"
AI from Geneva meeting

Do we have a protocol for updating annotations from groups that have become inactive? @paolaroncaglia mentions @RLovering & her group can update HGNC annotations, but this is on a case by case basis.

@thomaspd will mention this to Jim Hu

[2016-04-20 15:54] mcourtot opened #1388 "presentation of the Term matrix in AmiGO 2.4"
AI from Geneva meeting

@ValWood to give presentation of the Term matrix in AmiGO 2.4

[2016-04-21 22:40] Antonialock commented on #1382
Also ALOT of IEAs have been created based on this annotation, these should be removed I guess?

[2016-04-22 09:54] ValWood commented on #1382
They  disappear eventually once the primary annotation is removed....

[2016-04-26 10:58] ValWood commented on #1336
We still aren't getting the Function-Process links we expect.... Usually we would make the annotation explicitly, but its nice for modifications not to have to bother. This means we effectively have missing annotations....any ideas how long this will be?

[2016-04-26 11:21] ValWood opened #1389 "IPR013882 DNA replication checkpoint"
Based on pombe papers, we should not map this to "DNA repliciation checkpoint".

it causes defects, which are detected by the replication checkpoint, but as far as we are aware it is upstream of the sensor. For more information see
https://github.com/pombase/curation/issues/587#issuecomment-214698773

Thanks

Val

[2016-04-26 15:40] asangrador commented on #1389
Thanks for letting us know. I have removed the annotation.

Amaia

[2016-04-26 16:04] ValWood commented on #1389
Yeah, we, and even our  checkpoint experts would have made that annotation until recently.
Lots of gene  when mutated cause problems which are sensed by the checkpoint signalling. If you knock out a gene and the checkpoint is still active it's  not directly involved in the signalling pathway.
Val

[2016-04-27 00:33] cmungall commented on #1282
Closing this as it is subsumed by: https://github.com/geneontology/go-site/issues/185

[2016-04-27 07:37] mcourtot opened #1390 "GOC to decide what is HTP data"
[moved from https://github.com/geneontology/go-ontology/issues/12412]

AI from Geneva GOC meeting
https://docs.google.com/document/d/12CDf4s8YsylPMNHM3UuPis9NyVQ9WFpBpNYTFYAH7kc/edit

@bmeldal @selewis @cmungall @tonysawfordebi

Discussion at managers call, http://wiki.geneontology.org/index.php/Manager_Call_2016-04-20: make sure we have an ECO to capture this

Discussion at annotation call, http:

[2016-04-28 06:47] ValWood opened #1391 "IPR033031 gene expression"
Cohesin has a role in gene expression, but this is the loading factor for cohesin, so its  effects on gene expression are quite indirect.

[2016-04-28 13:54] EBI-Hsinyu commented on #1391
Hi Val,

Thank you for the e-mail. We have had a discussion among the InterPro curators to decide if we want to keep this term.

This entry includes proteins from fungi, plants and animals. The fungi protein Scc2 is known to be part of the loader for the cohesion to be loaded onto the chromosome  [PMID:19797771]. More recently, budding yeast Scc2 has been shown to regulate gene expression independ

[2016-05-03 11:19] ValWood opened #1392 "hydrolase activity for checkpoint protein UniProtKB-KW:KW-0378"
As far as I know there isn't any evidence that Rad1 checkpoint clamp complex protein has this activity?

P22193 DNA damage checkpoint control protein rad1

[2016-05-03 11:22] ValWood commented on #1392
Actually this is odd. I'm picking up "hydrolase" but the UniProt  entry has "nuclease activity"
(I'm not aware of evidence for either?)

Also, the annotation to "DNA repair" isn't completely correct   here. This  is part of the checkpoint which slows the cell cycle *whilst* repair takes place.

[2016-05-03 11:24] ValWood commented on #1392
The repair is InterPRro, will open a new ticket for that one...

[2016-05-03 11:24] ValWood opened #1393 "IPR003011 DNA repair /cohesin"

[2016-05-03 11:24] ValWood commented on #1393
the annotation to "DNA repair" isn't completely correct here. This is part of the checkpoint which slows the cell cycle whilst repair takes place.

[2016-05-03 11:30] ValWood commented on #1392
PomBase	SPAC1952.07	rad1		GO:0016787	GO_REF:0000037	IEA	UniProtKB-KW:KW-0378	F	checkpoint clamp complex protein Rad1	rad19	protein	taxon:4896	20160312	UniProt

[2016-05-03 11:31] ValWood commented on #1392
Note that in the UniProt entry "nuclease" is visible for KW mapping, not hydrolase.  It seems to be hydrolase in our most recent Gaf, as far as I know, neither is correct.

[2016-05-04 12:44] almitchell commented on #1393
Hi Val,
We would keep the DNA repair term for the Rad1 proteins, as there seems to be evidence that they (or rather the complexes they form) may be involved not just in the checkpoint, but in DNA repair itself. This is quite an old paper (2004), but seems relevant:

http://www.sciencedirect.com/science/article/pii/S1568786404001041

...

We would also argue that Rad1 proteins would still contribut

[2016-05-05 14:12] ValWood commented on #1393
If the repair signalling is indirect, as in:

"The prevailing view is that checkpoint activation indirectly
participates in DNA repair by slowing cell
cycle progression and allowing time for repair"

We would not annotate the signalling pathway to repair, the cell cycle
checkpoint genes aren't regulation the repair process per. se.
For regulation it needs to be  modulating the process, not just gi

[2016-05-06 07:27] ValWood commented on #1393
Hi Alex,

This is what Paul Russell has to say http://www.scripps.edu/russell/publications.html.
Paul is a leading authority, he has been working in this area since the early 80’s

==
It is good to hear from you. Here’s my take on 9-1-1 and repair:

1- Evidence for 9-1-1 being required for activation of Chk1 and Cds1 is clear and convincing and universally accepted in the field.

2- The inability

[2016-05-09 18:49] ValWood opened #1394 "mappings to protein sumoylation from Reactome"
Hi Peter,

I think there are some problems with some of theReacome mappings to "protein sumoylation"

I would usually do these via the protein2GO annotation dispute system, but there are quite a lot of these
231 annotations for 108 proteins
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016925#term=annotation
I think I have reported some already.

Some of are clearly  involved in sumoylation, but the m

[2016-05-10 15:47] deustp01 commented on #1394
Fixed. Changes should become visible with the next release of Reactome in mid-June.

[2016-05-10 20:05] cmungall opened #1395 "Remove constraint on IEP only applying to BP"
Consider an IEP annotation to 'cellular response to glucose stimulus'

This will yield an inference to locatization to 'cell'. We can argue about the utility of this, but it's logically and biologically correct, and we don't have 'cell' in our antislims.

There may be other cases where an IEP leads to inference of a subcellular location - currently prohibited.

@tberardini and I propose removing t

[2016-05-11 15:58] ValWood commented on #1391
Hi  Hsin_yu,

You are correct. The cohesin loader also appears to have a  probably role outside of cohesin.

I  asked a chromatin expert about this (Frank Uhlmann at Crick).  He is happy for me to share the thread with you so I will forward. The cohesin subunits themselves should  likely not have a  "gene expression" annotation (at least this is the case for yeast), but currently they don't so thi

[2016-05-11 15:58] #1391 closed

[2016-05-12 09:53] mcourtot commented on #1395
Hi @cmungall and @tberardini,

With the changes in evidence codes (see http://www.ebi.ac.uk/GOA and copied below), the inferred annotation would not have an IEP code, but rather an IEA (mentioned by @rachhuntley)
So do you here actually mean removing the constraint that we don't infer from IEPs annotations on BPs, independently of the evidence code the inferred annotation would have?

Cheers,
Mela

[2016-05-12 09:57] almitchell commented on #1393
Hi Val,
Thanks for looking into this in detail. Based on your feedback, I think we will delete the term from InterPro for this entry and its parent, and replace it wih 'DNA damage checkpoint'.

BTW, it might be worth expanding this discussion to include the other databases (not quite sure how to do this via GitHub). Looking at the family members in other organisms, the human protein (O60671) has t

[2016-05-12 12:30] ValWood commented on #1393
Yep. There is a plan for me to talk about this on an annotation call (not yet scheduled). It might help me to plan to go through with you guys and some local curators first using these examples.
If there are errors in other species I do try to report them, but it is a bit ad hoc unfortunately because there are lots. Ideally we would have time/resources to work through every process intersection sy

[2016-05-12 12:51] ValWood commented on #1393
As an aside, the Matrix
http://tomodachi.berkeleybop.org/matrix
showed only 2 EXP annotation where cohesin subunits intersected with transcription (Zfin and MGI). I raised disputes for these through protein2GO.

[2016-05-12 16:44] cmungall commented on #1395
I'm not following. Where does this text come from? Do we have two pipelines for this with different rules?

[2016-05-12 19:46] tberardini commented on #1395
I, too, am confused.  I thought that GOC was creating the annotations based on MF-BP links and that the member MODs were consuming these annotations.  Does GOA have a separate pipeline to generate MF-BP annotations?

[2016-05-13 11:11] mcourtot commented on #1395
The text above (coming from the hyperlink above) describes behaviour in the GOA pipeline. At the moment, we do not infer from IEP annotations, but we could lift that constraint if this is desired. However, the current constraint in the inter-ontology link pipeline is not "IEP can't be used with CC" but "we don't project from IEP".

The changes to evidence codes for inferred annotations has been di

[2016-05-23 17:37] ValWood opened #1396 "Matrix example, cohesin complex"
This ticket is in preparation for the discussion on using  the "Matrix" tool to identify (and fix) annotation errors that will  present on a curation call at some point in the weeks ahead.

Usually for this  I look across all cellular process intersections, but for  demonstration purposes I have restricted to a single  CC term (cohesin complex), intersected with cellular processes.

The green tick

[2016-05-23 20:29] ValWood commented on #1396
cytoskeleton organization  will be fixed by
https://github.com/geneontology/go-ontology/issues/12308

[2016-05-23 21:39] ValWood opened #1397 "IEA UniProtKB-KW:KW-0238 DNA binding"
Has
IEA UniProtKB-KW:KW-0238

but this family doesn't appear to be DNA binding? (or even nuclear?)
http://www.ebi.ac.uk/interpro/entry/IPR018958

[2016-05-23 21:55] ValWood commented on #1397
The gene was
O14362	Cell wall biosynthesis/cell cycle regulator smi1

also O94530 (binds tRNA)

[2016-05-23 23:01] pfey03 commented on #1396
The Dicty vesicle transport annotations (to child 'macropinocytosis' ) from PMID 22120990 are RCA annotations from large-scale analysis. We do not do these kinds of large scale annotations anymore since 2013. Those could be deleted if in violation of anything.

[2016-05-24 09:14] ValWood commented on #1396
![condensin](https://cloud.githubusercontent.com/assets/7359272/15498563/08cf4d84-2198-11e6-8458-f6856bc9ce71.jpg)

Not bad for day one,  10 experimental/TAS fixed. All of the IEAs derived from them will also get fixed (eventually). This will be A LOT in Ensembl (only the ones in AmiGO get included in these totals).

[2016-05-24 09:17] ValWood commented on #1396
@pdthomas

[2016-05-24 09:23] ValWood commented on #1396
Hi Petra, OK, could you delete your RCA to vesicle mediated transport (highly unlikely that condensin has a role in this). It might be worth checking other annotations from this paper...you have 2186 annotations to micropinotosis, mostly RCA from this paper...transmembrane transporters, ribosomal proteins, nucleopoins etc, etc.
v

[2016-05-24 11:30] pgaudet commented on #1333
Fixed.

[2016-05-24 11:30] #1333 closed

[2016-05-24 20:38] pfey03 commented on #1396
Deleted 32 RCA macropinocytosis annotations that also have a chromosome annotation (no cohesin manual annotations); there is one other centrosomal protein cepF which is PAINT IBA annotated to ER to Golgi vesicle-mediated transport. Will dig for others or delete all RCA from this paper.

[2016-05-24 21:51] pfey03 commented on #1396
also deleted all ribosomal proteins that were RCA / macropinocytosis from PMID 22120990

[2016-05-25 08:05] pgaudet commented on #1332
PTHR16675

[2016-05-30 13:12] ValWood opened #1398 "Function-process link pipeline is generating redundant annotation"
We  are picking up the following annotation:
PomBase SPAC1142.05 ctr5        GO:0035434  PMID:11274192   IMP     P   copper transporter complex subunit Ctr5     protein taxon:4896  20160512    GOC

However, we have already made a much more specific annotation for this process from this paper

http://www.pombase.org/spombe/result/SPAC1142.05#go-biological_process
to
copper ion import across plasma

[2016-05-30 13:22] ValWood commented on #1398
here, we have made the direct annotation to GO:1901583
from this paper
http://www.pombase.org/spombe/result/SPBC29B5.02c#go-biological_process

but the GOC pipeline generated another one?

PomBase	SPBC29B5.02c	isp4		GO:1901583	PMID:9643541	IMP		P	OPT oligopeptide transmembrane transporter family Isp4		protein	taxon:4896	20140924	GOC

[2016-05-30 13:32] ValWood commented on #1398
Another example:

Here

PomBase	SPCC1223.13	cbf12		GO:0006366	PMID:23555033	IMP		P	CBF1/Su(H)/LAG-1 family transcription factor Cbf12		protein	taxon:4896	20130517	GOC
PomBase	SPCC1223.13	cbf12		GO:0045944	PMID:23555033	IMP		P	CBF1/Su(H)/LAG-1 family transcription factor Cbf12		protein	taxon:4896	20130517	GOC
PomBase	SPCC736.08	cbf11		GO:0006366	PMID:23555033	IMP		P	CBF1/Su(H)/LAG-1 family transcri

[2016-05-30 13:38] ValWood commented on #1398
Another example

PomBase	SPBC18H10.02	lcf1		GO:0001676	PMID:18071249	IMP		P	long-chain-fatty-acid-CoA ligase Lcf1		protein	taxon:4896	20120816	GOC

process was already curated
https://curation.pombase.org/pombe/curs/5bff0cacfd0d068a/ro/

[2016-05-30 13:56] ValWood commented on #1398
Last eg

dicarboxylic acid transport
PomBase	SPAPB8E5.03	mae1		GO:0006835	PMID:8750236	IMP		P	malic acid transport protein Mae1		protein	taxon:4896	20121116	GOC

carboxylic acid transmembrane transport
PomBase	SPAPB8E5.03	mae1		GO:1905039	PMID:8750236	IMP		P	malic acid transport protein Mae1		protein	taxon:4896	20121116	GOC

already made more specific for both
https://curation.pombase.org/pombe/cu

[2016-05-30 16:52] ValWood opened #1399 "query about matrix tool"

[2016-05-30 16:57] ValWood commented on #1399
I am using this link:
http://tomodachi.berkeleybop.org/matrix
which version of the GO database does this use.

I am preparing a lab presentation about the MAtrix tool for tomorrow.

I notice that the current version of the data PomBase reports
Query: ( GO_ID(GO:0000003 - reproduction) ) AND ( GO_ID(GO:0044281 - small molecule metabolic process) )
This query matches 8 genes.

SPCC550.10	atd3	aldehy

[2016-05-30 17:46] cmungall commented on #1399
Quick answer as everyone is off today

At the bottom of the screen it says:
Last file loaded on 2016-05-22, see full details
http://tomodachi.berkeleybop.org/amigo/load_details
The PomBase one is 2016-05-29 (which is after 2016-05-22...)

I'm not sure how you're translating your set-logic expression to the
matrix interface. Do you calculate the ID lists yourself?

On 30 May 2016, at 9:57, Val Wood

[2016-05-30 19:45] ValWood commented on #1399
On 30/05/2016 18:46, Chris Mungall wrote:

Yep me too...

OK our live data is from the 12th April. It would have been submitted to
GO around  10 MAy so the data should be the same.

I was double checking using PomBase query builder because I wanted to
fix any violations...

If I intersect "small molecule metabolic process"
and reproduction here
http://www.pombase.org/spombe/query/builder

I get th

[2016-05-30 20:50] ValWood commented on #1399
In matrix only atd3 is included in the intersection GO:0044281/GO:0000003

http://tomodachi.berkeleybop.org/amigo/search/bioentity?q=*:*&fq=taxon_subset_closure_label:%22Schizosaccharomyces%20pombe%22&fq=isa_partof_closure:%22GO:0044281%22&fq=isa_partof_closure:%22GO:0000003%22

I'll confirm one of the missing ones in AmiGO...

[2016-05-30 20:55] ValWood commented on #1399
cap1 has

negative regulation of conjugation with cellular fusion which has 'reproduction' parent
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031138#term=ancchart

regulation of adenylate cyclase activity has "small molecule metabolic process' parent
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045761#term=ancchart

both annotations are here:
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPC

[2016-05-30 21:08] ValWood commented on #1399
Something else is odd. Our slim has been relatively stable over the last few releases, but the slim totals differ a little between PomBase and GO. (matrix)

protein folding PomBase  103 Matrix 101
carbohydrate metabolic process PomBase  211 Matrix 97
generation of precursor met and energy PomBase  82 Matrix 76
cell wall organisation and bio. PomBase  108 Matrix 85
tRNA metabolic process PomBase  1

[2016-05-30 21:09] ValWood commented on #1399
Ok its 'regulates' relationship......
That's no problem (would be good to be able to toggle on and off).

It just menas that this pass, I won't locate all of the  issues. Its probably enough to be going on with. Nothing will be wrong.

[2016-05-31 12:59] ValWood opened #1400 "PAINT annotation TRX1/2/3 (SGD) (via Matrix)"
These all have "protein folding" annotation via IBA.

I'm not sure that this is valid for these thioredoxins.  Which orthologs is it derived from? Could you take a look?

Thanks

Val

[2016-05-31 13:24] ValWood opened #1401 "FP mapping to "sister chromatid cohesion" for SMC subunit IPR027131"
is SMC-complexsubunit, not cohesin
http://www.pombase.org/spombe/related/GO:0030915
(the complexes are related)

[2016-05-31 13:26] ValWood commented on #1401
O13710/ smc5/ SPAC14C4.02c has this in our next update

[2016-05-31 18:00] ValWood commented on #1397
More pombe false positives for this mapping, (most likely affect other species too)

SPAC22F3.06c	lon1 false positive
SPBC30D10.17c	smi1 false positive
SPBC16C6.10	chp2  false positive?
SPBC13E7.02	cwf24 false positive
SPBC19C7.10	bqt4  false positive?
SPCC895.03c	sua5  false positive
SPCC1672.08c	tfa2  false positive
SPCC1620.09c	tfg1  false positive
SPCC1259.04	iec3 false positive (no evidence)

[2016-06-01 14:31] ValWood opened #1402 "FP mapping to DNA topoisomerase type II (ATP-hydrolyzing) activity for top1 IPR013500"
e.g.
pombe 	P07799

cheers

Val

[2016-06-01 16:06] asangrador commented on #1401
Hi Val,
I will remove the term 'sister chromatid cohesion', as this role is questionable. However, there are  references that indicate that SMC5 is involved in sister chromatid cohesion in humans (PMID: 19502785, 'SMC5 and MMS21 are required for chromosome cohesion and mitotic progression' ) and plants (PMID:19737979, ' the SMC5/6 complex promotes sister chromatid cohesion after DNA breakage and f

[2016-06-01 16:20] asangrador commented on #1402
Thanks for pointing out this mistake. It has been changed to DNA topoisomerase type I activity.

[2016-06-01 16:34] ValWood commented on #1401
For PMID: 19502785 the phenotype "premature sister chromatid separation prior to anaphase" could also be caused by, for example, not being able to maintain the spindle assembly checkpoint appropriately, rather than faulty cohesion....(this would also explain the single subunit effect). There are probably other explanations too.

PMID:19737979 seems to be describing an 'upstream' problem which affe

[2016-06-01 17:06] ValWood commented on #1401
There are quite a few papers for SMC5 /cohesion, so this one is probably OK, sorry!

[2016-06-02 09:42] pgaudet commented on #1400
Hi Val,

You can see the information here:
http://pantree.org/node/annotationNode.jsp?id=PTN000047070
There seem to be quite a bit of support.
EcoGene(EcoGene:EG13261), TAIR:locus:2200141, TAIR:locus:2064854, TAIR:locus:2159971, WB:WBGene00015062, MGI:MGI:2389312, FB:FBgn0029752

Do you think the primary annotations may be wrong ?

PTHR10438 -

[2016-06-02 10:17] ValWood commented on #1400
I thought it was a co-chaperone for a chaperone of 'misfolded proteins' (which are degraded). I did't think it has a role in directly in folding or refolding. I notice people often use 'protein folding' for the misfolded  protein-> degradation  pathways which doesn't seem to be correct unless they are refolded.

I'll double check though, I could be wrong. I'll begin by asking SGD why TRX1 isn't an

[2016-06-02 10:23] ValWood commented on #1400
One role is to maintain proteins in a reduced state for import into mitochondria (and possibly ER?). This seems to precede folding, which occurs after import.

protein folding
The process of assisting in the covalent and noncovalent assembly of single chain polypeptides or multisubunit complexes into the correct tertiary structure.

I guess it depends where folding begins and ends.

[2016-06-02 10:49] ValWood commented on #1400
I'm probably being a bit dim here. Maybe any thioredoxin which maintains a protein in an unfolded state for any reason has a role in  protein folding? I'm asking a  pombe tpx1 expert.....

[2016-06-02 16:48] vanaukenk commented on #1400
Hi @ValWood,

I was just trying to trace the source of the C. elegans annotations and it looks like it might have come from an MF-BP link?

I can't find the link anymore, though, and am not sure of the best way to trace the history.

[2016-06-02 17:43] ValWood commented on #1400
What MF do you have?

I have
protein disulfide oxidoreductase activity
but this never had a link to protein folding
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015035#term=history

[2016-06-02 17:47] vanaukenk commented on #1400
Ah, I just checked QuickGO.
We also have an MF to protein disulfide isomerase activity for which the MF-BP link to protein folding appears to have been deleted on 2016-05-01.
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003756#term=history

[2016-06-02 17:57] vanaukenk commented on #1400
But...in looking at the paper again, I think the original annotation to protein disulfide isomerase activity is a mistake, so I'm going to remove that annotation.

Thx.
--K.

[2016-06-02 18:07] ValWood commented on #1400
Now we are getting there.......
https://github.com/geneontology/go-ontology/issues/12385

So Pascale,  if all of the annotations are via the old F-P link to  'protein folding' this will disappear?

If not let me know and I'll follow up.

[2016-06-02 18:07] ValWood commented on #1400
.>So Pascale, if all of the annotations are via the old F-P link to 'protein folding' this will disappear?

I just realised that's unlikely if WB annotation was incorrect...

[2016-06-02 20:38] ValWood commented on #1400
My source
"no point to say that Trx1 is involved in protein folding"
(this is on pombe)
https://www.upf.edu/osccg/leaders/hidalgo.html

[2016-06-03 12:24] ValWood commented on #1400
Rob says this about S. cereviisae TRX1/2
I agree that a protein aggregation phenotype is not enough for a protein folding annotation....
Val

Hi,

From this classical paper (Jang et al., 2004 PMID: 15163410), if was demonstrate that both TSA1 (cTPxI) and TSA2 (cTPxII) have chaperone activity via a direct assay. This is based on a structural shift from a form that acts as a peroxidase to one that a

[2016-06-06 10:48] rebeccafoulger opened #1403 "IPR001831 (Tat protein) GO mappings"
The InterPro mappings for IPR001831 (viral Tat protein) could be updated:
https://www.ebi.ac.uk/interpro/entry/IPR001831

The text suggests it's an RNA-binding transcription factor (GO:0001070), and the following process could added: positive regulation of viral transcription ; GO:0050434

Thanks!
Becky

[2016-06-06 11:02] hattrill opened #1404 "Addressing curation effort redundancy"
This has been tranferred from the GO Help desk tracker GO-1131.
See http://jira.geneontology.org/browse/GO-1131 for rest of thread.

Help mail submitted by @ValWood

"We need to take steps to ensure we are not duplicating effort.
Historically sometimes PomBase and UniProt would curate the same papers. This doesn't happen anymore because a) we can see all existing annotation in our curation tool an

[2016-06-07 00:37] keseler opened #1405 "IPR010089 annotation to GO:0045892"
The WrbA protein was initially thought to interact with the Trp repressor; however, what interaction there may be does not seem to be physiologically relevant.  see pmid 9694845

WrbA is now known to have NAD(P)H:quinone oxidoreductase activity; e.g. see pmid 16672604, 22952804.  I think the annotation to GO:0045892 should be removed, because it is likely misleading.

Thanks,
Ingrid

[2016-06-08 12:36] asangrador commented on #1405
Thanks for updating us about this protein. I have removed the outdated GO:0045892 term.

Amaia

[2016-06-08 13:07] asangrador commented on #1403
I have removed the previous terms we had and added the ones you suggested that certainly are much better. Thanks,
Amaia

[2016-06-09 18:31] keseler opened #1406 "GO terms for PTN000558065 too specific (PTHR23091 PTHR10 / PTHR42191 PTHR11)"
The E. coli PhnO protein, P16691, has inherited three GO annotations related to protein/peptide acetyltransfer via PTN000558065.  The protein is actually an aminoalkylphosphonate N-acetyltransferase and not a peptide/protein acetyltransferase (see PMID 23056305).  So the acetyltransferase part is correct, but the more specific terms are not.

Cheers,
Ingrid

[2016-06-13 12:56] ValWood commented on #1400
Hi Pascale,

I'll close this one. I don't think there is evidence that this has a role in protein folding for yeast. I don't feel confident that is wrong, it could be just an absence of information.  It is unlikely we know all of the roles of this protein (although the studies in pombe and cerevisiae don't indicate any protein floding role, as you say there is good evidence).

Val

[2016-06-13 12:56] #1400 closed

[2016-06-15 07:21] RLovering commented on #1332
Hi Pascale please could you explain what I am supposed to do with a Panther ID. I find these records very difficult to look at, what exactly is going to happen to the errors I have identified? It would be very helpful if you could put the note about what is happening here, rather than expecting people to go to a different database to track an issue.
Thanks
Ruth

[2016-06-20 10:19] mcourtot commented on #916
Hi all - seeing Val at the office reminded me of this :)

We talked about this in a GOA meeting. The go-annotation tracker was never a UniProt activity, rather Rachael was forwarding the requests to the helpdesk, and we would like to cut down on this redundant activity. The keyword mapping is maintained by our SIB colleagues and so the help@uniprot.org is the appropriate mailing list to use for th

[2016-06-20 10:40] ValWood commented on #916
I have agreed to go through the tickets and resubmit to the helpdesk, and then close the git hub ticket when completed. This way we maintain a record for the GO archive which isn't just in my mailbox.

[2016-06-21 12:07] bmeldal opened #1407 "ECO for siRNA expt?"
We have experimental evidence for the MF of a gene product from siRNA treatment. Which ECO are you using for this now? It's not really direct and it's not a mutant phenotype as the construct or native genome is not altered.

We use it for the GO annotations on complexes (in which case the MF of the complex disappears after siRNA treatment).

@rebeccafoulger ?

Thanks,
Birgit & Mila

[2016-06-21 12:17] ValWood commented on #1407
Hi Birgit,

Historically we use IMP for  knockdowns and phenotypes  based on alterations to expression level
http://geneontology.org/page/imp-inferred-mutant-phenotype

any procedure that disturbs the expression or function of the gene, including RNAi, anti-sense RNAs, antibody depletion, or the use of any molecule or experimental condition that may disturb or affect the normal functioning of the

[2016-06-21 12:19] mah11 commented on #1407
I agree that this is a phenotype because the effective expression level of the gene product is altered.

Would siRNA fit ECO:0000019?

[Term]
id: ECO:0000019
name: RNAi evidence
def: "Inference based on a phenotype observed when expressing an RNAi construct that includes a fragment of the gene product in a wild-type (for that gene product) background. A double-stranded RNA specifically suppresses

[2016-06-21 13:14] bmeldal commented on #1407
Thanks. We can use any ECO codes so happy to go with ECO:0000019 or carry on using IMP [ECO:0000015], they are siblings...

I need some sort of consensus on what others are using, please :)

[2016-06-21 13:17] mah11 commented on #1407
Well, at PomBase we would use IMP right now because we haven't switched to using ECO IDs for GO annotations yet. If we were up-and-running with ECO I would use ECO:0000019 (yep, we'll have lots to upgrade but I suppose it'll happen incrementally).

[2016-06-21 13:20] ValWood commented on #1407
Why isn't  ECO:0000019 a descendant of ECO:0000015, if it is defined "Inference based on a phenotype ....."
?

[2016-06-21 13:21] bmeldal commented on #1407
Good question, Val...

[2016-06-22 08:15] rachhuntley commented on #1407
We also use IMP at the moment for silenced genes, as we can't use ECO codes yet.
I'm wondering whether there should be a distinction between naturally occurring RNAi and artificial RNAi? You can make any RNAi construct to silence a gene, but there are also naturally occurring siRNA/miRNA/piRNA etc. What if the authors are studying these? Would you want to distinguish between them?
It looks like th

[2016-06-22 08:22] bmeldal commented on #1407
Thanks, Rachel.

The entity we are annotating is the complex where one subunit has been silenced and that leads to a impairment of the normal function.

So with regards of being consistent I guess we should use IMP as otherwise filters would not result in consistent results.

Thanks everyone for you help!

[2016-06-22 08:25] bmeldal commented on #1407
I don't know how to close this ticket :(

[2016-06-23 10:27] Antonialock opened #1408 "IEA with UniProtKB-KW:KW-0812"
S. pombe mak2 and mak3 are annotated to
GO:0016021integral component of membrane
IEA with UniProtKB-KW:KW-0812

This looks odd as I don't think they have TM domains?

I have sent an email to help@uniprot.org also

[2016-06-25 00:40] monicacecilia opened #1409 "PTHR18945 [Protein2GO] Notification of annotation dispute concerning protein G5EG88 (Dispute ID: 4593)"
Dear @pgaudet, this comes from JIRA at http://jira.geneontology.org/browse/GO-1265
#

A dispute has been raised over a GO annotation coming from your group. The details are given below. If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you disagree or need to respond to the disputer, you may contact the disputing curator by replying to this email.

[cod

[2016-06-28 13:20] ValWood opened #1410 "EC to GO mapping query"
In pombe SPBC337.16 	O74827 has a mapping to
GO:0004608	phosphatidylethanolamine N-methyltransferase activity	IEA	EC:2.1.1.17

This  seems to  be
GO:0080101	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
and
GO:0000773	phosphatidyl-N-methylethanolamine N-methyltransferase activity

Do you agree?
If so can the mapping be deleted

![phospholipid_biosynthesis](https://cloud.githubus

[2016-06-28 13:23] ValWood commented on #1410
My term selection also agrees with SGD manual annotation
http://www.yeastgenome.org/locus/YJR073C/overview#go

[2016-06-28 13:40] mah11 commented on #1410
I think GO:0004608 - EC:2.1.1.17 might OK.

What confuses me is that MetaCyc has both reactions, GO:0000773 and GO:0080101, associated with EC:2.1.1.71, same as GO, but EC's record only has one (corresponding to GO:0000773).

[2016-06-28 16:19] ValWood commented on #1410
From the PomBAse trracker:

There are 3 reactions
1 PE -> PMME
2 PMME -> PDME
3. PDME-> PC

and these are
1. GO:0004608 phosphatidylethanolamine N-methyltransferase activity (Cho2)
2. GO:0000773 phosphatidyl-N-methylethanolamine N-methyltransferase activity (Cho1)
3. GO:0080101 phosphatidyl-N-dimethylethanolamine N-methyltransferase activity (Cho1)

respectively ?

[2016-06-29 09:51] mcourtot opened #1411 "mapping IPR009636"
[submitted on behalf of Chantal Hulo from SIB]

 Hello,

"Structural molecule activity"( GO:0005198)  has been assigned to IPR009636. However, I think that this term should be removed since the capsid assembly scaffolding proteins are not present in the mature capsid (cf. " In a subsequent step scaffolding protein molecules are released from the procapsid").

I would therefore rather assign the fo

[2016-06-29 12:31] asangrador commented on #1411
Thanks for this information. The terms have been updated as suggested.

Amaia

[2016-06-29 13:08] ValWood opened #1412 "mapping EC 1.4.1.13"
According to
    PMID:7773104
pombe glt1  Q9C102 is GOGAT: EC 1.4.1.14--gluta- mine-oxoglutarate aminotransferase

This is in agreement with  SGD GLT1 http://www.yeastgenome.org/locus/S000002330/overview#go

Thanks

val

[2016-06-29 13:14] ValWood commented on #1412
Probably not enough info here.

Currently it has EC 1.4.1.13 EC to GO mapping

[2016-06-30 07:39] mcourtot commented on #1411
Hi @asangrador: Chantal (@SIBvirus) was wondering when the update would be visible on the page at http://www.ebi.ac.uk/interpro/entry/IPR009636 and in the GOA file at ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/external2go/interpro2go

For GOA, we get the information from you on Fridays and run our pipelines on Saturday, so should be updated by next week, but I'm not sure about your webpages, can you

[2016-06-30 08:04] almitchell commented on #1411
Hi Melanie,
You wont be able to see the updates on either our web pages or in the GO files until our next release (InterPro version 59.0), scheduled for the beginning of Sept.
Alex

[2016-06-30 12:42] rebeccafoulger opened #1413 "multi-organism protein binding"
I'd like to be able to capture when protein binding is occurring cross-species (physiologically)- E.g. when a host protein is binding to a viral protein or a bacterial protein. The information is essentially there because both protein IDs will be listed in the reciprocal annotation. And I can use 'part_of: multi organism process' in the AE, but it's still a bit unsatisfying- I'd like to be able to

[2016-07-01 10:18] pedruzzi commented on #1410
Hi Val,
2.1.1.17 is your reaction 1
2.1.1.71 are reactions 2 and 3 (reaction 3 being hidden in the comments of 2.1.1.71 in EC)
and the GO term mappings 2.1.1.17 -> GO:0004608 and 2.1.1.71 -> GO:0000773 & GO:0080101 are therefore correct as well.

the problem is with the protein to EC mapping:
- In mammals and plants, a single enzyme PEMT catalyzes all three steps, and has therefore both ECs assign

[2016-07-01 10:38] ValWood commented on #1410
Hi Ivo,

Phew! Yes I see. I agree with all this, and can see how the EC was added to pombe.
Although If I remember correctly, the paper above  shows genetic analysis which indicates that in fission yeast cho1  doesn't substitute for cho2 (see legend on pathway above) so I think it might be best to remove?

Or, if this is difficult, I can just add a NOT annotation at PomBase.

[2016-07-01 15:24] ValWood opened #1414 "UniProtKB-KW:KW-0254 endocytosis mappings"
imt1 SPAC2F3.01	O14084
imt2 SPCC4F11.04c Q9UT67
imt3 SPAC17G8.11c Q10323

are annotated via KW mapping to endocytosis. I can't see any evidence for this?
They appear to be Golgi/ER proteins involved in
	mannosyl-inositol phosphorylceramide biosynthetic process

[2016-07-04 19:54] ValWood opened #1415 "HAMAP:MF_03209 mapping O14111"
HAMAP:MF_03209 query mapping to "protein autoprocessing"
this might be correct but  if so, I can’t figure out how.....
This is an enzyme  "Catalysis of the reaction: H(+) + phosphatidyl-L-serine = CO(2) + phosphatidylethanolamine., As far as I know it has no other activity. I can't reconcile this activity  with a processing role

protein processing
Any protein maturation process achieved by the cl

[2016-07-04 19:57] ValWood commented on #1415
O14111 =SPAC31G5.15,psd3

[2016-07-08 16:32] Antonialock opened #1416 "UniProtKB-KW:KW-0130"
S. pombe cbf12 is annotated to cell adhesion
IEA with UniProtKB-KW:KW-0130 cell adhesion

but cbf12 is a transcription factor so it should be removed.

[2016-07-11 12:22] pedruzzi commented on #1410
I'll have the EC and GO term removed from pombe, yes, and updated the HAMAP rule to remove it from other fungi as well unless proven differently. It'll just stay in cerevisiae for now.
This should be public in UniProt release 2016_09

[2016-07-11 13:23] pedruzzi commented on #1408
I agree with you. Seems to be some (very old) TMHMM predictions in Swiss-Prot. I have them removed now. Will be visible in UniProtKB public release 2016_09.
thanks

[2016-07-11 13:28] Antonialock commented on #1408
Super, thanks Ivo!

[2016-07-11 13:28] #1408 closed

[2016-07-11 13:42] pedruzzi commented on #1415
This is annotated in analogy to the E.coli (P0A8K1) and Plasmodium knowlesi (B3L2V1) enzymes, where it has been consistently shown how this enzyme is produced by autocatalytic cleavage from an inactive precursor. There is a PTM/processing comment in all family members (trying) to explain how this is done. (Very interesting case, as the amino acid at the cleavage site become the active site residue

[2016-07-11 13:55] ValWood commented on #1415
Ah, got it. I was trying to reconcile this with the  decarboxylase activity. In this case it is also a protease? I'll add this IC from the GO:0016540
Thanks!

Val

[2016-07-11 14:21] pedruzzi commented on #1415
Yes, it uses a serine protease mechanism to catalyze the cleavage and produce the pyruvoyl prosthetic group. However, since it acts only on itself and not on any other substrate I think it would be going too far to annotate a protease activity on this protein, it's main physiological function still being the decarboxylase activity. The protease activity is just a means of generating the active enz

[2016-07-12 10:00] ValWood commented on #1410
Thanks Ivo!

[2016-07-12 10:00] #1410 closed

[2016-07-12 10:04] ValWood commented on #1415
Yes I think you are right. It is quite clear what it means, nothing else is required.
Val

[2016-07-12 10:04] #1415 closed

[2016-07-13 15:25] pedruzzi commented on #1414
You are correct. imt mutants have an endocytosis defect, but it is an indirect, pleiotropic effect of the loss of the phosphorylceramide, and not an involvement of the enzyme in the process.

I removed the KW from the 3 entries

[2016-07-13 18:11] ValWood commented on #1414
thanks!

[2016-07-13 18:11] #1414 closed

[2016-07-15 14:55] mah11 opened #1417 "GO_REF for ISO (GOA syntax checks)"
The July 2016 syntax check file we have from GOA has flagged many of our ISO annotations as using an inappropriate reference, GO_REF:0000024. Reading the the title and description, though, GO_REF:0000024 seems like it should be allowed for ISO (the text could be updated to recommend ISO instead of ISS).

Could someone please clarify -- should the syntax check be adjusted? If not, what should we us

[2016-07-15 14:56] mah11 opened #1418 "allowable references for IC (GOA syntax checks)"
The July 2016 syntax check file from GOA has flagged many of our IC annotations as using various inappropriate references. The documentation for IC suggests that two of them, GO_REF:0000024 and GO_REF:0000050, should actually be allowed, because they are cited for the annotations from which the ICs were made. Ideally the check should be adjusted; otherwise, we will have to ignore these warnings.

[2016-07-18 18:14] cmungall opened #1419 "ND code should only be used for root terms"
noticed by @selewis

http://amigo.geneontology.org/amigo/search/annotation?q=*:*&fq=evidence_type_closure:%22no%20biological%20data%20found%22&fq=-annotation_class_label:%22molecular_function%22&fq=-annotation_class_label:%22biological_process%22&fq=-annotation_class_label:%22cellular_component%22&sfq=document_category:%22annotation%22

6 violations

<img width="1352" alt="screen shot 2016-07-18 a

[2016-07-22 00:37] cmungall opened #1420 "col3 / gene product symbol minor bug in goa_human_isoform"
In a GAF, each gene product should have the same symbol. For the Histone H3 protein, this varies between H3F3A and H3F3B

[code]

I assume this is to do with the fact this protein has two genes associated with it (the AA seq is identical), and if a join is done between GPI and GPAD you would get these duplicates?

[2016-08-02 13:09] ValWood opened #2740 "Can we reduce the number of allowed entity types?"
![misleading](https://cloud.githubusercontent.com/assets/7359272/17329363/4360f6ce-58ba-11e6-96f3-2e4a99c373ab.jpg)

If we want types,  (which are be useful) maybe we should all specify
protein, ncRNA, miRNA etc and ditch "gene_product"  (if you don't know what type then you probably wouldn't be annotating it)
- this is also confusing because  all of these subtypes  are _also_ gene products (excep

[2016-08-02 13:23] ValWood opened #1421 "InterPro mapping to "regulation of cell migration" for fission yeast IPR016555"
http://www.pombase.org/spombe/result/SPAC2F7.16c (	Q09706)

Can this one be removed?
I'll ask for a taxon restriction for this term.

Thanks

Val

[2016-08-02 13:26] ValWood commented on #1421
also
"regulation of phagocytosis" same  ID

[2016-08-02 13:33] almitchell commented on #1421
Deleted in April this year, and so should have been removed from InterPro release 58.0 (Junes 2016) onwards. It may be that the updated annotations are taking time to percolate through the various pipelines.

[2016-08-02 13:36] ValWood commented on #1421
ah we haven't had a  PomBase update for a while either.... I should check the  current InterPRO first at the moment.

[2016-08-02 13:36] #1421 closed

[2016-08-02 15:51] Antonialock opened #1422 "uniprot KW-0342"
Pombe SPCC1620.08 has this mapping
GO:0005525  GTP binding IEA UniProtKB-KW:KW-0342    GO_REF:0000037

however, it looks like this might be incorrect based on PMID:9874242
(cerevisiae paper) where the abstract states
The yeast succinyl-CoA ligase was shown to utilize ATP but not GTP for succinyl-CoA synthesis.

so this mapping should probably be removed?

[2016-08-02 15:52] Antonialock commented on #1422
I also emailed help@uniprot.org

[2016-08-02 15:55] Antonialock opened #1423 "GO_REF:0000003 evidence + succinate-CoA ligase (GDP-forming) activity"
Pombe SPCC1620.08 is annotated to
GO:0004776  succinate-CoA ligase (GDP-forming) activity IEA EC:6.2.1.4

but it appears that this might be incorrect based on this cerevisiae paper:
PMID:9874242
"The yeast succinyl-CoA ligase was shown to utilize ATP but not GTP for succinyl-CoA synthesis."

[2016-08-02 22:02] robnash opened #1424 "PAINT annotation of yeast genes to non-yeast terms"
Hi,

I noticed PAINT propagated annotations to yeast genes at SGD for GO terms that appear to be specific for higher eukaryotes. Could someone involved in these annotations please take a look:

GO:0016055 Wnt signaling pathway:
HRR25   P29295
YCK1   P23291
YCK2   P23292
YCK3   P39962

GO:0016477 cell migration:
STE20   Q03497
CLA4   P48562
SKM1   Q12469

GO:0007275 multicellular organism developme

[2016-08-02 23:18] monicacecilia commented on #1424
Thank you for reporting @robnash. I've linked this to a 'mirror' issue on the GO-PAINT repo at https://github.com/geneontology/paint/issues/25

[2016-08-03 17:38] robnash commented on #1424
Hi,

Adding centrosome to the list, as yeast, do not have a centrosome, rather a functional equivalent called the spindle pole body (GO:0005816)

GO:0005813 centrosome:

KIN3   P22209
CDC14   Q00684
ESP1   Q03018
SPC97   P38863
SPC98   P53540

Cheers,
Rob

[2016-08-04 00:17] tberardini commented on #1395
Reviving this thread.  This is related to the recent discussion in the GO eds call about unifying the annotation inference practices of the Jenkins and GOA pipelines.  For the purposes of the annotations in this issue, the suggestion to remove the rule that IEP can only be used with BP (GO_AR:0000006).

http://geneontology.org/page/annotation-quality-control-checks#0000006

[2016-08-04 07:26] ValWood commented on #1395
I'm leary of this change. For starters we only use the IEP evidence code judiciously. I'd hope that anything annotated to these terms already had a 'cell' annotation descendent  at PomBase so it would be filtered in most  cases. However in the few cases (10) where we have no component annotation, but we have a response to some stimulus annotation,  I'd rather keep these as "CC ND" because we don't

[2016-08-04 07:32] ValWood commented on #1395
Hang on, does  "occurs_in"  generate  CC annotations by inference  right now?

I'm looking at one example where we have a response to annotation but no CC annotation
http://www.pombase.org/spombe/result/SPBC4C3.04c

This term has ancestry to cell via 'occurs_in"
http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0007264#term=ancchart
but we don't get a "cell' annotation here?

I still worry about transferri

[2016-08-04 08:00] hattrill commented on #1395
Hi Val,

The occurs_in inference to CC  is made in the Jenkins pipeline. I am not a fan as there are examples like this:

FBgn0000482	dor	GO:0005622 intracellular
FBgn0000482	dor	GO:0005623 cell

inferred from GO:0008333 endosome to lysosome transport IMP

(GO:0005622	intracellular	AnnotationPropagation	C	GO:0008333	endosome to lysosome transport	IMP
GO:0005623	cell	AnnotationPropagation	C	GO:0008

[2016-08-04 10:53] rebeccafoulger opened #1425 "New deglycation GO mappings for IPR006287"
I've created some new GO terms (see https://github.com/geneontology/go-ontology/issues/12550) that can be used to update the GO:InterPro mappings for:

Family: Protein deglycase DJ-1 (IPR006287)
https://www.ebi.ac.uk/interpro/entry/IPR006287

Including:
protein degylcase activity ; GO:0036524
protein deglycation ; GO:0036525

These new terms are children of 'protein repair' so can replace the exis

[2016-08-04 12:42] ValWood commented on #1395
We import the inference pipeline data, but I forgot we also have  hard-check which excludes some  term annotations from external sources (this helps our users to find unannotated things).

So, in addition to the 1123 terms in the soft check file above,
we  have 125 terms in a hard check file for external data
https://curation.pombase.org/dumps/latest_build/pombe-embl/goa-load-fixes/filtered_GO_IDs

[2016-08-04 15:58] srengel commented on #1395
i agree with Val on this.
1. it is not appropriate to make these mapped annotations using the original evidence code.
2. i do not see the utility of making these high level annotations automatically if the curator who made the original annotation (from which the high-level annotation is to be automatically generated) chose not to make that annotation.  there is a reason why we have humans with bra

[2016-08-04 19:26] hdrabkin commented on #1395
So today during my weekly QC, three IEP annotations to a cellular component were found that were attributed to GOC.  It used a specific literature reference.
The same reference was used to make IDA process annotation by GOA_CACAO (coming in from our GOA mouse load).  So if the GOC was made based on the GOA_CACAO IDA, why did it get a different evidence code, especially if the use of that evidence

[2016-08-05 15:16] asangrador commented on #1425
Thanks Rebecca,

We will add those terms as soon as they are available to us (at the
moment our curation tool does not recognize them).

Amaia

On 04/08/2016 11:53, Rebecca E. Foulger wrote:

[2016-08-10 08:52] asangrador commented on #1425
Terms have been added now.
Cheers,

Amaia

[2016-08-10 08:52] #1425 closed

[2016-08-10 08:53] #1405 closed

[2016-08-10 08:54] #1403 closed

[2016-08-10 08:54] #1402 closed

[2016-08-10 08:57] #1401 closed

[2016-08-10 09:00] #1389 closed

[2016-08-10 09:00] #1383 closed

[2016-08-10 12:55] mcourtot opened #1426 "EXOC5 annotation to exocyst"
Dear InterPro,

We received a user request to add the 'exorcist' annotation to EXOC5. For other components of the complex, we seem to be receiving the mapping via you:
http://www.ebi.ac.uk/interpro/search?q=Exocyst+complex+component

Has EXOC5 been somehow skipped, or is it not suitable for InterPro mapping?

Thanks,
Melanie

[2016-08-10 18:25] cmungall opened #1427 "Add inter-ontology links to go-basic and stop materializing inferred annotations from inter-ontology links"
Currently go-basic.obo is designed for lowest common denominator GO tools. Some of these hardcode an assumption that there are no crossings between the 3 ontologies.

As a courtesy, we omit these links from go-basic and provide GAFs with materialized inferences equivalent to what we would get if the links are present.

It is time to stop this. We should add back links, specifically:

 * MF part-of

[2016-08-10 18:26] cmungall commented on #1395
This thread has too may things going on to make sense of.

These problems all go away if we add inter-ontology links (MF-part-of-BP, BP-occurs-in-CC) to go-basic and cease materializing inter-ontology inferences.

I added a ticket for this: #1427

If we agree on this, then this ticket (#1395) becomes irrelevant, and we don't need to worry about the fact that GOC and GOA pipelines have diverged etc

[2016-08-11 00:47] dosumis commented on #1427
+1

[2016-08-11 07:40] mcourtot commented on #1427
A little bit confused: even if we had the links in go-basic, we would still need to materialise the inferences in the GAF, wouldn't we?

[2016-08-11 16:01] cmungall commented on #1427
Why? Queries for a BP will yield annotations to MFs that are part-of
that BP

[2016-08-11 16:08] mcourtot commented on #1427
I guess I'm thinking about the QuickGO/AmiGO display, where you want to see all the annotations including those inferred by GOC. I guess they could be retrieved at run time via query, but wouldn't it be easier to just materialize them when the files are loaded?

[2016-08-11 16:25] cmungall commented on #1427
But the inferences are trivial, you get them anyway in quickgo/amigo.
The only reason they were ever materialized was to support legacy
software that could not handle inter-ontology links

[2016-08-11 19:19] ValWood opened #1428 "C6Y4C8 not GO:0030127 COPII vesicle coat (IEA from HAMAP:MF_03058)"
This is "vacuolar H+-ATPase assembly protein" I don't think  it should have vesicle coat annotation?

vma21 GO:0030127 COPII vesicle coat IEA HAMAP:MF_03058 GO_REF:0000020

GO:0030127
Definition	One of two multimeric complexes that forms a membrane vesicle coat. COPII is best characterized in S. cerevisiae, where the subunits are called Sar1p, Sec13p, Sec31p, Sec23p, and Sec24p. Vesicles with COPI

[2016-08-11 20:59] ValWood commented on #1427
Hi Chris,

If you assume that the only use case for GO is  via a query tool, this is fine. However, I think our uses will *expect* to see BP annotations on the gene pages, not just MF annotation.

If I have understood you correctly, if there is a  F-P link between, for  a trivial example, say:
 a fission yeast cohesin fission  subunit might have the annotation
GO:0061775	cohesin ATPase activity wh

[2016-08-11 21:07] ValWood commented on #1395
This  ticket did go off on a tangent, sorry.

However, I think this ticket revealed a larger problem, in that the biologists making the annotations, at least at PomBase, Flybase and SGD  are uncomfortable with
a) some of the annotations which are generated by the inference pipeline
and
b) The preservation of the evidence code.
I don't know how much of this would apply if the annotations were not "

[2016-08-11 21:14] cmungall commented on #1427
OK, good point. There are a number of tools or interfaces that stratify the annotations into 3 sections: F, P and C (and some enrichment tools may perform 3 batches of tests).

I agree it would look odd and misleading. So we are back to some kind of materialization of inferences.

I would argue for doing this as far downstream as possible, and letting the interface handle in. This is the most powe

[2016-08-11 21:23] vanaukenk commented on #1427
Okay, so following up with Val's post on #1395 and this ticket, shall we slot some time on an annotation call to confirm what evidence code we prefer to use for these inferred annotations?

[2016-08-11 21:46] cmungall commented on #1427
+1

[2016-08-11 23:27] srengel commented on #1427
oh yes, i think discuss on an annotation call would be very helpful to all interested parties.

[2016-08-12 08:12] mcourtot commented on #1427
I would actually argue in favour of having the inference happen centrally, instead of letting the tools handling it. Very much like we distribute inferred versions of the ontology, we should distribute inferred versions of the annotation sets for consistency.

I thought about the evidence codes, and I can see the argument for keeping the existing one, as after all the inter-ontology links are logi

[2016-08-12 08:46] asangrador commented on #1426
Hi Melanie,

We have looked into the exocyst subunits. We didn't have the 'exocyst' annotation for EXOC5 because we didn't have an appropriate entry. This has been solved now; we have created a new entry specific for EXOC5  and mapped it to 'exocyst'. This will be visible from our next release in September. We also noticed that we were missing the annotation for another subunit (exo84), and this h

[2016-08-12 08:49] mcourtot commented on #1426
Hi @asangrador,

Thank you so much for the fast fix!

Cheers,
Melanie

[2016-08-12 08:49] #1426 closed

[2016-08-12 12:58] ukemi commented on #1395
Kimberly and I have been discussing this wrt LEGO models too. I definitely think it needs to be brought up on a call or at the GOC meeting.

[2016-08-12 23:10] monicacecilia opened #1429 "PTHR11920 [Protein2GO] Notification of annotation dispute concerning protein P20594 (Dispute ID: 4533)"
NOTE: Concerns PTHR11920

Dear @pgaudet, this comes from JIRA at http://jira.geneontology.org/browse/GO-1255
If this issue has already been addressed, please update and close.
#

17/Jun/16 7:44 AM

A dispute has been raised over a GO annotation coming from your group. The details are given below. If you agree with the dispute, please amend or delete the annotation accordingly. If, however, you dis

[2016-08-12 23:12] monicacecilia opened #1430 "[UniProt-GOA] Report on disputed annotation(s) created by GO Reference Genomes"
Dear @pgaudet, this comes from JIRA at http://jira.geneontology.org/browse/GO-1251
#

14/Jun/16 5:03 PM

Hello,

We have identified that one or more annotations created either by you or a curator in your group are the subject of disputes that are yet to be resolved.
Details of the disputed annotation(s) (the entity ID, GO ID, evidence and reference) are listed at the end of this email, along with

[2016-08-12 23:22] monicacecilia commented on #1430
Dear @pgaudet ,
@RLovering  filed an additional comment about P18858 (included on the table above) back in 22/Dec/15. The issue was not addressed nor closed on JIRA (http://jira.geneontology.org/browse/GO-1074) so I am adding to this open issue for easy access.

=========
22/Dec/15 7:44 AM
A dispute has been raised over a GO annotation coming from your group. The details are given below.
If you ag

[2016-08-13 01:15] monicacecilia commented on #1430
Dear @pgaudet, this comes from an additional report filed under the same subject on 14-Jul (a month after the first report) in JIRA ticket http://jira.geneontology.org/browse/GO-1284

========
We have identified that one or more annotations created either by you or a curator in your group are the subject of disputes that are yet to be resolved.
Details of the disputed annotation(s) (the entity ID,

[2016-08-13 19:58] selewis commented on #1424
Look at https://github.com/geneontology/paint/issues/25

The primary issue has been fixed in release of PAINT 2.22 and the affected families updated

However there is something else going on as well.

Conidophore development (GO:0070787) is a child term of multicellular _organism_ development (GO:0007275). Conidophore is a fungal term (hypha development) for fruiting, spores, etc.

Someone annotat

[2016-08-15 11:16] pgaudet commented on #1429
The is a 900-member family, cannot be loaded in PAINT right now, will revisit when we can load big families.

- Pascale

[2016-08-15 14:20] pgaudet commented on #1409
NOTE: concerns  	PTHR18945 - 1500 members. Postpone fix.

[2016-08-15 14:25] pgaudet commented on #1406
PTHR42919 - not in the Google spreadsheet for PAINT tracking: https://docs.google.com/spreadsheets/d/1uHgcaXO7t9__9GuXgBibT0H-YlnU252IsRGWIyhCWN8/edit, PAINT cannot find it.

[2016-08-15 14:30] pgaudet commented on #1370
PTHR10071 > 500 members. Fix postponed.

[2016-08-15 14:33] pgaudet commented on #1357
PTHR11848: 600 member family

[2016-08-16 12:18] pgaudet commented on #1332
Hi Ruth, The PTHR ID is a note for myself - I need to know the PTHR ID to look at the issue.

[2016-08-16 12:24] pgaudet commented on #1329
Duplicate of https://github.com/geneontology/go-annotation/issues/1330

[2016-08-16 12:24] #1329 closed

[2016-08-16 12:26] pgaudet commented on #1331
Duplicate of https://github.com/geneontology/go-annotation/issues/1332

[2016-08-16 12:26] #1331 closed

[2016-08-16 12:28] pgaudet commented on #1313
PTHR24356 - 1400 members.  Fix postponed.

[2016-08-16 12:29] pgaudet commented on #866
Duplicate of https://github.com/geneontology/go-annotation/issues/944

[2016-08-16 12:30] pgaudet commented on #944
PTHR11829 - 900 members

[2016-08-16 12:40] pgaudet commented on #944
There are no more annotations to GO:0003705
sequence-specific distal enhancer binding RNA polymerase II transcription factor activity in either pombe or cerevisiae in QuickGO as of Aug 16, 2016. I am closing this issue.

[2016-08-16 12:40] #944 closed

[2016-08-16 12:44] pgaudet commented on #866
FORKHEAD BOX PROTEIN - 900 members. Fix postponed.

[2016-08-16 14:55] pedruzzi commented on #1422
working on it...

I agree with you that this enzyme most probably uses ATP for succinyl-CoA synthesis. I have to review the entire protein family though, as it has been shown that some enzymes are specific for the one or the other nucleotide (mostly in vertebrates that have 2 copies), while others can use both (some bacteria), and it is as of yet not entirely clear as to what residues/structure co

[2016-08-16 15:04] Antonialock commented on #1422
cheers Ivo :-)

[2016-08-16 17:02] selewis commented on #1332
It's true. I always end up grepping all of the PAINT gaf files to find the correct family

[2016-08-17 10:20] ValWood commented on #1422
You could cheat and move the mapping up to NTP binding :)
Val

[2016-08-18 19:42] keseler opened #1431 "IPR004596 annotation to GO:0009276"
I don't think there is any evidence that SulA is located in the cell wall; as best I can tell, it is cytoplasmic.

Thanks,
Ingrid

[2016-08-19 09:13] almitchell commented on #1431
Thanks - I've removed the term. It will be deleted from our next InterPro release.

[2016-08-21 07:56] ValWood opened #1432 "mapping to SMN complex IPR020338"
This mapping does not apply to pombe because  the  other subunits of this complex are not present.
See
https://github.com/pombase/curation/issues/1005

[2016-08-22 13:42] happy-lorna commented on #1432
Thanks for the info. I have removed this annotation from IPR020338.
Lorna.

[2016-08-24 15:00] ValWood opened #1433 "ntr: correction of merotelic kinetochore attachment, meiosis I"
def
The cell cycle process that corrects the anomalous association of a single chromatid kinetochore with mitotic spindle microtubules emanating from both spindle poles at meiosis I, and would, if uncorrected result in the separation of sister chromatids at meiosis I

Part_of
GO:0051316
attachment of spindle microtubules to kinetochore involved in meiotic chromosome segregation

PMID:21920317
Repo

[2016-08-24 15:22] ValWood commented on #1433
sigh, wrong tracker...

[2016-08-24 15:22] #1433 closed

[2016-08-24 15:22] ValWood opened #1434 "ntr: correction of merotelic kinetochore attachment, meiosis I"
def
The cell cycle process that corrects the anomalous association of a single chromatid kinetochore with mitotic spindle microtubules emanating from both spindle poles at meiosis I, and would, if uncorrected result in the separation of sister chromatids at meiosis I

Part_of
GO:0051316
attachment of spindle microtubules to kinetochore involved in meiotic chromosome segregation

PMID:21920317
Repo

[2016-08-25 08:21] ValWood commented on #1434
sigh, sigh
and again

[2016-08-25 08:21] #1434 closed

[2016-09-02 00:09] keseler opened #1435 "PTN001574578 annotation to sequence-specific DNA binding"
This family seems to contain both true DnaA proteins and others that are related to DnaA. E. coli, for example, contains a protein called Hda, which happens to also be involved in replication (inhibiting re-initiation of replication); however, it does not bind DNA specifically (PMID: 15189445 , "Whereas the DnaA and Hda proteins share structural homology (Kato & Katayama 2001), the DNA-binding dom

[2016-09-02 15:49] Antonialock opened #1436 "Interpro mapping IPR004640, protein folding"
Pombe Jac1 has an IEA IPR004640 GO_REF:0000002

I think this should be removed, I think jac1 is upstream of incorporation of the iron-sulfur cluster into apo proteins
eg
https://www.ncbi.nlm.nih.gov/pubmed/26545917

or it is the hsc20 ortholog in this diagram
![screen shot 2016-09-02 at 16 48 39](https://cloud.githubusercontent.com/assets/12727506/18209779/26ba2320-712d-11e6-854b-1ac31b94cc2f.png)

[2016-09-05 09:45] ValWood opened #1437 "SL-0081 to Cvt vesicle membrane"
Pombe doesn't have CVT pathway.
I'll link more tickets with explanation shortly.....

[2016-09-05 11:00] ValWood opened #1438 "HAMAP:MF_03045 mapping applied to SPAC2C4.07c O14040"
No miRNA in fungi.
Could this mapping be removed? I have requested a taxon check https://github.com/geneontology/go-ontology/issues/12634.

Thanks

Val

[2016-09-05 12:53] ValWood opened #1439 "Query mapping IPR000043"
adenosylhomocysteinase

S-adenosyl-L-homocysteine + H2O = adenosine + L-homocysteine.

has a mapping to
IEA IPR000043   GO_REF:0000002
    one-carbon metabolic process

looks incorrect?

[2016-09-05 13:03] ValWood opened #1440 "query mappings for IPR005294 and IPR000793"
IPR005294 and   IPR000793

have mappings to
proton-transporting ATPase activity, rotational mechanism
and
ATP hydrolysis coupled proton transport

This is not the physiological direction for the mitochondrial F1/F0 ATPase
(its acting as an ATP synthase)

(there have been quite a few similar tickets to this when  the ATP synthesis mappings have been applied to the vacuolar ATPAses)

Val

[2016-09-05 13:43] almitchell commented on #1440
Hi Val,
Can you give us more detail?
Thanks,
Alex

[2016-09-05 13:46] ValWood commented on #1440
I added a few more words ;)
 I'll link to some older tickets

[2016-09-05 14:01] ValWood commented on #1440
The older tickets are all about the V-type ATPase
https://github.com/geneontology/go-annotation/issues/479
https://github.com/geneontology/go-annotation/issues/515
https://github.com/geneontology/go-annotation/issues/581
https://github.com/geneontology/go-annotation/issues/745
https://github.com/geneontology/go-annotation/issues/581
https://github.com/geneontology/go-annotation/issues/744

It seem

[2016-09-05 14:07] almitchell commented on #1440
Thanks Val,
We will start digging into these - I suspect that a lot of our annotations will need updating.
Alex

[2016-09-05 14:49] ValWood commented on #1437
https://github.com/geneontology/go-ontology/issues/12636

[2016-09-12 16:13] keseler opened #1441 "PTHR11135 - PTN000123981 annotation transfer to bacterial proteins"
I'm not sure whether it was a "not" that wasn't working, but several eukaryotic-specific GO terms got added to an E. coli protein, YhcC (P0ADW6) via Panther. Could this be fixed?
Thanks,
Ingrid

[2016-09-14 08:52] pedruzzi commented on #1438
There was a taxon case missing on that GO term in HAMAP-rule MF_03045. I've added it now so the mapping should disappear.
taxon constraint on this GO term is a good idea, as we check these in HAMAP as well and it would have helped to identify this omission.
Thanks for reporting
-ivo

[2016-09-14 09:54] pedruzzi commented on #1428
Vma21 is an essential assembly chaperone of the vacuolar ATPase (V-ATPase), which is organized into a transmembrane (V0) and a cytoplasmic (V1) sector. V0 assembly occurs in the endoplasmic reticulum (ER), coordinated by the Vma21 chaperone. Once V0 is formed, Vma21 accompanies it on COPII vesicles to the Golgi apparatus, where V1 subunits are added to complete the V-ATPase. This has been shown in

[2016-09-14 14:37] ValWood commented on #1437
submitted to UniProt

[2016-09-14 14:39] ValWood commented on #1438
Not sure if the taxon constriant can be applied across fungi, but  that's all for  this one!

[2016-09-14 14:39] #1438 closed

[2016-09-14 14:41] ValWood commented on #1428
Sounds good

[2016-09-14 14:41] #1428 closed

[2016-09-14 14:41] ValWood commented on #1423
@Antonialock  did you send this one?

[2016-09-14 16:48] Antonialock commented on #1423
Probably? How can I check that?

[2016-09-15 12:43] Antonialock commented on #1423
I would assume I emailed them because I did for #1422 which I submitted at the same time.

[2016-09-15 13:20] pedruzzi commented on #1423
working on an update to the entire protein family in UniProt, yes. This will fix both issues. I'll comment when done
cheers
-ivo

[2016-09-18 07:02] ValWood opened #1442 "PANTHER:PTN000211803"
Hi

@pgaudet I'm doing some PAINT spot checking before we import.

http://www.pombase.org/spombe/result/SPBC27B12.09c

Is mapping to translation, but its an FAD transporter?

Val

[2016-09-18 07:04] ValWood commented on #1442
also
http://www.pombase.org/spombe/result/SPAC17H9.08

[2016-09-18 07:09] ValWood commented on #1442
quite a lot of these
http://www.pombase.org/spombe/result/SPBC29A3.11c

[2016-09-18 17:14] ValWood opened #1443 "P36626 UniProtKB:P36626 (rec8) PANTHER:PTN000286904"
pombe Rec8 Is annotated to "mitotic sister chromatid cohesion",

but rec8 is a meiotic cohesion subunit

[2016-09-18 17:28] ValWood opened #1444 "PTHR10643 - Q10198 (ndc80) problem PAINT annotations"
Challenge
PANTHER:PTN000837476
GO:0005200
structural constituent of cytoskeleton

Ndc80 is a kinetochore component , not a spindle component

PANTHER:PTN000837476
GO:0007052 mitotic spindle organization also looks suspect

and

PANTHER:PTN000837476
GO:0000132 establishment of mitotic spindle orientation

(there is a spindle orientation  checkpoint in budding yeast but this is not known to exist in

[2016-09-18 21:59] ValWood opened #1445 "PTHR12585 - PANTHER:PTN000286904 rad21 is mitotic cohesin"
Hi Pascale

rad21 is mitotic cohesin not meiotic

GO:0034991 nuclear meiotic cohesin complex
PANTHER:PTN000286904

AND
GO:0051754 meiotic sister chromatid cohesion, centromeric
P
IBA
GO_REF:0000033
PANTHER:PTN000286904

@pgaudet

[2016-09-19 07:55] ValWood commented on #1445
I want to check that the mitotic cohesin isn't used for the sister chromatid segregation of meiotic division. I don't think that is  but I'll double check. It think thar these come from mouse annotations?  I had previously spotted that  mouse  had meiotic annotations for mitotic cohesin @ukemi remember I mentioned them to you in an e-mail when we were discussing Frank's paper?

[2016-09-19 08:38] pgaudet commented on #1442
Hi Val,

This was already reported - in fact this is a problem with the automatic update - a family moved into another family and the automatic script incorrectly propagated everything in the new family. Unfortunately that touched 2000 proteins.

I deleted the annotations in the new family, so when you update the GAF from PAINT these should be gone.

Thanks, Pascale

[2016-09-19 08:38] #1442 closed

[2016-09-19 10:54] mah11 opened #1446 "issues with GO_REF:0000111 (mostly minor)"
Hi all,

I've just been alerted to the existence of GO_REF:0000111. It looks rather useful to us, but has a few little problems

Things I can fix:
- the 'abstract' tag is missing;
- there's a set of fancy single quotes;
- although its ID is GO_REF:0000111, the text contains "Use of the IC evidence code with GO_REF:0000109.

Thing I can't fix yet:
- No authors are listed.

I'm happy to do all the c

[2016-09-19 11:15] mcourtot commented on #1446
Hi Midori,

Thanks for the report. This was originally suggested by @rebeccafoulger and discussed/approved during the March 8 annotation call: http://wiki.geneontology.org/index.php/Annotation_Conf._Call_2016-03-08

We just discussed with Becky and thought authors should be the GO consortium.
I did the edit in the file itself, and if you wouldn't mind correcting the errors you pointed out that wou

[2016-09-19 15:00] mah11 commented on #1446
Thanks - all done.

m

[2016-09-19 16:31] ValWood commented on #1445
non issue, rad21 has a role in meiosis too.....

[2016-09-19 16:31] ValWood commented on #1443
This one *is* mieosis specific- it isn't a mitotic cohesin subunit.

[2016-09-19 16:44] ValWood commented on #1445
well what I was actually told was":

"some people will argue that rad21 is specific to mitosis and is not present in meiosis, others would keep an open mind"
so it isn't really conclusive. Which organism has the EXP evidence for  rad21?

[2016-09-19 17:03] ukemi commented on #1445
Hi Val. I looked at the two papers that we had annotated to the meiotic term and it looks like in the first one the antibody could detect Rad21 and Rad21l and in the second one they were really talking about Rad21l. I removed the meiotic component annotations to Rad21.

[2016-09-19 17:57] selewis commented on #1442
Pascale,

When did this happen?
And what families are involved?

Get in touch please.

-S

On Mon, Sep 19, 2016 at 1:38 AM, pgaudet <notifications@github.com> wrote:

[2016-09-20 07:49] pedruzzi commented on #1437
Removed all mention of Cvt (function/pathway/subcell) in all proteins of this family except S.cerevisiae.

[2016-09-20 13:49] asangrador commented on #1440
Hi Val,

The 'proton-transporting ATPase activity, rotational mechanism'
and 'ATP hydrolysis coupled proton transport' terms have now been deleted from these entries (changes will not be visible till our next release, release 60.0) . We will also review other ATP synthases (F1/F0 ATPases) to make sure they have the right annotation.

Cheers,
Amaia

[2016-09-20 14:07] asangrador commented on #1439
I have removed this mapping. It seems to have been added a long time ago, probably the entry changed, but the term was not deleted. Thanks.

[2016-09-30 14:59] ValWood opened #1447 "IPR017923 Transcription factor IIS, N-terminal"
Is also present in proteins which are not directly involved in transcription.

SPCC74.02c	ppn1		mRNA cleavage and polyadenylation specificity factor complex associated protein 	O74535

cheers

val

[2016-09-30 17:03] happy-lorna commented on #1447
Thanks for pointing this out. I have removed the affected GO terms and have updated the annotation. This will be visible in the next release.
cheers, Lorna.

[2016-09-30 17:04] #1447 closed

[2016-10-04 13:34] ValWood opened #1448 "F-P links enquiry"
Hi Chris,

I wonder why I am picking up
SPBC428.08c.1		GO:0016571	histone methylation		GOC

when we have an exisiting more specific experimental annotation
histone H3 K9 methylation; GOid=GO:0051567; evidence=IDA; db_xref=PMID:10949293

I thought that only non-redundant annotations were made by this pipeline?
(At least I don't see any others, is this not the case?)

Val

[2016-10-04 13:39] ValWood opened #1449 "F-P links enquiry"
Hi Chris,

I wonder why I am picking up
SPBC428.08c.1		GO:0016571	histone methylation		GOC

when we have an exisiting more specific experimental annotation
histone H3 K9 methylation; GOid=GO:0051567; evidence=IDA; db_xref=PMID:10949293

I thought that only non-redundant annotations were made by this pipeline?
(At least I don't see any others, is this not the case?)

Val

[2016-10-04 18:08] ValWood opened #1450 "sperm mobilization or fertilization?"
Might be a good topic for an annotation call

Discussion from
https://github.com/geneontology/go-ontology/issues/12695#issuecomment-250817982

Term matrix shows 74 annotations to both "sperm motility" and "fertilization"

![sperm motility matrix](https://cloud.githubusercontent.com/assets/7359272/19086418/f94cd2d2-8a65-11e6-9eea-5766312d99b7.jpg)

sperm motility should presumably not be annotated

[2016-10-04 18:10] ValWood commented on #1450
@cmungall
@ukemi

[2016-10-07 14:08] cmungall commented on #1449
Consulting the docs buried in the bowels of the code:

      * Predictions are considered
	 * redundant but not the same, if they predict the same class and
evidence
	 * code, but with different ref or other constraints

So in this case, is your prediction from a MF annotation with different
evidence/ref than the existing BP?

Not saying this is the best way of doing it, but that is how it's done

[2016-10-07 17:47] ValWood commented on #1449
OK, will close, was wondering how it worked.
This was MF to less specific term  "histone methyltransferase activity" from a different paper.

...but we block histone methylation because we can always be more specific, so I can deal with it another way....

[2016-10-07 17:47] #1449 closed

[2016-10-10 15:33] cmungall opened #1451 "Clarifications on GPI format"
From http://wiki.geneontology.org/index.php/LEGO_October_10,_2016

[code]

[2016-10-10 15:48] cmungall commented on #1451
we will continue with taxon:nnnn

[2016-10-10 15:49] cmungall commented on #1451
Yes, but label form, plus `complex`

[2016-10-13 12:54] pgaudet commented on #1445
Pascale: This is PTHR12585 - Marc and I are looking into it.

[2016-10-13 13:05] ValWood commented on #1445
I think this one is OK, see feedback above...but the other tickets about cohesin are still valid.
For Rad21 it is still not certain.

[2016-10-13 14:03] pgaudet commented on #1445
We moved the annotation to the parents (nuclear cohesin complex and sister chromatid cohesion).

Thanks !
Pascale & Marc

[2016-10-13 14:03] #1445 closed

[2016-10-13 14:13] pgaudet commented on #1443
Fixed see https://github.com/geneontology/go-annotation/issues/1445

[2016-10-13 14:14] #1443 closed

[2016-10-13 14:56] pgaudet commented on #1444
Fixed ! Removed
PANTHER:PTN000837476
GO:0007052 mitotic spindle organization also looks suspect

and

PANTHER:PTN000837476
GO:0000132 establishment of mitotic spindle orientation

The annotation to spindle as a component was already removed.

Thanks,

Pascale & Marc

[2016-10-13 14:56] #1444 closed

[2016-10-13 15:04] pgaudet commented on #1406
Hello,
In Panther11 phnO is removed from  PTHR23091 and moved to PTHR42191, so all annotations have been removed. Marc and I have annotated PTHR42191.

Thanks, Pascale

[2016-10-13 15:04] #1406 closed

[2016-10-14 07:56] mcourtot opened #1452 "Obsolete IDs in Slims - filter annotations"
In https://github.com/geneontology/go-ontology/issues/12731, @tonysawfordebi reported that a number of GO slims refer to obsolete terms.

This was discussed at a recent ontology call, http://wiki.geneontology.org/index.php/Ontology_meeting_2016-03-10. As per the minutes, editors didn't consider that having obsolete terms in slim was an issue per se, however annotations should be filtered out - the

[2016-10-15 03:27] cmungall commented on #1452
[code]

https://github.com/cmungall/obo-scripts

You may want to file a ticket on the Protege obsoletion plugin tracker
https://github.com/balhoff/obo-actions/

For a removal script, either robot or sparql may be best

On 14 Oct 2016, at 3:56, Melanie Courtot wrote:

[2016-10-17 11:03] Antonialock opened #1453 "Mapping IPR008220"
Pombe cys2 has two annotations from IPR008220
GO:0009086 methionine biosynthetic process IEA IPR008220
GO:0004414 homoserine O-acetyltransferase activity IEA IPR008220

However, the activity of cys2 is serine O-acetyltransferase activity (PMID:27558664)
and it is involved in cysteine biosynthetic process from serine

![screen shot 2016-10-17 at 11 24 35](https://cloud.githubusercontent.com/assets/

[2016-10-17 11:10] ValWood commented on #1453
Also supported by PMID: 17622533

" We also showed that in Schizosaccharomyces pombe there are two apparent homologues of Saccharomyces cerevisiae MET2: the previously known met6 (+), and SPBC106.17c (named cys2 (+)). The cys2 mutation required cysteine rather than methionine."

[2016-10-17 11:34] ValWood commented on #1453
Note that the cys2 and met6 are not "in paralogs" wrt S. cerevisiae...... S. cerevisiae does not  appear to have a cys2 ortholog, these are separate branches of this family.

[2016-10-17 12:26] ValWood opened #1454 "P23258 annotation to GO:0000086"
@deustp01

I'm transferring this one from the Protein2GO tracker, as this doesn't appear to be the best place to report these.

original ticket
"Hi, I don't think gamma tubulin has a role in G2/M transition. It seems that the Reactome pathway this is mapped from, is happening at the "same time' as the G2/M transition? but isn't the G2/2M transition (a regulatory switch converging on CDK1)"

Val

[2016-10-17 23:43] cmungall opened #1455 "No IBAs in the source FB or PomBase files"
No IBAs in the release files

[code]

no results

not in the submission file either:

[code]

Either they don't get them from PAINT, or they don't incorporate them into their DB.

[2016-10-17 23:47] cmungall commented on #1455
OK, touchup is doing the right thing. GAFs with IBAs are present here:

http://www.geneontology.org/gene-associations/submission/paint/pre-submission/

so PomBase and FB are not slurping these...

[2016-10-18 07:47] ValWood commented on #1455
nope, not yet...we are waiting for fixes:

https://github.com/geneontology/go-annotation/issues/1321
https://github.com/geneontology/go-annotation/issues/1322
https://github.com/geneontology/go-annotation/issues/1316
https://github.com/geneontology/go-annotation/issues/1315
https://github.com/geneontology/go-annotation/issues/1314
https://github.com/geneontology/go-annotation/issues/1313
https://g

[2016-10-18 09:18] hattrill commented on #1455
Hi Chris,

We are in the right in the middle of making a lovely new pipeline to incorporate external annotations including IBAs from PAINT - I am nearly there, but I "flushed" the old PAINT set we held as they were very stale.  (In the past, external annotations were updated in an ad hoc manner, but soon FlyBase will be the model of good practice "slurping and regurgitating").

[2016-10-18 12:23] pgaudet commented on #1455
Hi Val,

Marc and I have been working on disputes, we'll look at these this week.

Thanks for the reminder !

Pascale

[2016-10-18 12:35] ValWood commented on #1455
Not in a hurry, it will be a while before we have another update, so PomBase won't be able to reload for a few months (but we can evaluate again once the tickets are closed).
VAl

[2016-10-18 13:26] cmungall commented on #1455
Thanks for your responses, makes sense. cc @thomaspd

[2016-10-18 14:25] mah11 commented on #1448
duplicates #1449

[2016-10-18 14:25] #1448 closed

[2016-10-19 13:41] pgaudet commented on #1316
Annotation to GO:0005047 signal recognition particle binding was removed. Thanks!

[2016-10-19 13:46] pgaudet commented on #1315
Pombe itr2 is part of PTHR23500 in Panther11.

[2016-10-19 13:59] pgaudet commented on #1322
Very lareg family: 2800 members. Postpone this fix.

[2016-10-19 14:32] pgaudet commented on #1314
Fixed, thanks !

Pascale

[2016-10-19 14:32] #1314 closed

[2016-10-19 14:32] #1316 closed

[2016-10-19 14:59] pgaudet commented on #1313
Hi Val,

We removed the annotation to positive regulation of septation initiation, but it was citing a pombe gene. I am not sure why the primary annotation is gone.

I dont see an annotation to 'regulation of meiotic nuclear division' in the GAF. Is this a PAINT annotation ?

Thanks, Pascale

[2016-10-19 15:31] pgaudet commented on #1312
Hi Val, The evidence is in fact from SGD - CIA2 gene. Do you want to dispute that ?

The paper seemed convincing enough for the PAINT curator to propagate it (Paper: PMID:22678362)

Thanks, Pascale

[2016-10-19 15:38] pgaudet commented on #1312
Hi Val,

The chromosome segregation data is based on Drosophila galla-1 (PMID25065591) and human FAM96B (PMID:20797633). Probably due to the evolutionary span of these annotations, the curator decided to propagate the annotation.

If that seems incorrect I can remove the annotation.

Thanks, Pascale

[2016-10-19 15:41] ValWood commented on #1313
no, there is no evidence that it is regulating meiotic nuclear division, just that it functions during the meiotic cell cycle.

More recent publication implicates it in regulating autophagy, which is a "sporulation-related" process in pombe, and we have annotations for that in our pending submission file.

I suspect the septation iniitiation signalling annotation could have originated from sid2 th

[2016-10-19 15:43] ValWood commented on #1313
remember https://github.com/geneontology/go-ontology/issues/11709 ;)

[2016-10-19 15:45] ValWood commented on #1313
This looks like PAINT:

  regulation of meiotic nuclear division      GO Central  Schizosaccharomyces pombe   IBA PANTHER:PTN000683505            PAINT_REF:0024356   20150429

[2016-10-19 16:18] ValWood commented on #1312
This would quite possible have a chromosome segregation phenotype, but  so do 100's of  other proteins upstream of chromosome segregation (DNA replication, splicing etc).

- The effect on  "chromosome segregation" is proposed to be inserting iron sulfur cluster into
ERCC2 of the MMXD complex
- Pombe does not appear to have this complex. Pombe has some complex members including ERCC2 (they are also

[2016-10-20 14:39] pgaudet commented on #1322
Removed annotations manually.

[2016-10-20 15:54] pgaudet commented on #1312
Hi Val,

We removed chromosomal segregation and restricted the propagation of the complex to animals.

Thanks for the feedback,

Pascale & Marc

[2016-10-20 15:54] #1312 closed

[2016-10-20 16:13] pgaudet commented on #1321
Hi Val,

We reannotated this family and removed the protein folding annotation.

Thanks, Pascale and Marc

[2016-10-20 16:13] #1321 closed

[2016-10-20 16:19] pgaudet commented on #1441
Hi Ingrid,

Thanks for the feedback, we reviewed the annotation of this family.

Pascale

[2016-10-20 16:19] #1441 closed

[2016-10-20 17:14] ValWood commented on #1321
Did you agree with that one...I didn't think that all thioredoxins were involved in protein folding, but some are...it  didn't seem correct for these?

[2016-10-20 17:20] ValWood commented on #1445
mitotic  cohesin complex is  definitely fine, its only the meiotic which is tentative

[2016-10-21 10:59] ValWood commented on #1312
OK I wanted to follow up on this one.
A search on "MMXD" the complex only brings up  2 papers,
https://www.ncbi.nlm.nih.gov/pubmed/20797633
Mol Cell. 2010 Aug 27;39(4):632-40. doi: 10.1016/j.molcel.2010.07.029.
MMXD, a TFIIH-independent XPD-MMS19 protein complex involved in chromosome segregation.

and the later
https://www.ncbi.nlm.nih.gov/pubmed/23150669
J Biol Chem. 2012 Dec 21;287(52):43351-8.

[2016-10-21 11:07] ValWood commented on #1321
You don't need to answer this. The other ticket answers
https://github.com/geneontology/go-annotation/issues/1400

[2016-10-21 11:18] ValWood commented on #1313
This one turns out to be a bit more complicated. Apparently the same pathway operates in meiosis, and is still called "septation initiation network" although in this instance it is regulating sporulation, not septation.

This is a problem with the way we try to build signalling pathway names into GO generally....
This  particular term is built into GO as a pathway specifically regulating  mitotic

[2016-10-21 15:17] pgaudet commented on #1435
Fixed. Please let us know if you see anything else that seems odd. This family is tricky to annotate.

Pascale & Marc

[2016-10-21 19:57] tberardini commented on #1395
@cmungall, @ValWood, @ukemi , @vanaukenk: Can this still be added to the GO meeting agenda?

[2016-10-21 20:58] ukemi commented on #1395
Hi Tanya,

It's already here.

http://wiki.geneontology.org/index.php/2016_Los_Angeles_GOC_Meeting_Agenda#Annotation_Issues_-_LEGO_Annotations

I need it because it is throwing errors in out annotation checker that looks at Noctua models.

-D

[2016-10-21 21:11] tberardini commented on #1395
Thank you, David.

[2016-10-24 14:48] pedruzzi commented on #1422
Finally finished the fix for the entire family, e.g. for S.pombe, GTP-binding will be replaced by ATP-binding for UniProt release 2016_11
best
-ivo

[2016-10-25 05:56] selewis opened #1456 "PTHR10000 has lost ancestral nodes"
PTN000000001 and PTN000000002 aren't in the PTHR10000 family any longer.

They were used to annotate to:
small molecule biosynthetic process (GO:0044283)
cytoplasm (GO:0005737)
phosphatase activity
phosphoserine phosphatase activity (GO:0004647)
L-serine biosynthetic process (GO:0006564)
magnesium ion binding (GO:0000287)
and
chloroplast (GO:0009507) supported by [TAIR:locus:2027433]

Most of the

[2016-10-25 13:49] pgaudet commented on #1312
Hi Val,

I had closed this issue; does something else need to be done ? Are you disputing the primary annotations ?

Thanks, Pascale

[2016-10-25 14:49] ValWood commented on #1312
Close, I'll follow up with Antonia. If it is a problem it should drop pout of here analysis.
It does look a bit indirect for chromsome segregation to me, particularly considering the later paper.

[2016-10-25 18:12] selewis commented on #1322
I thought you were now able to open the large families. Is this still an
issue for you?

On Thu, Oct 20, 2016 at 12:59 AM, pgaudet <notifications@github.com> wrote:

[2016-10-25 18:37] pgaudet commented on #1322
Yes it's still a problem. The largest Marc and I were able to open since we
switched to PAINT 2 are about 600 members.

On Tue, Oct 25, 2016 at 8:12 PM, Suzanna Lewis <notifications@github.com>
wrote:

[2016-10-26 06:32] krchristie commented on #1322
This doesn't seem to be a problem for me.

Earlier this summer, on 5/6/16, I opened the family below in order to make some corrections brought to our attention by an MGI user:

PTHR24249
- HISTAMINE RECEPTOR-RELATED G-PROTEIN COUPLED RECEPTOR (1642 sequences)

Based on the file creation dates, I think I was probably using beta 2.18 (I save new versions of PAINT into new directories rather than ove

[2016-10-26 15:30] krchristie commented on #1322
I can also open PTHR24031. This time it was the first family I loaded into a newly launched instance of PAINT and I was at home with a fast, reliable connection. It took 7-8 minutes to load.

[2016-10-26 17:48] cmungall commented on #1322
Ouch, 30 minutes!

OK, we should be able to massively reduce this.

@selewis, does the current release version of PAINT have sufficient
logging to determine the duration of each remote call? If so, Karen can
paste the logging output in this ticket and we can take it from there.

On 25 Oct 2016, at 23:32, Karen R Christie wrote:

[2016-10-26 18:31] krchristie commented on #1322
I wasn't saying that this took 30 minutes to load, only that it loaded within 30 minutes, having taken no time points between starting it and looking at it 30 minutes later to see that it had actually loaded, in comparison to what Pascale reports that she can't load large families at all, and I selected this family because I knew I had opened it previously with a version of PAINT2.

For one I actu

[2016-10-27 08:56] marcfeuermann commented on #1322
Trying to open 24031 since more than 1h30. Still nothing. Data get lost somewhere in the Atlantic Ocean !!
It works fine for medium-sized families, so production is not jeopardized, but we cannot annotate very big families, and more importantly, we cannot correct or improve their annotation.

[2016-10-27 13:13] pgaudet commented on #1322
Hi Chris,

If there is anything you can do that would make me very happy. I managed to annotate about 10 small families this week, but I need to try to open each family about 10 times before getting one to open.

The last message on the terminal is always:
2016-10-27 15:02:55,836 INFO  (LoggingStageExecutor:103) Class Taxonomy Computation took 24382 ms
IOException Unexpected end of file from serve

[2016-10-27 14:40] ValWood opened #1457 "IPR003285 /IPR004405 mapping to nuclear-transcribed mRNA catabolic process, deadenylation-dependent decay"
for
O74718	translation release factor class II eRF3
doesn't seem correct?

val

[2016-10-27 14:42] ValWood opened #1458 "IPR000795 GTPase activity"
Does O74718 translation release factor class II eRF3
have GTPase activity?

The paper I am reading implies that its GTP binding, and regulates the GTPase activity of
erF1

see PMID:19417105 intro

val

[2016-10-27 14:54] ValWood opened #1459 "UniProtKB-KW:KW-0255 endonuclease"
This  is Q9USL5  eRF1 peptide release factor

based on what we know now I wonder if the endonuclease activity is correct ?
(It has a NOT annotation at SGD)

Do we have a Uniprot person to tag in these tickets (I forgot where the new spreadsheet is, but I can subnmit to the helpdesk)

Val

[2016-10-27 15:02] ValWood commented on #1458
Although all of the other family members appear to be GTPases. I wonder if @hdrabkin  knows?

[2016-10-27 15:10] ValWood commented on #1457
Maybe this is OK too? @hdrabkin  does the eRF1/3   release factor have a role in

GO:0070966	nuclear-transcribed mRNA catabolic process, no-go decay
GO:0070481	nuclear-transcribed mRNA catabolic process, non-stop decay

[2016-10-27 15:22] ValWood commented on #1457
Ignore, I'm annotating the wrong protein

[2016-10-27 15:22] #1457 closed

[2016-10-27 15:22] ValWood commented on #1458
Ignore, I'm annotating the wrong protein

[2016-10-27 15:22] #1458 closed

[2016-10-27 15:22] ValWood commented on #1459
Ignore, I'm annotating the wrong protein

[2016-10-27 15:22] #1459 closed

[2016-10-27 20:30] cmungall commented on #1322
@krchristie - sounds like you have a workaround (though this quite involved!)

@pgaudet and @marcfeuermann thanks for the data points and the log messages. I have asked for some more detailed logging (see #24). Unfortunately what we have now is not much to go on, but I'm going to make some guesses.

This is just the output for the elk reasoner, which is called on ontology loading. It's normally no

[2016-10-27 22:13] cmungall commented on #1322
@pgaudet  Oh I just realized you said you set the memory using `-Xmx`, in which case my hypothesis is likely false. Can you state exactly how you start up paint? The instructions say to use the `.sh` file - do you edit this in place?

[2016-10-27 22:31] cmungall commented on #1322
OK, I spoke to @selewis and she told me that "IOException Unexpected end of file from server has been returned while sending and receiving information from server" is coming from the PantherService. I check the code and this is definitely the case. Progress, we have a firm diagnosis!

We'll also add something to make the logging more informative, and to give more information on how long the servic

[2016-10-27 22:34] pgaudet commented on #1322
Hi Chris,

I use the command line to do something like Java - jar Xmx####
paint-all.jar (this is by memory,  I can check the exact command tomorrow
if you need the exact one.)

I started with Xmx2048 (as far as I recall) and went up to 16384 (by
increments of 2x each time),  with no impact on load performance.

I hope this gives you enough information to dig a little further.

Thanks,  Pascale

Le

[2016-10-27 22:36] pgaudet commented on #1322
Hi Chris,  What VPN software should I use for what tests?

Thanks,  Pascale

Le 28 oct. 2016 12:31 AM, "Chris Mungall" <notifications@github.com> a
écrit :

[2016-10-27 22:45] cmungall commented on #1322
emailed u a few suggestions

also - any correlation between family size and time taken? Can you give a few example family IDs just so we can be sure we're comparing like with like?

[2016-10-28 08:40] pgaudet commented on #1322
Hi Chris,

Several points:
1. I think family sizes matter; I cannot do anything beyond a few hundred
on good days. Here are examples of families I managed to do yesterday:
PTHR12730     72 members
PTHR31508     23 members
PTHR43556     28 members
PTHR24324     45 members
PTHR21373     73 members
PTHR38030     16 members
PTHR16091     36 members

Maybe with one exception, I had to try multiple time

[2016-10-28 08:46] pgaudet commented on #1322
Another thing:

5. (I now manged to load a family after 3 trials): teh step after the class
computation according to the terminal window output is "
 INFO  (IDmap:113) Identical Seq ID (UniProtKB:A8WVP2) for 2 different
genes: Gene:CBG03894 Gene:CBG_03894"
... could this be the step that times out ?

Thanks

Pascale

On Fri, Oct 28, 2016 at 10:40 AM, Pascale Gaudet <pgaudet1@gmail.com> wrote:

[2016-10-28 13:51] pgaudet commented on #1322
Hello again,

I seem to have found a way to get PAINT to work:
java -jar paint-all.jar -Xmx33680

This is much more memory than I thought I needed ! I also tried to double it, but I am not sure that made a difference. I cannot load 1000-members families, for example PTHR23050 crashed twice already.

Pascale

[2016-10-28 15:22] pgaudet commented on #1322
Last update for today: I was very happy to be able to annotate a few
families today. However at around 4 PM my time I started having problems
again opening families. I tested the connection again with similar results
as this morning.

Thanks,
Pascale

On Fri, Oct 28, 2016 at 10:46 AM, Pascale Gaudet <pgaudet1@gmail.com> wrote:

[2016-10-31 18:28] krchristie commented on #1322
Hey Pascale,

Do you ever check the speed/consistency of your connection? When I have issues, I often check my connection using the ping command in a terminal window. I usually ping google, but have also pinged yahoo. From where I am, I usually get 20ms - 200ms with either, and slightly faster times with google, but only by a little.

<pre>ping google.com</pre>

 If I try to use PAINT somewhere wh

[2016-10-31 20:59] cmungall commented on #1322
Note these are two separate steps.

1. "Class Taxonomy Computation took 20263" is the output from the Elk reasoner after loading the ontology. [See my comments above](https://github.com/geneontology/go-annotation/issues/1322#issuecomment-256760069). While this has nothing do with your timeouts, the fact that this step takes so long is a clue that something is up with your memory.
2. After this is

[2016-10-31 21:06] cmungall commented on #1322
@krchristie - this is helpful, thanks

I had @pgaudet do a speedtest and her connection seems fine.

It seems most likely the machine is underpowered, it's operating near it's limits when it makes the panther service call, this will increase the probability of a timeout on a 5 minute translatlantic API call.

[2016-10-31 21:50] cmungall commented on #1322
@krchristie and @marcfeuermann - how much memory do you both allocate (and how much is available on your machine - I know it's 16G for you Marc)? Do you use the startup script that is available from the releases on github?

@pgaudet can you let us know whether you are using your 4G machine or your 8G Machine each time you provide a data point?

Also, are you sure this is the command you use?

`jav

[2016-10-31 21:56] krchristie commented on #1322
@cmungall

I have 16 G memory.

I have never done anything to change the memory allocation, so I have no idea. I no longer remember how to even check this.

I generally run two copies of PAINT at the same time (and sometimes other Java apps, e.g. OBO-Edit too)

I launch command line from the terminal window with
<pre>./launchPAINT.sh</pre>

[2016-10-31 22:17] cmungall commented on #1322
OK, this is interesting. `launchPAINT.sh` from 2.24 has this:

`java -jar paint-all.jar -Xmx16384m`

The exact behavior of this may be dependent on system, but I have never seen the memory specified after the jar before. On my mac this has the effect of ignoring the memory setting, and default memory will be used. I don't know if this is the same on your mac. It may be setting the memory to 16G. O

[2016-10-31 22:20] cmungall commented on #1322
@marcfeuermann

So it sounds like it's hanging. Can you show what is that the tail of your log when you do this?

[2016-10-31 23:15] krchristie commented on #1322
I am currently using 2.25, which has this:

<pre>java -jar paint-all.jar -Xmx1600m</pre>

[2016-11-11 19:04] ValWood opened #1460 "IPR003111 mapping to GO:0004176 ATP-dependent peptidase activity"
This is the substrate binding domain, and it seems to be present in non-peptidases:

http://www.pombase.org/spombe/result/SPBC14F5.10c#translation

Do you think?

[2016-11-14 11:25] ndrawlings commented on #1460
Hi Val,

Thank you for your E-mail.  You are absolutely correct: the S. pombe sequence is lacking the peptidase domain, and this domain is substrate-binding.  I have removed the GO terms relating to proteolysis from the InterPro entry and changed the annotation to explain that this is a substrate-binding domain only and that it can occur in proteins missing the peptidase domain.

From: Val Wood [m

[2016-11-14 12:18] ValWood commented on #1460
Thanks Neil!

[2016-11-15 12:10] ValWood opened #1461 "KW-0414 FP"
based on
https://github.com/geneontology/go-ontology/issues/4584
The 5 non-filtered pombe annotations using
KW-0414
appear to be F-P, so I will add this one too our  mapping filter.

As decided at the GO meeting I'll make a list of the ones we filter.
Individual groups can then decide whether they want to make replacement annotations.

(Actually we could check that the correct ones are covered by

[2016-11-15 14:41] selewis commented on #1322
@pgaudet and @marcfeuermann
Try the scripts with v2.27 and see how that goes. You can use your existing files (though these may be older panther trees) to relieve some of the download time.

[2016-11-15 14:41] #1322 closed

[2016-11-16 12:27] RLovering opened #1462 "GO:0001948 glycoprotein binding annotations - QC problem"
Hi

as GO:0001948 glycoprotein binding is a child of GO:0097367 carbohydrate derivative binding and is no longer a child of protein binding we get error messages when we create an IPI annotation. Because the GO:0001948 glycoprotein binding (and the child terms) does not meet the reciprocal binding requirement.

Would it be possible to either add protein binding as a parent to this term, or change

[2016-11-16 14:54] ValWood commented on #1462
Glycoprotein is_a protein so glycoprotein binding should be is_a protein binding.....(and is in CHEBI)

[2016-11-16 18:30] mcourtot commented on #1462
Hi @RLovering, this is an issue linked to the use of PRO and ChEBI protein, see https://github.com/geneontology/go-ontology/issues/12580

[2016-11-18 14:48] vanaukenk opened #1463 "Working group to finalize transcription decision tree"

[2016-11-18 14:50] ukemi commented on #1463
- [ ] Redesign the flow chart to make it more linear
- [ ] Vet the flow chart with experts
- [ ] Publish the flow chart as annotation documentation

[2016-11-18 14:54] vanaukenk opened #1464 "Working group to review use of ECO codes"
Set up a working group to review and document use of ECO codes in GO annotation.

[2016-11-18 14:56] vanaukenk opened #1465 "Automated annotation alerts in response to ontology changes"
Devise a mechanism for automated alerts to be sent to curation groups for annotation changes based on ontology developments

[2016-11-18 18:17] vanaukenk opened #1466 "Using IDA and has_input for protein binding annotations"
Re-visit the idea of annotating protein binding using the IDA evidence code and the annotation extension has_input wrt better aligning conventional and LEGO annotations.

Points to consider:

1. Not all groups use annotation extensions
2. IPI annotations used as input for other tools, e.g. Cytoscape
3. Enforcing appropriate cardinality in annotation extensions for terms like protein binding, bridg

[2016-11-18 18:59] vanaukenk commented on #1464
- [ ] Automated vs Manual Assertions - review what should be explicitly stated in term names
- [ ] Combinatorial Evidence Codes - needed? if so, which ones?
- [ ] Update documentation for correct evidence code usage

[2016-11-18 19:50] vanaukenk opened #1467 "Devise SOP for using annotation matrix for QC"
Explore ways of using Val's matrix (now on AmiGO) to spot possibly problematic areas of annotation or ontology.

[2016-11-18 20:05] vanaukenk opened #1468 "Incorporate expanded list of GP-GO term relations into annotation tools and files"
To enable more expressive annotation between gene products and GO terms, and to allow for faithful representation of LEGO annotations in a GAF or GPAD output, we will add additional GP-GO term relations to annotation tools and files.

[2016-11-18 20:34] ValWood commented on #1468
It is on my to do list to update Canto with the relations which are allowed in LEGO. Can the list be posted here.  PomBase have already started to use them like this:

![directly inhibits](https://cloud.githubusercontent.com/assets/7359272/20445720/2a28ab16-adce-11e6-990a-1538912110a0.jpg)

So we  we don't need to say

![instead of](https://cloud.githubusercontent.com/assets/7359272/20445770/5a9dc

[2016-11-18 20:35] srengel commented on #1464
is the same working group that will also come up with new HTP ev.codes?

[2016-11-18 20:40] ValWood commented on #1468
srw1 is a ubiquitin ligase activator
clp1 is the phophastase which is antagonistic to cdc2 during mitotic exit

so the older statements can be inferred from the more biologically  informative replacement annotations.

I will upload   my slides to the repository shortly...its on my list...

[2016-11-18 21:07] vanaukenk commented on #1464
Hi @srengel -

From the USC meeting minutes, there was also an action item to form a working group to develop guidelines for annotating HTP papers.

It seems to me that the work of this HTP group will be informative to the ECO working group, but not necessarily completely overlapping, so I am thinking of this as two different groups right now

[2016-11-18 21:11] vanaukenk opened #1469 "Establish working group to develop guidelines for annotating papers containing High ThroughPut (HTP) experiments"
This working group will develop guidelines for curators on how to annotate results from high throughput experiments.

[2016-11-18 21:23] vanaukenk opened #1470 "Create an agenda template for the Tuesday annotation calls"
Annotation calls are now consolidated into two monthly calls, on the second and fourth Tuesdays.
Create an agenda template to make sure these calls focus on actionable items.

[2016-11-20 22:30] dosumis commented on #1468
Hi Val,

These look nice and clear.  Keen to discuss further, but are distinct use case from the new GP-GO relations:

![image](https://cloud.githubusercontent.com/assets/112839/20466735/558e16d0-af70-11e6-9159-9e08af9d7cd9.png)

[2016-11-21 14:04] mah11 commented on #1336
ping!

From a quick glance at file sizes in Jenkins vs. my local owltools runs, this hasn't changed and is therefore still a problem. Any news?

[2016-11-21 14:12] ValWood commented on #1468
yes I put this in the wrong ticket....
I thought these relations were available for extensions....

I'll migate my comments to the other ticket.
v

[2016-11-21 14:33] ValWood commented on #1468
migrated my comment to
https://github.com/geneontology/annotation_extensions/issues/70

[2016-11-22 10:35] mcourtot commented on #1462
Hi @RLovering  - @paolaroncaglia has added the missing link and things should go back to normal for annotations to glycoprotein.