[2018-07-05 21:48] ValWood commented on #2023
both have
telomerase_RNA
http://www.sequenceontology.org/browser/current_svn/term/SO:0000390
(there is only one of these)

[2018-07-06 03:42] ValWood commented on #2018
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:U3KPV4

was giving a "not found" error  last week.... now it's OK.
More weirdness.

[2018-07-06 03:44] ValWood commented on #2018
Actually

http://amigo.geneontology.org/amigo/medial_search?q=U3KPV4

Nothing found for U3KPV4. Please try again.

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:U3KPV4

Will move to Amigo tracker @kltm @cmungall

[2018-07-06 03:45] #2018 closed

[2018-07-06 03:49] Antonialock commented on #2018
@ValWood I have had this before

notice the difference in the URLs
http://amigo.geneontology.org/amigo/**medial_search**?q=U3KPV4

the "medial search" address is the problem, it comes when you enter a gene name in the search box, and instead of selecting the result from the dropdown list you hit enter

to get to the correct page you need to select the result from the dropdown.

[2018-07-06 03:55] ValWood commented on #2018
https://github.com/geneontology/amigo/issues/514

yes but you only see this if you add a space, and why would you with an ID.  You should be able to locate the entry with the ID.

[2018-07-06 07:23] pgaudet commented on #2020
@krchristie this probably works in some cases; where I put that suggestions, I thought proteines were *members* of the complex, so they should NOT be annotated to it - right ?

Thanks, Pascale

[2018-07-06 13:06] AntonPetrov commented on #2023
Indeed, as @rachhuntley suggests, unique RNAcentral identifiers are assigned to every distinct sequence, and in this case several databases have different sequences for telomerase RNA:

- [URS00004A7003_9606](http://rnacentral.org/rna/URS00004A7003/9606): Ensembl, GENCODE, LNCipedia, Rfam
- [URS00004A7003_9606](http://rnacentral.org/rna/URS00004A7003/9606): HGNC, RefSeq, ENA

You can see the overl

[2018-07-06 13:10] ValWood commented on #2023
The most practical/sensible  option seems to be to use HGNC.

[2018-07-06 13:11] ValWood commented on #2023
Then we  would be sure we were using the correct symbols.

[2018-07-06 13:14] ValWood commented on #2023
Hang on, isn't the Rfam a HMM of the conserved region and not the gene feature per se?

[2018-07-06 14:42] AntonPetrov commented on #2023
Rfam is a source of RNAcentral sequences in 2 ways:

1. Rfam itself submits genome annotations to RNAcentral
2. Some entries in other databases originate from Rfam hits. It's possible that [URS00004A7003_9606](http://rnacentral.org/rna/URS00004A7003_9606) sequence got in Ensembl, GENCODE, and LNCipedia on the basis of an Rfam match but I can't tell for sure.

On top of that, we run Rfam covariance

[2018-07-06 17:30] RLovering commented on #2023
Hi in case this helps Nancy annotated 2 TERC RNAcentral IDs because in her words: Both of the RNAcentral identifiers for TERC were annotated identically in the GO database to ensure coverage of both identifiers; URS00004A7003_9606 (mapped to NCBI GeneID 7012) and URS00004416C5_9606 (mapped Ensembl GeneID ENSG00000270141.3)

[2018-07-06 19:58] krchristie commented on #2020
I thought the annotations you were suggesting were incorrect were the proteins that are NOT part of the core complex, i.e. the 12 subunit complex. I agree that these should NOT be annotated to this term. However, if they are interacting with the core complex, then it DOES seem appropriate to annotate to the term "RNA polymerase II core binding" (GO:0000993). This is what I did for the single MGI a

[2018-07-06 20:36] ValWood commented on #2023
OK thanks @RLovering @AntonPetrov

Got it, the GO annotations come in via UCL.

So @AntonPetrov suggestion that we need to choose one ID set  to annotate to for human is correct. Other organisms will use MOD IDs, so only human will be affected in the short term (I presume?)

All other resources can propagate from GO,  as they do with protein annotation, but it isn't our job to directly annotate ev

[2018-07-06 20:52] rachhuntley commented on #2023
Not just from UCL, RNAcentral make their own IEA annotations too, and other group have used RNAcentral IDs too, including MGI and SGD.

It can also be complicated by the different ways in which Ensembl and NCBI do their gene builds. I can't remember the details, but when I was looking into annotating lncRNAs we couldn't just pick one identifier because that would mean that our annotations wouldn't

[2018-07-06 21:00] ValWood commented on #2023
@rachhuntley  that would be good.

Ensembl and NCBI should be able to propagate from   any unique ID set we decide upon (in much the same way that they do currently for proteins). We don't annotate to Ensemlb and NCBI protein IDs to make the data appear, that should happen via a pipeline, and be attributed to the annotation provider.

[2018-07-06 22:47] cmungall commented on #2023
+1

I think it would be good if curators filed a ticket on this tracker as soon as they see a duplicate. I can see the rationale for duplicating the annotations on both IDs, but in addition to the problems Val mentions, it can confound analyses, and it can make interpretation after the fact difficult (e.g. can we tell if the intention was to indicate that two spliceforms have the same function, or

[2018-07-06 22:48] cmungall commented on #2023
Re: use of HGNC. Is coverage sufficient (too lazy to check..)? If I like this option. Could be at annotation time or mapping at release time.

@tonysawfordebi / @alexsign - would it be easy to get HGNC xrefs added to ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human_rna.gz?

[2018-07-06 22:49] ValWood commented on #2023
I asked HGNC

[2018-07-07 00:33] ukemi commented on #2023
I'm pretty sure MGI uses MGI identifiers. I have asked Dmitry to confirm.

[2018-07-07 08:02] rachhuntley commented on #2023
@ukemi but the MGI IDs get mapped to RNAcentral sequences for display in QuickGO.

@ValWood  Here are the comments I got from Terence Murphy at NCBI when we were getting the miRNA annotations to appear in NCBI, I can't remember who gave the Ensembl talk, but it might be worth getting their comments too.

Dear Rachael,

We’re already in the process of adding this functionality. I’ll check where we’

[2018-07-10 13:41] alexsign commented on #2023
@cmungall we added HGNC xrefs for RNAcentral identifiers into our pipeline. It will be available in the GPI files from next release, which is in about a week time.

[2018-07-11 16:14] pgarmiri commented on #1966
All UniProt EBI annotations have been reviewed and updated accordingly. SIB curators have been contacted.

[2018-07-11 18:08] pgaudet opened #2024 "Review annotations to 'GO:0000988 transcription factor activity, protein binding' and similar children"
Hello,

From the annotation call of July 10, 2018, I propose to obsolete 'transcription factor activity, protein binding' and similar children. The list of terms is in the ontology ticket
https://github.com/geneontology/go-ontology/issues/16053

Annotations and potential replacements for many of them are here: https://docs.google.com/spreadsheets/d/1jwgpZF3paxNOHvEHQ4v_uxOFb3FjQUOnxSJpswIzyMI/edit

[2018-07-11 23:52] sabrinatoro commented on #2024
What should I do with the following annotation?
Kctd10 was shown to bind to Tbx5a (which was shown to be a transcription factor), and this binding repress the transcriptional activity of Tbx5a.
There is no report of Kctd10 binding to DNA, and no report that it is binding to RNA polymerase II basal transcription machinery.
How should Kctd10 be annotated?
Thank you!

[2018-07-12 06:59] hattrill commented on #1966
Lovely, thanks!

[2018-07-12 08:35] pgaudet commented on #2024
Hi @sabrinatoro
I would annotate to     GO:0003714  transcription corepressor activity. (Note that this term needs to be reviewed too, but I am pretty sure that Kctd10 would be correctly annotated there.)

Thanks, Pascale

[2018-07-12 12:14] pgaudet commented on #2024
NOTE: I restored  GO:0003711 transcription elongation regulator activity
which should allow to annotate some proteins in that list (See https://github.com/geneontology/go-ontology/issues/14398)

[2018-07-12 14:15] pgarmiri commented on #2024
The UniProt annotations have been reviewed and updated.

[2018-07-12 15:14] bmeldal commented on #2024
All complexes changed. All TFs with to-be-obsoleted terms now have annotations to GO:0140110 transcription regulator activity or children. However, as the term is new I doubt all TFs in the Complex Portal are annotated with this branch... I'd have to do some archaeology to fix that!

[2018-07-12 16:18] sandyl27 commented on #2024
CACAOs annotation has been updated.

[2018-07-12 16:22] sabrinatoro commented on #2024
Thank you @pgaudet.
The ZFIN annotations have been reviewed and updated.

[2018-07-12 19:55] suzialeksander commented on #2020
Hi,
Until there's a definite repeal of the "colocalizes_with", or refinement of the meaning, I think SGD is happy with this annotation as-is.  The protein annotated isn't part of the RNAP core, but is required for nuclear localization of RNAPII.  I'll try to add the complex binding if I can find a paper that supports it, but from the paper that's up for this ticket there's not enough for me to say

[2018-07-12 20:15] pgaudet commented on #2020
@suzialeksander thanks for looking into it !

Pascale

[2018-07-13 07:45] ValWood commented on #2024
I have no annotations to GO:0000988 so I must have done them in a previous round.

[2018-07-13 08:52] ValWood commented on #2020
Hi @suzialeksander , this would still be an incorrect use of colocalizes_with under the original guidelines. It was never intended to be used like this.

It will be culled anyway under this ticket
https://github.com/geneontology/go-annotation/issues/1940

If there is no evidence that the complex is bound, there should be no annotation.
(but the existing evidence used here is IPI?)

if it's role is

[2018-07-13 08:54] ValWood commented on #2020
https://www.ncbi.nlm.nih.gov/pubmed/26711263  for complex binding

[2018-07-13 11:17] ValWood opened #2025 "annotation checks from ND removal pile"
conflicting-nd-annotations-new.xlsx

- [ ]  AB | 2113913685 | Q0VCR0 | ETFR1_BOVIN | GO:0008150 | P | SWIS | ECO:0000250 (ISS) | GO_REF:0000024 | GO:0022904 | respiratory electron transport   chain

Is respiratory complex assembly, not transport

- [ ]  2114174785 | G4NDL7 | G4NDL7_MAGO7 | GO:0008150 | P | PMGG | ECO:0000270 (IEP) | PMID:16731015 | GO:0044271 | cellular nitrogen compound biosynthe

[2018-07-13 11:29] ValWood opened #2026 "Annotations for human unknowns"
- [x] CMC1		Q7Z7K0	COXM1_HUMAN	COX assembly mitochondrial protein homolog, Cmc1p
ISO  yeast Cmc1 https://www.yeastgenome.org/locus/S000001620#go

- [x] CMC2		Q9NRP2	COXM2_HUMAN	COX assembly mitochondrial protein 2 homolog
ISO yeast cmc2 mitochondrial respiratory chain complex assembly

[2018-07-13 11:29] ValWood commented on #2026
COA4		Q9NYJ1	COA4_HUMAN	Cytochrome c oxidase assembly factor 4 homolog, mitochondrial
ISO yeast COA4  mitochondrial respiratory chain complex IV assembly
https://www.yeastgenome.org/locus/S000001620

[2018-07-13 11:41] ValWood commented on #2026
- [ ]  Mitotic-spindle organizing protein 2A MZT2A      Q6P582	MZT2A_HUMAN
- [ ] Mitotic-spindle organizing protein 2B MZT2B	   Q6NZ67	MZT2B_HUMAN
check out,
https://www.ncbi.nlm.nih.gov/pubmed/20861304

gamma tubulin  complex/ microtubule nucleation

[2018-07-13 11:45] ValWood commented on #2026
- [ ]  COX6B2		Q6YFQ2	CX6B2_HUMAN	Cytochrome c oxidase subunit 6B2
@Antonialock  I don't find this in QuickGO, can you trace  why  how this gets in the list? I forget which list we are using now....

[2018-07-13 11:47] ValWood commented on #2026
- [ ] GON7		Q9BXV9	GON7_HUMAN	EKC/KEOPS complex subunit GON7
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q9BXV9

tRNA threonylcarbamoyladenosine modification
possible by ISO, IBA or IC from comples

[2018-07-13 12:01] pgaudet commented on #2024
@ValWood It's very possible that you already deleted the annotations, but in the spreadsheet you still have two proteins (PomBase:SPBC2D10.06; PomBase:SPBC2F12.11c)
Can you go in the google spreadsheet and mark those proteins as fixed ?
https://docs.google.com/spreadsheets/d/1jwgpZF3paxNOHvEHQ4v_uxOFb3FjQUOnxSJpswIzyMI/edit#gid=0

[2018-07-13 13:32] Antonialock commented on #2026
I don'tunderstand what you are asking? Could you elaborate?

It is in the list of protien coding genes by hgnc (although it is also in the uniprot reference proteome)

it is here in quickgo:
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q6YFQ2

[2018-07-13 13:35] Antonialock commented on #2026
I don't understand why it is not on this page??
https://www.ebi.ac.uk/QuickGO/searchproducts/COX6B2

[2018-07-13 16:15] tberardini commented on #2024
TAIR done.

[2018-07-13 16:28] ValWood commented on #2024
done ;)

[2018-07-13 16:38] pgarmiri commented on #2022
All UniProt annotations were created at SIB. I have contacted the relevant curators with the change required.

[2018-07-16 10:36] rachhuntley commented on #1964
All Candida annotations have now been moved to fungal biofilm matrix. Thanks Marek.

[2018-07-16 10:36] #1964 closed

[2018-07-16 11:05] rachhuntley commented on #1943
Hello all,
We would like to try to finish up the extracellular matrix project soon, and there are still quite a number of annotations that need to be reviewed.
This review should be quick to do: we have created a new term collagen-containing extracellular matrix (GO:0062023) and most, if not all, metazoan annotations to 'extracellular matrix' should be reannotated to this term. It should, therefor

[2018-07-16 15:13] vanaukenk commented on #2024
WB annotations reviewed and updated.

[2018-07-17 12:10] pgarmiri commented on #2025
Hi Val,
 I agree with you that the above IEP annotations should be "response to nitrogen starvation". In the particular case for those 7 plant fungus genes and taking into account the authors intend, it seems that these genes are expressed in response to nitrogen starvation and also during infection of the rice plant. This seems to be a physiological condition that likely allows fungi to colonize

[2018-07-17 12:18] vanaukenk commented on #2025
@pgarmiri - I made an update to the links on Friday and that is why the pages are being mis-directed.  I'll fix that right now

[2018-07-17 12:34] vanaukenk commented on #2025
Okay, all the links have been restored.  Thanks for letting me know @pgarmiri

[2018-07-17 12:55] pgarmiri commented on #2025
@vanaukenk, thanks for doing that so promptly. I was also wondering whether the context of the pages and the examples in them are up-to-date.  For example, in the IC page a protein annotated with '... transcription factor activity' gets an IC annotation to nucleus. I remember that in the Cambridge mtg, it was concluded that such an annotation would qualify an IDA annotation to nucleus. Is what I r

[2018-07-17 13:02] vanaukenk commented on #2025
I agree that we need to revisit the use of IEP/HEP.
Historically, these evidence codes have been used to provide 'hints', I think, for what processes otherwise poorly characterized gene products might be involved in.
With our new gp2term relations where we can more explicitly capture the relation between a gene product and a GO BP term, though, it is hard to imagine which relation could be used fo

[2018-07-17 14:54] pgarmiri commented on #2025
@vanaukenk , it was during the Background knowledge/author intend/‘Representing biologist’s view of biology’ of the Brainstorming Session that it was mentioned to us. It was not actually decided there but @rachhuntley  mentioned to us that it was decided at a different mtg and they have been doing this for a while.  Maybe she remembers more details? Thanks

[2018-07-17 17:50] ValWood commented on #2025
Personally, I think we should obsolete the IEP evidence code for process annotations :) We are eliminating them as soon as we can  from PomBase (only 48 to go). There isn’t much that you can infer about a process in a micro-organism from IEP alone. I can see it being more useful for multi-cellular organisms for  developmental stages etc. Maybe this is a restriction we should consider going forward

[2018-07-18 16:30] Antonialock opened #2027 "P07199 Human cenpb has no BP annotation"
human cenpb has no biological process annotation which is a bit surprising

Could someone annotating human add e.g. from https://www.cell.com/developmental-cell/abstract/S1534-5807(15)00216-6

[2018-07-18 16:51] ValWood commented on #2025
You are right, we should discuss both of these issues at the next meeting, time permitting
1) IEP evidence code
2)  response to terms for direct annotation

I notice a lot are already a lot of response to terms are blocked for direct annotation
https://github.com/geneontology/go-site/issues/699#issuecomment-405971893

I would prefer that they were only available for annotation extensions.  There i

[2018-07-18 16:52] ValWood commented on #2025
@pgaudet  I was going to add a label  for "Go meeting" but there is no such  label available for this tracker.

[2018-07-19 07:54] ValWood commented on #2027
P07199

[2018-07-19 07:54] RLovering commented on #2025
Sorry I don't understand why you are suggesting that response to terms are only allowed in annotation extensions. If these are included in annotation extensions then the GOC pipeline will make the annotation as a direct annotation. I just am not sure that in all cases it is possible to say what signaling pathway (for example) the protein is associated with. For example knock down of a gene may lea

[2018-07-19 07:58] ValWood commented on #2027
@Antonialock  could you transfer to this ticket so they are all in one place?
https://github.com/geneontology/go-annotation/issues/2026

[2018-07-19 08:00] Antonialock commented on #2026
CENPB P07199 e.g. from https://www.cell.com/developmental-cell/abstract/S1534-5807(15)00216-6

[2018-07-19 08:00] Antonialock commented on #2027
transferred #2026

[2018-07-19 08:00] #2027 closed

[2018-07-19 08:43] ValWood commented on #2025
It was a proposal, there is a ticket about it, I just can't find it... will locate later.

I think we just need to be clearer about how we are using these terms to be sure we are not just recording phenotypes in GO. We are supposed to be annotating processes....

[2018-07-20 08:59] ValWood commented on #2025
The previous discussion is here:
https://github.com/geneontology/go-ontology/issues/14303
I'm just saying the application needs to be stricter, and clearer. At present they are not useful. Over one third of mouse genes are annotated with "response to terms" and these are not on their own, informative about the process.
See:
https://www.slideshare.net/ValerieWood/go-slimming-tips-82783137

They mig

[2018-07-20 09:21] ValWood opened #2028 "human NUDT6, not a growth factor, remove TAS, reannotate"
Hydrolytic activity of human Nudt16 enzyme on dinucleotide cap analogs and short capped oligonucleotides.

Abstract
Human Nudt16 (hNudt16) is a member of the Nudix family of hydrolases, comprising enzymes catabolizing various substrates including canonical (d)NTPs, oxidized (d)NTPs, nonnucleoside polyphosphates, and capped mRNAs. Decapping activity of the Xenopus laevis (X29) Nudt16 homolog was ob

[2018-07-20 09:24] ValWood commented on #2028
There are loads of papers about this role.....

hNUDT16: a universal decapping enzyme for small nucleolar RNA and cytoplasmic mRNA.

Lu G, Zhang J, Li Y, Li Z, Zhang N, Xu X, Wang T, Guan Z, Gao GF, Yan J.

Protein Cell. 2011 Jan;2(1):64-73. doi: 10.1007/s13238-011-1009-2. Epub 2011 Feb 20.

PMID: 21337011

[2018-07-20 14:23] pgarmiri commented on #2028
Hi Val, I had a look at this. There are two different entities Q96DE0 (NUD16_HUMAN) and P53370 (NUDT6_HUMAN). The papers you suggested are for NUD16 and not NUDT6. I am trying to find some more to populate NUDT6 that does seem to have an effect on cell proliferation.

[2018-07-20 15:35] ValWood commented on #2028
Oh whoops!

[2018-07-20 15:43] ValWood commented on #2028
I wouldn't bother witha "cell proliferation " annotation, it is really only a phenotype  (i.e required for growth or division ) unless it's saying something about the expansion os a particular population of cells. I thought  we had already blocked this  for direct annotation ages ago  but apparently not @pgaudet  should we do that?

[2018-07-20 15:43] #2028 closed

[2018-07-20 15:54] krchristie commented on #2028
@ValWood - When I was an SGD curator, I agreed that 'cell proliferation' annotations were not useful for curating for S. cerevisiae. However, as a curator for mouse, this is a term we use, sometimes in conjunction with a specific cell type. I think more input form mammalian curators might be warranted before marking this term not for direct annotation.

[2018-07-20 16:15] ValWood commented on #2028
Ah OK, I thought that you always used the child terms but that might be why.

Penelope, if this was the paper:

A potential proliferative gene, NUDT6, is down-regulated by green tea catechins at the posttranscriptional level.

Sukhthankar M, Choi CK, English A, Kim JS, Baek SJ.
J Nutr Biochem. 2010 Feb;21(2):98-106. doi: 10.1016/j.jnutbio.2008.11.002. Epub 2009 Jan 20.
PMID: 19157820

I would not

[2018-07-20 16:17] krchristie commented on #2028
@ValWood - If there is a more specific term, then I will use that. However, there isn't always a more specific term, and lately we have been inclined towards using the annotation extension to provide specificity rather than asking for so many more new terms for all the specific cell types.

[2018-07-20 16:38] ValWood commented on #2028
Yes that makes sense for cell types, that must be why it isn't blocked.

In this case there should always be a cell-type specific extension.

Maybe the comment could be clearer to this effect.

Currently
"Also note that this term is intended to be used for the proliferation of cells within a multicellular organism, not for the expansion of a population of single-celled organisms."

Should be  some

[2018-07-20 17:53] ValWood opened #2029 "predatory journals and journal blacklist"
It was pointed out to me at the WB SAB that some  predatory journals are indexed BY PubMed.

I propose that we make a list of  any predatory  journals, or journals with a questionable review or absent review process and blacklist all for curation....

I came across this gem this week in my PubMed triage

Identification of Schizosaccharomyces pombe in the guts of healthy individuals and patients wi

[2018-07-20 17:57] ValWood commented on #2029
@vanaukenk  how did you say you deal with these?

[2018-07-23 11:00] pgarmiri commented on #2028
Hi Val,
The paper I based the annotation of 'negative regulation of cell proliferation' was
' The endogenous fibroblast growth factor-2 antisense gene product regulates pituitary cell growth and hormone production.'
 Asa SL , Ramyar L , Murphy PR , Li AW , Ezzat S
Molecular Endocrinology (Baltimore, Md.) [01 Apr 2001, 15(4):589-599]
(PMID:11266510)

 In the abstract the authors state: ' GFG expres

[2018-07-23 16:22] phanivg opened #2030 "adding Molecular function terms to IPR018108 and IPR002067"
The domains Mitochondrial substrate/solute carrier 'IPR018108' and Mitochondrial carrier protein 'IPR002067' are seen in many carrier proteins. All the SLC25 family members in Fly as well as many human and mouse proteins have at-least one of this domain.
It will be nice if you can check and add a molecular function term like "transmembrane transporter activity" ; GO:0022857 to these domains.

[2018-07-23 17:09] ValWood commented on #2028
OK!

[2018-07-23 18:22] ValWood opened #2031 "PTN000859004 not transmembrane transport"
![block](https://user-images.githubusercontent.com/7359272/43095457-cad95d1e-8ead-11e8-9e46-1d5a5926d46e.jpg)

[2018-07-23 18:58] vanaukenk commented on #2029
@ValWood
We don't have a mechanism in place yet at WB to deal with potentially predatory journals and/or publishers.  My recollection from the WB SAB was that people were generally relying on PubMed to be the gatekeeper, although this apparently may not be enough.
I think we could come up with criteria for papers for GO curation, i.e. must be from a peer-reviewed journal, that would help us steer

[2018-07-24 06:46] ValWood commented on #2030
For IPR018108 ugo1
https://www.yeastgenome.org/locus/YDR470C
is a carrier but apparently not a transporter as far as we know. It has a role in membrane fusion.

I think it can be added for the IPR002067 subset.

[2018-07-24 06:55] ValWood commented on #2029
Yes I think this is something we should discuss on the next QC call. I sometimes see "low quality" or "scientifically out of data and very old" papers curated quite recently for GO.

Older papers are often easy and quick to curate, so if you personal/group/institute metric is numbers of papers then there are very appealing (sometimes a couple of experiments). I reckon most  papers from this year t

[2018-07-24 09:40] phanivg commented on #2030
Got it. Make sense not to add GO:0022857 for IPR018108.

[2018-07-24 11:48] pgaudet commented on #2029
We could do the same mechanism as for papers with findings later found to be incorrect, (not yet in place) and just make a list, and filter out papers from those journals ?

[2018-07-24 12:13] pgaudet commented on #2026
@ValWood who do you propose can do this ? can your group do it in P2GO?

Thanks, Pascale

[2018-07-24 13:55] ValWood commented on #2026
Not really, no. We found these whilst writing a paper about unknowns. We wanted to check that we weren't calling unknowns incorrectly, and these are a small set of what we found. @Antonialock  is working through the rest but she only works 2.5 days. We aren't keeping up with our own curation, but we need to publish to get a chance to keep being funded. We are all part time, due to funding cuts and

[2018-07-24 14:20] ValWood commented on #2029
So the  curation tools would access these lists and ensure they were "unavaiable"?

It would be bad if curators curated from blacklisted papers (either out of data science, or blacklisted journal), and then the curation was discarded.

I don't have a feeling for  how big the problem is. We tend to find that older papers where new knowledge supercedes we know about, and we just remove the associate

[2018-07-24 16:47] RLovering commented on #2029
Hi Val
this is a very big issue you are addressing. However, I think you should appreciate that for some very well researched genes the original very old paper made the first statements about the role/activity of a protein, which may have been duplicated by another group (or not) but then no further work has been done to confirm this role. For example with receptors where once the receptor/ligand

[2018-07-24 17:47] ValWood commented on #2029
I'm not saying that we should not curate older papers. We curate all of our older papers.  Just that we should always view them in the context of more recent papers especially for well-studied proteins, which often shed light on the older results and clean up ambiguities . Older genetics papers often hint at a role which is subsequently never mentioned again (by the same authors), in more recent s

[2018-07-24 20:26] kltm opened #2032 "A question about the sources of GO_Central annotations"
Just a question, concerning some exploration around the fix for https://github.com/biolink/ontobio/issues/201

We noticed that the vast majority of GO_Central annotations are IBAs, but very infrequently, for some resources, there are like one or two that are not. As a concrete example in wormbase:

[code]

Assuming this is okay, in general, are there any rules we should think about for the structu

[2018-07-25 06:57] tonysawfordebi commented on #2032
GO_Central is primarily used as the attribution for annotations from PAINT (which is where all of the IBAs come from), but it is also used as the attribution for annotations created by GOC curators via Protein2GO (usually curators from groups who don't routinely use P2G as their primary annotation tool).

[2018-07-25 07:02] ValWood opened #2033 "PTN000081399 not 3'-phospho-5'-adenylyl sulfate transmembrane transport/er"
Our  ER
UDP-N-acetylglucosamine transmembrane transporter

is picking up this mapping:
https://www.pombase.org/gene/SPBC1734.09

[2018-07-25 07:10] ValWood opened #2034 "PTN000299690"
In higher eukaryotes this family is a likely  endomembrane acetyl A transporter. I don't know if it is a proton symporter, but I don't think this can be transferred from E.coli. It seems unlikely

[2018-07-25 09:00] asangrador commented on #2030
I have added the term to IPR002067. Thanks.

[2018-07-25 09:06] #2030 closed

[2018-07-25 10:47] pgaudet commented on #2032
Right - these two were curated by @marcfeuermann

My annotations show up the same way.

Pascale

[2018-07-25 11:49] pgarmiri commented on #2020
The  UniProt EBI annotations have been reviewed. The SIB curator has been noticed to look and remove the annotations (3 in total). The person is on holidays, so it might take some time for the changes to be made.

[2018-07-25 11:50] ValWood opened #2035 "CHCHD10"
https://www.uniprot.org/uniprot/Q8WYQ3

negative regulation of ATP citrate synthase activity
ATP biosynthetic process

Is MICOS subunit Mic14.
https://www.ncbi.nlm.nih.gov/pubmed/?term=CHCHD10+micos
When this is curated
(good reviews for the entire complex are listed here: https://github.com/geneontology/go-ontology/issues/15245

existing annotations should be reviewed seem to be indirect phenotyp

[2018-07-25 20:13] vanaukenk opened #2036 "Mapping KW-0804 and KW-0805 to transcription factors"
In reviewing a number of our C. elegans transcription factor annotations, I see that they are getting annotations to both:

'transcription, DNA-templated' GO:0006351 via KW-0804

and

'regulation of transcription, DNA-templated'  GO:0006355 via KW-0805

@pgaudet and @sylvainpoux

It seems we would only want the latter mapping from KW-0805, right?

[2018-07-25 23:40] kltm opened #2037 "Two GONUTS annotations appear to have faulty PMIDs"
In the current GONUTS source GAF, http://geneontology.org/gene-associations/submission/gene_association.gonuts.gz (2018-07-25), the following incorrected PMIDs appear:

* PMID:16166540[2]
* PMID:PMC207867

What is the proper procedure for pushing this upstream?

[2018-07-26 05:43] sylvainpoux commented on #2036
I will have to be very modest because I'm not a specialist in ontology.
I however do not see the problem in having 'Transcription' KW associated with GO:0006351; transcription, DNA-templated and 'Transcription regulation' KW associated with GO:0006355; regulation of transcription, DNA-templated

If this cause any issue, I can ask George to remove one mapping

Thanks

Sylvain

ID   Transcription.
A

[2018-07-26 08:05] pgaudet commented on #2020
@suzialeksander

I looked at the protein SGD has annotated to this term. I agree with @ValWood that this annotation is incorrect.

I think A co_localizes  with B means that A goes to where B is. In this case you are looking at a nuclear import factor, so it's not localizing to the normal DNA-directed RNA polymerase II, core complex.

In this case the term 'RNA polymerase II core binding" (GO:00009

[2018-07-26 08:24] ValWood commented on #2036
The problem here goes away  (globally) if we implement my proposal to  filter/hide all non EXP (or at lease IEA,TAS,NAS) annotations with an existing EXP annotation, AND  also less specific IEA....

[2018-07-26 08:29] ValWood commented on #2032
I wonder why we have GO:1990000 positive regulation of amyloid fibril formation?
Amyloid fibrils are abnormal. I can see you would have terms for clearance but not for regulation of formation?

[2018-07-26 08:53] ValWood commented on #2026
We can evaluate this once we have the full list, and know where the annotations can be derived. Antonia is compiling a spreadsheet.
I think most will be ISO probably type. Maybe the best way to get the best propagation from these is  if they can be  PAINTed onto PANTHER families ( or InterPRO family). Most will be 1:1 core eukaryotic conserved proteins so this should be possible.
This would likely

[2018-07-26 09:25] pgaudet commented on #2032
@ValWood This question should go in the ontology tracker. It has come up often, we should at least have a comment.

@kltm Can we close ?

[2018-07-26 09:41] pgaudet commented on #2036
Hi @sylvainpoux
We really want to make the distinction between part_of a process and part_of_regulation of the process.

Transcription factors should only get 'GO:0006355; regulation of transcription, DNA-templated'.

Can this be changed ?

Thanks, Pascale

[2018-07-26 09:43] pgaudet commented on #2024
@srengel @suzialeksander
Would it be OK if I went ahead with the obsoletion tomorrow, so that it appears in the next release ? (Otherwise further changes are more difficult).

That might mean you have annotations to obsolete terms but that should be for a short period until you get to fixing them.

Thanks, Pascale

[2018-07-26 09:58] ValWood commented on #2026
Just in a call with Antonia- we have ~3000 human 'process unknowns" that we are checking.
Most will  be ND. We will pass these to HGNC to confirm.

It seems that  around 15%/450 can be annotated (very approximate, we are still checking).

A proportion of these (around 50%) Antonia has found papers  (a mixture of human and mouse organism ), that have no GO annotation.

For others she found annotati

[2018-07-26 12:37] vanaukenk commented on #2036
@sylvainpoux @pgaudet
Thanks for taking a look at this.
As Pascale says, the issue is not with the KW2GO mappings themselves, but rather the association of TFs with both the transcription process and regulation of the transcription process.
TFs should only be associated with regulation of transcription process.
@ValWood - redundancy and display is a distinct issue and yes, should also be addressed

[2018-07-26 14:20] srengel commented on #2024
That’s ok.  I won’t be able to get to these until next week, but will get it done then.

[2018-07-26 14:23] sylvainpoux commented on #2036
@pgaudet @vanaukenk
Ok, thanks for the explanation. GOA is managing the mapping between Swiss-Prot and GO.

George (@ggeorghiou ), may I ask you to remove the mapping between GO GO:0006351; transcription, DNA-templated and the KW KW-0804 (Transcription)?

Thanks

Sylvain

[2018-07-26 14:37] hdrabkin commented on #2024
By the spreadsheet, any annotations left to mouse genes have been done by BHF-UCL or ParkinsonsUK-UCL; MGI can't do anything to those as they are dropped and re-loaded weekly.  So I'll take my name off of the assigned.

[2018-07-26 14:37] ValWood commented on #2036
From memory, there are quite a lot of GO terms that have both KW mappings. Would it be possible to identify them all and fix appropriately? I don't have a list because I filtered them historically.

[2018-07-26 15:14] vanaukenk commented on #2036
@sylvainpoux - I think the actual mapping between the KW and the GO term is fine, and may be useful in some cases, but it's the application of both KWs 'transcription' and 'regulation of transcription' to a transcription factor that is the issue.  See the keywords here for an example:
https://www.uniprot.org/uniprot/O16425

[2018-07-26 17:29] #2032 closed, assigned to nobody

[2018-07-26 20:08] ValWood commented on #2026
Yes I think PAINT would be the very best option  (see previous comment).

Once we have  the complete list (Antonia currently working flat out on
it on here pombe time, and getting a bit grumpy!).
we can  have a chat about the best way to incorporate (which will
hopefully be the least work for us).

I think she has already found a lot more good annotations for "unknowns".

Val

On 26/07/2018 20:24,

[2018-07-27 04:49] sylvainpoux commented on #2036
We have a hierarchy of keywords and KW-0805 (Transcription regulation) is the child of KW-0804 (Transcription).
For this reason, KW-0804 is always present in entries with KW-0805

[2018-07-27 07:56] ValWood commented on #2036
In general, to reduce the number of unnecessary IEA's  (dramatically in the transcription case), it would be better to change the mechanism of application of Keywords so that only the most specific keyword is applied.

[2018-07-27 08:03] tonysawfordebi commented on #2036
@sylvainpoux George is on vacation this week, but I've gone ahead and removed the mapping for KW-0804.

[2018-07-27 08:04] ValWood commented on #2036
On this entry? or generally. Based on Sylvain's comment this will be a more general issue.

[2018-07-27 08:05] ValWood commented on #2036
...and you would not want to lose the more general mapping if KW-0804  wasn't present.
(completing thought!)

[2018-07-27 08:06] tonysawfordebi commented on #2036
The mapping between KW-0804 and GO:0006351, as Sylvain requested.

[2018-07-27 08:21] rachhuntley commented on #1943
AgBase review done by Fiona McCarthy.

[2018-07-27 10:33] ValWood opened #2038 "GO:1990000 positive regulation of amyloid fibril formation"
Amyloid fibrils are abnormal (or is there any case where this is a normal process?).
I can see you would have terms for clearance but not for regulation of formation?

[2018-07-27 10:33] ValWood commented on #2032
moved query about
GO:1990000 positive regulation of amyloid fibril formation?
to
https://github.com/geneontology/go-annotation/issues/2038

[2018-07-27 14:21] pgaudet commented on #2038
@RLovering I think you have looked at these quite a bit  - what do you think ?

[2018-07-27 18:12] vanaukenk commented on #2036
"We have a hierarchy of keywords and KW-0805 (Transcription regulation) is the child of KW-0804 (Transcription).
For this reason, KW-0804 is always present in entries with KW-0805"

Thanks for the explanation @sylvainpoux
I didn't realize that this is how KW-0804 also gets connected to entries with KW-0805
In cases like this, then, the KW hierarchy seems to behave differently than GO wrt transitiv

[2018-07-29 19:05] RLovering commented on #2024
Ok BHF annotations done - Ruth

[2018-07-30 07:31] pgaudet commented on #2024
@RLovering
There were filters applied. There is 1 Parkinson's annotation to UniProtKB:P18848

Thanks, Pascale

[2018-07-30 07:44] pgaudet commented on #2036
@sylvainpoux this is indeed a problem - In GO it took us years to finally decide that you cannot be in a process *and* regulate it. Ideally the SPKW hierarchy would be the same; is this possible ?

Thanks, Pascale

[2018-07-30 08:52] RLovering commented on #2024
thanks sorted out that last one. I did try to select all in the filter option, maybe I just had slow internet
Ruth

[2018-07-30 12:13] BarbaraCzub commented on #2038
Although deposition of amyloid fibrils is associated with diseases, e.g. Alzheimer's disease, amyloid formation is a normal process. Disease occurs when the balance between amyloid formation and clearance is disrupted. (Reviewed e.g. in https://www.ncbi.nlm.nih.gov/pubmed/29654159).

[2018-07-30 12:40] ValWood commented on #2038
Ok they have a role in long term memory too!

[2018-07-30 12:58] pgaudet commented on #2037
@sandyl27 Can you please have a look ?

[2018-07-30 13:01] pgaudet opened #2039 "Review annotations to GO:2000677 regulation of transcription regulatory region DNA binding & children"
Looks like most of them could be moved to a function, either 'DNA-binding transcription factor activity' or 'transcription coregulator activity', or one of their children. These terms are:

- 'regulation of transcription regulatory region DNA binding'

- 'negative regulation of transcription regulatory region DNA binding'
- 'negative regulation of core promoter binding'
- 'negative regulation of R

[2018-07-30 14:23] pgaudet commented on #2038
@ValWood Do you have a reference ? I'd like to add a comment; this comes up often.

Thanks, Pascale

[2018-07-30 14:31] vanaukenk opened #2040 "Review annotations to GO:0090249 'regulation of cell motility involved in somitogenic axis elongation' - possible new term for annotation"
@RLovering

In https://github.com/geneontology/go-ontology/issues/15967 , we are proposing to merge 'cell motility involved in somitogenic axis elongation' into 'cell migration involved in somitogenic axis elongation' as in the context of development, migration, i.e. directed movement, is observed as opposed to just motility, i.e. movement.

There are no annotations to 'cell motility involved in s

[2018-07-30 15:19] ValWood commented on #2038
Reference is above. It didn't seem to have come up before, I searched the tracker before I opened the ticket...

[2018-07-30 15:22] ValWood commented on #2039
I haven't fixed this yet and  I want @alock to do these ones, but happy for you to obsolete and they can sit in our logs until fixed, so removing my name. We can easily rehouse.

[2018-07-30 15:49] pgaudet commented on #2038
I see that the papers cited for the parent term seem to discuss pathological fibril formation:
 PMID:16533927, GOC:cvs, PMID:21148556, GOC:sj, PMID:22817896
@BarbaraCzub Should we remove these references and replace by the other you mentioned above ?

Thanks, Pascale

[2018-07-30 16:11] BarbaraCzub commented on #2038
The reference above is a review. It covers both physiological and pathological fibrils. And it was published in April this year. So I think this will be a suitable reference for the fibril terms.

But I would keep PMID:22817896, because it describes a role of amyloids in cell death signalling.

PMID: 21148556 also looks appropriate. The abstract says: "Most amyloids are pathological, but fragments

[2018-07-30 17:33] selewis commented on #2036
@Pascale Gaudet <pgaudet1@gmail.com>  If this is true "cannot be in a
process *and *regulate it" (which I agree ought to be the case) then we
have quite a lot of these. Lists can be easily put together for different
processes, should I send these to you?

On Mon, Jul 30, 2018 at 12:44 AM pgaudet <notifications@github.com> wrote:

[2018-07-30 19:35] slaulederkind commented on #1943
RGD review is finished.  No write access to Google spreadsheet disallowed recording of changes on appropriate lines.

[2018-07-30 22:59] slaulederkind commented on #2039
RGD annotations are fixed.

[2018-07-31 07:27] Antonialock opened #2041 "lactation IEA ensembl"
CAV1 has a number of annotations made by BHF-UCL including

mammary gland development Source: BHF-UCL
mammary gland involution Source: BHF-UCL

It also has an IEA to lactation made by ensembl.

I can't see what the IEA is based on in uniprot, how is this annotation made? Judging by the BHF annotations it looks like a phenotype (ie. if your mammary glands don't develop properly you get a problem wi

[2018-07-31 08:15] pgaudet commented on #1912
@huaiyumi @mugitty
When I look in PAINT, the annotation for example for SPAC22A12.06c to GO:0046654 is a IRD.
IRD is a **do not propagate** code; perhaps the best would be NOT to export them in the PAINT GAFs ?

@thomaspd @selewis What do you think ?

Thanks, Pascale

[2018-07-31 09:52] ValWood commented on #2036
There are also exceptions where gene products are clearly regulating a process and  a part of it. I think autophagy and yeast conjugation are examples because researchers define the processes to include the signalling part.

[2018-07-31 10:18] pgaudet commented on #2041
@Antonialock You can see the original annotation and dispute that instead:
![image](https://user-images.githubusercontent.com/4782928/43453911-adf1e1ee-94bb-11e8-9a0b-cb9e2947f700.png)

In this case it come from MGI - @hdrabkin can you please have a look ?

Thanks, Pascale

[2018-07-31 15:03] bmeldal commented on #1943
complexes done (there were more than one!)

[2018-07-31 17:24] selewis commented on #1912
@pgaudet - I agree. Once you reach a branch where the annotation doesn't propagate through none of those children on that branch should have that annotation present in the GAF (though they may have other annotations)

[2018-07-31 17:36] pgaudet commented on #1912
@dustine32 this is your ticket then :)

[2018-07-31 17:36] pgaudet commented on #1912
or @huaiyumi ?

[2018-07-31 17:48] selewis opened #2042 "Doubled up IBA+EXP annotations (from Karen Christie)"
As pointed out in https://agr-jira.atlassian.net/browse/AGR-1069, the GO ribbon displays PAINT annotations that are self-referential, i.e. there is an IBA annotation for genes which have direct experimental annotations to the same term, and thus were all/part of the source info for the IBA. These are supposed to be blocked from propagation.

![image](https://user-images.githubusercontent.com/15191

[2018-07-31 18:08] pgaudet commented on #2042
@dustine32
@mugitty

[2018-07-31 19:11] pgaudet commented on #2042
In this case the IBA is self-referential, so it's not useful (and may be confusing). No IBA should have the same sequence in column 2 (object) and in column 8 (with).

@selewis @thomaspd @huaiyumi Is this correct?

[2018-07-31 19:13] selewis commented on #2042
Yep there was a discussion, but we resolved it.

And the upshot is that this change should be backed out. The 'review'
status can be determined best be determined by their usage in the "with"
field of the IBAs. No self-referential annotations should exist.

On Tue, Jul 31, 2018 at 11:24 AM dustine32 <notifications@github.com> wrote:

[2018-07-31 19:14] selewis commented on #2042
Yes, correct.

On Tue, Jul 31, 2018 at 12:13 PM pgaudet <notifications@github.com> wrote:

[2018-08-01 07:17] Antonialock commented on #2041
Thanks Pascale.

Also EZH2  https://www.uniprot.org/uniprot/Q61188
has an annotation to DNA methylation
I'm guessing this should be histone methylation?

[2018-08-02 07:27] pgaudet commented on #2041
@hdrabkin can you please review the annotation ?

[2018-08-02 07:56] pgaudet commented on #2039
@slaulederkind just curious- what did you change the annotation to ? It would be useful if you could add this to column A.

Thanks, Pascale

[2018-08-02 13:37] hdrabkin commented on #2041
The lactation annotation is being reviewed.
However, as for DNA methlylation: i'm inclined to leave it because:

PMID:24105743 paper  indicates
'increased Fas or Sfrp1 transcription following knockdown of CTCF, EZH2, BMI1, or DNMT1 in NIH 3T3/ZFP354B cells was accompanied by decreased DNA methylation (Fig. 2D; Supplemental Fig. S6D).' '

[2018-08-02 14:26] hdrabkin commented on #2041
in today's phrasing, it would be causually upstream or within.

[2018-08-02 15:03] thomaspd commented on #2019
Yes, that makes sense.  @marcfeuermann , do you have time to go in and fix this specific annotation manually in PAINT?  @mugitty, do you have time to add a check in PAINT to make sure the same annotation can only be made once, even if the qualifier is different?

[2018-08-02 17:18] mugitty commented on #2019
The paint software will not permit 2 annotations to the same node with different qualifiers. Some other process has added these.  Furthermore, the IBA annotations will only be propagated to leaf nodes not providing evidence for the annotation.

You can test by doing the following on the latest version of the software ( Paint Version 2018_06_08_1)
1. Open book PTHR24135
2. Left click on node Metozo

[2018-08-02 17:48] pgaudet commented on #2019
Hi @mugitty

Whatever is the cause if this, is also seen in Pantree:

<img width="757" alt="image" src="https://user-images.githubusercontent.com/4782928/43601158-e6986dec-968c-11e8-95a5-319c255b4c47.png">

I must say I completely dont understand the data flow, and I have been unable to pinpoint the cause of many various errors.

Thanks !

Pascale

[2018-08-02 17:51] mugitty commented on #2019
The software will not allow the curator to annotate to the same term twice.  Something in the load, etc has added the extra annotation.

[2018-08-02 18:27] pgaudet opened #2043 "PTN000167322 (PTHR22778)"
PTN000167322 (PTHR22778) has nested NOT annotations.
@huaiyumi and myself need to look into this. Should this be allowed ?

[2018-08-02 18:42] dustine32 commented on #1912
@pgaudet Yep, Huaiyu's fixed script was used to generate the PAINT GAFs that are sitting here:
ftp://ftp.pantherdb.org/downloads/paint/presubmission/

...ready to get picked up for the Aug GO release.

[2018-08-02 18:59] pgaudet commented on #2019
Looking at the PAINT family annotations with @huaiyumi
this does look like a bug. Perhaps it's not possible to that this is caused by family merges, although its not possible to do it in PAINT directly ?

In any case there is a real problem that we can also see in PAINT.

[2018-08-02 19:01] kltm commented on #1912
@dustine32 since when were these up-ish? if more than a day, the snapshot run can be checked...

[2018-08-02 19:18] pgaudet commented on #1939
Now I find the annotation in QuickGO but not in AmiGO, and not in PAINT.
@tonysawfordebi is QuickGO up to date?

[2018-08-02 19:35] dustine32 commented on #1912
@kltm The first GAFs using the new script were uploaded late Tuesday night (actually 12:18am PST so may not have made the snapshot deadline).

[2018-08-02 19:55] kltm commented on #1912
@dustine32 it should be far enough along that if it made it to the product it should be internally available:
http://skyhook.berkeleybop.org/snapshot/

Either way, we'll probably have another `snapshot` run tonight before trying for the `release` tomorrow.

[2018-08-03 07:09] tonysawfordebi commented on #1939
@pgaudet Yes, and the annotation is still in ftp://ftp.geneontology.org/pub/go/gene-associations/submission/paint/pre-submission/gene_association.paint_goa_human.gz

Have the PAINT files moved? Should we be picking them up from somewhere else?

[2018-08-03 08:38] pgaudet commented on #1939
Hi @tonysawfordebi

Looks like you are picking up the old files. The current human file is at:
ftp://ftp.pantherdb.org/downloads/paint/presubmission/gene_association.paint_human.gaf.gz,
in accordance with the info in the yaml file:
https://github.com/geneontology/go-site/blob/master/metadata/datasets/paint.yaml

(The site you mention:
ftp://ftp.geneontology.org/pub/go/gene-associations/submission/

[2018-08-03 08:43] tonysawfordebi commented on #1939
In that case, can I suggest that the files be removed from the old location and replaced with a README pointing people to the correct location?

[2018-08-03 08:45] tonysawfordebi commented on #1939
PS: was this change of location announced anywhere?

[2018-08-03 08:46] pgaudet commented on #1939
At the GOC meeting, and it's here (in some form): http://wiki.geneontology.org/index.php/Release_Pipeline

I dont think that was very clear though, what was done and what was only planned. We are trying to sort out the documentation, but at least for PAINT we could announce something.

Sorry about that.

[2018-08-03 09:04] tonysawfordebi commented on #1939
OK, I'll modify our import pipeline accordingly.

With regard to the new location, I see that the files are named like "gene_association.paint_something.gaf.gz" - isn't that a bit redundant? "paint_something.gaf.gz" would be sufficient.

Also, I do recall a discussion at the NY meeting about publishing the files in GPAD format, thus allowing more information to be captured - is that likely to be h

[2018-08-03 09:11] pgaudet commented on #1939
Hi @tonysawfordebi
1. Please wait for @cmungall @kltm or @dougli1sqrd to comment before changing the link. The preferred link might be:
http://snapshot.geneontology.org/products/annotations/paint_mgi.gaf.gz
(which is PAINT files from the link I sent, reprocessed somehow and reexported by the pipeline)

2. @huaiyumi can comment on file names but I think these were always constructed sort of like th

[2018-08-03 09:45] tonysawfordebi commented on #1939
OK

[2018-08-03 10:36] tonysawfordebi commented on #1939
Just for fun, I grabbed all of the GAFs from ftp://ftp.pantherdb.org/downloads/paint/presubmission and ran them through our checker, and this is the summary of what it found (I won't post the whole log here, as it's > 250MB):

`SUMMARY
=======

Number of lines processed: 2206254
Total number of annotations: 2206202
Number of annotations assigned by GO_Central: 2206202
Total number of problems dete

[2018-08-03 11:58] pgaudet opened #2044 "PAINT QC report"
Migrated from #1939

Citing @tonysawfordebi

Just for fun, I grabbed all of the GAFs from ftp://ftp.pantherdb.org/downloads/paint/presubmission and ran them through our checker, and this is the summary of what it found (I won't post the whole log here, as it's > 250MB):
`SUMMARY

Number of lines processed: 2206254
Total number of annotations: 2206202
Number of annotations assigned by GO_Central: 2

[2018-08-03 11:59] pgaudet commented on #1939
@tonysawfordebi I opened a new ticket.

[2018-08-03 12:01] pgaudet commented on #2044
@tonysawfordebi I have no idea what that's implemented, but isn't SO:0000185 (primary transcript) an rna ?

[2018-08-03 12:03] tonysawfordebi commented on #2044
In all honesty, I don't know. I'd need to check what it says in go-upper.obo.

[2018-08-03 12:06] tonysawfordebi commented on #2044
Just looked at http://snapshot.geneontology.org/ontology/extensions/go-upper.obo and there's no mention of SO:0000185

Maybe that's what's missing?

[2018-08-03 12:07] pgaudet commented on #2044
there's no mention of rna either!
@cmungall @kltm

[2018-08-03 13:08] tonysawfordebi commented on #2044
Another thing I've just found is that the checker is spitting out about 15K annotations that have CGD IDs in their with/from that don't conform to the id_syntax regexp in db_xrefs.yaml.

db_xrefs says that CGD IDs should match (CAL|CAF)[0-9]{7}, but what we have in the PAINT GAFs appear to match (CAL|CAF)[0-9]{10}

For example, CGD:CAL0000179664

What is the correct form of a CGD ID?

[2018-08-03 13:11] pgaudet commented on #2041
Do you capture that  ?

[2018-08-03 13:57] pgaudet commented on #2044
@dougli1sqrd where is that information already?

[2018-08-03 17:05] dougli1sqrd commented on #2044
from db_xrefs.yaml: https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml#L350
[code]
My understanding is whatever is in db_xrefs is the standard.

[2018-08-03 22:25] kltm commented on #1939
To clarify for internal people, the main annotation products of the GO are a single merged file that has gone through filtering, QC, etc--including annotations direct-from-MOD, PAINT, and (in the future) Noctua:

 http://snapshot.geneontology.org/annotations/mgi.gaf.gz

Not really publicly advertised, but for GO "internal" use, we have a several intermediate files that are available; for example,

[2018-08-06 06:53] tonysawfordebi commented on #2044
It looks like db_xrefs.yaml is out of date - I've checked the CGD GAF, and all of the identifiers conform to (CAL|CAF)[0-9]{10} (as do all the UniProt CGD xrefs).

I'll update the CGD entry.

[2018-08-06 07:39] tonysawfordebi commented on #1939
Because of the way that our import pipelines work, it is easier for us to process all of the PAINT annotations separately, rather than getting them from individual MODs' files.

Looking at http://snapshot.geneontology.org/products/annotations I see that there are several PAINT-related files for each MOD. For example, for MGI we have:

paint_mgi-prediction.gaf
paint_mgi-src.gaf.gz
paint_mgi.gaf.gz

[2018-08-06 13:38] pgaudet commented on #1708
Only 2 annotations remain (PseudoCAP). I will contact them.

[2018-08-06 18:31] RLovering commented on #2040
Hi Kimberley

please go ahead with the revisions to the ontology. I think this will be fine. FYI Varsha used IGI and IMP for the annotations because the single knockdown did have an effect:
see results section refering to fig 4: We find that depletion of XPR72 with two distinct sets of PR72 MOs causes severe developmental defects, while similar amounts of control MO show no developmental defects.

[2018-08-06 23:55] suzialeksander commented on #1969
Wow, thanks, updated.

[2018-08-07 07:38] tonysawfordebi commented on #2044
Here's an updated report, now that db_xrefs.yaml has been updated:

SUMMARY
=======

Number of lines processed: 2203905
Total number of annotations: 2203891
Number of annotations assigned by GO_Central: 2203891
Total number of problems detected: 737524
Number of annotations with error "Obsolete GO ID": 940
Number of annotations with error "Restricted GO term: gocheck_do_not_annotate": 29
Number of

[2018-08-07 08:04] pgaudet commented on #1969
thanks !

[2018-08-07 08:04] #1969 closed

[2018-08-07 08:58] pgaudet commented on #2019
Not resolved in the Aug 7-2018 PAINT files: ftp://ftp.pantherdb.org/downloads/paint/presubmission/gene_association.paint_human.gaf.gz

  UniProtKB | Q9BYB0 | SHANK3 | COLOCALIZES_WITH | GO:0005886 | PMID:21873635 | IBA | PANTHER:PTN001191878\|MGI:MGI:1930016\|MGI:MGI:3613677\|MGI:MGI:2671987\|UniProtKB:Q9Y566 | C | SH3 and multiple ankyrin repeat domains   protein 3 | UniProtKB:Q9BYB0\|PTN00251641

[2018-08-07 10:08] pgarmiri opened #2045 "Automatic reports of ND-evidenced annotations"
Opening this ticket as a platform for discussion as suggest by @vanaukenk.

Following discussions within the GOA team, it has been decided that we will implement a procedure that will run periodically and automatically delete ND-evidenced annotations from internal (P2G-using) sources when annotations with evidence codes from the following set exist to GO terms in the same GO aspect:

        ECO:0

[2018-08-07 10:55] pgaudet commented on #2045
Hi @pgarmiri

Is it possible to hold off the implementation until there has been more discussion ? That would be uch appreciated.

Thanks, Pascale

[2018-08-07 11:30] pgarmiri commented on #2045
Hi @pgaudet ,

Of course! We are not planning to implement this as yet. We would like to reach to a common agreement.

I open this ticket as Kimberly suggested, so as to have all the discussion going on in one place.

We initiated this as certain groups are already doing something similar at there databases. We also kept finding cases that had ND annotations at the same time as EXP annotations fro

[2018-08-07 14:46] pgaudet opened #2046 "Missing 'DNA binding' annotations for some transcription factors"
The 2012 transcription annotation guidelines recommended to annotate any transcription factor with
a)	A term under the DNA binding branch by EXP
b)	A term under the regulation of transcription (BP) by EXP
c)	A term under transcription factor by IC with the a and b annotations.

While working on https://github.com/geneontology/go-ontology/issues/16152, I found 126 proteins annotated to 'GO:0000981

[2018-08-07 16:24] BarbaraCzub opened #2047 "(regulation of) cell-cell adhesion - what relations to use to indicate cell types?"
### Background

We've recently been facing the issue of not knowing what (annotation extension) relations to use between 'cell-cell adhesion' GO terms (and its descendants) and cell type CL ontology terms.

We've been discussing this issue at UCL (cc @RLovering @rachhuntley) and with the Orchard Protein Function Content team at EMBL-EBI (cc @pgarmiri) and below is a summary of our conclusions, sug

[2018-08-07 17:54] ValWood commented on #2046
for example SPAC1142.08 has ISM from   alignments in
https://www.sciencedirect.com/science/article/pii/S0378111904007929?via%3Dihub#fig1
This is the best evidence for this TF at present, but everyone *knows* its a TF...

I removed from
SPCC18.03 so I will update the spreadsheet for this one.

[2018-08-07 18:41] selewis commented on #2044
@pgaudet @huaiyumi @dustine32 As requested on the annotation call last week here are the checks the PAINT previously did, but have been dropped (based on Tony's v. useful report, which mirrors the check that used to be in place). These should be in both PAINT itself, for realtime feedback to the curators, and in the export function (touchup) to catch those annotations that have gone stale. (note,

[2018-08-07 19:31] pgaudet commented on #2046
I did not include ISS and descendants, nor IEAs. (I figured that if there was an EXP/IC to GO:0000981 DNA-binding transcription factor activity, RNA polymerase II-specific' or children, there could have been an EXP/IC to the DNA binding term. Maybe that reasoning wasn't correct ?

[2018-08-07 19:48] ValWood commented on #2046
If we know something is a transcription factor, sometimes the experiments only show transcription but we only have 90 and it's universally accepted among the pombe community that these are all bona fida TFs (these   are the ones which belong to protein families which are exclusively transcription factors

- transcription factor, zf-fungal binuclear cluster type
-  forkhead TFs
-  CBF1/Su(H)/LAG-1

[2018-08-07 20:47] pgaudet commented on #2019
'Source ticket: https://github.com/pantherdb/fullgo_paint_update/issues/8

[2018-08-08 07:09] pgaudet commented on #2046
Hi @ValWood

For me it's OK to use these terms even without direct evidence for DNA binding. That data can be captured when it's available. The reason I opened the present ticket is that some people felt they may loose information if the terms are merged as suggested in https://github.com/geneontology/go-ontology/issues/16152. What I understand is that for you it's not the case. Right ?

Thanks, P

[2018-08-08 08:03] pgaudet commented on #2046
@bmeldal There is IDA for which activity ?
(as I said, for me the merge has no impact, but people were concerned that this would lead to loss of information - in these two cases it seems like it dosen't).

Pascale

[2018-08-08 08:09] bmeldal commented on #2046
GO:0001077 RNA polymerase II core promoter proximal region sequence-specific DNA binding transcription factor activity involved in positive regulation of transcription

At least that's what I curated 2 years ago.

And yes, they both seems to be referring to DNA binding properties - it always confuses me but if terms are in different branches I add them separately. So yes, the merge sounds like a g

[2018-08-08 08:12] tonysawfordebi commented on #2044
Here's a final (for now, at least) report, now that I've eliminated most of the "unmapped identifier" errors.

SUMMARY
=======

Number of lines processed: 2203905
Total number of annotations: 2203891
Number of annotations assigned by GO_Central: 2203891
Total number of problems detected: 431268
Number of annotations with error "Obsolete GO ID": 940
Number of annotations with error "Restricted GO t

[2018-08-08 08:25] pgaudet commented on #2046
GO:0001077 RNA polymerase II core promoter proximal region sequence-specific DNA binding transcription factor activity involved in positive regulation of transcription
- refers to the tx branch
- label has been simplified to 'proximal promoter DNA-binding transcription activator activity, RNA polymerase II-specific'
- this is one of the terms I am planning to merge. So if you have additional evide

[2018-08-08 08:36] pgaudet commented on #2044
Thanks @tonysawfordebi
Can you give an example of annotations with invalid with/from components?

[2018-08-08 08:40] tonysawfordebi commented on #2044
Here are a couple:

Line 3:	ERROR	With/from contains one or more invalid components	[[ECO:0000318 (IBA)] [TAIR:locus:2087168]]
3> UniProtKB	Q9H310	enables	GO:0008519	PMID:21873635	ECO:0000318	MGI:MGI:1888517|MGI:MGI:1927379|PANTHER:PTN000198157|RGD:727859|TAIR:locus:2087168|TAIR:locus:2087173|TAIR:locus:2117758|TAIR:locus:2140877|UniProtKB:Q02094|UniProtKB:Q4VUI0|UniProtKB:Q9H310|UniProtKB:Q9UBD6

[2018-08-08 08:49] ValWood commented on #2045
the simple solution in this case is to train all curators to delete the ND annotation  when they make an experimental annotation....then everything would work just fine...

[2018-08-08 09:00] pgarmiri commented on #2045
Hi @ValWood , yes, that could work (and in most cases it does work already) if the ND annotations is from the same group that adds the experimental annotations. Otherwise, if the ND was added from a different group, curators can't edit / delete them.

[2018-08-08 10:15] ValWood commented on #2046
Yes, I have been talking about this a lot with @pgaudet  recently. It leads to lots of inconsistent annotation...We should two different terms to describe   a single activity ( or process).

[2018-08-08 10:27] pgaudet commented on #2045
Or people should at least take the habit a raising a dispute in those cases.

[2018-08-08 10:34] pgaudet commented on #2046
@ValWood

or should not ?

[2018-08-08 10:43] ValWood commented on #2046
shouldn't need...updated comment.

[2018-08-08 11:30] RLovering commented on #2045
I would be happy with automatic deletion as this would ensure a consistent approach to the application of ND was applied. However, I am still not convinced that 'protein binding' as an annotation is sufficient to justify removal of the MF ND annotation and would therefore appreciate it if a full discussion could be held to ensure an agreed approach.

Ruth

[2018-08-08 12:07] tonysawfordebi commented on #2045
@ValWood We can't automatically delete ND annotations from external (non-P2G-using) groups, because we do a complete refresh of annotations from all such groups every night; the ND annotations would have to be removed at source in order to ensure that they stay deleted.

Also it's no longer possible to dispute annotations from external groups within P2G; we removed that functionality some time ago

[2018-08-08 12:10] ValWood commented on #2045
I'm not advocating automatic deletion. I'm saying that the constraint that only the group who made the  annotation  in protein2GO can remove it should be lifted.
Any curator should be able to delete an ND annotation from anywhere else. You have to admit that this makes sense ;)

[2018-08-08 12:11] pgaudet commented on #2045
@tonysawfordebi People should use GH for the disputes they cannot do in P2GO.

[2018-08-08 12:15] tonysawfordebi commented on #2045
@ValWood What I'm saying is that if the annotation comes from an external group, then even if we relaxed the restriction in P2G and allowed anybody to delete it, that would actually serve no purpose because it hasn't been deleted in the source database, and would therefore reappear the next time the annotations from that group were imported. Unless we massively re-engineered the import pipeline, w

[2018-08-08 12:20] bmeldal commented on #2046
Thanks, Pascale. I looked at the term but didn't see that the name had been changed - the new one makes more sense as it's the Tx term. We can't pick up name changes (we get the syntax error list from Tony/Aleks so do update do-not-annotate and obsolete terms - if I missed them on here) but that check doesn't check for names.

As for the specific annotation, I had another look as something didn't

[2018-08-08 13:28] ValWood commented on #2045
Ah OK, but for the majority the databases are using Protein2GO, or they are no longer annotating (JCVI TIGR). For those no longer annotating, at the moment the QC group has jurisdiction over these  annotation, but if others in the group  agree I see no reason why this could not extend to *everyone* for the removal of ND.

For  all  annotating groups, but especially for  groups who are active AspGD

[2018-08-08 13:30] tonysawfordebi commented on #2045
Yes; these things need to be removed at source.

[2018-08-08 17:04] selewis commented on #2045
They be removed as one of the pipeline QC checks. @Eric Douglass
<edouglass@lbl.gov> or @Seth Carbon <sjcarbon@lbl.gov>  could do this.
They're plainly contradictory (how can there be both No Data, and a
data-ful annotation beneath it. They shouldn't be allowed into the
repository of annotations.

On Wed, Aug 8, 2018 at 6:30 AM Tony Sawford <notifications@github.com>
wrote:

[2018-08-08 17:09] selewis commented on #2044
@Seth Carbon <sjcarbon@lbl.gov> or @Huaiyu Mi <huaiyumi@usc.edu> or @Eric
Douglass <dougli1sqrd@gmail.com> or Dustin  would you look and see if these
errors are present in the export. Just want to figure out where these odd
'with' values are arising.

On Wed, Aug 8, 2018 at 1:40 AM Tony Sawford <notifications@github.com>
wrote:

[2018-08-08 17:09] ValWood commented on #2045
Hi Suzi,

I think initially an alert would be good for this based on all of the discussion.

I can see a situation where PomBAse makes an ND but a mapping appears which might be incorrect, or very high level.   PomBase do not use high level terms that are uninformative about the process, mapping pipelines might. If we have the opportunity to remove the annotation manually based on the GO logs we w

[2018-08-08 17:42] selewis commented on #2045
Agreed, keep notification at the alert level (at least for now, we can always revisit). Put this in the pipeline as a QC rule - @dougli1sqrd I can talk to you about it to explain exactly what is needed. I'll add a ticket on your tracker.

[2018-08-08 17:52] kltm commented on #2045
@selewis Could you remove our email addresses and untag random people from this ticket?
https://github.com/geneontology/go-annotation/issues/2045#issuecomment-411479767

[2018-08-08 17:54] selewis commented on #2045
done, hadn't realized gmail would do that, quite annoying.

[2018-08-08 18:36] kltm commented on #2044
Fixing comment for @selewis:
@kltm @huaiyumi @dougli1sqrd @dustine23
would you look and see if these errors are present in the export. Just want to figure out where these odd 'with' values are arising.

[2018-08-08 18:42] selewis commented on #2044
Sorry about that, of course I wouldn't do that intentionally (not that dumb) but it wasn't at all obvious that gmail was doing this behind the scenes.

[2018-08-09 05:31] ValWood opened #2048 "InterPro:IPR011442"
regulation of DNA-binding transcription factor activity
isn't quite right for taf6 SAGA complex/transcription factor TFIID complex histone H4-like subunit

For more background see
https://github.com/geneontology/go-ontology/issues/16214

safe mappings  for the family, probably"

RNA polymerase II general transcription initiation factor activity
transcription initiation from RNA polymerase II promo

[2018-08-09 07:25] tonysawfordebi commented on #2044
It may be that the problem is not with the with/from values per se, but with the metadata rules that drive the validation process.

Here's what I wrote in an off-line conversation with @pgaudet about this:

The rules for what constitutes a valid with/from for any evidence code are defined in https://github.com/geneontology/go-site/blob/master/metadata/eco-usage-constraints.yaml

The entry for ECO:

[2018-08-09 23:56] kltm commented on #1873
Moved to implementation ticket here: https://github.com/geneontology/go-site/issues/758

[2018-08-10 07:18] pgaudet commented on #1873
We should leave this ticket open as it provides nice examples to do QC.

[2018-08-10 13:51] ValWood commented on #2026
No action, pending @Antonialock 's spreadsheet.
@Antonialock  can you check these are covered.

[2018-08-10 13:52] ValWood commented on #1948
Out of date.

[2018-08-10 13:52] #1948 closed

[2018-08-10 13:53] ValWood commented on #1928
What is the current status of taxon checks? Are they all running now? Is this ticket still required?

[2018-08-10 13:54] Antonialock commented on #2026
yeah

On Fri, Aug 10, 2018 at 2:51 PM, Val Wood <notifications@github.com> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase.org
Department of Genetics, Evolution and Environment,
The Darwin Building,
University College London
London WC1E 6BT, UK

[2018-08-10 13:54] ValWood commented on #1928
duplicate of  geneontology/go-site#670
but  if taxon check not implemented, ho long will they take?

[2018-08-10 13:55] pgaudet commented on #1928
There are reports for taxon rules violations in the 'reports' files but I am not sure they are correctly implemented, see https://github.com/geneontology/go-site/issues/734

Pascale

[2018-08-10 14:26] ValWood commented on #2026
OK, I think they are mainly things characterized in yeasts that have been overlooked. Most TFs get annotated by some means, they don't usually have no process at all...
Have you come across any TF's yet Antonia? I did not see any on my original scan through

[2018-08-10 14:30] kltm commented on #1873
@pgaudet If they are to be implemented, they should go with the ticket; if they are documentation, the wiki may be a more appropriate place.

[2018-08-13 10:28] hattrill opened #2049 "PAINT:circular transfer of annotations"
D.mel grh, FBgn0259211
(P13002/grainy head)
http://amigo.geneontology.org/amigo/gene_product/FB:FBgn0259211

Has IBA-evidenced annotations derived from itself (FB:FBgn0259211)

P13002/grainy head/FBgn0259211

As does Grhl1, MGI:2182540
http://amigo.geneontology.org/amigo/gene_product/MGI:MGI:2182540

PANTHER:PTN000867451
PANTHER:PTN000112980

Although the date stamp is: 20170228, this seems recent

[2018-08-13 10:29] hattrill commented on #2049
Tagging @ukemi as MGI gene in example.

[2018-08-13 12:27] hattrill commented on #2049
Can I ask how long it has been there?

 I think that perhaps we haven't seen this before as Protein2GO may have been screening this out of the files that we pick up....or I could be barking up the wrong tree!

[2018-08-13 12:30] pgaudet opened #2050 "IPR003538 and GO:0031992 energy transducer activity"
Is it correct that IPR003538 is annotated to GO:0031992 energy transducer activity? Seems odd to me.

Thanks, Pascale

[2018-08-13 15:59] vanaukenk commented on #2047
For reference:  https://github.com/oborel/obo-relations/issues/244
This ticket discusses the meaning, and use, of different types of participant relations and I think is relevant to our discussion here.

[2018-08-13 17:56] pgaudet opened #2051 "Review annotations to 'GO:0045026 plasma membrane fusion'"
While working on this ontology ticket:
https://github.com/geneontology/go-ontology/issues/15939

We noticed that annotations to this term could be more precise, and in some cases seem incorrect:

https://docs.google.com/spreadsheets/d/1YabtRE8xGp-mqpXItOYZNjT6M6WiS_GnL95gs_rre3Q/edit#gid=0

Groups | Number annotations
-- | --
CAFA | 1
MGI | 4
UniProt | 19
WB | 8

[2018-08-13 19:18] vanaukenk commented on #2051
I've reviewed the C. elegans annotations:
The annotations to eff-1 could be changed to cell-cell fusion when that term becomes available.
The annotation to acn-1 was kept but given a new gp2term relation of 'acts upstream of or within, positive effect'.  C. elegans ACN-1 lacks some of the key residues required for ACE activity and has some additional structural features that leave open the possibi

[2018-08-13 19:52] pgaudet commented on #1818
@ukemi Looks like all annotations have been checked. (I can close the ticket and edit the spreadsheet to mark it DONE but I though it would be better if you checked.)

Thanks, Pascale

[2018-08-13 19:53] pgaudet opened #2052 "Review annotations to regulation of glucose import in response to insulin stimulus"
Most of them can be moved to either

    GO:0008286 insulin receptor signaling pathway
    GO:0046626 regulation of insulin receptor signaling pathway
    GO:0042593 glucose homeostasis
    GO:0001678 cellular glucose homeostasis

Contributor   (Assigned by) | Number annotations
-- | --
AgBase | 4
MGI | 8
RGD | 5
UniProt | 9

https://docs.google.com/spreadsheets/d/1C7Y1KucIrPzVRm_L44_mQ-6sp0EM6WjH

[2018-08-13 20:24] pgaudet opened #2053 "Review annotations to GO:0000920 cell separation after cytokinesis"
Hello,

'cell separation after cytokinesis' only occurs in organisms with cell walls (see https://github.com/geneontology/go-ontology/issues/16238).

For other organisms, the term to use is 'GO:0061952  midbody abscission'
(suggestions for synonyms are welcome! since this term was never found)

Group | Number of annotations
-- | --
AgBase | 1
ComplexPortal | 2
dictyBase | 8
FlyBase | 2
UniProt | 1

[2018-08-14 08:13] hattrill commented on #2053
Done.

[2018-08-14 09:41] ggeorghiou commented on #2051
UniProt and CAFA are done.

[2018-08-14 09:44] asangrador commented on #2050
I think it is based in the fact that it couples cytoplasmic membrane electrochemical potential to  transport, see paper : 'TonB protein appears to transduce energy by shuttling between the cytoplasmic membrane and the outer membrane in Escherichia coli' (PMID:9159515).  May be this is not the meaning it is supposed to have in GO? Description in GO: The biological transducer activity that accepts e

[2018-08-14 09:48] pgaudet commented on #2050
Right, I do't think this is much used like this - This is the first time I see a transporter annotated like this. Can you check if there are other cases?

[2018-08-14 09:55] ggeorghiou commented on #2053
UniProt (EBI) has changed their annotations. @sylvainpoux can you have a look at the ones from SIB?

[2018-08-14 09:55] bmeldal commented on #2053
Done (there were a few more).

[2018-08-14 09:58] asangrador commented on #2048
I agree, 'regulation of DNA-binding transcription factor activity', is not right for this protein. I have changed following your suggestions.

[2018-08-14 10:02] #2048 closed

[2018-08-14 10:33] asangrador commented on #2050
I have removed the term for IPR003538. I have checked and we do not have more cases of this term in InterPro. For IPR003538, probably we used the term after Uniprot annotation for E. coli protein P02929 (https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=P02929).

[2018-08-14 11:34] ukemi commented on #1818
You are right. It looks like they have all been addressed.

[2018-08-14 11:43] pgaudet opened #2054 "Review annotations to GO:0031992 energy transducer activity"
Hello,

EcoCyc has 4 proteins annotated to GO:0031992 energy transducer activity. The annotations are to an ABC-transporter, a function that is "energy dependent", but not energy "transducing" (ie, the energy is not converted from one form to another).

See PMC4420915 "In the case of the ferrichrome receptor FhuA of Escherichia coli, binding induces unwinding of a short α-helix, resulting in a dis

[2018-08-14 11:44] pgaudet commented on #2050
Thanks. A created another ticket to ask the EcoCyc annotations to be reviewed.

[2018-08-14 12:03] BarbaraCzub commented on #2047
Hi @vanaukenk is there a 'discussion' label I could use to 'tag' this ticket for discussion during an annotation call? Or perhaps this could be scheduled to be discussed during a specific call? (cc @RLovering @rachhuntley @pgarmiri).

[2018-08-14 14:18] pgaudet commented on #2036
@sylvainpoux : "The easiest solution is to remove the KW mappings to GO for KW-0804 and KW-0805"

[2018-08-14 14:25] pgaudet commented on #2036
@ggeorghiou I think in fact KW-0805 is the one that should have been deleted, since it inherits its 'transcription parent' - did I get this the wrong way around ?

[2018-08-14 14:26] pgaudet commented on #2036
Action : @vanaukenk to somehow get the answer to Check whether SPKW mappings still provide information that we dont have from other sources (InterPro, PAINT)

[2018-08-14 14:27] ggeorghiou commented on #2036
Tony deleted KW-0804 mapping when I was on holiday, I can restore it if need be,

[2018-08-14 16:31] hattrill commented on #2042
Today's discussion on the call has left me confused. It seems like these redundant annotations are intentional and here to stay.
Is this the plan?

[2018-08-14 18:06] selewis commented on #2042
That's what @thomaspd is arguing for, the rationale being that the additional annotation from PAINT provides an added level of confidence. I can understand that. But given that rationale, then we really should be considering this more broadly. If more generally the idea is to indicate whenever, however the ascribing of a given function/process/location to a given gene product has been reviewed and

[2018-08-14 18:28] dustine32 commented on #2044
Thanks @tonysawfordebi for the fantastic explanation! I'm looking into who can/should update the metadata files for the TAIR IDs.

For the 653 invalid WB with/from values, do you have a few examples?

[2018-08-14 19:46] RLovering commented on #1720
UCL annotations updated where possible

[2018-08-14 20:27] pgaudet commented on #2044
@selewis
From the rules you mention above, I think this may lead to confusion:

Now that we do monthly releases in AmiGO, using the most up to date ontology for generating PAINT GAFs may result in differences (for example, an obsolete GO term that is not obsolete yet in AmiGO). Ideally the same versions should be used. What do you think ?

[2018-08-14 20:32] LiNiMGI commented on #2051
MGI done. Waiting for the new term to update our GO EI.

[2018-08-15 01:56] amandamackie commented on #2054
Hi Pascale,

Ingrid passed this query on to me.

The proteins referenced are ExbB (P0ABU7), ExbD (P0ABV2) and TonB (P02929/EG11012). In gram negs, these proteins form a complex (the ‘Ton complex’) which is located in the inner membrane and extends across the periplasm to connect with outer membrane channels. The purpose of the complex is to transduce the energy of the proton motive force from the

[2018-08-15 09:11] pgaudet commented on #2054
Thank you Amanda, this is very useful. I got mislead thinking it's an ABC transporter based on this figure:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/4782928/44140867-b4c86652-a07b-11e8-9678-1e428f6fd3e0.png">

I'll close this. Thanks, Pascale

[2018-08-15 09:11] #2054 closed

[2018-08-15 10:35] ValWood opened #2055 "Annotations from PAINT have with fields whcih are challenging for display on gene pages"
PomBase	SPAC110.01	ppk1		GO:0006468	PMID:21873635	IBA	FB:FBgn0025625|MGI:MGI:104754|MGI:MGI:106924|MGI:MGI:1336173|MGI:MGI:1347559|MGI:MGI:1923020|MGI:MGI:2445031|MGI:MGI:2685946|PANTHER:PTN000678822|PomBase:SPAC57A10.02|PomBase:SPAC644.06c|PomBase:SPBC19C2.05|PomBase:SPBC4F6.06|PomBase:SPCC1020.10|PomBase:SPCC297.03|
PomBase:SPCC74.03c|RGD:1359167|RGD:1563268|RGD:1566256|RGD:3387|RGD:620893|RGD:6

[2018-08-15 11:11] pgaudet commented on #2055
This is again a problem of 'convenience': when the sequences were not there, I think some people requested them, and of course in some case it's a bit much.

I guess the question is: Is it easier to
a) write a script to get them from (well, I don't exactly know where you'd get them, the unprocessed PAINT GAFs used to have them, I don't remember whether we have the IBD or not anymore)
b) exclude an

[2018-08-15 11:15] pgaudet commented on #2042
I've added this to the Montreal meeting agenda
http://wiki.geneontology.org/index.php/2018_Montreal_GOC_Meeting_Agenda

It could be a great topic for a break group.

[2018-08-15 11:45] pgaudet commented on #2051
The new term is now in the ontology - it should be available for annotation soon.

Thanks, Pascale

[2018-08-15 11:47] pgaudet commented on #2055
It's not a Panther ID, it's a Panther *node* ID:
PANTHER:PTN000678822

True that it could be first in the list
@dustine32 Can you do this ?

[2018-08-15 16:03] srengel commented on #2042
i don't support this idea that the circular annotations provide more info.  they are circular!

[2018-08-15 16:34] dustine32 commented on #2055
@pgaudet Sure! It likely can be controlled in the [fullgo_paint_update](https://github.com/pantherdb/fullgo_paint_update) pipeline GAF creation script. I'll open up a ticket there and talk with @huaiyumi since he usually makes updates to this script.

[2018-08-15 16:36] pgaudet commented on #2055
great, thanks !

[2018-08-15 16:53] thomaspd commented on #2042
They're never completely circular.  There is always additional curation that was done to produce any IBA annotation: 1) the experimental annotation was reviewed again, 2) the evolution of related sequences was reviewed and the annotated function was deemed to have been conserved, and 3) other annotations for related sequences were found to have been consistent with the annotated function.  The wit

[2018-08-15 18:30] selewis commented on #2055
@dustine32 - Actually, hold on please. In some cases we do want to know all of the experimental annotations in the 'with's that were the basis for the ancestral protein annotation (the PTN# with the IBD). For example the Alliance people want this and anyone who wants to know the original basis for the inherited annotation. If you delete this from the full GO people are blind as to the original sou

[2018-08-15 18:36] selewis commented on #2055
@dustine32 We actually had the opposite problem earlier, when this information was not included (and like I said, there is no way of figuring it out without the trees). See https://github.com/geneontology/go-site/issues/614 . Don't move us backwards on this.

[2018-08-15 18:47] dustine32 commented on #2055
@selewis Ok, so don't touch the raw GAFs but instead let amigo and other UI's decide on ordering when displaying the with column?

[2018-08-15 18:50] pgaudet commented on #2055
Right ! I was only proposing to put the PTN ID first in the GAF, to make it easier to read.

[2018-08-15 18:54] dustine32 commented on #2055
@pgaudet So *do* touch the raw GAFs?

[2018-08-15 18:57] selewis commented on #2055
@pgaudet - no. GAFs are fine. The PTN id is already the first one listed (at least in all the GAFs I've looked at, but perhaps a script to check that this is indeed universally true wouldn't hurt)

[2018-08-15 19:42] dustine32 commented on #2055
@pgaudet So @selewis is right about PTN's being first for the GAFs that we submit:
[code]
Checking the merged pombase GAF:
[code]
Just scanned all lines of the PAINT GAFs submitted and this still held true. So there might be some jumbling around of this column in the GO pipeline.

[2018-08-15 20:38] ValWood commented on #2055
That's OK we will just display the PTN.  I thought there wasn't one here. I scanned the row a few times and missed it. I guess it doesn't really need to be first, we can locate it...

[2018-08-15 23:02] selewis commented on #2055
@dustine32 - how odd that the pipeline that the pipeline is rearranging it. I'll look into it and post a separate issue there if need be.

@kltm , @cmungall , @dougli1sqrd - any idea why these lines in the GAFs are being rewritten?

[2018-08-16 06:47] hattrill commented on #2042
We also filter out redundant IEAs. We feel the same way about IEAs as we do IBAs -for us they are useful gap-fillers. We haven't added a filter for IBAs though as dev time is somewhat limited and it can't just be bolted on to the IEA filter.

I do feel like this could be a good method of validating/building evidence. Many of the model organisms are mature experimental systems - it would be nice to

[2018-08-16 10:11] pgaudet commented on #2050
Hi @asangrador
I am sorry, in fact the annotation was correct, see https://github.com/geneontology/go-annotation/issues/2054

Please restore!

Best regards, Pascale

[2018-08-16 10:13] asangrador commented on #2050
Yes, I followed #2054 and I have restored the annotation.
Cheers,

[2018-08-16 10:13] #2050 closed

[2018-08-16 13:47] pfey03 commented on #2053
Maybe
synonym: daughter cell separation ?

I search Dictyostelium AND midbody and found 2, but e.g 90 papers for Dicty + cleavage furrow. So a synonym like the above would help. Thanks!

[2018-08-16 18:36] glwinsor commented on #1984
Marked to be removed from pseudomonas.com database for our next release in a few weeks. We'll update the GAF around then.

[2018-08-16 19:13] glwinsor commented on #1983
Removed obsolete GO:0030803 entry for PA3385 (armZ).

[2018-08-16 21:27] glwinsor commented on #1708
Changed for G3XCV0. Could not find any other annotations (such as Q51460) that were annotated with GO:0000985.

[2018-08-16 22:56] slaulederkind commented on #2052
Is the whole "glucose import" branch being cut?

[2018-08-17 07:53] pgaudet commented on #1708
Hi @glwinsor
I still see the annotation of Q51460 to GO:0000985 in Protein2GO (I am assuming that this is where you make annotations?)

<img width="966" alt="image" src="https://user-images.githubusercontent.com/4782928/44254538-5f2a2800-a203-11e8-96ed-d23ba0c95588.png">

Thanks, Pascale

[2018-08-17 15:43] pgaudet commented on #2052
No, not at all. Although generally I would like to remove the terms that are just 'x import', in favor of terms that say where the substance is being imported (it doesn't add that much information to group 'glucose import into cell' and 'glucose import into mitochondrion'.

And the present ticket is concerned with 'regulation of glucose import' (or transport), which in most cases could be replaced

[2018-08-18 20:43] selewis commented on #2042
@hattrill - as regards ribbon specifically, it would be quite easy to incorporate a prioritized display of the "annotations" for a given term, that is, EXP (with backing IBA) first, if none then EXP (no IBA), if none then ... and so forth. If we implemented this as a generalized service then any display could present support for a GP association to a given term in a ranked manner. Our perspective

[2018-08-20 10:09] pgaudet commented on #2042
I just think we need to distinguish the **data** from the **display**. In AmiGO it makes a lot of sense to filter and collapse evidences like pombase does (I am naming pombase because I've looked at it, not necessarily because it's the only one).

However the full data could be available somewhere for download and analysis.

Pascale

[2018-08-20 11:41] pgaudet commented on #1983
Thanks !

[2018-08-20 11:41] #1983 closed

[2018-08-20 11:42] pgaudet commented on #1984
Thanks everyone

[2018-08-20 11:42] #1984 closed

[2018-08-20 11:47] pgaudet commented on #2053
@pfey03 Did you fix the dictybase annotations ? If you did please write it on the spreadsheet.

Thanks, Pascale

[2018-08-20 11:57] pgaudet commented on #2053
Adding synonym here: https://github.com/geneontology/go-ontology/issues/16279
Thanks, Pascale

[2018-08-20 14:40] vanaukenk opened #2056 "Review external2go mappings"
The QAQC group will be reviewing the external2go mappings that exist here:

http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/external2go/

to determine:

1.  Are the mappings still being used for annotation?

2. Who is responsible for maintaining the mappings?

3. Who is responsible for applying the mappings?

[2018-08-20 14:53] pfey03 commented on #2053
@pgaudet I was at Dicty meeting and traveling until this WE. Will look into soon now.

Also got from EBI this weekend a new taxon restriction to GO:0000920 septum digestion after cytokinesis. Is this related? Couldn't find a separate ticket.

[2018-08-20 14:57] pfey03 commented on #2053
Oh, I just saw the email we got is really weired as it has "GO:0000920 septum digestion after cytokinesis". GO:0000920 is this ticket here. I will take care of them soon catching up on a lot.

[2018-08-20 18:55] dustine32 commented on #2044
Thanks @tonysawfordebi ! Will try to track down what's up with these IDs.

[2018-08-22 07:47] hattrill commented on #2042
Adding an example of a circular annotation (with no extra evidence) - Tsc1, FBgn0026317
![screen shot 2018-08-22 at 08 43 52](https://user-images.githubusercontent.com/11865746/44450041-d38c0f00-a5e7-11e8-803d-120bcf6863ce.png)

[2018-08-22 08:55] hattrill opened #2057 "PTN002356460 - RTK - cytoplasm and negative regulation of signaling transduction"
Please, could this node be reviewed?
http://www.pantree.org/node/annotationNode.jsp?id=PTN002356460
TYROSINE-PROTEIN KINASE RECEPTOR (PTHR24416)

'cytoplasm' and 'negative regulation of signaling transduction' are not typically what I would expect for RTKs . The former probably arises from non-signaling competent pools and the latter from very specific settings.

[2018-08-23 11:06] tonysawfordebi commented on #2044
Now that the issue with the TAIR:locus IDs has been fixed (*), I ran the current set of PAINT files through our checker again, and this is the current state of play:

SUMMARY
=======

Number of lines processed: 2203905
Total number of annotations: 2203891
Number of annotations assigned by GO_Central: 2203891
Total number of problems detected: 50548
Number of annotations with error "Obsolete GO ID"

[2018-08-23 13:36] pgaudet commented on #2044
@huaiyumi I thought the qualifier case was  fixed?

[2018-08-23 13:37] pgaudet commented on #2044
@tonysawfordebi Which PAINT file are you looking at ?

[2018-08-23 13:51] tonysawfordebi commented on #2044
I'm grabbing paint_*.gpad.gz from http://snapshot.geneontology.org/products/annotations

[2018-08-23 16:31] dustine32 commented on #2044
@pgaudet sorry, I hadn't rerun @huaiyumi 's script changes to fix the qualifier case yet. I was planning on just running it on this month's update, which I'm starting today.

[2018-08-23 18:46] selewis commented on #2044
@huaiyumi @dustine32
I'm surprised to see any of these errors "Obsolete GO ID", "gocheck_do_not_annotate", "gocheck_do_not_manually_annotate" "Secondary GO ID"

The exporter should be catching all of these (actually PAINT used to, so that's regression where something that was working is now gone). For obsoletes and secondary IDs the correct ID should be swapped in. For the others the annotations s

[2018-08-24 20:49] kltm commented on #2055
For context: https://github.com/pantherdb/fullgo_paint_update/issues/13#issuecomment-415860718

[2018-08-26 14:05] ValWood opened #2058 "IPR019769 translational frameshifting"
I'm not sure that this is correct.

It's more like "translational fidelity" it  is required for translation through polyproline stretches.

[2018-08-26 15:05] ValWood opened #2059 "IPR008152"
IPR008152 clathrin adaptor complex
seems too specific for some members?

[2018-08-28 00:15] vanaukenk opened #2060 "Develop guidelines/rules for dealing with annotation redundancy"
- [ ] Redundant annotations from pipeline predictions (F-> P or CC-> MF)

- [ ] Redundant annotations from PAINT

- [ ] Redundant annotations from IEAs

- [ ] Redundant experimental annotations from different curation groups

- [ ] Redundant annotations to parent and child terms

[2018-08-28 00:17] vanaukenk opened #2061 "Develop guidelines for dealing with redundant annotations"
- [ ] Redundant annotations from pipeline predictions

- [ ] Redundant annotations from PAINT

- [ ] Redundant annotations from IEAs

- [ ] Redundant experimental annotations from different curation groups

- [ ] Redundant annotations to parent and child terms

[2018-08-28 01:00] vanaukenk opened #2062 "Confirm content of goa isoform gafs"
For GO Central pipeline, we need to confirm exactly what annotations are included in the goa isoform gafs and how they should be handled for production GAFs.

[2018-08-28 06:43] ValWood opened #2063 "PTN000256565"
for pombe ned1

GO:1903508 | positive regulation of nucleic acid-templated transcription

from
http://www.informatics.jax.org/marker/MGI:1891340
http://www.informatics.jax.org/marker/MGI:1891341

ned1  (lipin)
a phosphatidate lipid phosphatase catalyzing the hydrolytic dephosphorylation of a phos- phatidate to a diacylglycerol. It controls cellular lipid homeostasis

nothing really to do with tran

[2018-08-28 09:13] EBI-Hsinyu commented on #2059
Hi Val,
You are right. I have deleted the GO term.
Regards,
Hsin-Yu

[2018-08-28 09:13] tonysawfordebi commented on #2044
I've just run the checker over the latest set of PAINT files, and things are looking a lot healthier now.

Here's the latest summary:

SUMMARY
=======

Number of lines processed: 2218253
Total number of annotations: 2218239
Number of annotations assigned by GO_Central: 2218239
Total number of problems detected: 4207
Number of annotations with error "Qualifier not appropriate for GO term": 338
Numb

[2018-08-28 10:49] asangrador commented on #2058
Yes, I don't think it is correct. I have removed the term.

[2018-08-28 15:16] ValWood opened #2064 "example of redundant EXP annotation from GOC F-P pipline"
import into nucleus
(we annotated to more specific term protein import into nucleus)

![redundant annotation from goc](https://user-images.githubusercontent.com/7359272/44732714-d56d3b00-aadd-11e8-9095-0dc81186832c.jpg)

[2018-08-28 15:20] ValWood commented on #2064
@cmungall  @pgaudet
these don't necessarily need to be on the tracker,  but I'd like somewhere to collect examples of each type. This one does need fixing in  at the pipeline though, it seems odd to have a less specific annotation *from the same paper*

[2018-08-28 17:40] pfey03 commented on #2053
I took care of all Dicty annotations. But I still do not see the synonym . When will it appear?

Thanks!

[2018-08-28 23:16] pgaudet commented on #2053
Yes @pfey03 the synonym is added, it should be visible soon.

[2018-08-29 00:10] suzialeksander commented on #2020
Ah.  I missed that boat, thanks for that link.  I've deleted this annotation; I can't replace it because SGD doesn't want extraneous "protein binding" annotations and Protein2GO forces the reciprocal.  Thanks for the suggestions anyway.

TLDR: @pgaudet  I've removed it.

[2018-08-29 08:26] pgarmiri commented on #2020
Hi @suzialeksander, Protein2GO requires the reciprocal annotation only for annotations with IPI evidence code. I haven't looked into the paper but from what I read here, I think you can use IDA with the suggested annotation 'RNA polymerase II core binding" (GO:0000993)' and you can keep the functional information.
Penelope

[2018-08-29 17:29] #2053 closed

[2018-08-30 08:01] #2059 closed

[2018-08-30 08:01] #2058 closed

[2018-08-30 08:02] ValWood commented on #2035
Hi Penelope,

Could you pass this one to the appropriate GOA person.

Thanks

Val

[2018-08-30 08:06] ValWood commented on #1994
@pgaudet  maybe you could check if this one is reolved. The pipline might be ironed out by now.

[2018-08-30 08:10] ValWood commented on #1994
human LTO1 still seems to be picking up mappings from the wrong tree. I can't figure it out...
http://www.pantree.org/node/annotationNode.jsp?id=PTN000307391

[2018-08-30 08:13] ValWood commented on #1994
This is pom be LTO1
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPCC191.08
it does not have the PANTHER family.

human LTO1 is missign from AMigo?

This is mouse LTO1
http://amigo.geneontology.org/amigo/gene_product/MGI:MGI:1919534

It is in a family which maps it to pombe
https://www.pombase.org/spombe/result/SPAC20G4.04c
but this is not related to LTO1

[2018-08-30 08:16] ValWood commented on #1994
See the LTO1 orthologs
https://www.flyrnai.org/cgi-bin/DRSC_orthologs.pl?input_species=4896&output_species=0&additional_filter=None&search_fields=***&search_datasets=***&gene_list=SPCC191.08

Note, that DIOPT reports ORAOV1 but this is not called LTO1 in human rat and mouse

[2018-08-30 08:18] ValWood commented on #1994
This is the human entry in AmiGO.
It still has the old name
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q8WV07
but it does have the incorrect mappings  that come from a seemingly unrelated family

[2018-08-30 09:22] ValWood opened #2065 "PANTHER:PTN000115012 SGD:S000001764"
remove
double-stranded DNA 5'-3' exodeoxyribonuclease activity
single-stranded DNA endodeoxyribonuclease activity

as per e-mail.

Unlikely to be functionally relevant.
No evidence of nuclease domain.
Unsupported in the past decade.
No evidence of any DNA damage sensitivity  in pombe or S. cerevisie

[2018-08-30 13:46] ValWood commented on #2029
There should be public lists we can use:

https://www.the-scientist.com/news-opinion/indian-government-aims-to-take-down-predatory-journals-64731?utm_campaign=TS_DAILY%20NEWSLETTER_2018&utm_source=hs_email&utm_medium=email&utm_content=65569194&_hsenc=p2ANqtz-8vKr7yMcdVq-SddM-VUDuhEkiuw_GUGkhM8JomWp1adoKTdafscdN7dP2Y-PP2zwhFVC3e0zD9SSshnGzZ6T9hyOHOCQ&_hsmi=65569194

[2018-08-30 19:47] suzialeksander commented on #2015
I'm not sure what the question is here.  Looking at a paper on the ERMES ones, PMID: 17410204:
"As the β-barrel assembly defect is observed very early (after a 30 min shift), it is obviously not a consequence of morphological alterations of the mutant mitochondria. The morphology defect is observed under conditions (90 min shift) where the steady-state levels of mature assembled TOM complex are si

[2018-08-30 20:54] pgaudet commented on #2029
Added this to the next discussion of the QC group.

@ValWood Do you have any idea how many annotations this may impact ?

Thanks, Pascale

[2018-08-30 23:37] pgaudet commented on #2020
@pfey03 Did you have a chance to look at the Dicty annotation ?

[2018-08-31 12:38] ValWood commented on #2015
I'm trying to establish if

mitochondrial outer membrane translocase complex assembly
refers to
TOM assembly.
(I think it does)

But is so, the annotation seem odd, because the TOM complex subunits are not involved in the assembly of itself ? Those might be a phenotype that the complex does not assembly if a subunit is mutated but this isn't part of the process of TOM complex assembly.

I can't fi

[2018-08-31 12:48] ValWood commented on #2015
After looking more closely it seems that the annotation is confusing the assembly of

mitochondrial sorting and assembly machinery complex (GO:0001401) (SAM50)
 with the assembly of
mitochondrial outer membrane translocase (GO:0005742) (TOM)

but also, when this is resolved, most annotation will refer to proteins being involved in the assembly of the complex that they are themselves a member of, w

[2018-08-31 12:57] ValWood commented on #2029
Maybe this is not a big issue. It was brought to my attention at the WB SAB. Apparently some predatory/ non-peer reviewed  journals get indexed by PubMed. I did not know this.
It would be good to have some way to alert contributing resources not to waste time curating from these journals. But maybe this can close and we can  bear it in mind .... I'm sure that curators generally will use some commo

[2018-09-01 05:08] pgaudet commented on #1994
@ValWood

pombe lto1 has a single IBA

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/4782928/44942601-57719400-ad6a-11e8-9093-3865303b3b8e.png">

Are you describing multiple problems ?

Thanks, Pascale

[2018-09-01 05:25] pgaudet commented on #1994
I removed all annotations to the ORAOV1 branch, if that works for you please close.

Pascale

[2018-09-01 09:07] ValWood commented on #1994
I think there is a problem with the family though.

pombe  LTO1
https://www.pombase.org/gene/SPCC191.08
ORAOV1 ortholog

is not related  (at all) to pombe hus1
https://www.pombase.org/gene/SPAC20G4.04c
HIUS1 ortholog

Lto1 is a
http://pfam.xfam.org/family/PF09811#tabview=tab2
Hus1 is a ATPase checkpoint protein
http://pfam.xfam.org/family/PF04005#tabview=tab2
They are not even in the same clan.

M

[2018-09-01 22:05] pfey03 commented on #2029
I read and heard about this in german media a couple of weeks ago and got this link
https://predatoryjournals.com/journals/

It was reported that those are in general open access, which is a lot nowadays of course. They also charge scientists huge page charges.
I"m sure like me, you get invitations every week to publish somewhere or be an editor somewhere.

It seems a more recent thing with the ad

[2018-09-03 16:41] pgaudet commented on #1994
I sent an email to @huaiyumi , he'll look into this for the next Panther release.

[2018-09-03 16:41] #1994 closed

[2018-09-03 17:09] pgaudet opened #2066 "Review annotations to GO:0008137 NADH dehydrogenase (ubiquinone) activity"
@ValWood we need to find the proteins that need to be reviewed

[2018-09-03 17:27] ValWood commented on #857
Yarrowia Lipolytic does have complex
https://www.ncbi.nlm.nih.gov/pubmed/15282186

[2018-09-03 17:36] pgaudet commented on #857
OK fixed family.

[2018-09-03 17:36] #857 closed

[2018-09-03 17:44] pgaudet commented on #816
Removed anatomical structure development and cell differentiation from the fungi clade.

[2018-09-03 17:44] #816 closed, assigned to pgaudet

[2018-09-03 17:49] pgaudet commented on #817
SPAC1296.01c is now in PTHR45955; @ValWood says annotations are OK now.

Pascale

[2018-09-03 17:49] #817 closed

[2018-09-03 18:10] pgaudet commented on #822
@dustine32
Can you please look at this one ?
In the file in the current ftp ()

http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC22F3.06c

[2018-09-03 18:23] #852 closed, assigned to pgaudet

[2018-09-03 18:27] ValWood commented on #853
Appears to be fixed, no  outlier annotations to Arp 2/3 from this family

[2018-09-03 18:28] #853 closed

[2018-09-03 18:30] pgaudet commented on #859
No more annotations in the tree due to changes in family topology

2018-02-04: Due to PANTHER library version update from PANTHER12 to PANTHER13.1, PANTHER12 families PTHR10856 contained nodes PTN000091709,PTN000852334can not be directly mapped to Panther13 nodes by PTN but their direct child nodes PTN000091729,PTN000852335,PTN000852338 can be directly mapped to Panther13 nodes in PANTHER13 family

[2018-09-03 18:30] #859 closed

[2018-09-03 18:34] pgaudet commented on #861
Removed - now annotations are

glycogen biosynthetic process (IBD)
phosphoglucomutase activity (IBD)
cytosol (IBD)
galactose catabolic process (IBD)
glucose metabolic process (IBD)

[2018-09-03 18:34] ValWood commented on #861
fixed

[2018-09-03 18:34] #861 closed

[2018-09-03 18:36] ValWood commented on #862
fixed in AmiGO

[2018-09-03 18:36] #862 closed

[2018-09-03 18:41] ValWood commented on #863
offending annotation is

mlh1 | MutL family protein Mlh1 (predicted) |   | synaptonemal complex |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:101938PANTHER:PTN000008164RGD:620937 |   | protein |   | PMID:21873635 | 20170228
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-09-03 18:43] ValWood commented on #863
synaptonemal complex is already taxon restricted for fission yeast

[2018-09-03 18:45] ValWood commented on #863
synaptonemal complex
Cellular Component

Definition (GO:0000795 GONUTS page)
A proteinaceous scaffold found between homologous chromosomes during meiosis. It consists of 2 lateral elements and a central element, all running parallel to each other. Transverse filaments connect the lateral elements to the central element.

seems odd for DNA repair enzymes anyways?

[2018-09-03 18:47] ValWood commented on #863
Pascale has removed this from PAINT.

[2018-09-03 18:47] #863 closed

[2018-09-03 18:51] ValWood commented on #864
I think the  annotation to endopeptidase was probably correct (matches InterPro) but family no longer has any annotation

[2018-09-03 18:51] #864 closed

[2018-09-03 18:58] ValWood commented on #865
Annotation fixed for msh1

[2018-09-03 18:59] #865 closed

[2018-09-03 19:08] pgaudet commented on #866
Fixed
<img width="812" alt="image" src="https://user-images.githubusercontent.com/4782928/44999427-27550b80-af8b-11e8-8116-431134d40945.png">

[2018-09-03 19:08] #866 closed

[2018-09-03 19:15] pgaudet commented on #1914
emailed @huaiyumi

[2018-09-04 15:18] pgaudet commented on #2063
The yeast gene is also some sort of tx coregulator: https://www.ncbi.nlm.nih.gov/pubmed/15889145

Had you also looked at that reference ?

[2018-09-04 15:24] #2065 closed, assigned to pgaudet

[2018-09-04 15:40] pgaudet opened #2067 "Improve documentation for new groups contributing to GO"
Lessons learned from recent experiences

[2018-09-04 15:41] pgaudet commented on #2067
Also: @sylvainpoux suggests that prior to accepting their annotations, we ask new groups to submit a short proposal of the project, which would be discussed by GO managers.

[2018-09-04 15:55] ValWood commented on #2063
I don't think its really a txn regulator.

This  mutant is disturbing the nuclear membrane. During membrane stresses changes in inositol levels are detected, and this activates transcription of lipid biosynthesis genes. In a normal cell I don't think lipin is a transcriptional regulator. Thsi mutant  is causing a problem that is sensed  by some pathway and  lipid bio genes are turned on.
Certainly

[2018-09-04 16:54] pgaudet commented on #2063
They have 'transcription regulatory region DNA binding (IDA) '
https://www.yeastgenome.org/locus/S000004775

and looking at the paper cited (PMID:15889145) , including this part of the abstract

I thought perhaps there was enough evidence from varied sources to make the annotations.

Pascale

[2018-09-04 18:10] dustine32 commented on #822
@pgaudet So far as I can see the PomBase:SPAC22F3.06c to GO:0005759 IBA is in the paint_pombase.gaf submitted by us so it's likely coming out of the PAINT DB and not related to the GO pipeline. I'll double-check the ftp.pombase file but this looks like a normal IBA. Does it look odd in PAINT?

[2018-09-04 18:31] dougli1sqrd commented on #822
Yes, I find `PomBase	SPAC22F3.06c	lon1		GO:0001018	PMID:21873635	IBA	PANTHER:PTN000005479|MGI:MGI:1921392|UniProtKB:P36776	F	mitochondrial matrix Lon protease	UniProtKB:Q09769|PTN000005530	protein	taxon:284812	20170228	GO_Central` in the paint_pombase source file on our end.

I also see it after paint_pombase is validated.

[2018-09-04 18:36] cmungall commented on #822
Thanks for the double-validation Eric. @pgaudet should we assign this ticket to @dustine32 now? (I think we need to add him to this tracker)

[2018-09-04 18:41] pgaudet commented on #822
@cmungall I dont know how to assign people to individual trackers or to multiple teams.

[2018-09-04 18:43] pgaudet commented on #822
@dustine32
I dont see the annotation in PAINT. I do see this message:

However there are only two NOT annotations t human and mouse LONP1 (see screenshot).

<img width="966" alt="image" src="https://user-images.githubusercontent.com/4782928/45051018-cabc2400-b050-11e8-8886-333c15eb61c2.png">

@dustine32 will you troubleshoot this with Anushya ?

[2018-09-04 20:28] ValWood commented on #2063
I asked a couple of people just to be sure....

[2018-09-04 20:35] ValWood commented on #822
Are we looking at the right GO terms
Lon1 is a mitochondrial matrix protein so  GO:0005759 is fine...

[2018-09-04 20:40] ValWood commented on #822
I was questioning
"mitochondrial light strand promoter anti-sense binding" , mainly....
I think we established last night that the proetase does bind to mitochondrial DNA but promoter binding still seemed strange, so was this the annotation that you could not locate for pombe @pgaudet ?

[2018-09-04 20:42] ValWood commented on #822
ignore, that is the term  you were looking at.

[2018-09-05 00:43] pgaudet commented on #2063
The experts contacted by @ValWood write

So I'll remove the propagation from the yeast clade.

Thanks, Pascale

[2018-09-06 16:57] pgaudet commented on #2045
This is the actual ticket where that rule will be implemented:
https://github.com/geneontology/go-site/issues/775
We need to decide whether this will be a hard check (filter) or just a warning (report).

Thanks, Pascale

[2018-09-10 15:22] pgaudet commented on #822
Waiting for response from @dustine32

[2018-09-10 15:23] ValWood commented on #1313
see annotations here
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPCC417.06c

[2018-09-10 15:24] ValWood commented on #1313
can close, all existing annotations from PAINT are redundant with EXO, but correct

[2018-09-10 15:24] #1313 closed

[2018-09-10 15:26] ValWood commented on #1315
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC20G8.03
has incorrect

glucose transmembrane transporter activity
hexose transmembrane transport

[2018-09-10 15:47] pgaudet commented on #1315
Fixed.

[2018-09-10 15:47] #1315 closed

[2018-09-10 16:09] ValWood commented on #1328
actually, these are all OK except for srb11, because all of the cyclin containing complexes except for "mediator" are children of
https://github.com/geneontology/go-annotation/issues/1328

cyclin-dependent protein kinase holoenzyme complex

although it doesn't really make sense to have this "cyclin holoenzyme" grouping term for unrelated complexes, this can be dealt with later.

What we really nee

[2018-09-10 16:32] dustine32 commented on #822
@pgaudet Focusing on the PomBase:SPAC22F3.06c to GO:0001018 IBA that's getting spit out of PAINT, you may have fixed it on the PAINT side by obsoleting the GO:0001018 to PTN000005479 annotation a few days ago. This should be reflected by the next export of PAINT IBA GAFs, which I'm doing a test run right now to confirm.

[2018-09-10 17:06] pgaudet commented on #1328
I reannotated the family. You should check again at the next release. Pascale

[2018-09-10 18:39] ValWood opened #2068 "IPR033162 tubulin specific chaperone cofactor D, Alp1"
IPR033162

tubulin specific chaperone cofactor D, Alp1

maps to
GTPase activator activity
is this the correct activity for this subunit?
seems odd?

[2018-09-10 18:39] vanaukenk commented on #2051
@bmeldal - is there anything else you need to address for this ticket?  If not, then I think it's okay to close.

[2018-09-10 18:51] vanaukenk commented on #2041
@hdrabkin - it looks like MGI added an 'acts upstream of or within' qualifier for the mammary gland development and involution annotations.  Is that correct?
If so, this raises the issue of propagating gp2term relations when ISS annotations are made.  It seems the gp2term relation should propagate, as well, but I don't think Protein2GO is set up to do that automatically.

[2018-09-10 20:04] vanaukenk opened #2069 "InterPro:IPR032967 - Retinal homeobox protein Rx"
The gene products associated with InterPro:IPR032967 (Retinal homeobox protein Rx) include a number of nematode proteins for which these GO BP mappings do not apply:

GO:0043010 camera-type eye development

and

GO:0007601 visual perception

A mapping to GO:0048513 'animal organ development' would probably be okay, although it is quite general.

Thanks.

[2018-09-11 10:40] ggeorghiou commented on #1627
Deleted the annotation. Closing the ticket

[2018-09-11 10:40] #1627 closed

[2018-09-11 10:42] ggeorghiou commented on #1895
I've had a look and yes, these annotations are not appropriate. I've gone ahead and deleted them.

[2018-09-11 10:42] #1895 closed

[2018-09-11 10:45] ggeorghiou commented on #1897
@sylvainpoux I am currently trying to clear up some of the UniProt tickets on the annotation tracker and this particular annotation belongs to SIB. Can you have a look? I'm in agreement with Val that it should be endocytic recycling.

[2018-09-11 11:42] sylvainpoux commented on #1897
Done
S.

[2018-09-11 11:42] #1897 closed

[2018-09-11 12:12] asangrador commented on #2069
Thanks for letting know about this. I have removed the terms.
Cheers

[2018-09-11 12:14] #2069 closed

[2018-09-11 13:32] asangrador commented on #2068
Not necessarily. In mammals cofactors C, D (Alp1) , and E assemble and act together as a beta-tubulin GTPase activating protein (GAP) (PMID:10831612). These factors also come together in the tubulin pathway in yeast, but I don't think the GAP activity has been shown for them, may be for cofactor C? (PMID:  23576550).

[2018-09-11 13:34] hdrabkin commented on #2041
For Cav1? I don't see this in our EI...

[2018-09-11 13:58] bmeldal commented on #2051
I updated it but didn't comment.

[2018-09-11 13:58] #2051 closed

[2018-09-11 14:27] hdrabkin commented on #2041
Sorry that wasn't clear; I added to our annotation today and will appear in our next gpad. However, these will not show up in our gaf.

[2018-09-11 15:09] ValWood commented on #2068
This one is armadillo repeat so maybe it is just the scaffold? not the GTPase (if  this is not the case it would likely be a function of the complex rather than this particular subunit alone?)

[2018-09-11 15:10] ValWood commented on #2068
Actually SGD have cofactor C as the GAP, and I have copied this ...
https://www.yeastgenome.org/locus/S000006162#go
This is a useful ref for conservation of function to human:
PMID: 18376416

[2018-09-11 16:04] asangrador commented on #2068
Cofactor C has definitely GAP activity. Cofactors D and E seem to contribute to this activity in the complex and have some GAP activity PMID:10446175, 20740604 .  It is not very clear, but I think I will leave the annotation at the moment.

[2018-09-11 16:30] ValWood commented on #2068
but to make a "contributes_to" type annotation you need a "contributes_to" qualifier, and that can't be done with a mapping , so maybe here it would be better to exclude?

[2018-09-12 10:13] asangrador commented on #2068
UniPro has the 'GAP activity' annotation for the human protein (https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q9BTW9) . Also it seems that in vitro the cofactor C stimulates the GTPase activity of native tubulin, only with the cooperation of cofactor D [PMID:11847227], so it is necessary to stimulate the GTPase activy. We don't have qualifiers in InterPro, so if I remove the annotation t

[2018-09-12 10:33] ValWood commented on #2068
One problem is that the  GO assignment rule require the contributes_qualifier if the activity  is an emergent function of the complex.
We'll discuss these on the QC group and get back to you.

I agree, there are a  lot of supporting annotation, but
this much more  recent paper dissecting the function of mammalian D doesn't refer to it as a "GTPase activator"
http://www.jbc.org/content/292/10/4336.

[2018-09-12 10:50] ValWood commented on #2029
I was beginning to think this might not be a problem. However I was alerted to this yesterday
A HGNC curator (Susan) read this
https://www.ncbi.nlm.nih.gov/pubmed/30108417
because it came through on their human gene alerts. Now this paper contains NO information that isn't in the UniProt entry. Tables of amino acids. Domains.  Blast searches. Alignments. PPI networks.  It's like a 'workshop exerci

[2018-09-12 10:50] asangrador commented on #2068
That sounds like the best solution. Papers on the subject are quite confusing,  they don't seem to be decisive one way or another.

Cheers,

[2018-09-12 20:44] vanaukenk opened #2070 "InterPro:IPR017287 mapping to GO:0007601 visual perception"
Hi,

Here is another InterPro domain that is present in various nematode species but also mapped to GO:0007061 visual perception.

https://www.ebi.ac.uk/interpro/entry/IPR017287
Retinal rod rhodopsin-sensitive cGMP 3', 5'-cyclic phosphodiesterase, delta subunit (IPR017287)

Thanks.

[2018-09-13 07:13] ValWood opened #2071 "Possible sources to fix, and GO contacts list housekeeping"
based on
https://github.com/geneontology/go-site/issues/807

I will update
https://github.com/geneontology/go-site/blob/master/metadata/group-contacts.csv

but some of these  sources need to be tracked down and fixed:
- [ ]  286 WormBase -> WB @vanaukenk
- [x] 2 FLYBASE -> FlyBase @hattrill
- [ ] 3 AGBASE -> AgBase @jinhuiz
- [ ]   3 GO_CENTRAL ->@pgaudet @cmungall
- [ ]  271 COLLECTF -> 5320 Coll

[2018-09-13 07:14] ValWood commented on #2071
I also thought    54873 UniProtKB seemed very low for manual UniProtKB annotation, is something wrong there? @tonysawfordebi  @sylvainpoux

[2018-09-13 07:15] tonysawfordebi commented on #2071
What are these numbers?

[2018-09-13 07:28] bmeldal commented on #2071
I looked at the contact list and can't find Complexportal at all. I do know I added myself on *a* GO GH contact list a long time ago but that doesn't seems to have propagated. Should I change the file myself?

[2018-09-13 07:39] tonysawfordebi commented on #2071
@ValWood We're back on old ground again... there shouldn't be *any* annotations with UniProtKB in the assigned_by - the correct attribution is UniProt.

[2018-09-13 07:40] ValWood commented on #2071
Hi @bmeldal  I'm trying to ensure that each submitter has at least one contact in the contacts file, we only need one contact, but more than one is also OK.

You can edit the lines above with the correct details. Once all the info is collected I'll update the file so only one pull request is required. Just tick the line so I know your edits are done/approved.

[2018-09-13 07:42] ValWood commented on #2071
Sigh. That's what I thought but  I was so sure this was already addressed that  I had misremembered what was supposed to happen.
So where do the  UniProtKB come from ?

[2018-09-13 07:43] tonysawfordebi commented on #2071
That's the $64000 question...

[2018-09-13 07:44] ValWood opened #2072 "UniProtKB as assignee"
From
https://github.com/geneontology/go-annotation/issues/2071

Where do these come from in GO?
54873 UniProtKB

@cmungall
@tonysawfordebi
@kltm

[2018-09-13 07:44] ValWood commented on #2071
I moved the  UniProtKB to its own ticket ;)
https://github.com/geneontology/go-annotation/issues/2072

[2018-09-13 07:49] tonysawfordebi commented on #2071
I saw :)

With regard to contact addresses, you can use goa@ebi.ac.uk for all the Ensembl sources and rnacentral@gmail.com for RNAcentral. Or are you looking for GH handles?

[2018-09-13 07:52] ValWood commented on #2071
GH handles are required  for this file, so we can TAG you in tickets!

[2018-09-13 07:53] tonysawfordebi commented on #2071
OK - in that case, don't use me, as I'm going to be outta here in 85 days...

[2018-09-13 07:55] ValWood commented on #2071
So, when you go, or before we need a replacement GH handle for  ALL of your entries in this file  https://github.com/geneontology/go-site/blob/master/metadata/group-contacts.csv
Please nominate the appropriate people ;)

[2018-09-13 08:01] tonysawfordebi commented on #2071
Well, I'd suggest that for any kind of production-related issue tag @alexsign, and for anything that requires curator input either @ggeorghiou or @pgarmiri

Anton Petrov is probably the best contact for RNAcentral, but I can't find his GH handle...

[2018-09-13 08:05] ValWood commented on #2071
I have it

[2018-09-13 08:46] asangrador commented on #2070
I have changed the term to the parent 'sensory perception of light stimulus', whicht could also be applied to nematodes (https://www.ncbi.nlm.nih.gov/pubmed/18604203).
Cheers.

[2018-09-13 08:48] bmeldal commented on #2071
Ok, I ticked myself in your original ticket and taken out the question mark.
I hope that's all you need for now.

[2018-09-13 08:52] ggeorghiou commented on #2071
CollecTF is Ivan Erril - erill@umbc.edu
YuBioLab is Peng Yu - pengy@tamu.edu
Roslin Institute is managed by GOA at the moment.

[2018-09-13 09:02] pgarmiri commented on #2071
Hi @bmeldal , Hema's GH account should be @hbye. I think her funding for the complex portal is finished but I am sure she would be okay to look after existing annotations.

[2018-09-13 09:35] #2070 closed

[2018-09-13 10:00] pgarmiri commented on #1943
Hi,
All the UniProt EBI annotations have been reviewed and the spreadsheet undated. I have labeled the SIB annotations that I can't change, with a tag at the end of the relevant lines.  @sylvainpoux could you look into them?
Thanks,
Penelope

[2018-09-13 10:07] bmeldal commented on #2071
Ok, keep me as CP contact and if there are questions regarding Hema's annotations I'll pass them on to her.

[2018-09-13 10:43] sylvainpoux commented on #1943
Done for UniProt SIB

[2018-09-13 11:59] ukemi commented on #1943
@sabrinatoro  Can you have a look at the ZFIN annotations?

[2018-09-13 12:26] #1328 closed

[2018-09-13 12:28] pgaudet commented on #1935
Fixed (by not uploading the old PAINT-others file)

[2018-09-13 12:28] #1935 closed

[2018-09-13 12:36] pgaudet commented on #1912
Fixed!

[2018-09-13 12:36] #1912 closed

[2018-09-13 12:37] ValWood commented on #1950
FIXED already

[2018-09-13 12:37] #1950 closed

[2018-09-13 12:52] ValWood commented on #1952
Fixed @pgaudet  put some NOTs and reported to @huaiyumi

[2018-09-13 12:57] ValWood commented on #1952
pombase: SPAP14E8.02 and SGD:S000004173
should not be there.

[2018-09-13 13:12] ukemi opened #2073 "Incorrect gene assignment for mouse annotation"
We have an annotation from CACAO that has an incorrect gene assignment.

The paper is PMID:21474562 and it has GO:0016567 annotated to the Taz (MGI:109626) gene. This annotation should be modified to be the Wwtr1 (MGI:1917649) gene. Taz is a synonym for Wwtr1.

[2018-09-13 14:52] pfey03 commented on #2029
Yeah, PubMed indexes all. They may need to refine their algorithm to check against certain list. The first one, Bioinformation, is listed on the predatory Journal list:
https://predatoryjournals.com/journals/

The other 2 look absolutely fake to begin with. Maybe alert PubMed?

[2018-09-13 14:56] ValWood commented on #2029
We should tweet this link!

I will mail PubMed about the other two. Clearly a mistake ....;)

[2018-09-13 15:02] ValWood commented on #2029
I mailed PubMed.
Also asked about their policy with regard to predatory journals.

[2018-09-13 15:12] pfey03 commented on #2029
Great!

I will tweet the link to the Dicty community from dictybase channel. Though possibly not main target group, it's diverse and changing (e.g. physicists and other non biologists order in the Dicty Stock Center).

[2018-09-13 16:31] sandyl27 commented on #2073
Fixed!

[2018-09-13 16:58] sabrinatoro commented on #1943
@ukemi
I have reviewed the ZFIN annotations.

[2018-09-13 17:00] ValWood commented on #2029
interesting!

[2018-09-13 17:04] kltm commented on #2071
People may want to refrain from putting peoples' email addresses in the clear in this thread. Possible use an internal Google Doc?

[2018-09-13 17:10] kltm commented on #2071
Please also see related:
https://github.com/geneontology/go-site/issues/512
https://github.com/geneontology/go-site/issues/685

[2018-09-13 17:29] kltm commented on #2072
[code]
[code]

[2018-09-13 17:44] #1943 closed

[2018-09-13 17:47] #2072 closed

[2018-09-13 18:12] ValWood commented on #2072
936 ecocyc.gaf.gz
  53949 rgd.gaf.gz
      3 zfin.gaf.gz

I  don't really understand this. If the annotations are created *by* uniprot how come they have the worn assigned by? IS this dues to a local conversion? If so, does this result in duplicate annotations ?

[2018-09-13 18:14] ValWood commented on #2072
Ah I remember.....  Everyone was fixing this s presumably the change did not filter through yet. The annotations should be unique because the submitting authority should 'trump' and be the submitter for all annotations.

If a rule was enforced the submitter could fix the files presubmission easily with a "search and replace".....

[2018-09-13 20:46] pfey03 commented on #2029
I should have said physicists and non classical cell/mol biologists;-)

[2018-09-14 08:11] pgaudet commented on #1772
According to stats here: https://github.com/geneontology/go-annotation/issues/2072#issuecomment-421101111

EcoCyc, RDG and ZFIN still have annotations with 'UniProtKB' as source, rather than **UniProt**.
 936 ecocyc.gaf.gz
  53949 rgd.gaf.gz
  3 zfin.gaf.gz

@keseler
@slaulederkind
@sabrinatoro

Can you please check with your software team to correct that ?

Thanks, Pascale

[2018-09-14 09:11] pgarmiri commented on #2052
Hi,
The UniProt EBI annotations have been reviewed and the spreadsheet undated. I have labeled the SIB annotations that I can't change, with a tag at the end of the relevant lines. @sylvainpoux could you look into them (there are 6 left)?
Thanks,
Penelope

[2018-09-14 09:28] #2073 closed

[2018-09-14 09:29] pgaudet commented on #2071
RE @kltm 's comment about emails- at least use -AT-

[2018-09-14 15:39] sabrinatoro commented on #1772
We have updated our GAF to use UniProt as assigned_by in April 2018.
I checked our latest GAF (date 2018/09/13), and I cannot find any annotations with "UniProtKB" in col15. Could these annotations be coming from somewhere else but the ZFIN GAF (?? how would that be??)
Could you tell me more about these particular annotations, please? (there are only 3) I'll see if I can find them at all.
(@pgaude

[2018-09-14 15:41] sabrinatoro commented on #2072
from ticket #1772 :
I checked the latest ZFIN GAF (date 2018/09/13), and I cannot find any annotations with "UniProtKB" in col15. Could these annotations be coming from somewhere else but the ZFIN GAF (?? how would that be??)
Could you tell me more about these particular annotations, please? (there are only 3) I'll see if I can find them at all.
(@pgaudet @ValWood )

[2018-09-14 16:26] suzialeksander commented on #2067
Note to self: update information about actually submitting, after files are prepared
https://github.com/geneontology/helpdesk/issues/158

[2018-09-14 16:36] tutajm commented on #2072
I have checked the spec for GAF2.0 format (http://geneontology.org/page/go-annotation-file-format-20) and UniProtKB is listed there **everywhere**

[2018-09-14 16:40] slaulederkind commented on #2052
RGD annotations have all been changed.

[2018-09-14 16:45] ValWood commented on #1772
These came from a query Seth did yesterday?
https://github.com/geneontology/go-annotation/issues/2072
weirdly I don't see these in AmiGO, so @kltm  will need to answer this one!

[2018-09-14 20:49] kltm commented on #1772
@ValWood Okay, to be more specific, my search was for UniProtKB in GAF col 15. Looking at the files that get loaded into AmiGO, the numbers are as reported:

[code]

To see this in AmiGO, is a little harder to see, as only the 'assigned_by' is made available, regards of what file it came from. But if you use the species filter for rat:

http://amigo.geneontology.org/amigo/search/annotation?q=*:*&f

[2018-09-15 11:11] ValWood commented on #2067
A good plan. It seems that the once-off submitters are more like 'community curators' curating their own papers (which is good). However, they are often curating and using screens, big datasets (indirect annotations and phenotypes).

The process here should be similar to the PomBase community curation pipeline, where the annotations are gathered and then approved by a curator.

In many cases, from

[2018-09-15 11:42] ValWood commented on #1772
Yes it is the "contributors"  column we are trying to standardize here.
I think the problem (might) be that some groups pull in the UniProt data as the database authority they then become the '3rd party submitter' of the UniProt data, but the filed gets munged....

[2018-09-17 08:31] hattrill commented on #1655
Trying tie-up some loose ends.
Had a look over the HTP spreadsheet https://docs.google.com/spreadsheets/d/11xExGJfj_39xPQUGkam3Xvtd6dtZ5DfANXhM2ZtDYB0/edit#gid=2144791301 (important page is the first, “Over_40_per_evidencecode”). Looks like these groups are done:

ARUK-UCL
BHF-UCL
dictyBase
FlyBase
ParkinsonsUK-UCL
PomBase
UniProt
WB
ZFIN

These groups still have papers that are not marked as revi

[2018-09-17 09:50] pgaudet commented on #1772
Is it the contributors or the database column we are trying to standardize
? The problem I notice is people using UniProtKB:P12345; does the prefix
come from Col 1 or Col 15 ?

Pascale

On Sat, Sep 15, 2018 at 1:42 PM Val Wood <notifications@github.com> wrote:

[2018-09-17 11:09] hattrill opened #2074 "Inflation of IBA Annotations - huge numbers of PAINT annotations per gene"
The numbers of terms:gp coming from PAINT annotations has rocketed. From a load of PAINT annotations from 20th July, we had 52 genes with 10 or more IBA-evidenced terms annotated/gene; from last week we have **292** genes in this bin.

http://amigo.geneontology.org/amigo/search/annotation?q=FB:FBgn0002906
56 different terms! Some co_localized from cc (really!!!), many with just one gene supporting

[2018-09-17 12:41] pgaudet commented on #2074
This does indeed seem quite suspicious.

Many annotations were added on 2018-04-06, probably due to a faulty script. It looks like the results is that ALL annotations get propagated.
<img width="551" alt="image" src="https://user-images.githubusercontent.com/4782928/45623473-c4ce3600-ba87-11e8-9a7b-4ef5b94f4f62.png">

<img width="769" alt="image" src="https://user-images.githubusercontent.com/4782

[2018-09-17 13:36] pgaudet opened #2075 "Question pipeline"
Hi @tonysawfordebi @kltm

This annotation was changed on Aug 8 in Protein2GO:

PTPN11	 [Q06124] Tyrosine-protein phosphatase non-receptor type 11		positive regulation of glucose import in response to insulin stimulus		BHF-UCL	Homo sapiens	IDA			protein		PMID:7493946	20120815

But it's still present in AmiGO today. Is this expected ?

Thanks, Pascale

[2018-09-17 13:48] tonysawfordebi commented on #2075
As you say, this annotation was updated in our database on 8 August, and the modified version is what is now visible in QuickGO:
https://www.ebi.ac.uk/QuickGO/annotations?reference=PMID:7493946&assignedBy=BHF-UCL&geneProductId=UniProtKB:Q06124

It's also in the files published as part of last week's GOA release.

It looks like AmiGO is still showing the annotations from the previous GOA release, w

[2018-09-17 13:56] pgaudet commented on #2075
OK that explains, thanks.

[2018-09-17 13:56] #2075 closed

[2018-09-17 19:14] srengel commented on #1655
i have just now completed marking the remaining SGD papers as reviewed.

[2018-09-17 19:36] dustine32 commented on #2074
Hi @hattrill ! Can you point to where you're loading the PAINT annotations from? Are they from the GO release or directly from ftp.panther.org?

[2018-09-17 21:06] huaiyumi commented on #2074
We checked the top 3 genes:
FBgn0002906 | 56
FBgn0050169 | 41
FBgn0015546 | 39

The annotations are all from IBDs curated by an expert curator in April, not by a script.

[2018-09-18 07:16] hattrill commented on #2074
These are coming via the GOA database.

Are 56 annotations what we want to see per gene coming from PAINT? If you have a look at the example gene in AmiGO http://amigo.geneontology.org/amigo/search/annotation?q=FB:FBgn0002906 - these come directly from PAINT.  There are 56 here too.

If it is a curator error and I suspect the other ones that have appeared are also curator error too.

I think that

[2018-09-18 09:06] pgarmiri commented on #1655
Hi, the MTBBASE annotations have been reviewed and the spreadsheet has been updated with the changes.
Penelope

[2018-09-18 09:39] pgaudet commented on #2074
We never made that a strict rule, because sometimes there just isn't enough data, but the majority of annotations propagated should indeed have more than 1 annotation supporting it (at least in the same branch).

[2018-09-18 10:51] pgarmiri commented on #1940
Hi,
The UniProt annotations from EBI have been reviewed and the changes have been reported in the spreadsheets. I haven't done anything for the ISS annotations as they will be mirroring the changes of the experimental parent.
The rest UniProt annotations are from SIB ( some have the label in the end). @sylvainpoux could you please take care of them? For PMID:16943429 I have requested a new complex

[2018-09-18 11:08] sylvainpoux commented on #1940
I'm Sorry, but we honestly have no time and resources to handle this currently.

When curation guidelines that affect so many annotations are being changed, a mechanism should be found to automatically update entries. Reviewing hundreds of annotation is simply not sustainable.

Sylvain

[2018-09-18 12:47] pgaudet commented on #1862
@Antonialock I think this is gone - can you check ?

[2018-09-18 12:50] pgaudet commented on #1863
@ggeorghiou I see the GO mapping from the KW, but not the keyword itself:
O14286

Is this expected ?

[2018-09-18 16:11] dustine32 commented on #2074
Thanks again @hattrill ! Looking at the GOA goa_fly.gaf history using a simple `grep IBA` test, I do see a dramatic increase this month:
[code]
Making an assumption that @tonysawfordebi can probably correct, the upstream files that are likely to be ingested into GOA would be the GO pipeline release files:
[code]
Where I don't see the increase; in fact the current GOA release seems to match the cur

[2018-09-18 17:04] dustine32 commented on #2074
A few more checks looking at some of the examples in the PAINT QC report:

The TAIR:locus:#### with/from valued IBAs are now in the current goa_fly.gaf:
[code]

After the PAINT IBA GAF generation script was [fixed](https://github.com/pantherdb/fullgo_paint_update/issues/7) to lowercase the qualifiers:
[code]

[2018-09-18 21:35] vanaukenk opened #2076 "Annotation review - check use of has_input for MF annotations"
On the GO-CAM calls, we have been discussing the use of has_input vs has_direct_input for Molecular Function annotations.

For conventional annotation, has_direct_input has typically been used to capture targets of an activity where there is a direct physical association between an entity and that target.  See:
http://wiki.geneontology.org/index.php/Annotation_Extension_Relation:has_direct_input

[2018-09-18 22:37] dustine32 commented on #822
@pgaudet Returning back to this one now because I can finally see the results of the GAF test run (the USC HPC server cluster was down all last week). I confirmed that the PomBase:SPAC22F3.06c to GO:0001018 IBA annotation did not get generated. This means it shouldn't be included in next month's PAINT GAF submission. For comparison, the 8/23/18 PAINT GAFs did contain this line.

I'm pretty sure th

[2018-09-19 06:50] ValWood commented on #2074
This looks like a general over- annotation of the family (based on the fact that this protein family  is studied by >1000 papers)

There are many annotations  that probably shouldn't be transferred here
i) a number of "response to" terms that are clearly experimental conditions
ii) negative regulation of apoptosis
iii) homodimerization activity related terms
iv) many more indirect phenotypes
etc
M

[2018-09-19 06:53] ValWood commented on #2074
It is directly involved in a number of  different repair processes through
 via its role in unwinding an replication fork processing

[2018-09-19 07:01] ValWood commented on #1862
We would filter this locally so it would be difficult for us to know if the more global issue is fixed.
If @marcfeuermann   is happy the ticket can be closed.

[2018-09-19 07:04] ValWood commented on #1862
actually, the mapping wasn't filtered and it is still there:
https://www.pombase.org/gene/SPCC1183.03c

[2018-09-19 07:12] ValWood commented on #2029
Well Re the letters:

"The two 'strange items' are letters which are generally indexed.  Their titles and content might be a little unorthodox but they are letter to benefit patient education ."

Which  I find really strange. I wonder if they are confusing "letter type articles" and the publisher tagged these as "letter". I don't really know how to proceed with this one!

and also I got a boiler p

[2018-09-19 07:14] ValWood commented on #2029
I despair. How can they possibly think that indexing these questions is useful?

[2018-09-19 07:43] tonysawfordebi commented on #2074
@dustine32 You're absolutely right - once the issues that our parser was complaining about were fixed, the number of PAINT annotations that we were able to import increased massively.

Between our last last two GOA releases (16 July & 10 September) the number of annotations from PAINT increased by 871K, to an additional 180K proteins.

[2018-09-19 07:45] ValWood commented on #1772
I think that the prefix should come from column1 (DB) 15. At least that is how I have always understood it.
http://geneontology.org/page/go-annotation-file-gaf-format-21

[2018-09-19 07:50] tonysawfordebi commented on #1772
@ValWood Spot on. The combination of cols 1 & 2 identify a specific entry in a specific database.

Actually it would make a lot of sense to merge those two columns into a single one, so that things are referred to by simple CURIEs everywhere, but I don't have the energy to open that particular can of worms...

[2018-09-19 07:59] ValWood commented on #1940
Maybe there are some ways we could reduce this list?

But at a quick glance many are quick to fic and should just be deleted.

For example

Transitional endoplasmic reticulum ATPase subunits annotated to FACT complex
or
ATP synthase subunit alpha, mitochondria annotated to COP9 signalosome.

Or if they are clearly part of the complex, like

26S proteasome non-ATPase regulatory subunit 9 | colocali

[2018-09-19 08:02] hattrill commented on #2074
To be clear - this isn't a GOA thing - it is in AmiGO which is direct from PAINT.

Yes, it looks like curation issue rather than a pipeline issue.
In the first iteration of PAINT, huge numbers of annotations were transferred as curtaors were just propagating anything in common - I remember that p53 had ~50 IBAs. This gave us a lot of crap - "response to", "process x involved in highly specific thi

[2018-09-19 08:04] ValWood commented on #1772
But you could open a ticket in 78? days... :)

[2018-09-19 08:05] tonysawfordebi commented on #1772
Now there's an idea...

[2018-09-19 08:06] ggeorghiou commented on #1863
The keyword in Uniprot for Atm1 is KW-0410: Iron transport which is mapped to GO:0055072 - iron ion homeostasis. The entry has the keyword in it on UniProt and bases the activity of this Atm1 on this paper: PMID:16306692.

PAINT has a similar annotation to cellular iron ion homeostasis for this entry.

It might be worth having a think that we should change the mapping for that particular keyword t

[2018-09-19 08:28] ValWood commented on #1863
problem with changing the KW to transport, frataxin has this mapping:
https://www.pombase.org/gene/SPCC1183.03c

[2018-09-19 08:33] pgaudet commented on #1863
How about mapping KW-0410: to GO:0006826 iron ion transport?

Not sure about the assignment of the KW to the protein, the paper @ggeorghiou  cites is a little old but that seems consistent with other papers (looking quickly in PubMed).

Pascale

[2018-09-19 08:37] pgaudet commented on #1862
The Keywords I see in the UniProt entry are
Heme biosynthesis, Ion transport, Iron storage, Iron transport, Transport

but not iron homeostasis. Where do you see that ?
(Heme biosynthesis seems odd too @ggeorghiou )

[2018-09-19 08:55] hattrill commented on #2076
@vanaukenk I have added then FlyBase annotations that currently lie in the GOA DB and do not go out via GOC to the spreadsheet.

[2018-09-19 09:28] ggeorghiou commented on #1862
There is no keyword for iron homeostasis but the keyword that maps to cellular iron ion homeostasis is Iron Storage (KW-0409) which is mapped to GO: GO:0006879 - cellular iron ion homeostasis

[2018-09-19 09:40] pgarmiri commented on #1940
From my experience, dealing with similar amount of annotations, I found that I did have to go back to at least the abstract of the paper.
Some cases were as you said @ValWood ; proteins were part of the complex, so the qualifier was just to be deleted. I did have to request a new complex term to be created for one of the cases; that was more time consuming.
But other cases were using the colocaliz

[2018-09-19 09:55] pgaudet commented on #1940
I just created a rule for this.

[2018-09-19 09:59] pgaudet commented on #1862
My question was, why map transport KW to homeostasis ? Why not to transport ? That seems the safest mapping.

[2018-09-19 10:03] pgaudet commented on #1940
For the proteins that are actually part of a complex, are they often annotated twice, both with and without the qualifier ? We could perhaps query that ?

Pascale

[2018-09-19 10:27] ValWood commented on #1862
transport isn't correct fro frataxin, see above.
Maybe remove the KW?

[2018-09-19 10:28] ValWood commented on #1940
That's a good idea, I suspect that they would often be (especially allowing all evidence codes)

[2018-09-19 12:55] pgaudet opened #2077 "Review annotations to GO:0033212 iron assimilation"
For the work on iron transport (https://github.com/geneontology/go-ontology/issues/14892):
 _GO:0033212 iron assimilation_ will be renamed _iron import into cell_

Many annotations to this term need to be reviewed (unrelated to the change in the ontology):

https://docs.google.com/spreadsheets/d/1WpQjTUSovtcoZkack9OcYow9KaMWJm6jrfPrz_BuETg/edit#gid=0

Contributor   (Assigned by) | Number of annota

[2018-09-19 13:05] addiehl commented on #2029
I think it's entirely within the purview of Pubmed to index the Mayo Clin Health Lett, which is a patient focused health information news letter published by the Mayo Clinic on a subscription basis to the general public.  The Mayo Clinic is a well-known hospital system based in Minnesota with an extensive research arm.  Mayo attracts patients from across the US and internationally due to its high

[2018-09-19 13:09] vanaukenk commented on #2076
@hattrill - thank you!

[2018-09-19 13:31] hattrill commented on #2077
done FB

[2018-09-19 13:44] deustp01 commented on #2029
In the end, this is a question of annotation strategy: do you want your dataset to be comprehensive, including all assertions about your domain that are said to be based on experimental data, or do you want to impose some quality criteria of your own beyond the editorial standards of a journal like Cell to ensure that your annotations are not only high-profile, newsworthy, and of interest to your

[2018-09-19 13:54] addiehl commented on #2029
Unfortunately, it is probably beyond the ability of most GO curators, or indeed, most scientists outside a specific subdomain of biology or medicine, to spot fraudulent or ethically compromised publications that are published in reputable peer reviewed journals prior to their retraction.  It would be good, however, to remove annotations for articles that have been made from articles that are subse

[2018-09-19 14:55] ValWood commented on #2029
Hi @addiehl  I was not objecting to the "letters"   themselves these are "articles". But these  "reader questions" hardly seem to constitute  reviewed medical articles?
https://www.ncbi.nlm.nih.gov/pubmed/21038498

[2018-09-19 15:02] ValWood commented on #2029
@deustp01  I don't think we should need to impose editorial standards. Bad papers will always be published, and we need ways to flag these too.

What I would expect, is that PubMed would only index articles from journals with a robust review procedure. This used to be  the case, I remember extensive vetting of journals before they were indexed. ....but it clearly isn't any longer.

@addiehl many c

[2018-09-19 16:28] BarbaraCzub commented on #2076
ARUK-UCL - done.

[2018-09-19 16:39] RLovering commented on #2076
Hi Kimberley there are far too many for me to tackle right now, and I am not sure why the more specfic relation is needed. Is there documentation available for all of the relation to use for MF terms eg DNA binding terms v transcription regulator activity terms?
Sorry just very busy
Ruth

[2018-09-19 19:20] pfey03 commented on #2076
@vanaukenk The rows are now frozen to 103 and I cannot get to dictyBase annotations anymore as I don't seem to be able to unfreeze the rows. Would you be able to make the rows < 103 available again?
Thanks!!

[2018-09-20 14:26] pgaudet commented on #2076
hi @pfey03 I removed the filters and the hidden columns.

Pascale

[2018-09-21 09:57] pgarmiri commented on #2035
Hi @ValWood ,

I finally got some time and  had a look at this protein.

I curated one of the papers you suggested (PMID:   26666268 ). The other one was more about the disease causing variant of the protein. I added another one that was done mainly with the mouse protein that would provide new annotations ( PMID:28585542  "Loss of function CHCHD10 mutations in cytoplasmic TDP-43 accumulation and

[2018-09-21 15:27] Antonialock opened #2078 "RNA polymerase II, core complex"
There are 3 human proteins annotated to RNA polymerase II, core complex that look odd.

https://www.uniprot.org/uniprot/Q9H5H4 - ZNF768 Zinc finger protein 768 assigned by Interpro
https://www.uniprot.org/uniprot/Q9UBK2 - PPARGC1A Peroxisome proliferator-activated receptor gamma coactivator 1-alpha assigned by Uniprot
https://www.uniprot.org/uniprot/O94763 - URI1 Unconventional prefoldin RPB5 inte

[2018-09-21 15:38] RLovering commented on #2035
Hi Penelope

I spotted this in my inbox. I have deleted 2 of the annotations for you. But I didn't realise it has been agreed that protein binding data is sufficient to remove ND MF annotations. Or as it is part of the the MICOS complex are you planning to add an activity based on its function here?
Thanks
Ruth

[2018-09-21 16:00] pgarmiri commented on #1934
All UniProt experimental annotations have been updated apart from one that is pending as I just email the SIB curator. The spreadsheets have been updated accordingly. ISS annotations will be updated automatically to mirror the changes of the experimental annotations.

[2018-09-21 16:00] #1934 closed

[2018-09-21 16:35] pgarmiri commented on #2035
Hi Ruth,

Thank you for looking into those so promptly! Would you be happy with changing the other proteins as well? I think the same arguments above are valid for all proteins curated.

My suggestion was not to just delete the 'negative regulation of ATP citrate synthase activity' but to replace it with GO:0007005 'mitochondrion organization' ( ..that experiment was indicating an increased mitoch

[2018-09-21 16:39] RLovering commented on #2035
Hi Penelope

sorry I should have spent more time reading your comments. All done I think

Best

Ruth

[2018-09-21 16:55] Antonialock opened #2079 "R2TP complex"
human ECD is annotated to R2TP complex, assigned by uniprot

I don't think this protein is part of this complex (it has qualifier colozalizes with) so the annotation should probably be removed? e.g. def for the coplex doesn't mention ECD

A highly conserved protein complex comprised of two ATP-dependent DNA helicases (Rvb1p and Rvb2p in yeast, Pontin52 and Reptin52 in humans), Pih1p in yeast or PI

[2018-09-22 20:28] ValWood commented on #2035
All the evidence so far for MICOS affecting oxidative phosphorylation appears to be indirect (due to the affects on inner membrane morphology).
Summarized nicely in this recent review
https://www.ncbi.nlm.nih.gov/pubmed/27245231
I wouldn't annotate MICOS to oxidative phosphorylation.

This indeed appears to be the case. Mic60 depletion affects Δψ and ATP production (Ding et al. 2015; John et al. 2

[2018-09-22 20:34] ValWood opened #2080 "IPR008914"
This is a  question really...
@Antonialock  and I were a bit puzzled by this family. I vaguely remember looking at it in the past.  Family members seem to classify as a 'secreted signaling molecule' and a ribosomal protein. Is this correct?  (the mitochondrial family member isn't mentioned in the description, but appears to be conserved).
https://www.pombase.org/gene/SPBC2F12.10

http://www.ebi.ac

[2018-09-23 12:40] ValWood opened #2081 "missing human DEFB112 annotation"
Q30KQ8
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q30KQ8
has no process annotation in AmiGO, but has an InterPRo and UniProtKB-KW mapping

in QuickGO has

https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q30KQ8
UniProtKB:Q30KQ8 | DEFB112 | involved_in | GO:0006952    defense response | ECO:0000322 IEA | GO_REF:0000037 | UniProtKB-KW:KW-0211 | 9606 | UniProt |  
UniProtKB:Q30

[2018-09-23 12:43] ValWood commented on #2081
I found them here
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A287BBL9

but how does this get into AmiGO since it isn't  the entry in the reference proteome set? It really is IMPOSSIBLE to use this data ....we have multiple problems every time we attempt to do any analysis....it's very frustrating-  I can't even think of a good workaround for this.
We have been trying to  finish t

[2018-09-23 12:46] ValWood commented on #2081
In fact when I go to the Gorilla antry I see the  PAINT annotation:
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q30KL5
but that isn't on the human either?

[2018-09-23 13:09] ValWood opened #2082 "human entries missing from AMiGO CDKN2A Q8N726 etc SLC35A4, MOCS2"
This is a human protein entry, in Swiss-prot
https://www.uniprot.org/uniprot/Q8N726
but missing from AmiGO.

integrated into UniProtKB/Swiss-Prot: October 11, 2005

[2018-09-23 13:13] ValWood commented on #2082
This is in UniPROT but with a different ID.
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P42771

@Antonialock  this is why I recommend that we use the QforO set. It aligns with AMiGO

https://www.uniprot.org/uniprot/P42771

[2018-09-23 13:16] ValWood commented on #2082
Caution
The proteins described here are encoded by the gene CDKN2A, but are completely unrelated in term of sequence and function to tumor suppressor ARF (AC Q8N726) which is encoded by the same gene.Curated

So  should both of these entries be in AMiGO?

I think the problem may be caused here becasue both have the same gene name?

[2018-09-23 13:34] Antonialock commented on #2082
P0C7T4
Q6P5R6
L0R6Q1
P58400
P58401
Q9HDB5
Q13765
Q8N726
O43687
P62861
Q8NDA8
O96033
P30443
P30459
P16188
P16189
P01892
P04439
P10316
Q09160
P13746
P30447
P05534
P18462
P30450
P30512
P10314
P30453
P30455
P30456
P16190
P30457
P30498
Q29718
P01889
P30461
P30466
P03989
Q95365
Q04826
P30480
P30486
P10319
Q29940
P30460
P30462
P18463
P30475
P30479
P30481
P30483
P30484
P30485
P30487
P30490
P30491
P30488
P

[2018-09-23 13:39] ValWood commented on #2082
Which list is this?

On 23/09/2018 14:34, Antonia wrote:

--
University of Cambridge
PomBase http://www.pombase.org/
Cambridge Systems Biology Centre http://www.sysbiol.cam.ac.uk/Investigators/val-wood

[2018-09-23 13:56] ValWood commented on #2082
Q6P5R6
RPL22L1
 60S ribosomal protein L22-like 1
In AmiGO
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q6P5R6
BUT
does not have "cytoplasmic translation" as the UniPROT entry does
https://www.uniprot.org/uniprot/Q6P5R6
60S ribosomal protein L22-like 1
ONLY has 60S ribosomal protein L22-like 1

L0R6Q1 this one has probably been filteres as redundant becasue it has the name
GeneSLC35A4

[2018-09-23 14:46] ValWood commented on #2082
@Antonialock  in all of the cases I looked at there are 2 isoforms or  2 proteins (i.e tandem fusion) described by a single gene name. I suspect they when the reference set is defined if duplicate names exist  the longest isoform is retained and the other one is removed. This works OK for isoforms but not in other edge cases (tandem fusions or the same gene name applied to 2 adjacent but completel

[2018-09-23 14:49] ValWood commented on #2082
Added to
Representing complete proteomes in GO
agenda item

[2018-09-23 14:50] ValWood commented on #2081
Added to
Representing complete proteomes in GO
agenda item
http://wiki.geneontology.org/index.php?title=2018_Montreal_GOC_Meeting_Agenda&action=edit&section=16

[2018-09-23 15:00] ValWood commented on #2081
@pgaudet  who could troubleshoot this. It seems that it could be either a reference proteome issue, or a GO pipeline issue?

[2018-09-23 15:52] ValWood commented on #2082
O95278 https://www.uniprot.org/uniprot/O95278
descirbes 8 laforin isoforms and is clearly  the canonical larorin entry.

GO uses https://www.uniprot.org/uniprot/B3EWF7#sequences
which is describes as laforin isoform9
MGI have annotated this one using
https://www.uniprot.org/citations/20453062
but it is not clear to me that this annotation really belongs on this isoform It seems to be about canonic

[2018-09-23 15:55] ValWood commented on #2082
anyway with the current situation we use all of this annotation in GO
https://www.uniprot.org/uniprot/O95278#sequences because  the non-canonical isoform is represented  in the reference proteome

[2018-09-23 15:58] Antonialock commented on #2082
Yes  O95278 same story
I had just missed tagging it with "not in amigo" (was only tagged as "already annotated")
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=O95278

[2018-09-23 16:10] ValWood commented on #2082
MOCS2
is really 2 separte proteins. Both have the same HGNC name

https://www.uniprot.org/uniprot/O96007
https://www.uniprot.org/uniprot/O96033
This protein is produced by a bicistronic gene which also produces the large subunit (MOCS2B) from an overlapping reading frame. Expression of these 2 proteins are related since a mutation that removes the start codon of the small subunit (This protein is

[2018-09-23 16:13] ValWood commented on #2082
L0R6Q1 this one has probably been filtered as redundant because it has the name
GeneSLC35A4 even though it is
SLC35A4 upstream open reading frame protein
this needs renaming since it is an independent protein
https://www.ebi.ac.uk/interpro/entry/IPR027854/taxonomy
short transmembrane mitochondrial protein
- [ ] Action let HGNC know to disambiguate HGNC names
 @sartweedie

[2018-09-23 23:56] Antonialock opened #2083 "KW:KW-0879"
WWOX has an annotation to WNT signaling from KW:KW-0879 which looked a bit strange

from 19465938 it looks like this can be refined to negative regulation

[2018-09-24 08:47] asangrador commented on #2080
This seems to be genuine. This paper for the homologue in cerevisiae comments about it: 'MrpL35, a mitospecific component of mitoribosomes, plays a key role in cytochrome c oxidase assembly. PMID:
28931599'.  The ribosomal yeast proteins contain a PEBP-like domain towards the C-terminal region and therefore are included in this group, which seems to be quite diverse. We don't explain that in the a

[2018-09-24 08:50] ValWood commented on #2080
so some family members are mitochondrial ribosomes and some members are secreted signalling components? unusual....OK

[2018-09-24 09:18] asangrador commented on #2080
The region that they have in common and defines the family, the PEBP-like domain, is thought to be involved in ligand binding. But yes, it is quite an usual group.

[2018-09-24 11:40] sartweedie commented on #2082
HGNC name at the gene level rather than the transcript level. While functionally distinct, MOCS2A and MOCS2B are alternative products of the same gene (MOCS2) PMID:16737835 so we wouldn't give them separate HGNC symbols.

The regulatory upstream ORF L0R6Q1 is also annotated as an alternative transcript of the SLC35A4 gene - though I agree the name here doesn't apply to both products. It is also od

[2018-09-24 12:27] ValWood commented on #2082
looking at MOCS2 again it is described as
This protein is produced by a bicistronic gene which also produces the large subunit (MOCS2B) from an overlapping reading frame. Expression of these 2 proteins are related since a mutation that removes the start codon of the small subunit (MOCS2A) also impairs expression of the large subunit (MOCS2B).

so, although it is overlapping with, and regulatory, i

[2018-09-24 12:29] ValWood commented on #2082
couldn't they be  MOCS2A and MOCS2B  both with the synonym MOCS2?

[2018-09-24 12:30] ValWood commented on #2082
i.e it's not just a different isoform from alternative splicing. There are different genes/proteins that just happen to be overlapping. Bizarrely...

[2018-09-24 12:36] RLovering commented on #2082
I assume you are aware that many curators are annotating UniProt IDs in Protein2GO. The GO annotations are exported to Ensembl. Ensembl then exports only the annotations associated with the longest transcript ID for the gene, so tools getting their annotations from Ensembl do not get as many (often manual) annotations as people getting their annotations from EMBL-EBI.

But I don't know how the Ens

[2018-09-24 12:45] ValWood commented on #2082
I don't think this is anything to do with Ensembl.
The set of UniProt entries for human in AmiGO/GO seems to match the reference proteome set here:
https://www.ebi.ac.uk/reference_proteomes
This has duplicate HGNC's removed, even if they encode different proteins. The assumption is that they are isoforms but in some of the examples above they are completely different proteins (the cases I flagged

[2018-09-24 12:47] sartweedie commented on #2082
Plenty genes encode different proteins that do different things - these are just the extreme cases. I don't see it as much different from annotating to a generic UniProt and put the relevant isoform in column 17. Here you are annotating to the gene and need the separate UniProts in column 17.  I do take you point about them having no sequence in common and I'll raise it with the group but,  broadl

[2018-09-24 12:49] ValWood commented on #2082
@selewis  the reference proteome curators need to be aware of this. At the moment one (the shortest)  gets chucked...

[2018-09-24 13:47] pgarmiri commented on #2035
Hi @ValWood ,

I am afraid I don't have access to the paper you pointed, so I can read only the abstract and the parts you posted here. So, just from those I understand that certain component of MICOS are required for the formation and function of certain respiratory complexes (the last two sentences above).

Also, I found this paper (work done in yeast) https://www.ncbi.nlm.nih.gov/pmc/articles/P

[2018-09-24 13:58] vanaukenk commented on #2076
@RLovering - do you mean that you are not sure why we need 'has direct input' for MF annotation extensions?

[2018-09-24 15:09] vanaukenk commented on #2076
For GO-CAM models, though, we are only using 'has input' for capturing the targets of MFs and so we're trying to understand what curators were intending to capture with 'has input' in conventional annotations that might cause inconsistencies in interpretation if we only use 'has input' for GO MFs.

One thing I _think_ I'm seeing in conventional annotations is use of 'has input' for enzyme-substrat

[2018-09-24 15:19] pfey03 commented on #2076
Also, the definition for has_input:
"p has input c iff: p is a process, c is a material entity, c is a participant in p, c is present at the start of p, and the state of c is modified during p"

Should be updated if also MF are annotated now for functions with direct binding once the whole process gets final. Just came to mind...

[2018-09-24 15:26] ukemi commented on #2076
But the process in the definition above is not restricted to GO biological processes. It would include GO molecular functions. We need to keep in mind that the relations are not restricted only to GO use, which in some cases can be confusing for GO annotators.

[2018-09-24 15:28] pgaudet opened #2084 "Review annotations to GO:0033216 - ferric iron import"
GO:0033216 - ferric iron import ~will be obsoleted~ will be merged into the parent GO:0006826 iron ion transport for now. , see https://github.com/geneontology/go-ontology/issues/16408

Please review your annotations (1-2 annotations per group):

https://docs.google.com/spreadsheets/d/1R7q8p7s4m_PF5dhkW09o1ghgpyYRxdyGF7jr5Kb6ezo/edit#gid=0

It'd still be good to review anotations.

MTBBASE @ggeorg

[2018-09-24 15:30] pfey03 commented on #2076
Ah ok, thanks for that David! Process for them does not mean strictly BP, good to know.

[2018-09-24 15:30] vanaukenk commented on #2076
@pfey, are you concerned about function vs process (as used in GO) or whether binding actually qualifies as modifying the state of 'c'?

[2018-09-24 15:32] ukemi commented on #2076
Good point. Is bound-C a different state than C?

[2018-09-24 15:36] pfey03 commented on #2076
If the MF modifies the entity and in oder to do has to bind, yes. I thought this is the reason now to use has_input for MF and GO CAM?

[2018-09-24 16:30] pfey03 commented on #2076
Done now with reviewing Dicty

[2018-09-25 06:40] pgaudet commented on #2078
@ggeorghiou @asangrador Can you please have a look ?

[2018-09-25 06:45] pgaudet commented on #2081
@kltm Any idea ?

[2018-09-25 06:46] pgaudet commented on #2079
Next time please provide AC numbers - so much easier!

[2018-09-25 06:47] pgaudet commented on #2079
Removed.

[2018-09-25 06:47] #2079 closed

[2018-09-25 06:49] pgaudet commented on #2041
@hdrabkin you did remove lactation ? If that the case I think this ticket can be closed, right @Antonialock ?

[2018-09-25 06:50] pgaudet commented on #2013
@vanaukenk These are done. Close ?

[2018-09-25 07:00] pgaudet commented on #2011
* deleted Gage1 (Q13065) + cellular defense response
* deleted O75459 PAGE1 + cellular defense response
* deleted Q9UEU5 GAGE2D + cellular defense response
* deleted O43908 + cellular defense response

----
@pgarmiri Can you delete these:
Q15773 MLF2  GO:0006952  defense response
Q6MZN7 defense response

Thanks, Pascale

[2018-09-25 07:02] pgaudet commented on #2014
@kltm @dougli1sqrd Some RGD references are indeed missing from AmiGO - can you please have a look ?

<img width="1215" alt="image" src="https://user-images.githubusercontent.com/4782928/45998012-bb555700-c0a1-11e8-99b1-e30b6e61845c.png">

[2018-09-25 08:13] ggeorghiou commented on #2078
Hi, the UniProt annotations are not in the GOA database anymore with the exception of CHD6 which already has an open dispute to be reviewed by a curator at SIB. What you see on the UniProt website is out of date due to how UniProt production runs so on the next public release, you should see those annotations removed.

[2018-09-25 09:11] pgarmiri commented on #2011
Hi @pgaudet and @Antonialock ,
The two UniProt annotations have been deleted as well.
Thanks,
Penelope

[2018-09-25 09:11] #2011 closed

[2018-09-25 12:52] ValWood opened #2085 "annotation review human GIG44"
https://www.uniprot.org/uniprot/P09565
described as
Putative insulin-like growth factor 2-associated protein

but I think this is just co-expressed?

- [ ]  insulin-like growth factor binding
remove?

[2018-09-25 12:52] ValWood commented on #2085
The name is misleading too....

[2018-09-25 13:14] ValWood opened #2086 "annotation review human Cep57"
human Cep57
https://www.uniprot.org/uniprot/Q86XR8

Centrosomal protein which may be required for microtubule attachment to centrosomes. May act by forming ring-like structures around microtubules. Mediates nuclear translocation and mitogenic activity of the internalized growth factor FGF2, but that of FGF1.1 Publication

these descriptions are conflicting because  being involved in centrosome/mic

[2018-09-25 13:29] deustp01 commented on #2086
A two-part thought here. The first is that some proteins are good at sticking to diverse stuff. Here the authors are claiming that, unlike the case of actin, the stickiness is physiologically relevant and specific. (No clue whether the experiments really show that.) The second is a recollection from 10 years ago that, somewhere in the vicinity of the RAN small GTPase and its associated proteins th

[2018-09-25 15:02] bmeldal commented on #1990
Examples can be found by using the following filters:
gene product = complex
aspect = function
evidence = IPI
with/from=UniProtKB
or reverse the aspect and with/from filters.
There are 68 annotations.

I just discovered that all 275 IntAct binaries with complexes don't get exported. Looks like we need to update our export pipeline!

More worrying, there are 5 annotations of complexes/UniProtKB wit

[2018-09-25 15:04] bmeldal commented on #1990
@vanaukenk Can you post link to wiki entry, please?

[2018-09-25 15:11] ValWood commented on #2086
It's not impossible. However there is no evidence. The paper providing the TAS for Cep57 does not mention Cep57, or its synonyms TSP57?

[2018-09-25 15:11] pgaudet commented on #2078
Fixed by @lbreuza

[2018-09-25 15:11] #2078 closed

[2018-09-25 15:13] ValWood commented on #2086
Oh it's "translokin" in the title!
OK so this paper *Is* about cep57

[2018-09-25 15:21] ValWood commented on #2086
HA–FGF-2, which were concentrated in the centrosome area.
To determine whether the intracellular transport of exogenous
FGF-2 was dependent on microtubules, we carried out experiments
with depolymerizing drugs. Cytochalasin B, which targets actin
microfilaments (Fig. 4b, compare the actin filament distribution in
rows 4 and 5), did not alter the distribution of FGF-2 in the nuclear
region. By cont

[2018-09-25 15:38] ValWood commented on #2086
This process *could* occur during centrosome insertion into the nuclear envelope, although I'm not sure how this happens in a closed mitosis. This would make sense for these proteins and from these results. This would rule out the nucleocytoplasmic transport term.

It would er on the side of caution and use an appropriate  "localization" term

[2018-09-25 15:56] kltm commented on #2081
What's the upstream source file that we should be poking around in? We can then see if that line has a rule violation.

[2018-09-25 16:02] kltm commented on #2014
Looking at what we have for the upstream RGD `source`:
[code]
PMID:21784977 does not appear.

[2018-09-25 16:13] ValWood commented on #2081
I don't think it's a rule violation.
there are lots of annotations missing SP:KW and InterPRO
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q30KQ8

[2018-09-25 17:51] kltm commented on #2081
"Upgrades" and removals can be rule violations (or may be mapped onto a rule in the future); first we have to see if things exist in our upstream. If they do not exist in our upstream, then it is a policy issue: do we need to ingest more/different files.

[2018-09-25 18:09] ValWood commented on #2081
OK, but I can't see how all of the above can be rule violation. Some maybe, but not

UniProtKB:Q30KQ8 | DEFB112 | involved_in | GO:0045087    innate immune response | ECO:0000256 IEA | GO_REF:0000002 | InterPro:IPR025933 | 9606 | InterPro

looks kosher.
It's from a pipeline so syntax errors unlikely. No taxon violations. No "do not annotate". What else is there?

[2018-09-25 18:10] ValWood commented on #2081
Where can we look up an individual entry to see if there are problems? Is that possible?

[2018-09-25 18:15] kltm commented on #2081
What is the origin file?

[2018-09-25 18:27] ValWood commented on #2081
QuickGO
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q30KQ8

AmiGO
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q30KQ8

[2018-09-25 19:12] kltm commented on #2081
For example if I check our upstream goa files for annotations with GO:0005576 and  Q30KQ8:
bbop@wok:/home/skyhook/release/products/annotations$ zgrep GO:0005576 goa_*-src.gaf.gz | grep Q30KQ8

[code]

If I run the same check on our "product" files:

[code]

So while there were more annotations at the beginning of the pipeline, all of the human ones were dropped from the "all" GAF, likely due to so

[2018-09-25 21:38] cmungall commented on #2081
Eric, goa_uniprot_all is a red herring here. But in answer to your question, we want there to be one file for human.

Can we try and stick to one ID and one species. Otherwise things get confusing fast due to the fact that sometimes things change upstream on a daily basis.

The original question was about Q30KQ8, so I will answer that (spoiler: there is no mystery here)

This is what we received f

[2018-09-26 07:49] ValWood commented on #2081
Yep,
UniProtKB       Q30KQ8  DEFB112         GO:0042742      PAINT_REF:15001 IBA     PANTHER:PTN001430319    P       Beta-defensin 112       DEFB112|DEFB12    protein taxon:9606      20140829        GO_Central
UniProtKB       Q30KQ8  DEFB112         GO:0045087      PAINT_REF:15001 IBA     PANTHER:PTN001430319    P       Beta-defensin 112       DEFB112|DEFB12    protein taxon:9606      20140829

[2018-09-26 07:50] ValWood commented on #2081
Actually I'll reopen this one and assign to @pgaudet  since this is the annotation tracker

[2018-09-26 16:00] keslingmj commented on #2074
Hello Everyone,
My name is Michael Kesling and I worked with Panther from 1999-2003 and recently started doing curation for them again.  While I thought that I understood the much updated (and improved) process, I obviously did not, as I have created quite a few errors that you have recently identified.  I placed far too much weight on "experimentally documented" annotations without confirming the

[2018-09-27 01:44] cmungall commented on #2021
Looks like discussion has continued in original ticket, so closing this rather than forking discussion

[2018-09-27 08:15] hattrill commented on #2074
Hi Michael, thank you for offering to review these. We appreciate very much indeed!
It would be really good if you could perhaps make some short guidance notes to help PAINT curators in the future.

[2018-09-27 11:17] pgaudet commented on #2014
@rarebres We cannot find these PubMedIDs in your original GAF (http://snapshot.geneontology.org/annotations/index.html); neither is it is the source you provide here: http://geneontology.org/gene-associations/submission/

(Although I do see them in RGD). Can you please check that the annotations are correctly exported at your end ?

Thanks, Pascale

[2018-09-27 13:35] hdrabkin commented on #2041
I am away at a meeting and cannot access.
I'll ask @LiNiMGI

[2018-09-27 13:51] pgaudet commented on #1899
Closing the ticket. If there are remaining annotations to that term, the reports will show it.
Thanks everyone !

Pascale

[2018-09-27 13:51] #1899 closed

[2018-09-27 15:40] LiNiMGI commented on #2041
PMID:12388746
The paper did assess the ability of Cav-1 suppress prolactin receptor signaling…
We have previously demonstrated that Cav-1 expression is dramatically down-regulated during lactation; our preliminary results demonstrated that recombinant overexpression of Cav-1 in HC11 cells was sufficient to inhibit prolactin-induced activation of β-casein promoter activity and synthesis…ERK-1/2 is

[2018-09-27 16:11] pgaudet commented on #2041
Thank @LiNiMGI
 @Antonialock If it's OK with you please close.

[2018-09-27 16:44] ukemi commented on #2041
From this paragraph and the rest of the paper, can't we make a more specific relation/qualifier than 'acts upstream of or within'?

[2018-09-27 17:36] ukemi opened #2087 "InterPro:IPR000272 mapping to GO:0006811 ion transport"
Hi,

While doing QC review for new qualifiers I am seeing mouse genes like _Fxyd3_ annotated via this mapping. I think it might be better if this domain were mapped to the regulation terms or removed if inconsistent. Can you please check?

Thanks.

[2018-09-27 17:48] ukemi opened #2088 "InterPro:IPR000296 mapping to GO:0005537 mannose binding, GO:0015578 mannose transmembrane transporter activity, GO:0005537 mannose binding, and GO:"
Hi,

While doing QC review for new qualifiers I am seeing mouse genes like _M6pr_ annotated via this mapping. This gene is a mannose-6-P receptor. I'm not sure it is involved in mannose transport or binding. Can you please check?

Thanks.

[2018-09-27 17:51] rarebres commented on #2014
The files have been regenerated since my original observation of the presence of the PMIDs, and since my reporting of their absence.  After further investigation I found the explanation here:
http://geneontology.org/gene-associations/readme/rgd.README
"=====March 2018=====
At the request of the GOC, and to comply with the GOC specifications for GAFs, information about the original references for I

[2018-09-27 18:04] sandyl27 commented on #2037
We have a new GPAD that needs to be submitted but we just did a server migration and are trying to figure out the to put it so it is public.

@jimhu-tamu

[2018-09-27 18:14] LiNiMGI commented on #2041
changed to "acts upstream of negative effect" qualifier.  Li

[2018-09-27 18:32] ukemi opened #2089 "InterPro:IPR000356 mapping to GO:0007200 phospholipase C-activating G protein-coupled receptor signaling pathway"
Hi,

While doing QC review for new qualifiers I am seeing mouse genes like P2ry2 annotated via this mapping. Are the purinergic receptors always coupled to PLC or can they be coupled to other downstream effectors?

Thanks.

[2018-09-27 18:35] #2014 closed

[2018-09-27 19:27] pgaudet commented on #2037
OK thanks !

[2018-09-28 09:09] ValWood commented on #2082
re MOCS2
Adding this which was part of my response to the UniPRot helpdesk ticket.

There is no shared  protein sequence here (i.e no common exons), they are 2 independent gene products. Isn't this two genes because they have independent coordinates/positions? encoded  a bi-cistronic loci?

MVPLCQVEVLYFAKSAEITGVRSETISVPQEIKALQLWKEIETRHPGLADVRNQIIFAVR
QEYVELGDQLLVLQPGDEIAVIPPISGG

MSSLEISSSCFSLETKL

[2018-09-28 10:02] ValWood commented on #2041
I have a question and some comments.

Q. Why "upstream of or within" if you know it is upstream?

Comments

Note that PomBase don't want to receive ANY "causally upstream of" or "upstream or within"
by annotation transfer pipelines. There are lots of reasons for this.

1. Early in GO annotation our users dissuaded us from making indirect (here I'm using indirect to mean NOT directly involved in a

[2018-09-28 11:30] pgaudet commented on #1532
copied from #2041
I have a question and some comments.

Q. Why "upstream of or within" if you know it is upstream?

Comments

Note that PomBase don't want to receive ANY "causally upstream of" or "upstream or within"
by annotation transfer pipelines. There are lots of reasons for this.

    Early in GO annotation our users dissuaded us from making indirect (here I'm using indirect to mean NOT dire

[2018-09-28 12:41] ValWood commented on #1532
Will we discuss this  in Montreal?

[2018-09-28 13:03] ValWood opened #2090 "Annotation review O75909 (CCNK_HUMAN)"
negative regulation of cell cycle arrest

I didn't read the paper but I wanted to flag this one.

If this refers to the phenotype  of "arrested cells"
"negative regulation of arrest" isn't  the correct process......

Normal arrest happens in response to checkpoints The arrest caused by ablating a cyclin
will be causing issues that are detected by the checkpoints.

In addition, this appears to be a

[2018-09-28 18:03] ukemi opened #2091 "InterPro:IPR000647 | IPR020604 mapping to GO:0006260 DNA replication"
I can only find that these proteins are involved in adenovirus replication, but I don't think they are involved in endogenous DNA replication. I think most annotations derived from this mapping are misleading.

[2018-09-28 18:11] ukemi opened #2092 "IPR000700 is mapping to GO:0000160 phosphorelay signal transduction system"
Several genes in mice are getting annotations to GO:0000160 via this mapping, but this system does not exist in mice.

[2018-10-01 08:57] EBI-Hsinyu commented on #2092
Hi! Ukemi,
You are right. I have deleted this term.
Hsin-Yu

[2018-10-01 08:57] #2092 closed

[2018-10-01 09:28] pgaudet opened #2093 "Review annotation to dysf to cell wall repair"
ZDB-GENE-070501-1

Probably what was intended is plasma membrane repair ?

Thanks, Pascale

[2018-10-01 09:33] ValWood opened #2094 "InterPro:IPR002152 to cell wall macromolecule catabolic process"
Is used for  human

Q8N1E2 LYG1 | Lysozyme g-like protein 1
Q86SG7 LYG2 | Lysozyme g-like protein 2

would be a better term
https://www.ebi.ac.uk/QuickGO/term/GO:0009253

[2018-10-01 09:38] ValWood commented on #2094
or
GO:0001897    cytolysis by symbiont of host cells
(more specific child required)?

[2018-10-01 11:27] asangrador commented on #2087
I agree; I have changed the terms to regulation terms.
Cheers,

[2018-10-01 11:27] #2087 closed

[2018-10-01 11:52] asangrador commented on #2088
Thanks for letting us know. This annotation is wrong, the receptor binds mannose-6-phosphate motifs in proteins for transport from the golgi to the lysosome. I have removed the wrong annotation.

[2018-10-01 12:15] ValWood commented on #2094
Actually this is OK.

[2018-10-01 12:15] #2094 closed

[2018-10-01 14:26] ValWood opened #2095 "TAIR KT1"
potassium ion transmembrane transporter activity |   | TIGR | Arabidopsis thaliana | IGI | SGD:CY162 |   | protein |   | PMID:9477572TAIR:Publication:2681 | 20030512

This is a TAIR @tberardini annotation created by TIGR.
We don't know how these get fixed as are not in protein2GO.

.

[2018-10-01 14:36] asangrador commented on #2089
I think they mainly act though PLC, so the annotation does not seem wrong, but P2Y2 can also act through G12—Rho activation (see https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4358762/).

[2018-10-01 14:36] ValWood commented on #2095
we wanted to fix SGD:CY162 which is not an SGD ID. @pgaudet  will open a ticket to create a rule for this.

[2018-10-01 14:46] ValWood opened #2096 "Annotation review cellular potassium ion transport"
We just merged
Accession GO:0071804
Name cellular potassium ion transport
into
potassium ion transport

https://github.com/geneontology/go-ontology/issues/16455

These annotations  were direct to cellular potassium ion transport
 and will still be correct, but would be better migrated donw (most likely to
potassium import across plasma membrane"?

- [ ] shw-3 |   |   | cellular potassium ion trans

[2018-10-01 18:13] sabrinatoro commented on #2093
It should have been plasma membrane repair, yes.
I have updated the annotation.
Thank you for catching this.

[2018-10-01 18:13] #2093 closed

[2018-10-01 18:53] tberardini commented on #2095
We don't know how these get fixed as are not in protein2GO.

@ValWood : We (TAIR) can fix those types of annotations.

I replaced with SGD:CY162 with SGD:S000003665,SGD:S000001758 today.

[2018-10-01 18:53] #2095 closed

[2018-10-02 15:54] pgaudet commented on #2029
@ValWood I put some of this information here:

http://wiki.geneontology.org/index.php/Tips_to_Produce_High_Quality_Annotations#Avoiding_predatory_journals

Can we close the ticket for now ? (Feel free to suggest edits to the wiki page).

Thanks, Pascale

[2018-10-03 06:40] ValWood commented on #2029
yep

[2018-10-03 06:40] #2029 closed

[2018-10-03 11:16] hattrill opened #2097 ""protein binding" via PAINT/IBA"
There are currently 5686 annotations for GO:0005515 protein binding (exact match) evidenced by IBA (seen via
[protein_binding_PAINT.txt](https://github.com/geneontology/go-annotation/files/2441772/protein_binding_PAINT.txt)

AmiGO)
For obvious reasons, I am pretty sure that this is not intended propagation.
Perhaps screening GO:0005515 could be folded into QC/QA in the PAINT pipeline?

@tonysawfor

[2018-10-03 11:34] hattrill commented on #2097
It's just that I've never seen them before (it gets flagged in our pre-release checks, so I would have seen them)........although we did just change something with our import pipeline (because of the change in the PAINT "with" column), so perhaps we've broken a block that we had that stopped GO:0005515 without an IPI?
I'll have to grub about in our load files.

[2018-10-03 11:48] pgaudet commented on #2097
We never did that before. There is a new curator who has been given incorrect guidelines, we're in the process of fixing annotations. Sorry about that.

[2018-10-03 16:49] ValWood commented on #1971
that's ok then.

[2018-10-04 08:02] Antonialock commented on #2026
Think there are only 2 TFs in my spreadsheet

[2018-10-04 08:06] Antonialock commented on #2026
@ValWood  I looked through them, only 2 left that needs doing

 * CMC2 Q9NRP2 COXM2_HUMAN COX assembly mitochondrial protein 2 homolog
ISO yeast cmc2 mitochondrial respiratory chain complex assembly

 * COA4 Q9NYJ1 COA4_HUMAN Cytochrome c oxidase assembly factor 4 homolog, mitochondrial
ISO yeast COA4 mitochondrial respiratory chain complex IV assembly

[2018-10-04 08:31] sartweedie commented on #2082
I raised this with the group and contrary to my understand we have previously named separate ORFs in bicistronics (e.g. SNRPN and the upstream ORF SNURF). However, Elspeth's memory was that MOCS2 was no longer considered bicistronic - that fits with the NCBI gene comment but I haven't had a chance to follow up on the evidence. The orf upstream of SLC35A4 could be named like SNURF if the evidence s

[2018-10-04 11:48] Antonialock commented on #1863
I don't think iron ion transport would work

https://www.uniprot.org/uniprot/?query=keyword:%22Iron%20transport%20[KW-0410]%22&fil=organism%3A%22Homo+sapiens+%28Human%29+%5B9606%5D%22+AND+reviewed%3Ayes&sort=score
It looks like a mixture of proteins needed for homeostasis and transport, and cofactor metabolic process

[2018-10-04 18:42] ValWood commented on #1863
yep.

[2018-10-04 19:45] ValWood commented on #2082
MOCS2 translations :
![mocs2](https://user-images.githubusercontent.com/7359272/46498578-b5841200-c815-11e8-8ddf-f95dfd90a10b.jpg)

The yellow CDS is MOCS2B and the magenta one is MOCS2A.

They appear to have independent  transcripts, but they share no coding exons. The coding exon that overlaps in the sequence is in a different reading frame.

I haven't seen another example like this. It would be

[2018-10-04 19:55] ValWood commented on #2026
OK this can close if all are in the big spreadsheet.....

[2018-10-05 08:15] Antonialock commented on #2026
All weren't in the spreadsheet.

I ISSd COA4 and CMC2 to cerevisiae so now they are all in

[2018-10-05 08:15] #2026 closed

[2018-10-05 11:20] ValWood opened #2098 "human ARHGEF35 & EXOC1L &DCAF8L1 missing from AmiGO"
I can't see any reason for this. It's in the UniProt reference proteome

https://www.uniprot.org/uniprot/A5YM69

Integrated into UniProtKB/Swiss-Prot: | September 2, 2008

[2018-10-05 11:31] ValWood commented on #2098
DCAF8L1
https://www.uniprot.org/uniprot/A6NGE4
Integrated into UniProtKB/Swiss-Prot: | January 15, 2008

[2018-10-05 11:34] ValWood commented on #2098
@cmungall @kltm @tonysawfordebi

can anyone troubleshoot this one. This seems to be a different issue thatn any I encountered before. None of these appear to be in AmiGO (I searched on HGNC ID and UniPRot accession number). But they are  reviewed entries in   Swiss-Prot, and they are not new. So they do not appear to fit any of the edge cases we encountered previously.

[2018-10-05 11:53] ValWood commented on #2098
Ignore I remembered why. This is because these currently have no GO annotations. They are annotatable, but they have no annotations at present so they are not in GO. We are providing annotations for these.

Sorry! I'm getting confused!

[2018-10-05 11:53] #2098 closed

[2018-10-07 17:17] ValWood opened #2099 "PANTHER:PTN001191343 (PTHR24126)"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPCP1E11.10

I don't see

regulation of transcription by RNA polymerase II
RNA polymerase II sequence-specific DNA-binding transcription factor binding

for this.
Doesn't really fit and doesn't have a clear mammalian ortholog, although inference is from mouse

[2018-10-07 17:24] ValWood opened #2100 "PANTHER:PTN002001696 PomBase:SPCP1E11.04c"
please remove all annotations to
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPBC6B1.03c

PANTHER:PTN002001696 from PomBase:SPCP1E11.04c

they are related but this isn't a given

medial cortex is incorrect anyway, this is at the cell tip.
we don't know enough to annotate this one.

Pal1 (the paralog transferred from) isn't very well characterized anyway,  this is a single IMP. I don't

[2018-10-07 17:31] ValWood opened #2101 "PANTHER:PTN001044617"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC19B12.01

please remove

SPAC19B12.01 | TPR repeat protein, human TTC27 ortholog |   | fungal-type cell wall organization |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001044617 SGD:S000005257

This is a annotation from a phenoype so it's very weak.
The phenotype is
"Essential for Maintenance of the cell Wall"
(this phe

[2018-10-07 17:34] ValWood opened #2102 "PANTHER:PTN000086482"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC23H4.09

cdb4 | endonuclease Cdb4 (predicted) |   | ribosomal large subunit export from nucleus |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000086482 SGD:S000002508

but  cdb4 is not present in budding yeast?
http://www.ebi.ac.uk/interpro/entry/IPR004545/taxonomy

[2018-10-07 17:41] ValWood opened #2103 "PANTHER:PTN001999095"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC32A11.01

This is a DUF.
evidence for polarity very weak, if existing.
PANTHER:PTN001999095 SGD:S000005714

Description
Protein of unknown function; may be involved in positive regulation of 1,3-beta-glucan synthesis and the Pkc1p-MAPK pathway; multicopy suppressor of temperature-sensitive mutations in CDC24 and CDC42, and of mutations i

[2018-10-07 17:46] ValWood opened #2104 "PANTHER:PTN000042735 PANTHER:PTN000207233 (PTHR10371)"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC11E3.12

remove all of these. Pombe/cerevisiae  does not have complex I

SPAC11E3.12 | mitochondrial thioredoxin family protein, implicated in sulfur cluster assembly |   | mitochondrial electron transport, NADH to ubiquinone |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000042666UniProtKB:P19404 |   | protein |   | PMI

[2018-10-07 17:47] ValWood commented on #2104
see
https://github.com/geneontology/go-annotation/issues/1922
https://github.com/geneontology/go-annotation/issues/1917

[2018-10-07 17:51] ValWood opened #2105 "PANTHER:PTN001997827"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC1782.02c

please do not transfer this annotation, it's just a phenotype:

https://www.yeastgenome.org/locus/S000003879#go
Protein of unknown function; may be involved in mitochondrial DNA maintenance; required for slowed DNA synthesis-induced filamentous growth 1 2
Name Description
Increased Loss of Mitochondrial DNA 1

[2018-10-07 17:53] ValWood commented on #2104
same for

PANTHER:PTN000207233

http://amigo.geneontology.org/amigo/gene_product/PomBase:SPBC18E5.10

[2018-10-07 18:01] ValWood opened #2106 "PANTHER:PTN001997363"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC13G7.04c

PANTHER:PTN001997363 PomBase:SPCC1739.10
meiosis I

(this is an IEP for PomBase:SPCC1739.10, I am removing it)

but mac1 is vegetative, not meiotic anyway.

[2018-10-07 18:07] ValWood opened #2107 "PANTHER:PTN000211590"
I don't think you can be precise about these. I remember looking.
the family has broad specificity.

http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC23A1.14c

'de novo' L-methionine biosynthetic process |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000211590UniProtKB:Q5AXC9

cysteine biosynthetic process via cystathionine |   | GO_Central | Schizosaccharomyces pombe

[2018-10-09 09:28] ValWood opened #2108 "IPR036259 add mapping"
Could this one be mapped to
transmembrane transporter activity
and
transmembrane transport

(or do you know of  FP?)

[2018-10-09 12:53] hattrill opened #2109 "PTN000021568 CalpC NOT calcium-dependent cysteine-type endopeptidase activity"
Could you block calcium-dependent cysteine-type endopeptidase activity from PTN000021568 to FBgn0260450.

CalpC, FBgn0260450 lacks the catalytic residues for activity:
Q9VXH6	CalpC	NOT|involved_in	GO:0006508	proteolysis	ECO:0000320	IKR	PMID:12646209	20121101

[2018-10-09 13:41] pgaudet commented on #2065
OK still removed (I had some worry that annotations might be restrored)

[2018-10-09 18:36] RLovering commented on #2084
Hi

you have suggested I use the term endocytic iron import into cell, but as this term doesn't exist it is hard to revise the annotation.

Thanks

Ruth

[2018-10-09 18:48] ukemi opened #2110 "InterPro:IPR012748 mapping to GO:0042128 nitrate assimilation"
Hi,

This mapping is leading to mouse genes getting annotations to nitrate assimilation. This process does not exist in mice. The mouse gene is MGI:2145198

Thanks!

[2018-10-10 09:09] asangrador commented on #2110
Thanks for letting us know. I have remove the wrong annotation for nitrate assimilation.

[2018-10-10 09:52] pgaudet opened #2111 "Review annotations to GO:0000983 'transcription factor activity, RNA polymerase II core promoter sequence-specific DNA binding' and GO:0001075 'transcription factor activity, RNA polymerase II core promoter sequence-specific binding involved in preinitiation complex assembly'"
These terms are being merged into

https://github.com/geneontology/go-ontology/issues/16490
GO:0016251 RNA polymerase II general transcription initiation factor activity' -

Some annotations were questionable - would people please review these:

Contributor   (Assigned by) | COUNT
-- | --
FlyBase | 4
MGI | 2
~BHF-UCL~ fixed | 4
CAFA | 1
NTNU_SB | 2
~PomBase~ fixed | 1
SGD | 1
UniProt | 28
WB | 2

[2018-10-10 09:57] asangrador commented on #2108
IPR036259 matches more than one million proteins. It is very risky to give GO annotation to this huge entries, as they always match some outliers. For example this entry matches Atg22, and  BTN1 from S. cerevisiae, involved in vacuolar transport. It is difficult to say if they are FP or more distantly related.

[2018-10-10 10:08] ValWood commented on #2108
BTN1 is a transmembrane transporter. This will be published soon (I'm going to delete this conmment though ;)

Atg22 is a presumed amino acid tranmembrane transporter. https://www.pombase.org/reference/PMID:21307582

I'm happy that the 76 fission yeast entries are all TM transporters
https://www.pombase.org/gene_subset/interpro:IPR036259

It was actually Btn1 I was trying to include, but I will  m

[2018-10-10 10:31] hattrill commented on #2111
FB fine with merge.

[2018-10-10 10:39] asangrador commented on #2108
Yes, you are right about Atg22, I was thinking of plasma membrane transmembrane transport. But looking at the entry I see it matches a few 'Polyamine aminopropyltransferases' and some peptidases, so to be in the safer side I think its better to leave out the annotation for this entry. You'll have to give Btn1 manual annotation at the moment. We have other smaller entries that match Btn1, but we'll

[2018-10-10 11:19] ValWood commented on #2108
OK I'll update you when I have this.
v

[2018-10-10 11:19] #2108 closed

[2018-10-10 16:43] hdrabkin commented on #2111
Merge is fine.

[2018-10-10 21:58] vanaukenk commented on #2057
We are also seeing incorrect annotations to 'negative regulation of signal transduction' for a number of C. elegans receptor tyrosine kinases.
The original single supporting experimental annotation to human ERBB3 (UniProtKB:P21860) seems to be from a paper that describes a secreted isoform of the receptor that acts as a competitive inhibitor by binding the ligand.
https://www.ncbi.nlm.nih.gov/pubm

[2018-10-11 08:03] hattrill opened #2112 "PTN000919759 (PTHR11728) -FBgn0003598 'Suppressor of variegation 3-7' is not a glycerol-3-phosphate dehydrogenase"
FBgn0003598 'Suppressor of variegation 3-7' is not a glycerol-3-phosphate dehydrogenase, it is a DNA binding protein involved in epigenetic silencing.
PANTHER is practically the only algorithm that would make this call.

[2018-10-11 10:32] rachhuntley commented on #1796
Hello,
I’ve annotated a few ECM proteomics papers now and thought we should finalise these guidelines.
I’ve been in contact with the Matrisome tool people, Alexandra Naba and Richard Hynes, and told them we have improved the ontology around ECM and also annotated some of their papers. Alexandra has asked whether we could annotate some of their studies on ECMs from other species.

They have one stu

[2018-10-11 13:16] #2110 closed

[2018-10-11 13:18] ukemi opened #2113 "InterPro:IPR005775 mapping to GO:0006814 sodium ion transport"
Mouse gene Atp4a is getting an annotation to sodium ion transport from this interpro mapping. I do not see any evidence that this protein transports sodium. It is classified as a potassium-proton exchanger. Can you double-check the mapping?

Thanks!

[2018-10-11 14:42] ukemi opened #2114 "InterPro:IPR000867 mapping to GO:0001558 regulation of cell growth"
This term is currently mapped to regulation of cell growth. I can find papers supporting its role in cell differentiation, apoptosis and tissue morphogenesis, but nothing about regulation the growth of a cell per se. Could this mapping be checked. It might be appropriate to move it to 'regulation of growth'.

[2018-10-11 14:53] ukemi opened #2115 "InterPro:InterPro:IPR002059 mapping to GO:0006355 regulation of transcription, DNA-templated"
Some proteins like CSDE1 in mouse contain this domain, but I find no evidence that this protein regulates transcription. Instead, it is thought that it regulates gene expression post-transcriptionally by interacting with RNA.  Perhaps it would be appropriate to move this mapping to regulation of gene expression?

[2018-10-11 14:58] pgaudet commented on #2112
Thanks for reporting this. This was a tricky one, there is a duplication in flies that is easy to miss:
<img width="563" alt="image" src="https://user-images.githubusercontent.com/4782928/46813246-5f96f900-cd44-11e8-8da9-f55dcbae817e.png">

I cleaned up the family.

Thanks,

Pascale

[2018-10-11 19:38] thomaspd commented on #822
All of the questionable annotations have been corrected (see http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC22F3.06c), except for the ss DNA binding annotation, but we feel this is adequately supported in the literature for the mouse protein with the experimental annotation that was used https://www.ncbi.nlm.nih.gov/pubmed/?term=12657466

[2018-10-11 19:38] #822 closed

[2018-10-11 19:48] thomaspd commented on #860
ribosome biogenesis was removed before the paint data was loaded to the paint database in Feb. 2017.

[2018-10-11 19:48] #860 closed

[2018-10-11 19:56] thomaspd commented on #1228
Drosophila ir11a is now in PTHR42643, which has not been painted yet. The original family was subdivided because it was too diverse for an accurate alignment, but the annotations were (correctly) removed.

[2018-10-11 20:40] huaiyumi commented on #1357
The annotation is based on a mouse experimental evidence: https://www.ncbi.nlm.nih.gov/pubmed/?term=17878231
This is probably a weak evidence because it's an IPI one.

[2018-10-11 20:50] thomaspd commented on #1357
We discussed this, and we think the annotation is OK, as BMP and TGF beta receptors are in the same family.

[2018-10-11 20:50] #1357 closed

[2018-10-11 21:02] thomaspd commented on #1409
acetylcholine receptor activity annotation has been removed.  As of now, betaine receptor activity is not a GO term, so we can't add this function.

[2018-10-11 21:02] #1409 closed

[2018-10-11 21:13] thomaspd commented on #1424
@marcfeuermann can you please curate the centrosome families to have a loss of centrosome in the yeasts, with a gain of spindle pole body at the same points.

[2018-10-11 21:14] thomaspd commented on #1424
We checked all the other issues, like Wnt signaling, and these have all been fixed.  The only remaining issue is with centriole annotations

[2018-10-11 21:17] thomaspd commented on #1429
This annotation no longer appears in AmiGO, so this issue is resolved

[2018-10-11 21:17] #1429 closed

[2018-10-11 21:29] thomaspd commented on #1430
Q30201 was addressed in ticket #1330
P55899, P18858, Q18317, P28515, P20594 - we checked in amigo and those IBA annotations have been removed
G5EG88 was addressed in ticket #1409

[2018-10-11 21:29] #1430 closed

[2018-10-11 21:38] huaiyumi commented on #1492
There is a IRD loss of function annotation in the polg2 clade, so the issue was resolved.

[2018-10-11 21:38] #1492 closed

[2018-10-11 21:42] marcfeuermann commented on #1424
Okay I will do this tomorrow, Let you know when its done ;-)
Marc.

[2018-10-11 21:42] huaiyumi commented on #1547
We checked AmiGO, P18858 has no IBA annotation to GO:0051103. The issue seems to be resolved already.

[2018-10-11 21:42] #1547 closed

[2018-10-11 21:50] huaiyumi commented on #1906
These annotations were fixed in panther families and paint, but AmiGO was not reflecting the updates due to the implementation of the pipeline at the time. They are now all correct in AmiGO.

[2018-10-11 21:50] #1906 closed

[2018-10-11 21:56] huaiyumi commented on #1909
Just checked AmiGO and PANTHER, SGD:S000003153 is not annotated to GO:0003714. It seems that the issue was resolved.

[2018-10-11 21:56] #1909 closed

[2018-10-11 23:39] thomaspd commented on #1951
These have been fixed, and only "transcription repressor complex" annotations remain for this pombe gene and its yeast ortholog, CYC8.  The family has two distinct subfamilies, separated by a gene duplication at the root of the tree.  One subfamily contains this pombe gene and its yeast ortholog (and orthologs in other organisms), and seems to have proteins with just TPR repeats.  The other subfam

[2018-10-11 23:39] #1951 closed

[2018-10-11 23:52] thomaspd commented on #1952
I agree, @huaiyumi for some reason there are tos4 homologs from many fungi, including yeast and pombe, in PTHR23105 (a ribosomal protein family) in various places.  But they align really badly and clearly don't belong in the family.  Can you please remove them from the tree in the next version of PANTHER, and make a new family with these sequences (plus some others in some other fungi that aren't

[2018-10-12 00:03] thomaspd commented on #1954
I agree that it's probably a scaffold, here's the UniProt entry on its human ortholog https://www.uniprot.org/uniprot/Q9Y4A5.  But I think the current annotations in AmiGO look OK:
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC1F5.11c
Note that it's trancription coregulator, which is correct, though we could probably do better and call it an adaptor or scaffold.  I'd suggest we can