[2017-07-12 13:57] ukemi commented on #1593
I think it is the checkpoint one. I think this paper is consistent with a checkpoint (although not conclusive). PMID:18799790 (J:139646) argues that it is not involved in a novel checkpoint.

[2017-07-12 13:58] ValWood commented on #1593
Ah sorry it's in the linked ticket this part:

GO:0033315 meiotic G2/M1 DNA replication checkpoint
(There is only one pomBase and one mouse annotation to the existing term. I don't think the mouse one is about the DNA replication checkpoint. Its about preventing DNA replication. The DNA replication checkpoint is about preventing the next transition if there are problems with replication- I will op

[2017-07-12 14:05] ValWood commented on #1593
This is a DNA replication checkpoint:
A cell cycle checkpoint that prevents the initiation of nuclear division until DNA replication is complete, thereby ensuring that progeny inherit a full complement of the genome.

[2017-07-12 14:36] ukemi commented on #1592
- [ ] check term and annotations to GO:0000189 'MAPK import into nucleus'. It is currently part of the MAPK cascade.

[2017-07-12 15:14] ValWood commented on #1592
Hi David,

We have a few things like this (in other pathways), and this is one of my outstanding questions.

In the cell cycle, for example, cdc25 phosphatase dephosphorylates and activates cdc2 (Cdk1)
as part of the signalling pathway that controls the G2/M transition.
Cdc25 itself is a target of a number of signalling pathways  including replication checkpoint pathway, cell  size pathway, MAPK p

[2017-07-12 15:16] ValWood commented on #1592
Perhaps we  should make this ticket about localization discussion, and open a new ticket for the general MAPK cascade discussion (linking to this one). Localization and signalling could get long.....

[2017-07-12 16:23] ukemi commented on #1592
This ticket is supposed to be a ticket for the overall project.

[2017-07-12 16:25] ValWood commented on #1592
Shall I  open a ticket about  localization  generally in signalling or do you want to keep one huge ticket?

[2017-07-12 17:21] cmungall opened #1594 "Deploy gorule system"

[2017-07-12 18:25] ukemi commented on #1592
This ticket was opened to specifically keep track of the MAPK signaling cascade portion of the signaling project. The original idea was to open tickets like this and then to cross reference them to specific check-box tasks and other tickets. So when I added the check box above, it was simply a task to look at this in the very defined context of the MAPK cascade in this project because I identified

[2017-07-12 18:47] ValWood commented on #1592
I'll open a general ticket about localization issues within signalling pathways and move these comments.

[2017-07-12 18:49] ukemi commented on #1592
Thanks. I'll figure out a way to link to it from here.

[2017-07-12 19:44] vanaukenk opened #1595 "Canonical Wnt pathway - Signaling Project"
GO_CAM model for one human pathway: http://noctua.berkeleybop.org/editor/graph/gomodel:56d1143000003025

Google spreadsheet:
https://docs.google.com/spreadsheets/d/1X1kfjnh_CJbqp7bfCLJuNBlRVyB3PIaLJGLaVfRID78/edit#gid=443625824

Main tasks:

- define members of the canonical Wnt pathway for flies, worms, and a subset of vertebrates

- collate all Wnt-related annotations for those members

- flag a

[2017-07-13 06:50] ValWood opened #1596 "general question about localization/transport within a signalling pathway - MAPK import into nucleus"
From
https://github.com/geneontology/go-annotation/issues/1592

re:
check term and annotations to GO:0000189 'MAPK import into nucleus'. It is currently part of the MAPK cascade.

[2017-07-13 06:51] ValWood commented on #1596
We have a few things like this (in other pathways), and this is one of my outstanding questions.

In the cell cycle, for example, cdc25 phosphatase dephosphorylates and activates cdc2 (Cdk1)
as part of the signalling pathway that controls the G2/M transition.
Cdc25 itself is a target of a number of signalling pathways including replication checkpoint pathway, cell size pathway, MAPK pathway etc
Wh

[2017-07-13 06:52] ValWood commented on #1592
See https://github.com/geneontology/go-annotation/issues/1596
for general discussion abut localization within a signalling pathway.

[2017-07-13 07:24] ValWood commented on #1592
- [ ]  Question which has arisen for us here. How do we identify the specific MAPK pathways.
Pombe has 3 regulating conjugation, stress (sometimes known as osmolarity signalling). These have over time found their way into GO. It is difficult to see this working for all species.

Perhaps a model were we just say

MAPK cascade part_of "response to osmolarity stress"
MAPK cascade part_of "response to

[2017-07-13 08:29] ValWood commented on #1592
- [ ] question
Is a MAPK activated kinase part of the MAPK cascade?
http://pombase2.aska.gen.nz/gene/SPAC23A1.06c

[2017-07-13 12:23] ukemi opened #1597 "How to name specific MAPK pathways"
Perhaps a model were we just say

MAPK cascade part_of "response to osmolarity stress"
MAPK cascade part_of "response to oxidative stress"
would work better. The current situation already has lots of problems.

For instance the same pathway named differently (is stress-activated MAPK cascade the same as MAPK cascade involved in osmosensory signaling pathway?)

[2017-07-13 12:25] ukemi opened #1598 "Is a MAPK activated kinase part of the MAPK cascade?"
Is a "MAPK activated kinase" part of the MAPK cascade?
http://pombase2.aska.gen.nz/gene/SPAC23A1.06c

[2017-07-13 12:28] ukemi commented on #1598
According to the definition of the cascade and its children, it is.

MAPK cascade: An intracellular protein kinase cascade containing at least a MAPK, a MAPKK and a MAP3K. The cascade can also contain two additional tiers: the upstream MAP4K and the downstream MAP Kinase-activated kinase (MAPKAPK). The kinases in each tier phosphorylate and activate the kinases in the downstream tier to transmit a

[2017-07-13 12:44] ValWood commented on #1598
So is that only the kinases one tier below the MAPK?

So for sty1

MAPK-activated protein kinase Srk1
P-TEFb-associated cyclin-dependent protein kinase Lsk1
MAPK-activated protein kinase Cmk2

(so Lsk1 is not usually described as a MAPK-activated kinase, but it is a kinase, and a MAPK target, so this should get MAPK cascade too?)

[2017-07-13 12:49] ukemi commented on #1598
From the above definition, yes. But I need to go back and read the papers that were used in defining these terms. There is no molecular function in GO for  MAPK activated kinase activity that I can find.

[2017-07-13 13:00] ValWood commented on #1597
Problem illustrated here:
https://github.com/pombase/curation/issues/1593

so terms like

GO:0051403  stress-activated MAPK cascade
and
GO:0000161MAPK cascade involved in osmosensory signaling pathway

Or
MAPK cascade in response to starvation
and
GO:0071507MAPK cascade involved in conjugation with cellular fusion

are frequently used to describe the exact same pathway.
The pathways can be activat

[2017-07-13 13:07] ValWood commented on #1598
I don't think we would need such a term,  its function is still a protein kinase. The fact that it is annotated by MAPK should not need to be in the MF ontology. This connection would be evident from the fact that the gene was a substrate/target of a MAPK.
Also we would end up with multiple MF terms to describe the  exact same activity because these kinases are likely to be phospho-targets of mult

[2017-07-13 13:09] ukemi commented on #1598
This makes sense to me, but we do have MAPK, MAPKK, MAPKKK.

[2017-07-13 13:56] ValWood commented on #1598
They could easily be protein kinase part_of MAPK cascade!
But these are  more acceptable because  it's substrate specificity. The MAPK activated kinase is info about the upstream kinase, not it's specificity.

[2017-07-13 15:21] ukemi commented on #1598
Good argument for not having MAPKAKs as named molecular functions.

[2017-07-13 15:38] ukemi commented on #1598
But then in annotation guidelines and to be consistent with the current cascade definition, ANY kinase that is directly activated by a MAPK would be annotated to the cascade. Have a look at my straw-man generic model in the project ticket.

[2017-07-13 15:42] pgaudet commented on #1586
Hello @ValWood @srengel @hattrill
Since you have commented on this issue, what do you think of my proposal above ?

Thanks, Pascale

[2017-07-13 15:44] ValWood commented on #1598
Yes that's fine. The will can still be annotated to the cascade.

You would just connect that specific  kinase in the same way that you connected the MAPK's (I still don't find GO cam models easy to read, but essentially we have the same thing as you have in the model in standard GO annotations).

[2017-07-13 16:07] ValWood commented on #1586
Sounds OK to me.

Val

[2017-07-13 16:12] srengel commented on #1586
Hi Pascale,
i read this yesterday but paused because of the 'protein binding + carbohydrate-derivative protein binding'.  specifically the 'carbohydrate-derivative protein binding'.  after looking around a bit, i think you meant for that 2nd parent to be just 'carbohydrate-derivative binding'?

that sounds better, but is a glycoprotein really a carbohydrate derivative?  i don't think it is.

[2017-07-13 17:55] ukemi commented on #1598
I just realized that I forgot the MAPKAKs activity in the model. It is there now, represented as the generic kinase activity that is directly activated by MAPK.

So I think this ticket is complete. The function of MAPKAKs are to be considered part of the MAPK cascade and they are any protein kinase that is directly activated by a MAPK.

[2017-07-13 18:19] ValWood commented on #1598
yep!

[2017-07-13 18:19] #1598 closed

[2017-07-15 07:18] ValWood commented on #1597
Antonia did a "clean up"
This is wheat we have
http://pombase2.aska.gen.nz/term/GO%3A0000165
The  pathway MF's are also connected to each other by has_substrate, so we can  generate the individual pathways (we would like to include substrates on this page too, longer term).

I think we should move
MAPK cascade involved in osmosensory signaling pathway
to be
stress-activated MAPK cascade involved_i

[2017-07-16 14:57] ValWood opened #1599 "flavonoid biosynthetic process IPR016088"
We have a mappaing
 IPR016088
flavonoid biosynthetic process

but AFAIK yeast don't make flavonids?
--

[2017-07-17 06:58] ValWood commented on #1592
@Antonialock .....cool

![mapk](https://user-images.githubusercontent.com/7359272/28257695-9ca751de-6ac4-11e7-854e-8ce24b7fff04.jpg)

This is the  "PomCam" (automatically generated from GO annotation) model of MAP kinase pathways today. You can see here that if you connect the MF's up correctly, the models resolve themselves without requiring Noctua (you can clearly see the 3 separate MAP kinase p

[2017-07-17 07:32] Antonialock commented on #1592
That's so cool! What URL do you get that from?

[2017-07-17 07:43] ValWood commented on #1592
You just export the
systemtic IDs for MAPK cascade from here
http://pombase2.bioinformatics.nz/query

Then import list into esyN
http://www.esyn.org//index.php
select PomBase curated data (this is updated nightly)

I had to rearrange the layout, and I deleted some redundant  edges for protein binding (just kept the directional ones). But we are not far from being able to do this automatically for

[2017-07-17 07:50] Antonialock commented on #1592
Ah ok, that makes sense. Thought there was a new tool out thee :-)

[2017-07-17 08:25] happy-lorna commented on #1599
Thanks for pointing this out, I have removed the GO terms from this domain. The changes will be visible in the next release.

[2017-07-17 14:33] ivanerill commented on #1589
Hi Ingrid,

A couple of comments regarding your post.

You are correct that GO:0032993 should not be used for transcription factors (although the way it is worded in the documentation is a bit ambiguous; not clear whether TF complexes, or just TFs, are the entity to be avoided). We'll update those annotations to use GO:0005667 in those cases where the TF is a oligomer (not sure if a DNA-associatio

[2017-07-17 16:38] keseler commented on #1589
Hi Ivan,

Thank you for the explanations.  Because the GO evidence codes come from an ECO mapping, the "set of three" thing makes much more sense now.  It wouldn't have caught my attention in the first place if one of the evidence codes hadn't been the generic EXP; I guess it surprises me a little that ECO:0005667 would map down to just EXP and not something IMP-ish.

Using the W3110 RefSeq genome

[2017-07-17 22:04] ivanerill commented on #1589
Hi Ingrid,

Yes, I am not sure why ECO:0005667 maps up to EXP and not IMP, either.

Regarding W3110, CollecTF uses whatever reference strain is explicitly mentioned by the authors (or can be traced back to from the reported strain). It would be nice if everybody agreed on using MG1655... ;-)

Cheers,

Ivan

[2017-07-17 22:31] cmungall commented on #1589
You can ask questions about ECO here: https://github.com/evidenceontology/evidenceontology/issues

[2017-07-18 11:31] RLovering commented on #1592
Hi Val

this is brilliant. Do you get the directionality from the AE field?

Ruth

[2017-07-18 11:39] Antonialock commented on #1592
@RLovering yeah if you look in the dropdown list here: http://www.esyn.org//index.php#START
for pombe it is possible to select "PomBase curated".
It should include "protein binding" MFs, and annotations using "has substrate" extension.

Does it also include some intact data Val?

[2017-07-18 11:50] Antonialock commented on #1592
@RLovering we have been busy :-)
http://preview.pombase.org/term/GO%3A0004672

[2017-07-18 12:12] RLovering commented on #1592
Can you colour the nodes according to annotation to a specific GO pathway?

[2017-07-18 12:54] ukemi commented on #1592
Hi @ValWood

This is great, but can you move this discussion to another ticket and then let me know which one it is? This ticket is supposed to be reserved for a checklist of tasks that we want to accomplish with this project. I'd like to keep all discussions in separate focused tickets.

[2017-07-18 14:01] ValWood commented on #1592
I only posted it because this *is* our MAPK review...
This is everything in pome MAPK pathways connected up, according to current defs.
Will migrate later...

[2017-07-18 14:06] ukemi commented on #1592
No worries. I think this is great, just trying to keep things organized.

[2017-07-18 14:19] pgaudet commented on #1586
Hi @srengel

glycoprotein (CHEBI:17089) is a carbohydrate derivative (CHEBI:63299)
according to CHEBI

Pascale

[2017-07-18 15:27] srengel commented on #1586
Ok cool, thanks!

[2017-07-19 15:46] pfey03 commented on #1591
relating to  geneontology/go-ontology#13910'
@pgaudet, @ValWood

adenylate cyclase activity GO:0004016
part_of cAMP biosynthetic process GO:0006171

AC catalyses the conversion of adenosine triphosphate (ATP) to 3',5'-cyclic AMP (cAMP) and pyrophosphate. In that sense YES, it is involved in the biosynthesis of cAMP

[2017-07-19 15:49] ukemi commented on #1591
Moved to ticket #13910.

[2017-07-20 13:37] pgaudet opened #1600 "IPR007596 viral proteins?"
Hello,

These Interpro domains contain at least one eukaryote but have annotations to 'viral process' or children; these should probably be removed.

Thanks, Pascale

InterPro:IPR007596
InterPro:IPR033907
InterPro:IPR008981
InterPro:IPR024135
InterPro:IPR001257
InterPro:IPR007094
InterPro:IPR004259
InterPro:IPR033591
InterPro:IPR008748
InterPro:IPR009013
InterPro:IPR007096
InterPro:IPR007796
Inter

[2017-07-20 18:14] ivanerill commented on #1589
Thanks Chris!

On Tue, Jul 18, 2017 at 12:31 AM, Chris Mungall <notifications@github.com>
wrote:

[2017-07-21 11:09] hattrill opened #1601 "PTN000107351 annotation to - where is this coming from?"
Where is this coming from:
UniProtKB | Q9VVE0 | Dmel\CG14057 |   | GO:0009249 | protein lipoylation | P | IBA | GO_REF:0000033 | PANTHER:PTN000107351 | 7227 | 20141112 | GO_Central

From http://www.pantree.org/node/annotationNode.jsp?id=PTN000107351
"No annotations inherited by this node"
So, where is this originating from?

Is this a PAINT or GOA issue?
NB I can't see a id mapping issue at the Un

[2017-07-21 13:32] ValWood opened #1602 "amidase mappings"
- [x] filter GO ID GO:0004040

- [x] manually annotate
SPAC869.01
 hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides

- [x] SPCC550.07 add primary_name fah2

[2017-07-21 13:39] ValWood commented on #1602
done

[2017-07-21 13:39] #1602 closed

[2017-07-21 15:23] asangrador commented on #1600
Hi Pascale,
We are looking into the list you sent us. Probably many of these entries will match a very small number of trembls derived from unassembled sequence reads, which are not very reliable, and we would not like to lose our annotation to accommodate them. But we will look at the individual cases and get back to you.
Cheers,
Amaia

[2017-07-21 16:20] srengel commented on #1582
hi Val,
yeah i'm not sure what you are asking us to do here.  are you saying the protein channel annotations at SGD need to be changed to GO:0015450 - P-P-bond-hydrolysis-driven protein transmembrane transporter activity?

[2017-07-21 16:45] ValWood commented on #1582
Hi Stacia,

I think its probably primarily an ontology issue:
https://github.com/geneontology/go-ontology/issues/13251

TOM complex are sometimes annotated to channel, and sometimes to
P-P-bond-hydrolysis-driven protein transmembrane transporter activity

These are in different branches and are describing the same activity (for TOM).

I wouldn't worry about this ticket until any relationship issue

[2017-07-24 14:37] pgaudet commented on #1586
Resolved.

[2017-07-24 14:37] #1586 closed

[2017-07-25 14:22] ValWood opened #1603 "IPR017938 "Riboflavin synthase-like beta-barrel""
mapping to oxidoreductase, but at least on family member (riboflavin synthase!), is a transferase.

val

[2017-07-25 14:23] ValWood commented on #1603
at least according to
http://pombase2.bioinformatics.nz/term/GO%3A0004746

[2017-07-25 20:56] dougli1sqrd opened #1604 "Fix GPI file format spec"
The GPI spec on geneontology.org is correct, but unmaintainable, not being in github: http://geneontology.org/page/gene-product-information-gpi-format.

The GPI spec on github: https://github.com/geneontology/go-annotation/blob/master/specs/gpad-gpi-1_2.md

is not correct. Let's update the github GPI spec to reflect what is in geneontology.org.

[2017-07-26 12:48] ukemi opened #1606 "Calcium signaling/fertilization- Signaling project"
This ticket is for keeping track of the tasks that need to be completed for this project. Claimed by @pgarmiri

- [ ] Review of annotations

- [ ] GO-CAM model

- [ ] blocks to polyspermy geneontology/go-ontology/issues/13980

[2017-07-26 13:33] pgaudet commented on #1591
References:
- Dicty http://europepmc.org/backend/ptpmcrender.fcgi?accid=PMC4730333&blobtype=pdf
- Signaling chapter: http://www.cellsignallingbiology.org/csb/002/002.pdf
- https://en.wikipedia.org/wiki/G_protein%E2%80%93coupled_receptor

[2017-07-27 08:48] asangrador commented on #1603
You are right Val. I have removed this term.

[2017-07-27 15:32] pfey03 commented on #1591
Dicty Noctua model, focused on GEF gflB but fleshed out:
http://noctua.berkeleybop.org/editor/graph/gomodel:57c82fad00000897

[2017-07-27 19:27] pfey03 commented on #1591
google sheets with annotations and analyses:
https://docs.google.com/spreadsheets/d/1tVDhj05L9iP9tF004rjeO2UXJ0TmayvOveWWSCGVGeY/edit#gid=0

[2017-07-28 20:04] ValWood opened #1607 "IPR028133 NOT mitotic cell cylce"
I don't think that mitotic cell cyle (or any cell cycle term) is appropriate for  a dynactin complex subunit.

In fission yeast dynactin only has a rile during the meiotic cell cycle (but cell cycle is not a good mapping, because this is a bit indirect).

https://en.wikipedia.org/wiki/Dynactin
has quite a few different roles but they do not seem to be very general....but maybe "microtubule-based t

[2017-07-28 22:44] cerivs opened #1608 "hdac10 is an acetylpolyamine deacetylase"
I wasn't sure which tracker to put this on so feel free to move it if there is a better place for the discussion and work.

PMID:  28516954 Characterizes Hdac10 from human and zebrafish and concludes that Hdac10 has   acetylpolyamine deacetylase activity.  "though the PDAC activity of zHDAC10 and hHDAC10 was highest with N^8-acetylspermidine, substantial catalytic activity was also observed with a

[2017-07-31 08:50] EBI-Hsinyu commented on #1607
Hello Val,

Thank you for this. This term was given due to the involvement of the animal and budding yeast homologues in the mitotic cell cycle process [PMID:8647893, PMID:8138567]. However, as you mentioned, the fission yeast homologue does not have this function, I will remove this term.

We do have the 'GO:0007017 microtubule-based process' term in the entry.

Best regards,
Hsin-Yu

[2017-08-01 10:42] asangrador commented on #1600
Hi Pascale,
We have been looking at this issue and our conclusion is that we should not remove the annotation for these entries. Sometimes the eukaryotic hits are due to unreliable WGS sequences in TrEMBL, and we do not feel that we can remove the annotation solely based on this; we would need more evidence than a gene prediction based on WGS data from a taxonomy that doesn’t match. In other cases

[2017-08-01 18:47] hdrabkin commented on #1608
closed per issue 13997

[2017-08-01 18:47] #1608 closed

[2017-08-07 15:19] ValWood opened #1609 "ran GTPase signal transduction GO:0007165 signal transduction IEA with IPR002041"
GO:0007165 | signal transduction | IEA with IPR002041
-- | -- | --

I'm not sure that this mapping would be correct to describe Ran GTPase when acting i the context of a  regulator of nucleocytoplasmic transport?

val

[2017-08-08 12:30] pgarmiri commented on #1606
Google sheet with annotations for main species:
https://docs.google.com/spreadsheets/d/169e_ABlUs1c4s_2lUt655C00OEAv568-QBy3IS5RjJc/edit?usp=sharing

[2017-08-08 12:39] ValWood opened #1610 "IPR033896 MAPK cascade |"
should  transcription factors be annotated to this module?
It doesn't seem so... @ukemi ?

http://www.yeastgenome.org/locus/S000000386/go#comp
http://www.yeastgenome.org/locus/S000006010/go#comp

MAPK cascade |   | IEA with IPR033896

[2017-08-08 14:19] pgaudet commented on #1600
Hi @asangrador

Thank you very much for looking into this. We plan to add a taxon constraint to forbid the annotation of non-viral proteins to these terms (see https://github.com/geneontology/go-ontology/issues/13214), hopefully that will simply filter out the InterPro false positives.

Thanks, Pascale

[2017-08-08 14:19] #1600 closed

[2017-08-10 09:28] EBI-Hsinyu commented on #1610
Hello Val,

We have deleted this term 'GO:0000165 MAPK cascade' a while ago (07/04/2017).  Please do let us know if there are any other problems.

Regards,
Hsin-Yu

[2017-08-10 09:43] EBI-Hsinyu commented on #1609
Hi Val,
You are right. RanGTPase is different from other GTPases involved in signal-transduction. I will remove this term.

Regards,
Hsin-Yu

[2017-08-10 16:10] ValWood opened #1612 "PANTHER:PTHR11524:PTN000897517 cytoplasmic translation"
This is a tricky one. Some ribosomal protein like proteins are not actually involved in translation, only in ribosome biogenesis (they are nucleolar, they never go to teh cytoplasm)

RPL7 is one:
http://www.yeastgenome.org/locus/S000004947/overview#protein

[2017-08-10 18:07] ValWood opened #1613 "IPR020605"
GO:0009107 lipoate biosynthetic process
should be
protein lipoylation  (it is attachemnt rather than synthesis)

v

[2017-08-10 18:08] #1610 closed

[2017-08-10 18:09] #1609 closed

[2017-08-10 20:41] ValWood opened #1614 "IPR006849 Not regulation of transcription, DNA-templated"
regulation of transcription, DNA-templated | IEA with IPR006849
-- | --

see
https://github.com/geneontology/go-annotation/issues/1270

[2017-08-13 18:01] ValWood opened #1615 "PANTHER:PTN002054020 YDR210W"
Q03482 S. cerevisiae  YDR210W

PANTHER:PTN002054020

has
GO:0003006  developmental process involved in reproduction

but  this doesn't seem likely.
There is no info in fungi as far as I can see. It has no annotation in SGD.

Pombe uvi15 is also "unknown".
http://pombase2.bioinformatics.nz/gene/SPBC649.04
 We have quite a few phenotypes (including sporulation defects), but not enough to say it has

[2017-08-15 10:40] ValWood opened #1616 "G3DSA:1.10.730.10 IPR009080"
This isn't necessarily an incorrect mapping, more likely a false positive hit from Gene3D?

Pombe meu14, a  sporulation specific protein
http://preview.pombase.org/gene/SPBC1347.03  (O94756)
is mapping to

tRNA aminoacylation for protein translation | IEA with IPR009080
-- | --

GO:0004812 | aminoacyl-tRNA ligase activity | IEA with IPR009080
-- | -- | --

[2017-08-16 05:35] ValWood opened #1617 "STH1 P32597"
This doesn't seem to have a role in the G2/M transition, it's just a phenotype which causes a cell cycle block  (most are most indirect)

Assigned by UniProt.
@pgaudet  do you know who the current contact is now Melanie isn't GOA?

[2017-08-16 21:15] pgaudet commented on #1617
If you create a dispute some UniProt curator will reply, most of the time lately Penelope has looked at these disputes.

Pascale

[2017-08-17 08:46] ValWood commented on #1617
I thought we were doing GO disputes in GitHub now?
For Matrix stuff I would prefer to because Protein2Go disputes are not archived in a way that they can be  found again.

I don't see the UniProt  or GOA contacts in here:
https://github.com/geneontology/go-ontology/blob/master/curator_group_contacts.tsv

[2017-08-17 14:13] ValWood opened #1618 "IPR013332"
HI,

I'm not sure this mapping is safe.
2-dehydropantoate 2-reductase activity

This seems to be the bacterial member, but I think there are quite a few activities in the eukaryotic branch. These 2 mambers are on a different branch to  2-dehydropantoate 2-reductase activity in fission yeast.

And, the larger family has a number of activities:
http://pombase2.bioinformatics.nz/gene_subset/interpro:

[2017-08-17 15:39] cmungall opened #1619 "SGD GAF has not been submitted since Jan 2017"
The latest SGD GAF is from January, hence is missing genes like YBL048W / http://www.yeastgenome.org/locus/S000000144/overview

The source location in sgd.yaml is set to be the go svn submissions dir:
http://viewvc.geneontology.org/viewvc/GO-SVN/trunk/gene-associations/submission/

@srengel ping me on skype if you want more details, let me know if I should assign another person

[2017-08-17 15:50] srengel commented on #1619
this is a known issue.  the SGD database has been frozen since 1/17/17 because we are trying to finish up a schema change.  we plan to complete that work and go live with our webpages by end of this month, but i do not yet have an ETA for getting our GAF submissions up and running on a regular basis again.

note that we have continued curating into P2GO during the last 8 months of freeze, so we'll

[2017-08-17 15:52] cmungall commented on #1619
OK, feel free to close

[2017-08-17 15:53] srengel commented on #1619
p.s. YBL048W is not in our GAF because we don't include high-throughput annotations in the GAF.  we will start including those once the new HTP ev.codes are fully in place (did that happen already since the June GO mtg?).

[2017-08-18 11:43] #1619 closed

[2017-08-21 14:17] hattrill opened #1620 "PTN000225966:PTHR11909 review regulation of cell shape"
Could you review annotations from this node to GO:0008360 regulation of cell shape. I removed this process term from the FlyBase gene FBgn0032677 from which it was propagated. Which leaves only an S.pombe gene as the source for propagation - as the term is not very informative and now not very well supported for an IBA, probably best not transferred.

Thanks,

Helen

[2017-08-21 14:34] ValWood commented on #1620
Actually there are 7 members of these kinase family in pombe, and  I don't think any of them are involved in "regulation of cell shape" (we do have  pathways which do regulate shape directly, where this annotation would be informative, but this isn't it any of them).
The morphology defects here  (pear shape) are  an indirect result of some cytokinesis defects. So, I deleted the fission yeast  anno

[2017-08-23 11:42] RLovering opened #1621 "'Representing biologists' view of biology (integral to membrane)"
Hi All

This issue was discussed in November 2016 at GOC meeting described in the minutes:
Ruth - the need to combine evidence types
Examples: Plasma membrane & integral to plasma membrane: require 2 bits of evidence: localization + sequence
Presentation on agenda discussed.
5 possible ways forward
1. Allowing IDA for the full ‘integral to synaptic vesicle membrane’ term.
2. Extending IC annotatio

[2017-08-23 22:07] srengel commented on #1621
tagging Judy @judyblake

[2017-08-24 23:22] guptapa opened #1622 "Accession number for GO_molecular function"
Hi,
I'm looking for the accession number for 4-aminobutyrate-pyruvate transaminase enzyme (EC: 2.6.1.96). I did not find it on GO live site. Following link is for more information about enzyme:
http://www.brenda-enzymes.org/enzyme.php?ecno=2.6.1.96&Suchword=&reference=&UniProtAcc=&organism%5B%5D=Oryza+sativa&show_tm=0
Thanks.

[2017-08-25 15:50] krchristie commented on #1622
It looks like we do NOT have this EC number, though we do have a term with nearly that name, but a different EC#:

4-aminobutyrate:pyruvate transaminase activity (GO:0034387)
Def: Catalysis of the reaction: 4-aminobutanoate + pyruvate = succinate semialdehyde + alanine.
  EC:2.6.1.19
  GOC:mah

This looks like a mistake as the definition for this GO term looks like it matches the definition for EC

[2017-08-25 15:56] hdrabkin commented on #1622
Yep, this is not right.
These are two different critters.
H

From: Karen R Christie <notifications@github.com>
Reply-To: geneontology/go-annotation <reply@reply.github.com>
Date: Friday, August 25, 2017 at 11:50 AM
To: geneontology/go-annotation <go-annotation@noreply.github.com>
Cc: me <Harold.Drabkin@jax.org>, Mention <mention@noreply.github.com>
Subject: Re: [geneontology/go-annotation] Accessi

[2017-08-25 17:14] krchristie commented on #1622
This issue was moved to geneontology/go-ontology#14118

[2017-08-25 17:14] #1622 closed

[2017-08-25 17:30] jaiswalp commented on #1622
So we need a new GO term for EC: 2.6.1.96

[2017-08-25 17:35] krchristie commented on #1622
**PLEASE DO NOT COMMENT IN THIS TICKET**

Please put all future comments to the ontology ticket that I moved this issue to: geneontology/go-ontology#14118

[2017-08-29 14:18] ukemi opened #1623 "Check annotations to GO:0043914"
We need to check the annotations to this term. Details are in this ontology ticket:
https://github.com/geneontology/go-ontology/issues/14045

[2017-08-30 13:40] hdrabkin commented on #1623
We have one ISO annotation for Mical2 for this GO term, coming in from the ISO/human load for O94851

[2017-08-30 14:56] pgaudet commented on #1623
Other groups with annotations:
(5)	UniProt/UniProtKB @sylvainpoux @pgarmiri
(1)	FlyBase @hattrill
(1)	RGD @slaulederkind

[2017-09-01 12:26] Antonialock opened #1624 "IPR006849"
IPR006849 (Family Elongator complex subunit Iki3)
 is associated with the GO term:
GO:0006355 regulation of transcription, DNA-templated

However, it seems like the main (and direct) function of elongator is wobble base position modification
E.g. PMID:28601220
"Although it was originally described as a transcription elongation factor, cumulating evidence suggests that its primary function is catal

[2017-09-01 13:04] ValWood commented on #1624
See also
https://github.com/geneontology/go-annotation/issues/1270
might be worth to check other domains/subunits for transcription related mappings

A pombe paper also showed that overexpressing appropriate tRNA alleviated all known phenotypes.

[2017-09-04 07:03] hattrill commented on #1623
Removed offending annotation.

[2017-09-05 14:10] ValWood opened #1625 "IPR029523 & UniProtKB-KWs"
migrated from
https://github.com/geneontology/go-ontology/issues/14141
@Antonialock

pombe ino80 complex subunits have IEAs to regulation of transcription from RNA polymerase II promoter & regulation of transcription, DNA-templated
e.g. IPR029523 & UniProtKB-KW:KW-0805 & UniProtKB-KW:KW-0804

the ino80 complex moves nucleosomes around thereby regulating nucleosome density.

It seems to me like ino

[2017-09-05 14:56] ValWood opened #1626 "annotations to mature ribosome assembly"
I noticed when following up on
https://github.com/geneontology/go-ontology/issues/11517

that this term now has many more manual (and hence electronic annotations).

Many are to arabodopsis annotations of ribosomal proteins to ribsome assembly via the CAFA project. This is a proteomics experiment to   quantify ribosome, it can not be inferred by IC that these are involved in ribosome assembly.

@t

[2017-09-05 15:50] tberardini commented on #1626
@ValWood "Many are to arabodopsis annotations...via the CAFA project."

Which ones are you referring to?  There are 51 A. thaliana annotations to 'ribosome assembly' and children terms.

42 IBA (PAINT, right?)
 6  IEA
  2 IMP
  1 IDA

I don't see any IC annotations.

[2017-09-05 16:10] EBI-Hsinyu commented on #1613
Hi Val,

Thank you for this. I have replaced this term with 'GO:0009249 protein lipoylation'. This should be visible in InterPro65.0.

Regards,
Hsin-Yu

[2017-09-05 16:33] ValWood commented on #1626
2nd to 7th, and more in this list:
Used QuickGO

http://www.ebi.ac.uk/QuickGO/annotations?goUsage=descendants&goUsageRelationships=is_a,part_of,occurs_in&goId=GO:0042256&evidenceCode=ECO:0000352&evidenceCodeUsage=descendants

[2017-09-05 16:42] tberardini commented on #1626
Aha.  Yes, agree that IC is not appropriate.  Don't know who to contact at CAFA either.

[2017-09-05 16:43] ValWood commented on #1626
tagging Jim to assign to the appropriate person @jimhu-tamu

[2017-09-05 16:45] ValWood commented on #1626
@jimhu-tamu
note that these should not be annotated to any ribosome assembly term, not just the mature ribosome assembly term used.

val

[2017-09-05 16:48] ValWood commented on #1626
Oh yes I was, sorry Jim. I don't know what CAFA is....

[2017-09-05 16:48] ValWood commented on #1626
@pgaudet  do you know what CAFA is?

[2017-09-05 17:12] ValWood commented on #1626
I remembered. No, we can't include predictions as IC's
http://biofunctionprediction.org/cafa/
If these were made for CAFA validation......very worrying.....

[2017-09-05 17:20] ValWood opened #1627 "P87058 (LAH1_SCHPO) annotation dispute"
sla1 P87058
tRNA export from nucleus Source: CAFA

isn't involved in tRNA export, this is a mutation in an export signal.

Could this one be deleted?

Thanks

Val

[2017-09-05 22:24] jimhu-tamu commented on #1626
I think CAFA is @idoerg

[2017-09-05 23:09] idoerg commented on #1626
Whoops, thanks for tagging me. This indeed creates an issue, but not too late for us to fix.  @ashleyzhou972 @yuxjiang

[2017-09-06 07:48] pgaudet commented on #1626
I am assigning myself (because I cannot assign someone outside the project right now); please @idoerg @ashleyzhou972 @yuxjiang do let me know when this is ready to close.

Thanks, Pascale

[2017-09-06 08:00] ValWood commented on #1626
Hi Iddo,

Are these annotations validated by  the MODs? I had a look  at the small number of pombe ones yesterday and spotted a few annotations we would not make. I was just looking at the Drosphila ones and saw quite a few in just a few minutes.

I noted a few examples but I won't have time to look in any detail for a while.

Val

[2017-09-06 08:02] ValWood commented on #1626
note for  this one, I think it is all  "ribosome assembly" which have a problem (305), not only
mature ribosome assembly

http://www.ebi.ac.uk/QuickGO/annotations?goUsage=descendants&goUsageRelationships=is_a,part_of,occurs_in&goId=GO:0008150&assignedBy=CAFA&evidenceCode=ECO:0000305&evidenceCodeUsage=descendants

[2017-09-06 08:43] EBI-Hsinyu commented on #1616
Hi Val,

Thank you for this. G3DSA:1.10.730.10 does overhit this protein. I have removed this G3D signature for now.

Regards,
Hsin-Yu

[2017-09-06 08:55] asangrador commented on #1624
Hi,
I have removed the GO term 'GO:0006355 regulation of transcription, DNA-templated' from this entry, and I'll check if we have any other entries related to the elongator complex with this annotation. I agree  that publications seem to indicate that the elongator complex may be associated with regulation of transcription in same cases, but it is not so clear, while its function in wobble base po

[2017-09-06 08:56] #1624 closed

[2017-09-06 09:49] EBI-Hsinyu commented on #1618
Hi Val,
As you mentioned, this entry may overhit non-ketopantoate reductase. I have deleted this GO term from IPR013332.
Regards,
Hsin-Yu

[2017-09-06 10:57] EBI-Hsinyu commented on #1625
Hi,

Thank you for this. I have removed this term.

Hsin-Yu

[2017-09-06 11:08] Antonialock commented on #1625
cheers+

[2017-09-06 11:08] #1625 closed

[2017-09-06 12:47] idoerg commented on #1626
I don’t know what am MOD is. The annotations were not provided by me or my
team. We are only consumers of these annotations, so we are grateful that
someone alerted us to this issue.

If you want the actual annotators, you should talk with Maria Martin
(cc'd).

--
Sent from a machine that promotes typos

On Sep 6, 2017 2:49 AM, "pgaudet" <notifications@github.com> wrote:

[2017-09-06 12:54] ValWood commented on #1626
George at UniProt is on the case.
I'd odd that these have CAFA as a source rather then UniPRot-KB. The assigned_by field is for who made the annotation. Hence the confusion.

[2017-09-06 13:01] RLovering opened #1628 "JAK/STAT pathway - Signaling Project"
GO:0007259 receptor signaling pathway via JAK-STAT

Main tasks:

- [x] Create GO-CAM model (http://noctua.berkeleybop.org/editor/graph/gomodel:59c8885900000374)

- [x] Create google spreadsheet (https://docs.google.com/spreadsheets/d/1H6ZCHAxd5YSpj-UaUzkJ6ssF2FXj9hT8kkT5qGaS1lY/edit#gid=683337807)

- [ ] define members of the JAK/STAT pathway for flies, worms, and a subset of vertebrates

 - [ ] c

[2017-09-06 14:00] ggeorghiou commented on #1626
Hi all,

I'm responsible for managing the annotations for the CAFA challenge. I'm removing the IC annotations that @ValWood has highlighted.

To answer your question Val, CAFA is a seperate grant from UniProt and we felt it would be good to reflect that with the annotations by having the source as CAFA.

[2017-09-06 17:22] Antonialock opened #1629 "IPR002717"
Hello,

pombe mst1 has a mapping to regulation of transcription, DNA-templated from IPR002717.

I can't see any evidence that mst1 is regulating transcription directly. Mst1 is a histone acetyltranferase.

"In this study, our direct measurements of chromatin compaction in the meiotic horsetail nucleus of living S. pombe cells demonstrated that chromatin decompaction occurs during meiotic DNA repli

[2017-09-06 17:52] Antonialock opened #1630 "IPR010684"
pombe pof4 has an IEA to regulation of transcription, DNA-templated via IPR010684

pof4 is elongator A so presumably this IEA could be refined to "regulation of transcription from RNA Pol II promoter"?

[2017-09-06 18:27] ValWood commented on #1629
I'm not sure
early in vitro assays of  NuA4  subunits  appear to show stimulation of transcription in viro, but I guess that could be a non physiological observation, as so many of the complex members do have a role in transcription as members of other complexes...

I always thought  NuA4 was DSB repair and that is how it is described in GO right now. AFAIK, mst is only a member of NuA4 so far....

[2017-09-07 13:12] RLovering commented on #1628
New term requests:
https://github.com/geneontology/go-ontology/issues/14164

[2017-09-07 14:51] ValWood opened #1631 "pombe annotation to delete ARUK-UCL from PMID:28242692"
This paper has been fully curated by  the author and myself.
https://curation.pombase.org/pombe/curs/83bb6f203d9fe65a/ro
and fully approved by the author.

vps4
http://www.uniprot.org/uniprot/Q09803
Please delete all of the annotations  from  ARUK-UCL
They are very indirect phenotypes.

vps4 has perforated nuclear envelope but it isn't involved in "the regulation of nuclear permeability", and it i

[2017-09-07 15:07] ValWood commented on #1631
All the ER organization stuff needs deleting too.
The ER related stuff is due to "karmella formation"
https://github.com/pombase/fypo/issues/3013
This is not a normal process , it is pathogenic in Fungi.

I'm checking my archive and I now see that after I finished  I sent this paper  to you to curate the human part.....

This is  really good example of where  phenotypes  do not == GO processes....

[2017-09-07 15:48] Antonialock commented on #1631
@RLovering
offtopic but I also spotted that the parkinsons project has annotated mou
I spotted that the parkinsons project annotated mouse Parkn to:

negative regulation of endoplasmic reticulum stress-induced neuron intrinsic apoptotic signaling pathway
and
positive regulation of oxidative stress-induced neuron intrinsic apoptotic signaling pathway

The abstract for the +ve reg paper begins:
"Par

[2017-09-07 16:14] ValWood commented on #1631
had a quick look at the paper because I was curious about the human annotations.

1. There are a number of TAS to cytokinesis , but cytokinesis is not mentioned in this paper?

2. If SPAST is involved in spindle disassembly (I don't know if it is)

SPAST | Spastin |   | spindle disassembly | part_ofcytoskeleton-dependent cytokinesis | ARUK-UCL | Homo sapiens | TAS

spindle assembly isn't part of c

[2017-09-07 16:22] ValWood commented on #1631
This paper is about repairing breaches in the newly formed nuclear envelope, or when gaps in the nuclear envelope are made for example to insert the spindle pole body.

there is a nice cartoon in the supp:

https://cloud.githubusercontent.com/assets/7359272/25667564/c4a21e46-301b-11e7-8471-b54048d3976b.jpg

This  will hopefully makes it clearer why it has nothing to do with "membrane permeability"

[2017-09-07 19:59] hdrabkin opened #1632 "Non-english publication used in annotations"
During our normal GOA-mouse annotation loads,  we have come across IPI annotations made using PMID:14619418, an article completely in Japanese.
1. Tanpakushitsu Kakusan Koso. 2003 Nov;48(14):1920-7.
[Complex between nidogen and laminin fragments reveals a paradigmatic  beta-propeller interface].
[Article in Japanese]   <<<<<<<<<<<<<<<<<< not even an English abstract
Takagi J(1).
Author information

[2017-09-08 08:35] RLovering commented on #1631
Hi Antonia

thank you for spotting this error. I have updated the annotation to the neg term, I think this emphasises why it is sensible to look at a whole protein record, when annotating. Or Rebecca might have just copied the wrong ID and moved on too quickly.

Thanks again

Ruth

[2017-09-08 08:35] RLovering commented on #1631
Hi Val

We will look at these annotations, as there are so many it will take a while, but we will follow this up.

See you soon

Ruth

[2017-09-08 17:12] idoerg commented on #1626
Question: on the CAFA assessment side of things, we used the term GO:0003735 "structural constituent of ribosome" http://amigo.geneontology.org/amigo/term/GO:0003735 for our benchmark. This is in the Molecular Function aspect. Is that term still valid?

[2017-09-08 17:24] ValWood commented on #1626
It is a valid term, but probably not  a great term to use for bench marking.  It was created in the early days  to enable ribosomal components to be assigned to a MF term if they did not have a catalytic assignment. I think it is now used in rather an 'ad hoc' way.  It's not really possible at this point to really  determine  whether a ribosomal component is structural or not, but in many cases th

[2017-09-09 19:24] cmungall opened #1633 "MGI annotations have invalid combinations of anatomy ID and stage in extensions"
[code]

Not currently reported but will be when this is implemented:
https://github.com/biolink/ontobio/issues/99

recommend:

[code]

(but not clear if necessary, if MA is implicitly TS28)

[2017-09-09 21:35] ukemi commented on #1633
Looks like a bug in our GAF generation when we combine an anatomical structure with a stage. I will follow up.

[2017-09-09 21:40] ukemi commented on #1633
happens_during?  That is what I see in gorel.obo.

[2017-09-11 14:14] hdrabkin commented on #1633
Note: I tried a couple of ways to fix this
1. removed the TS28 from MA but kept TS28 for the EMAPA  term; this failed
2. removed TS28 from BOTH MA and EMAPA: this went through (the use with MA is just wrong)
Strange because we have always been using EMAPA:id + stage; we have hundreds of annotatons like that. However, it was only just these two new annotations.

[2017-09-11 14:22] asangrador commented on #1630
I have replaced the existing term with the more specific 'regulation of transcription from RNA polymerase II promoter' as suggested.
Cheers,
Amaia

[2017-09-11 14:35] hdrabkin commented on #1626
It might be better to use ribosomal subunit assembly so as not to imply something that is the entire ribosome

[2017-09-11 14:58] hdrabkin commented on #1633
actually, now I see there were TWO annotations with an MA + TS28
I fixed one but not the other so when I got the second error report after removing ONE MA+TS28, but there was a second one, and I thought it was same one so removed the TS28 from the EMAPA
The happens during is not the issue, otherwise all of our previous annotations would be flagged.
I will try a test now.

[2017-09-11 15:26] cmungall commented on #1633
TS28 is not a valid ID. Please see my original recommendation. Use MmusDv for stages.

[2017-09-11 15:30] hdrabkin commented on #1633
We currently have 3500+ genes with at least ONE annotation using TS28 specifically. If this was a problem all of them should have been flagged.

[2017-09-11 19:21] hdrabkin commented on #1633
Ok, I seem to have forgotten that our TSs are stripped from our gaf. I know I was told this was so once a long time ago but totally forgot.
So the problem after removing the MA+TS was that there was STILL two EMAPA with a TS in the gaf. BUT these SHOULD have been removed like all our other EMAPA usages. THAT is why there was a sudden unexpected white-space in the 'cherry script'.
So, tomorrow, the

[2017-09-12 13:19] hdrabkin commented on #1633
Ok;  the filter removing the TS28 from EMAPA lines is working now as before. Today's gaf has no TS28.

[2017-09-12 16:11] deustp01 commented on #1632
I can probably get the reference. If I succeed, who wants a copy? (I probably can't just post it to this ticket - copyright.)

[2017-09-12 17:57] hdrabkin commented on #1632
Certainly send it to me. If there is some figure that makes it obvious then I'll have it load I guess.

[2017-09-12 18:09] hdrabkin commented on #1632
Peter found it by entering the title; there are TWO papers with same title and authors in pubmed
Takagi J, Yang Y, Liu JH, Wang JH, Springer TA. Complex between nidogen and
laminin fragments reveals a paradigmatic beta-propeller interface. Nature. 2003
Aug 21;424(6951):969-74. PubMed PMID: 12931195.
THIS looks more like it. The annotation reference needs to be changed? Then we could load it.

[2017-09-12 18:25] hdrabkin commented on #1632
Peter found it by entering the title; there are TWO papers with same title and authors in pubmed
Takagi J, Yang Y, Liu JH, Wang JH, Springer TA. Complex between nidogen and
laminin fragments reveals a paradigmatic beta-propeller interface. Nature. 2003
Aug 21;424(6951):969-74. PubMed PMID: 12931195.
THIS looks more like it. The annotation reference needs to be changed? Then we could load it.

[2017-09-12 21:45] bmeldal commented on #1632
You are absolutely spot on! I just used the same IntAct evidence for the complex which is due out with our next release.

My notes:

PMID:12931195 - Takagi et al 2003
Title: Complex between nidogen and laminin fragments reveals a paradigmatic beta-propeller interface
1npe: nidogen 941-1207aa (IPR011042) - laminin-gamma-1 769-932aa (IPR000742 - 3 of 6 of these domains in this region, there are also

[2017-09-13 07:29] bmeldal commented on #1632
Sandra fixed the PMID, it will be out with the next release.

[2017-09-13 14:10] hdrabkin commented on #1632
Thanks Birgit (and Sandra); !
I will close now.

[2017-09-13 14:11] #1632 closed

[2017-09-13 14:33] hdrabkin commented on #1633
The MmusDv id line passes the MC script, so these would not be stripped.
We (GO@MGI) will discuss this further.
I'll close this ticket as resolved (the original appearance of the "TS28" was NOT suppose to be in the file to begin with.

[2017-09-13 14:33] #1633 closed

[2017-09-15 08:19] ValWood commented on #1631
assigning to Ruth.

[2017-09-18 09:40] pgaudet opened #1634 "Query: receptor activator activity"
Following up on https://github.com/geneontology/go-ontology/issues/14220- @thomaspd mentioned that 'receptor activator activity' should be synonymous to receptor ligand activity, but the term is not clearly defined and the usage has been quite varied. The good news is that there are only 5 direct EXP annotations:

**MGI:MGI:96434**	insulin-like growth factor 2		GO:0030546	BHF-UCL	NCBITaxon:10090	I

[2017-09-18 09:50] bmeldal commented on #1634
@NancyCampbell 's complex (and I reviewed it...). I agree, probably not the right term. Could you please suggest an alternative, Nancy? You can make the edits directly in the editor.

[2017-09-18 11:29] RLovering commented on #1634
MGI:MGI:96434	changed to receptor ligand activity
UniProtKB:P07355	changed to molecular function regulator

I would suggest EBI-10814663 revised to molecular function regulator

Ruth

[2017-09-18 11:57] bmeldal commented on #1634
A little top-level (doesn't really say much...), what about grandchild term GO:0030546 receptor activator activity?

[2017-09-18 13:22] ukemi commented on #1634
I think originally this term was meant to cover the things that can activate a receptor other than just ligands. That would make sense for the Prkce. But I can remove that annotation if the term changes.

[2017-09-18 13:35] BarbaraCzub commented on #1631
Hi @ValWood

Following discussions and advice from @rachhuntley and @RLovering I have removed all of ARUK-UCL annotations made to the _pombe_ gene products.

I have kept the 'cytokinesis' annotations and the citations in the comments, as I think they provide relevant support. However, following @ValWood ’s question I have updated the 'spindle disassembly’ to 'microtubule severing' (AE part_of cyto

[2017-09-18 14:13] pgaudet commented on #1634
Hi @ukemi
The problem is that it seems some people interpret this to also include ligands. We should clarify the term and the definition if we want to capture  things that can activate a receptor other than just ligands.

Generally - do we want to have 'gene product class x' regulator activity and regulation? (this is really parallel to the binding question).

[2017-09-18 14:43] ValWood commented on #1631
OK sounds good. I don't know much about closed mitosis  so it seems nuclear envelope reformation is coupled in some way to spindle disassembly.

[2017-09-18 14:43] #1631 closed

[2017-09-19 09:28] NancyCampbell commented on #1634
@bmeldal

EBI-10814663 complex is currently annotated to receptor activator activity and it seems this is where the problem is - at least as I understand it from Pascal's @pgaudet original comment

The complex inhibits LDL receptor degradation which is definitely not synonymous to receptor ligand activity defined as:"**Binding to a signaling receptor** as part of signaling and modulating the effec

[2017-09-19 09:44] bmeldal commented on #1634
Thanks @NancyCampbell - I seemed to have gone round in a circle there and made the same assumption as you did when you first annotated it! So yes, I agree we have to lift the annotation up a couple of levels.

Will you make the change in the Editor, Nancy?

[2017-09-19 11:18] NancyCampbell commented on #1634
@bmeldal
Thank Birgit. Done for both mouse and human.

[2017-09-19 15:34] pgarmiri commented on #1623
Hi,

I had a quick look at the UniProt annotations. It is one IDA annotation based on PMID:24440334 and the rest are transferred by ISS. The authors used a NADPH depletion assay to test MICAL-2 activity. ( From the paper, "Recombinant MICAL-2, comprising the enzymatic domain and the CH domain (MICAL-2redoxCH), was incubated with NADPH in the presence of F-actin, and the consumption of NADPH was mo

[2017-09-20 05:06] sylvainpoux commented on #1623
On 19.09.2017 17:34, pgarmiri wrote:

Hi Penelope,

The reason of the GO:0019417:Sulfur oxidation annotation is because they
show in the paper that MICAL2 oxidizes methionine in actin to form
methionine sulfoxide (Fig.S6)

Correct me if I am wrong

Thanks

Sylvain

--
Sylvain Poux, PhD
Head of annotation department
Swiss-Prot group
SIB Swiss Institute of Bioinformatics
1, rue Michel Servet
CH-1211

[2017-09-20 06:49] pgaudet commented on #1634
Hi @bmeldal
what this points out is GO is really missing a concept that described 'downregulation of signaling by receptor degradation" (it is also possible that the concept exists but I don't know what it's called).  Any suggestions @ukemi @vanaukenk @RLovering @bmeldal ?

Thanks,
Pascale

[2017-09-20 08:21] pgarmiri commented on #1623
Hi Sylvain,

What you say is totally correct, but the point that Kristian raised in the ticket mentioned at the beginning of this thread is that there is no reaction with (free) sulfur as described in GO:0043914. I copy his message below.

Thanks,

Penelope

"Details are in this ontology ticket:
geneontology/go-ontology#14045

Hi,

The definition of this GO term is based on PMID:17449625. This sam

[2017-09-20 08:21] NancyCampbell commented on #1634
@bmeldal @ukemi @vanaukenk @RLovering

Hi @pgaudet

Thank you for the suggestion that 'downregulation of signaling by receptor degradation' might be missing.

However, in this particular case i.e. the PCSK9-ANX2 complex and the LDL receptor, this is not a signalling pathway. So 'negative regulation of receptor degradation' is appropriate though I can't find this in QuickGO. So maybe I should reque

[2017-09-20 08:28] sylvainpoux commented on #1623
On 20.09.2017 10:21, pgarmiri wrote:

OK, I understand now. I changed the annotation to the parent term
(GO:0055114) as you suggested

Thanks a lot

Sylvain

--
Sylvain Poux, PhD
Head of annotation department
Swiss-Prot group
SIB Swiss Institute of Bioinformatics
1, rue Michel Servet
CH-1211 Geneva 4
Switzerland

sylvain.poux@sib.swiss - www.sib.swiss

[2017-09-20 08:59] pgarmiri commented on #1623
That's great, Sylvain.
Would you mind updating the molecular function term as well? From GO:0043914 NADPH:sulfur oxidoreductase activity to  GO:0016491 oxidoreductase activity?

I think that this last change would rectify the issue and GO:0043914 could be obsoleted as Kristian suggested.
Thanks,
Penelope

[2017-09-20 12:08] sylvainpoux commented on #1623
On 20.09.2017 10:59, pgarmiri wrote:

done

S.

--
Sylvain Poux, PhD
Head of annotation department
Swiss-Prot group
SIB Swiss Institute of Bioinformatics
1, rue Michel Servet
CH-1211 Geneva 4
Switzerland

sylvain.poux@sib.swiss - www.sib.swiss

[2017-09-20 13:09] ukemi commented on #1623
The mouse annotation should be fixed now that the human annotation has been updated. @slaulederkind and @hattrill can you check your annotations?

[2017-09-20 13:16] hattrill commented on #1623
Done (see 16 days ago), unless we've gone off topic in the interim.

[2017-09-20 16:14] slaulederkind commented on #1623
The rat annotation is an inferred annotation from a UniProt human annotation.  The RGD annotation will be gone after the UniProt annotation disappears from the import pipeline.

[2017-09-20 16:18] ukemi commented on #1623
Thanks everyone!

[2017-09-20 16:18] #1623 closed

[2017-09-21 11:47] ValWood commented on #1634
Isn't this a little bit similar to the existing term:

"regulation of transcription by transcription factor catabolism"

there is talk of obsoleting this term. So, it seems odd to add new similar ones in another context. We should probably decide how to represent this type of process regulation  more generally before the  new terms are created.

[2017-09-21 12:12] bmeldal commented on #1634
@ValWood are we just comparing principle here, now? Nancy's complex is a regulator of a receptor, not a TF. (although receptors can become TFs...) At it acts on the synthesised protein, not at the transcription or translation level.

[2017-09-21 13:27] ValWood commented on #1634
Ontology principle. Regulation of some process by protein catabolism.

[2017-09-22 06:19] bmeldal commented on #1634
Ok, I see what you mean, Val.

Does that mean it needs an editors' discussion?

[2017-09-23 06:55] pgaudet commented on #1634
Hi @ValWood @bmeldal
I don't yet know what the best solution is; @ValWood I think the terms of type 'x involved in y' were being discussed for obsoletion (in #14138 but there are probably other issues). Examples of these terms are 'cyclin-dependent protein serine/threonine kinase activity involved in negative regulation of conjugation with cellular fusion' where we don't know how the MF fits in th

[2017-09-25 18:14] thomaspd opened #1635 "update annotation guidelines for Molecular Function"
From @ValWood comment on the ontology [https://github.com/geneontology/go-ontology/issues/14161](url).

We need to update the MF guidelines, especially with respect to the notion of separate functions. Guidelines are at http://www.geneontology.org/page/molecular-function-ontology-guidelines

Sentences like these are not correct:
'A gene product may have many different functions, but it would be wr

[2017-09-26 08:35] bmeldal commented on #1634
It is really common for receptors to not oligomerise until the ligand binds. Lots of examples in the CP now, e.g. PDGFs (and more to come). But I would annotate directly with the MF of the receptor activity and the BP of the signaling pathway.

[2017-09-26 12:42] pgaudet opened #1636 "Check annotations to 'cell envelope' and children"
Hello,

Cell envelope applies to prokaryotes only. We noticed a few EXP annotations in eukaryotes:

@doughowe @hdrabkin (who can I ask for GeneDB?)
Can you please have a look?

UniProtKB	A0A0R4IZH2	part_of	GO:0045203	PMID:21773621	ECO:0000314			20110913	ZFIN		goEvidence=IDA
UniProtKB	A4IGB6	part_of	GO:0045203	PMID:27563101	ECO:0000314			20161110	ZFIN		goEvidence=IDA
UniProtKB	B3DK48	part_of	GO:004

[2017-09-26 16:17] ValWood commented on #1592
Hi @RLovering  I put some notes on this in a ticket if you are interested https://github.com/pombase/curation/issues/1699

Can answer questions at the meeting...

[2017-09-26 16:58] doughowe commented on #1636
Hi Pascale,
  I think there might be an ontology problem here where the "cell envelope" term which is taxon restricted is the parent of terms which are not taxon restricted, like "integral component of cell outer membrane"?
<img width="731" alt="screen shot 2017-09-26 at 9 57 38 am" src="https://user-images.githubusercontent.com/7142077/30873178-2dae5a38-a2a1-11e7-9802-be5324bdc40c.png">

[2017-09-26 16:59] doughowe commented on #1636
Maybe the part_of relationship between "cell envelope" and "cell outer membrane" is an error?

[2017-09-26 17:27] doughowe commented on #1636
Hi @cerivs
  The ZFIN annotations reported above are found in 4 pubs you curated.  Could you take a look and move the GO annotations to terms suited for eukaryotes.  Thanks!  I've organized the ZFIN ones by pub here for convenience:

UniProtKB A4IGB6 part_of GO:0045203 PMID:27563101 ECO:0000314 20161110 ZFIN goEvidence=IDA
UniProtKB Q1ECX5 part_of GO:0045203 PMID:27563101 ECO:0000314 20161110 ZFIN

[2017-09-26 18:34] pgaudet commented on #1636
Hi @doughowe
- The outer membrane is limited to prokaryotes (and specifically gram negative). See wikipedia https://en.wikipedia.org/wiki/Cell_membrane#Prokaryotes
"Gram-negative bacteria have both a plasma membrane and an outer membrane separated by periplasm. Other prokaryotes have only a plasma membrane. "

- Taxon constraints are inherited: ie if an organelle/process/function does not exist in

[2017-09-26 19:15] ukemi commented on #1636
I have changed two of the mouse annotations, but the third:

UniProtKB Q8BVC1 part_of GO:0030112 PMID:18787081 ECO:0000314 20110323 MGI part_of(CL:0000019) goEvidence=IDA

to glycocalyx, is valid based on the definition of the term and a quick search of the literature. We either need to change the parentage or create a separate class for things like sperm/epithelial glycocalyx and the ones found i

[2017-09-26 19:17] ukemi commented on #1636
Or remove the taxon constriction of the cell envelope.

[2017-09-26 19:22] pgaudet commented on #1636
Hi @ukemi
Indeed we should change the parentage - the cell envelope really refers to the bacterial. Maybe   GO:0071944 cell periphery?

Thanks, Pascale

[2017-09-26 19:32] doughowe commented on #1636
Still, editing the ontology will still leave the annotation pointed out by Pascale as needing to be cleaned up in mouse and zebrafish, right?

[2017-09-26 19:36] ukemi commented on #1636
Not to glycocalyx. I think the mouse annotation is ok. I'm not sure about fish. I think moving to cell periphery will at least fix the issue for the glycocalyx that surrounds certain types of eukaryotic cells.

[2017-09-26 22:42] doughowe commented on #1636
@cerivs
I updated the ZFIN gene expression data for the bves gene, which had expression in integument:cell outer membrane.  Updated to integument:plasma membrane.

[2017-09-26 23:11] cerivs commented on #1636
I fixed the Zebrafish annotations.  It would be really helpful if the taxon limitation was propagated down tree  since I had to go up a fair way until the in bacteria showed up.  Perhaps prokaryotic could be added to the text definition of the branch for curator convenience.

[2017-09-28 05:52] pgaudet commented on #1591
GOC presentation:
https://docs.google.com/presentation/d/1xR6EFbRyCSwruXVeMYZtJfwWEbIr6U8zei8IwGG3OrA/edit#slide=id.p

[2017-09-28 15:36] ValWood opened #1637 "IPR013637 not oxidoreductase"
Pombe lid2 IPR013637 family member is a
histone demethylase activity (H3-trimethyl-K4 specific)

http://preview.pombase.org/reference/PMID:18957202

v

[2017-09-28 16:21] mah11 commented on #1621
sorry, just remembered that I was flagged on this one

I oppose using plain IDA (option 1) in the situation described, because it would be misleading. In the example,

- a fluorescence microscopy experiment provides direct-assay evidence that a protein localizes to the synaptic vesicle; and
- a sequence match indicates that the protein is integral to some membrane.

Although biologists do want us

[2017-09-28 16:30] ValWood commented on #1621
For these we always  do

integral to plasma membrane IC from GO:0005886|GO:0016021

where
GO:0005886    plasma membrane  IDA
GO:0016021    integral component of membrane ISS

Its simple, it works with existing mechanisms and it doesn't fudge evidence codes.
You are making a curator inference based on 2 separate pieces of evidence.
Isn't this even a documented use case for IC?

(then we hide GO:001

[2017-09-28 18:03] krchristie commented on #1621
I strongly oppose option 1 to just use plain IDA, for exactly the same reasons Midori does. I am very much against fudging evidence codes. When I started in GO in 2000, one of the strengths of GO that people were pointing out was that it was accurately tracing the evidence so that you could figure out why something was said, unlike the situation that existed then where many sequence records were l

[2017-09-28 22:25] krchristie commented on #1621
A. I think it would be a really bad idea to create a code DDA as distinct from IDA, especially if DDA is suppose to be the more specific code that would mean what we've used IDA to mean since the beginning, and IDA would now be allowed to be more general. I also think the difference between "demonstrated" and "inferred" is too subtle which would mean confusion about the difference between the two

[2017-09-29 06:39] ValWood commented on #1621
But if we change these to IDA-ISS or whatever en masse, we lose what the  IDA experiment actually showed. IDA to plasma membrane/ER membrane etc.

I think this is an added confusion for uses, and unecessary work for everyone.

What is wrong with the current method of

integral to plasma membrane IC from GO:0005886|GO:0016021
where
GO:0005886 plasma membrane IDA
GO:0016021 integral component of mem

[2017-09-29 07:48] bmeldal commented on #1621
We have a similar problem when annotating complexes: Often the function or location is only shown for one complex member (maybe the cataytic subunit) or part of the complex so we can't use IDA. We have created the complex-equivalent to IC, ECO:0005547 biological system reconstruction evidence based on inference from background scientific knowledge used in manual assertion. It's very conservative b

[2017-09-29 07:54] hattrill commented on #1621
Somewhat tangental, but relevant to the discussion. I was interested whether biologists cared about the distinction between “integral to plasma member” and “plasma membrane”. I asked someone who works on plasma membrane profiling and asked him. And his remark surprised me:

“Personally, I think the following:
- I don't find the 'integral component of plasma membrane' or 'integral to plasma membran

[2017-09-29 08:23] dosumis commented on #1621
IIRC 'cell surface' needs to be wired up properly

Re name: agree horrible.  Should change to transmembrane.

The term has been around for some time, but until relatively recently was hidden away - not connected to the rest of the hierarchy.  It's also not one of the standard set of components generated for most membranes.  Easy to add though as we have a standard design pattern for these.

If it'

[2017-09-30 13:07] #1613 closed

[2017-09-30 13:07] #1603 closed

[2017-09-30 13:08] #1590 closed

[2017-09-30 13:11] ValWood commented on #1548
human and mouse now have, closing
http://www.uniprot.org/uniprot/P21554#subcellular_location

[2017-09-30 13:11] #1548 closed

[2017-09-30 13:11] ValWood commented on #1554
done? reopen if not

[2017-09-30 13:16] #1485 closed

[2017-09-30 13:18] #1440 closed

[2017-09-30 13:19] #1376 closed

[2017-09-30 13:20] #1436 closed

[2017-09-30 13:22] ValWood commented on #1032
Transferred to "off target" KW mappign ticket
https://github.com/geneontology/go-annotation/issues/1503

[2017-09-30 13:22] #1032 closed

[2017-09-30 13:22] #1439 closed

[2017-09-30 13:26] #1460 closed

[2017-10-01 07:33] #1630 closed

[2017-10-01 07:35] ValWood opened #1638 "add UniProt people to contacts list"
https://github.com/geneontology/go-ontology/blob/master/curator_group_contacts.tsv

[2017-10-01 07:36] #1618 closed

[2017-10-01 07:38] ValWood commented on #1588
I think this is done?

[2017-10-01 07:38] #1588 closed

[2017-10-01 07:39] ValWood commented on #1514
GO:0003840 was obsoleted in the end so all done here.

[2017-10-01 07:40] #1482 closed

[2017-10-01 07:42] ValWood commented on #1503
KW:KW-0507 has a lot of "off target" GO mappings see
https://github.com/geneontology/go-annotation/issues/1234

[2017-10-01 07:42] ValWood commented on #1234
transferred to
https://github.com/geneontology/go-annotation/issues/1503

[2017-10-01 07:42] #1234 closed

[2017-10-01 07:43] #1579 closed

[2017-10-01 07:44] ValWood commented on #1529
can close, is handled by taxon contraints

[2017-10-01 07:44] #1529 closed

[2017-10-01 07:45] ValWood commented on #1520
The term was obsoleted instead.

[2017-10-01 07:45] #1520 closed

[2017-10-01 07:45] #1514 closed

[2017-10-01 07:45] #1484 closed

[2017-10-01 07:46] #1422 closed

[2017-10-01 12:25] #1599 closed

[2017-10-01 12:27] ValWood commented on #1597
I think the decision here is that we need the different named pathways.

Yeast has 3.
Stress activated
Pheromone activated
Cell integrity

Need to check how these should be named with SGD
Re-annotate ours  to correct flavour of MAPK where necessary

[2017-10-01 20:01] ukemi commented on #1597
I thought I had read that yeast has one called osmosensing or osmolarity sensing?

[2017-10-01 20:11] srengel commented on #1597
Do you mean the HOG1 pathway? Osmosensory signaling pathway.

[2017-10-01 21:46] ValWood commented on #1597
yep but that is the "stress activated pathway".
It responds to multiple stresses (osmolarity, oxidative stress, heat, some nutrient limitation).
I think it's a single pathway though?

I thought that to capture individual stresses we might do
stress activated MAP kinase pathway part_of "response to oxidative stress" etc.
perhaps?

[2017-10-02 08:02] pgaudet commented on #1597
The little I know about this from PAINT seems like a small number of MAP kinases are involved in the response to a large number of inducers. My understanding is that often the type of inducer doesn't really matter, it's more the assay than a conclusion about a specific stress inducer. (This is why I wanted to have 'response to stress' to manually annotate with PAINT but mostly nobody agreed).

Tha

[2017-10-02 08:24] srengel commented on #1597
heat stress goes through one set of sensors, that can also sense oxidative and osmotic stress, but osmo and oxi stress also can go through another set of sensors.  both converge on the same MAPKK.  we have a little diagram here: http://wikipathways.org/index.php/Pathway:WP2838

i forwarded this issue to Rob at SGD, he might have more insight to share.

[2017-10-02 08:48] RLovering commented on #1597
my interpretation is the same as Val's. We would annotate a gene: intracellular signaling pathway part_of response to stimulus.

[2017-10-02 14:21] hdrabkin commented on #1554
FWIW: I was never told a decision; however it goes, it will NOT happen immediately due to software request triage.

[2017-10-02 15:36] ValWood commented on #1554
OK,

[2017-10-02 17:12] doughowe commented on #1636
?Hi Ceri,

   The best we have at the moment is that, at least in this case, the terms are part of the prokaryote slim.  That info is available near the bottom (might have to scroll the window) of our term details window.  So there's a clue..but easy to miss.

D

--
Doug Howe, Ph.D.
ZFIN Data Curation Manager
Zebrafish Model Organism Database
University of Oregon
541-346-2355

____________________

[2017-10-02 17:14] doughowe commented on #1636
?...and ps...I don't know if the prokaryote slim IS a manifestation directly of the taxon constraint, or if inclusion in the slim was just circumstantial.?  Anyone know?  If it results from the taxon constraint, then its an indication not to use it in fish.  If its circumstantial..well...it's a clue...but maybe not much use really for this issue.

--
Doug Howe, Ph.D.
ZFIN Data Curation Manager
Zeb

[2017-10-02 18:05] robnash commented on #1597
Hi,

Not sure what input is needed here? There are as many as five MAPK pathways in budding The hyperosmotic stress pathway also called the High Osmolarity Glycerol (HOG) response pathway does have different upstream inputs that as far as I can remember feed through a conserved MAPK pathway including: hyperosomtic stress, oxidative stress and heat shock (See PMID: 15603750 for comparison of pombe,

[2017-10-03 12:56] vanaukenk opened #1639 "Relations to describe gene product - component annotation"
Following on from the Cambridge 2017 GO meeting:

We need to solidify what relations we will use going forward for GP - CC annotation.

Strongest relation: 'is active in'
https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002432

Weaker relation: 'part of'
https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%

[2017-10-03 13:39] vanaukenk commented on #1639
For discussion of colocalizes_with see:
https://github.com/geneontology/go-annotation/issues/1500

[2017-10-03 15:29] EBI-Hsinyu commented on #1637
Hi Val,
Thank you for this. I have removed the terms.
Regards,
Hsin-Yu

[2017-10-04 06:13] pgaudet commented on #1639
At the GOC meeting it was suggested to replace 'part of' by something more explicitely about the location, for example 'located in' or even 'found in'.

@cmungall thoughts about a good relation label ?

[2017-10-05 12:55] pfey03 commented on #1639
I second what Chris said, to replace part_of as this is not really a loose relation. Maybe 'localizes to" would reflect the actual purpose well. Or "located at" as Kimberly stated above.

[2017-10-05 13:46] ValWood commented on #1597
It seems that we need to figure how the  MAPK pathways in each species  and their different names relate to each other.

It should be fairly straightforward.
Fission yeast has 3 "fairly linear" pathways (3 of each component MAPKKK, MPKK and MAPK present).

In fission yeast
Sty1/Spc1 MAPK = S.c  Hog1
(canonical MAPK stress pathway)
but the hog1 pathway in GO  should be a descendant  of this and  ha

[2017-10-05 13:48] ValWood commented on #1597
although I don't think we should have terms like
GO:1903616    MAPK cascade involved in axon regeneration

there should be a distinction between
a) the name of the  pathway (specific module) is referred to by the community
and
b)  the range of downstream targets.

GO:1903616    MAPK cascade involved in axon regeneration
seems to be a  specific downstream target of  one of the modules?

[2017-10-05 16:02] pgaudet commented on #1583
Hi @hattrill
It seems clear in the literature that SAGA is considered a co-factor:
http://genesdev.cshlp.org/content/28/18/1999.long

There are several primary annotations; I suggest that you dispute the primary annotations; what do you think ?
@Tanya AT4G16420
@srengel S000002856 (+Candida: CAL0000192402)

Thanks, Pascale

[2017-10-05 16:25] ValWood commented on #1583
The problem is that although SAG is considered a cofactor, it completely fits the GO def of TF in that it both 1) binds DNA  (ada subunit has a DNA binding domain)  and 2) Regulates transcription.

This  implies that the  def of trancription factor needs refining. Not all types  of transctiptional regulation + DNA binding = "transcription factor"

[2017-10-05 16:28] ValWood commented on #1583
I'm basing this on the fact that  ADa2 has a homeobox. Maybe it does not bind DNA, but for sure some  chromatin remodelling type co-factors do. I always felt that  something else was required in the def

[2017-10-05 18:20] krchristie commented on #1583
With respect to definition of "transcription factor", also remember that not all transcription factors bind DNA.

[2017-10-06 07:02] bmeldal commented on #1639
Please remember that there are 2 kinds of GP-CC relationships

1. GP is part_of some complex
2. GP is_located_at/localizes_to some cellular location

The two situations **could** get different qualifiers that would immediately distinguish which situation we are talking about.

The new Complex WG will look into the possibility of making the part_of complex relationships more expressive taking into

[2017-10-06 08:03] hattrill commented on #1583
Well, I guess it is ok - looking at enhanceosomes, etc. seems that many have HAT activity.

[2017-10-06 08:09] pfey03 commented on #1639
I thought we will have two in total only?

1. GP enables_activity_in
2. GP localizes_to OR is_located_at replacing part_of

More might be overkill (for me).

[2017-10-06 08:47] ValWood commented on #1583
I checked last night and SAGA binds to TBP and RNA pol II, so co-factor fits for this.

We still have an issue that other non co-factor chromatin remodellers also fit the DNA binding TF def .....

[2017-10-06 10:27] hattrill commented on #1583
And, some domains e.g. SANT-MYB, MADF-BESS and ARID domains pop up in cofactors, DNA binding TFs and remodellers.

[2017-10-08 13:22] vanaukenk opened #1640 "Documentation - Need feedback on wiki usage"
Hello,

Following on from the Cambridge meeting, please add to this ticket the curation documentation you typically consult on the GO wiki.

We plan to reorganize the documentation on the website and wiki and want to prioritize according to what pages are most used by GO curators.

Thx.

[2017-10-08 13:24] vanaukenk commented on #1640
From Midori @mah11 (PomBase):

As requested, a few notes on GO documentation we use at PomBase ...

We link some of our user documentation to the wiki page on annotation extensions (e.g. http://preview.pombase.org/documentation/gene-page-gene-ontology). I'm not sure it's optimized for biologist end users, but we don't know of anything better at present.

I use the annotation extension docs at GitH

[2017-10-09 06:45] pgaudet commented on #1583
@hattrill @ValWood
So, can this issue be closed ? It doesnt seem to be a problem with the annotations of the family.

Thanks, Pascale

[2017-10-09 07:51] pgaudet opened #1641 "Annotation challenge: Yeast SPT6 and transcription antitermination factor activity, DNA binding"
Hello,

I came across the term 'transcription antitermination factor activity, DNA binding',  annotated once by EXP in SGD to SPT6/S000003348 based on a single paper.

The SGD description does not mention antitermination activity (and the paper on which that annotation is based does not implicate SPT6 in antitermination; in fact it talks about termination, but not about antitermination, http://www

[2017-10-09 08:15] pgaudet opened #1642 "Annotation challenge: RBGA5 (AT4G13850) and transcription antitermination factor activity, RNA binding"
Hello,

I think anti-termination is a prokaryotic-specific process. Interestingly, the assay for anti-termination activity of RBGA5 was done in E. coli. The authors conclude that "These results demonstrate that GRP2 has an activity that is capable of melting the RNA secondary structure in vivo, which further confirms that GRP2 exhibits RNA chaperone activity."

So it seems 'transcription antitermi

[2017-10-09 08:40] pgaudet opened #1643 "B2RXF0 (TMEM229A) hit to IPR036963: false positive?"
Hello,

Is it possible that B2RXF0 (TMEM229A) hit to IPR036963 is a false positive?
It seems weird that human would have an endogenous gene to transcribe the HIV virus.

Thanks, Pascale

[2017-10-09 23:40] keseler opened #1644 "GO:0000015 annotation for RNase E"
I just ran across an annotation for E. coli RNase E (P21513) as "part_of" the phosphopyruvate hydratase complex. It is true that both enolase (aka phosphopyruvate hydratase) and RNase E are part of the degradosome; however, no other component of the degradosome other than enolase is actually part of the homomultimeric enolase complex.  Is this a case of a transitive annotation of membership in a c

[2017-10-10 08:53] ggeorghiou commented on #1644
Hi @keseler

I've reviewed the annotation for you. RNase E was found to bind enolase and I assumed at the time that it was part of the same complex as enolase. Given a second reading of the paper, plus your input, I have removed the annotation since it is incorrect.

Best,

George

[2017-10-10 15:11] pgaudet commented on #1641
For the DNA binding I still see 1 protein + 1 paper (3 annotations:)
![image](https://user-images.githubusercontent.com/4782928/31394190-049fbca2-adde-11e7-9584-1181bb35f0e9.png)

[2017-10-10 15:13] srengel commented on #1641
yes, you are right.  one gene from one paper.  i just realized that i was looking at the P term 'transcription antitermination', not the F term.  oops!

...but if you are saying that antitermintation only occurs in bacteria, then i guess i'll have to address those P annotations also.

[2017-10-10 15:15] pgaudet commented on #1641
OK right !

I was just worried about getting the stats wrong ...

[2017-10-10 22:39] tberardini commented on #1642
@pgaudet :The 'transcription antitermination' annotations were made by UniProtKB.  I cannot edit them.

http://amigo.geneontology.org/amigo/reference/PMID:17376161

Please reassign to the appropriate UniprotKB contact.  Thanks.

[2017-10-11 06:15] pgaudet commented on #1644
@keseler is this is OK please close the issue.

Thanks, Pascale

[2017-10-11 06:25] pgaudet commented on #1642
thanks @tberardini
I disputed via Protein2GO.

Pascale

[2017-10-11 15:06] keseler commented on #1644
Yes, totally ok with me.  Didn't realize that I should be the one closing the issue. :-)

[2017-10-11 15:06] #1644 closed

[2017-10-12 11:51] pgaudet opened #1645 "Review annotations to BP high affinity transport"
Hello,

For the ticket https://github.com/geneontology/go-ontology/issues/14354
These are the merges that will be done, and the number of affected EXP annotations per group.
@ValWood @tberardini @srengel
If your group does not automatically transfer annotations after a merge, please go ahead and do so.

At the same time: Ideally we would git rid of just 'transport' in BP; to be a proper process it

[2017-10-12 11:55] pgaudet commented on #1645
PS Please remove your name from assignees once you are done.

[2017-10-12 12:31] RLovering commented on #1645
There seems to be another ticket for this https://github.com/geneontology/go-ontology/issues/14354 so I am confused about where to put my comments ;(

Please could high-affinity ferric iron transmembrane transport be renamed ferric iron transmembrane transport

And high-affinity ferrous iron transmembrane transport be merged into GO:1903874 ferrous iron transmembrane transport

Note we currently h

[2017-10-12 13:24] pgaudet commented on #1645
Hi Ruth,

The other ticket is for the ontology changes; I wanted to keep that separate from the annotation review; is that OK ?

Thanks, Pascale

[2017-10-12 13:26] RLovering commented on #1645
great, sorry not to appreciate the difference, it does make sense now

[2017-10-12 14:15] pgaudet commented on #1645
:)

[2017-10-12 15:07] pgaudet opened #1646 "IPR007310 not GO:0015343 siderophore transmembrane transporter activity ?"
Hello,

If IPR007310 catalyzes the synthesis of the siderophore, I would say it's NOT involved in
GO:00015343 siderophore transmembrane transporter activity ?

Thanks, Pascale

[2017-10-12 15:10] pgaudet opened #1647 "IPR029755 not GO:0006826 iron ion transport ?"
Hello,

IPR029755 seems to be a transcriptional regulatory factor; ie it should NOT be directly mediating GO:0006826 iron ion transport .Homeostatis (already mapped) is probably enough.

Thanks, Pascale

[2017-10-12 18:27] ValWood commented on #1645
PomBAse annotations OK for merge (high affinity captured by MF)

[2017-10-13 08:03] pgaudet commented on #1642
Repoenting to make sure I dont forget.

[2017-10-13 09:15] Antonialock commented on #1646
If it is of any help...we haven't made any NOT annotations, but we have annotated different genes biosynthesis/transport

e.g.
ferrichrome biosynthetic process
http://preview.pombase.org/term/GO:0031169
![screen shot 2017-10-13 at 10 13 50](https://user-images.githubusercontent.com/12727506/31539055-4dd1d1d0-afff-11e7-84fd-c2afbee8c131.png)

siderophore transport
http://preview.pombase.org/term/GO

[2017-10-13 18:25] ValWood opened #1648 "improving specificity by banning high level terms"
I mentioned at the past few meetings that PomBase improves annotation specificity by "banning" a large number (1302) of terms where it should always be possible to make a more specific annotation.

These will not all work for general consumption, but a good way to begin would be to block a few of the more obvious terms.

1. transport
If you can make a transport annotation it should always be possi

[2017-10-14 06:29] pgaudet commented on #1648
Sounds good. I'll put a 'do no annotate' flag (in this case we can probably even automatic annotation), and send the list of annotations to review on the go-annotation tracker.

Thanks, Pascale

[2017-10-16 22:15] srengel commented on #1641
SPT6 allows read-through at the GAL10-GAL7 locus to created a dicistronic mRNA.  mutated SPT6 allows less read-through.  the paper from which the annotation was made provides evidence that the transcription elongation factors Spt6p and Spt4p promote transcription elongation past the GAL10 3' end.

the Nature review at https://www.ncbi.nlm.nih.gov/pubmed/8332211 doesn't say it's only in bacteria.

[2017-10-16 23:00] krchristie commented on #1641
I agree with @srengel that antitermination is not only in bacteria. The HIV example she mentioned from the Nature review she cited is already occurring in eukaryotic cells since HIV is a virus of eukaryotic cells.

[2017-10-17 08:24] pgarmiri commented on #1606
- [ ] 14358 Definition Revision: GO:0007340 acrosome reaction
- [ ] 14355 Definition revision of GO:0002077 ,acrosome matrix dispersal and addition of a new parent
- [ ] 14350 Term Revision: GO:0060475 positive regulation of actin filament polymerization involved in acrosome reaction and NTR
- [ ] 14346 Add synonym to GO:0060471 cortical granule exocytosis
- [ ] 14345 NTRs: premature acrosome loss

[2017-10-17 09:43] asangrador commented on #1647
I have removed the GO term for iron ion transport.
Thanks,
Amaia

[2017-10-17 10:01] pgaudet commented on #1647
Thanks !

[2017-10-17 10:01] #1647 closed

[2017-10-17 10:15] pgaudet commented on #1646
Thanks !

[2017-10-17 10:15] #1646 closed

[2017-10-17 10:26] asangrador commented on #1643
Yes, it looks like a false positive. We have other signatures for Tat that do no hit TMEM229A. I will remove the annotation for this entry, as we have another entry (IPR001831) that will provide annotation to the proteins that should get it.
Cheers,
Amaia

[2017-10-17 10:45] pgaudet commented on #1517
**Discussion at GOC Cambridge meeting:**

- We will implement the new qualifier “causally upstream of or within”, with the more specific children “causally upstream of” and “involved in”
Groups will have a certain amount of time to include the new qualifier in their GAF file
- If by the deadline, some groups have not provided the qualifier, the general one will be added by GOC database as a post-p

[2017-10-17 10:52] pgaudet opened #1649 "Create guidelines for using multiple qualifiers"
Action item from GOC meeting October 2017

[2017-10-17 10:53] pgaudet opened #1650 "Create guidelines for using contributes_to"
Action item from GOC meeting Oct 2017

[2017-10-17 10:57] pgaudet commented on #1639
GOC meeting discussion (Oct 2017) identified the following tasks:
[] Survey groups to see how many want to express BOTH active location and just ‘incidental’ locations
[] Define exactly the relation name: is the relation ‘part of’ be used for CC? Suggestions: ‘localises in’; ‘found in’
[] Legacy annotations: will default to ‘part of’, but groups can move to ‘enables_activity_in’. We’ll also use th

[2017-10-17 10:59] pgaudet commented on #1500
At the GOC meeting Oct 2017, the following suggestions were made:
- Review EXP annotations using co-localizes with
- Consider creating new GO terms if necessary (for eg, ‘peripheral to ribosome’)
- Consider creating more precise qualifiers, for eg ‘transiently localizes with’ or ‘dynamically localizes’ …

[2017-10-17 11:13] pgaudet opened #1651 "QC for Noctua models"
Action item from Oct 2017 GOC meeting:
think about how we’ll do QC for Noctua models

[2017-10-17 11:20] pgaudet opened #1652 "Recommendations and guidelines for next time we engage an external group of experts"
Action item GOC meeting Oct 2017

Write up recommendations and guidelines for next time we engage an external group of experts

[2017-10-17 11:22] pgaudet commented on #1652
Should this integrate or replace this documentation:
http://geneontology.org/contribute-annotations
?

[2017-10-17 11:28] pgaudet opened #1653 "InterPro2GO pipeline"
Tasks identified at the Oct 2017 GOC meeting:

* Collect uber ‘black list’ and post it somewhere that everyone can access it
* Come up with some rule for filtering ahead of time - new GO rule for filtering InterPro2GO for GO pipeline - https://github.com/geneontology/go-site/issues/436
* Put together working group of interested individuals, have a couple meetings, come up with guidelines by May 20

[2017-10-17 11:30] pgaudet opened #1654 "HTP-types will not be allowed as evidence for ISS"
Action item from Oct 2017 GOC meeting.
I assigned @cmungall - please assign someone else if appropriate.

[2017-10-17 11:33] pgaudet commented on #1390
Resolved, see https://docs.google.com/document/d/1ScIeclAzUXMe-tU6n0lVfsSwMHpOeNb7uK8On9-iKXc/edit

For reference, in case that Google doc gets deprecated, GO defines HTP data as follows:
What qualifies as HTP data?

As HTP datasets are generated from the scaling of normal experimental techniques, it is difficult to create a definition that exactly captures what is ‘HTP’. It is more useful to high

[2017-10-17 12:03] pgaudet opened #1655 "Review HTP annotations"
Hello,

As an action of the Oct 2017 GOC meeting, ECO has create evidence codes for HTP experiments.

We ( @hatrill and the HTP working group) will provide annotation guidelines; once these are available, we will ask each group to review papers that we have flagged as potentially HTP:

https://docs.google.com/spreadsheets/d/11xExGJfj_39xPQUGkam3Xvtd6dtZ5DfANXhM2ZtDYB0/edit#gid=0

More details on t

[2017-10-17 12:13] pgaudet opened #1656 "Update PAINT documentation: tool instructions + guidelines"
Action item from Oct 2017 GOC meeting

[2017-10-17 12:16] pgaudet opened #1657 "Generate reports to replace the Google docs to track progress /lock families, etc"
Action item form Oct 2017 GOC meeting

Anushya/Huaiyu

[2017-10-17 12:31] pgaudet opened #1658 "Implement challenge mechanism from PAINT"
Action item from Oct 2017 GOC meeting

Anushya/Huaiyu

[2017-10-17 12:37] ukemi commented on #1517
I think that this is slightly inaccurate. The new qualifiers are that 'acts....' qualifiers becasue they will describe the relationship between a gene product and a GO process or function. The 'causally ...' relations are already in use in Noctua and describe relationships between BPs and MFs.

[2017-10-17 12:39] ukemi commented on #1651
I am pretty sure @dougli1sqrd already has some queries in place.

[2017-10-17 12:40] pgaudet opened #1659 "Implement a check for terms for which curators should always use a more specific child term. (“Do not manually annotate”)"
Action item from Oct 2017 GOC meeting

First example is here:
https://github.com/geneontology/go-annotation/issues/1648

This needs to be done stepwise to allow people to make corrections. We'll add other terms regularly.

[2017-10-17 12:54] pgaudet commented on #1651
Hi @ukemi
I think these are also for contents of the models, not just syntactic checks.

@dougli1sqrd where can we see the list of the different rules?

Thanks, Pascale

[2017-10-17 12:56] pgaudet commented on #1517
Ah OK ! what would be the equivalent of 'causally upstream of' /'causally upstream of or within' for gene to GO relations ?

Thanks, Pascale

[2017-10-17 13:04] ukemi commented on #1517
There is a mapping higher in this ticket.

[2017-10-17 13:09] pgaudet commented on #1517
Ahhh ! yes, thanks :)

[2017-10-17 19:34] cmungall commented on #1654
@dougli1sqrd will create a new rule file in metadata/rules in go-site.

However more context required. Can you have a go at writing out this rule in english and we'll refine it

[2017-10-17 23:35] tberardini commented on #1645
I took care of the TAIR annotations.  For the GO:0080055 | low-affinity nitrate transport annotations, I transferred them to 'nitrate transport'.

[2017-10-18 09:27] ValWood commented on #1597
From https://github.com/geneontology/go-ontology/issues/14323#issuecomment-336973187

MAPK cascade involved in conjugation with cellular fusion
MAPK cascade involved in cell wall organization or biogenesi

were previously used to represent specific MAPK modules.

I think what we are trying to represent here are the 3 main types....
These are illustrated nicely in the KEGG MAPK pathway diagram link

[2017-10-18 09:52] ValWood commented on #1597
I can't think of a way to name the orthologous modules *except* to include the major MAK names:

GO:0070375 ERK5 cascade  = MAPK7/SLT2/pmk1 MAPK module
(ERK5 more commonly called MAPK7)

GO:0070371 ERK1 and ERK2 cascade  = MAPK1,3/FUS3/Spk1 MAPK module

( ERK1 and ERK2 cascade more commonly called MAPK1,3)

This would avoid using potentially confusing concepts related to what the pathways regulate

[2017-10-18 10:00] pgaudet opened #1660 "Odorant binding or odorant transport?"
Hello,
I have discovered a GO term, 'GO:0043563 odorant transporter activity', which has never been used, but that was evidently made for 'odorant binding proteins' such as those described in PMID:2010751

These proteins bind to hydrophobic odorant molecules and bring them in closer contact with receptors. However this family has been annotated to 'GO:0005549	odorant binding' .

My question is, do

[2017-10-18 12:40] pgaudet commented on #1654
Hi,

The rule would be:
For any annotation with evidence code = ISS OR ISO OR ISA
The primary annotation (ie the annotation of the sequence in the 'with' column) must be supported by either EXP, IDA, IMP, IGI, IEP, IPI, or IC

@vanaukenk can you please confirm ? I am not sure about IC and IEP, but I think they are allowed.

Thanks, Pascale

[2017-10-18 12:47] bmeldal commented on #1639
doesn't allow for annotating non-catalytic subunits that are definitively part of a complex. Alternatively, these GPs simply cannot be annotated to the GO complex term as localizes_to OR is_located_at are too weak (IMHO) to describe defined complex membership.

I think Sylvain (GH ID?) and @ukemi brought up these issues.

[2017-10-18 13:11] pgaudet commented on #1639
@sylvainpoux

[2017-10-18 13:14] bmeldal opened #1661 "Protein complex representation in Noctua"
From GOC meeting in Cambridge, Oct 2017:

Spaceholder ticket. Please formulate the issue(s); make a proposal for next GOC mtg at NYU 2018.

[2017-10-18 13:23] bmeldal opened #1662 "inferring MFs from annotations to complex portal IDs to individual complex participants"
Follow up from GOC meeting in Cambridge 2017:

The working group agreed that the CC (but see #1639 with regards to the required qualifiers!) and BP annotations would be equally appropriate for the complex subunits as they are for the complex so we'll extract them in the new Complex Portal GDAP.

However, extrapolating to MF is tricky:

We decided that we could infer the activity of the active subu

[2017-10-18 13:27] bmeldal commented on #1662
Initial thoughts from breakout group:

1. Remove contributes_to, replace with either enables_activity_in, part_of, localises_in or found_in,...
2. In Noctua: GPs with function go into GPAD, those without known function (emerging function) will be filtered out.
3. Known function: MF and AE with complex function
4. For unknown/emerging function annotations use MF root term and AE with complex MF ena

[2017-10-18 13:45] vanaukenk commented on #1662
GO-CAM models of different types of complexes and associated functions of their respective members are here:
http://noctua.berkeleybop.org/editor/graph/gomodel:59c8885900000281

[2017-10-18 14:41] bmeldal commented on #1661
Collecting use cases here:
https://docs.google.com/document/d/1ZtAcjIyIQ_ycbuMHyvLA-KIJQtGenh82lxS-MKC6a_A/edit

[2017-10-18 15:59] pgaudet commented on #1656
Note that Paul updated the documentation on the wiki, needs to be reviewed

[2017-10-18 17:27] robnash commented on #1597
Unless these are renamed, I think it would be very unintuitive to name the module members in yeast based on mammalian cascades like those you describ with names like ERK5 cascade and ERK1 and ERK2 cascade. I would prefer Pascale's idea of migrating up to "MAPK cascade" for now and use column 16 to describe the "part of" for particular perturbation/effector driven pathway activation.

[2017-10-18 18:17] hdrabkin commented on #1660
I guess this wouldn't come to mind for me as a transport;

[2017-10-18 19:11] pgaudet commented on #1645
@brinkmanlab
Can you please review  the PseudoCAP annotations?

Thanks, Pascale

[2017-10-18 19:16] kltm opened #1663 "Proposal for Protein complexes representation in Noctua"
_From @pgaudet on October 17, 2017 11:7_

At the Oct 2017  GOC meeting, we decided to form a working group to provide guidance for protein complex representation in Noctua: Formulate the issue; make a proposal

_Copied from original issue: geneontology/noctua#517_

[2017-10-18 19:55] deustp01 commented on #1660
What about SERPINA6, also known as corticosteroid-binding globulin? It's a serum protein that binds corticosteroids, enabling their efficient delivery to target tissue. The mouse homolog has GO annotations steroid binding (function), extracellular part of serum (component) and transport (process) - http://www.informatics.jax.org/go/marker/MGI:88278. (The name comes from its sequence similarity to

[2017-10-19 07:57] ValWood commented on #1660
A carrier?

carriers are non-transporter MF involved in transport
https://www.ebi.ac.uk/QuickGO/term/GO:0140104

[2017-10-19 08:02] bmeldal commented on #1662
related to https://github.com/geneontology/go-annotation/issues/1661

Collecting use cases here:
https://docs.google.com/document/d/1ZtAcjIyIQ_ycbuMHyvLA-KIJQtGenh82lxS-MKC6a_A/edit#

[2017-10-19 08:06] bmeldal commented on #1663
duplicate of https://github.com/geneontology/go-annotation/issues/1661 ?

I guess we added tickets before we saw what each other did!

[2017-10-19 08:10] ValWood commented on #1660
actually this does not fit any of the available  carrier "types"
https://www.ebi.ac.uk/QuickGO/term/GO:0140104

but we have steroid and hormone type "carriers" to place under here

Also, not all carriers are involved in transport (acyl carrier for example).

Will open a ticket later for the
I think these are probably "carriers"?
https://www.ebi.ac.uk/QuickGO/term/GO:0017127

I have a few things an

[2017-10-19 08:11] bmeldal commented on #1661
@sylvainpoux can you add your demethylase case to the google doc, please?
@ukemi I think you had examples, too?

[2017-10-19 08:25] sylvainpoux commented on #1661
Hi Birgit, I don't have the permission to edit the google doc

Please find the text here:

Case 3: N6-adenosine-methyltransferase

The N6-adenosine-methyltransferase complex is composed of 2 proteins in vertebrates: METTL3 (UniProt Q86U44) and METTL14 (UniProt Q9HCE5).
Both METTL3 and METTL14 belong to the same methyltransferase family and at first glance METTL14 looks like a normal methyltransfer

[2017-10-19 08:31] bmeldal commented on #1661
I've changed the permissions settings to anyone with the link can edit.

Have added your use case as well.

[2017-10-19 11:55] hattrill commented on #1583
I am ok with closing this.

[2017-10-19 15:25] ValWood commented on #1660
Yes some do appear to be just "diffusion"....really hard to figure out for some, for instance the metallochaperones. Whenever I have looked I haven't found good reviews for how these things work.....

[2017-10-19 16:39] srengel commented on #1583
seems like nothing here to do for Sc ADA2.  please let me know if i have misunderstood.

[2017-10-19 18:48] pgaudet commented on #1660
Isn't it similar to what karyopherins do, for example?

![image](https://user-images.githubusercontent.com/4782928/31788400-d911d218-b50e-11e7-9ba2-9c792372d850.png)

[2017-10-19 18:58] hdrabkin commented on #1660
The final "ligand" here is KaryoA or b bound to thing that actually gets transported across a membrane here.
In the cases of odorants, pheromones, itsn't it that they bind a receptor and then the receptor does something, not necessarily transporting the ligand across a membrane.
But in the case above:
So do you say in the case above that karyopherin as transporter activity? I don't think so; The T

[2017-10-19 19:29] pgaudet commented on #1583
Right, I dont think so, the annotations were right.

[2017-10-19 19:29] #1583 closed

[2017-10-20 09:33] ValWood opened #1664 "MP cellular detoxification"
https://www.ebi.ac.uk/QuickGO/term/GO:1990748

does not have parent
"response to cellular detoxification"

[2017-10-20 09:40] ValWood opened #1665 "ntr: cellular detoxification of flouride"
standard def

Any process carried out at the cellular level that reduces or removes the toxicity of a flouride. These may include transport of flouride away from sensitive areas and to compartments or complexes whose purpose is sequestration of the toxic substance.

does this also include "export"? this isn't clear from the standard def?

"Therefore, fluoride is toxic for S. pombe even at low conc

[2017-10-20 09:40] ValWood commented on #1665
PMID:27327046

[2017-10-20 09:45] ValWood opened #1666 "ntr: fluoride transmembrane export across plasma membrane"
- [ ] ntr: fluoride transmembrane export across plasma membrane
standard def
ref PMID:27327046

don't seem to have

- [ ] ntr : export across plasma membrane  either?

- [ ] although we do have
GO:1903764    regulation of potassium ion export across plasma membrane
???
add parents

[2017-10-20 09:54] mah11 commented on #1666
wrong tracker

[2017-10-20 09:54] #1666 closed

[2017-10-20 10:13] ValWood opened #1667 "ntr: fluoride transmembrane export across plasma membrane"
- [ ] ntr: fluoride transmembrane export across plasma membrane
standard def
ref PMID:27327046

don't seem to have

- [ ] ntr : export across plasma membrane  either?

- [ ] although we do have
GO:1903764    regulation of potassium ion export across plasma membrane
???
add parents

[2017-10-20 15:31] pgaudet commented on #1667
This issue was moved to geneontology/go-ontology#14390

[2017-10-20 15:31] #1667 closed

[2017-10-20 15:32] pgaudet commented on #1665
This issue was moved to geneontology/go-ontology#14391

[2017-10-20 15:32] #1665 closed

[2017-10-20 15:33] pgaudet commented on #1664
This issue was moved to geneontology/go-ontology#14392

[2017-10-20 15:33] #1664 closed

[2017-10-20 15:39] pgaudet opened #1668 "Transcription factor branch refactoring: overview of annotations of TFIIIC and TFIIB complexes"
Hello,

The term 'transcription factor activity, protein binding', as well as its children, will be renamed (and possibly reorganized), since as they are it is very difficult for users to understand what function is being described.

Before doing this, I wanted to understand how the terms had been used, so I started by looking at the MF annotations for proteins belonging to families annotated to t

[2017-10-20 15:50] pgaudet commented on #1656
From Paul

Hi all,

I edited the wiki pages on the PAINT user manual and SOP (curation guidelines), to update them before we give them to EBI.  Can you please review the pages at:
http://wiki.geneontology.org/index.php/PAINT_SOP
http://wiki.geneontology.org/index.php/PAINT_User_Guide

I didn’t have time to upload the new images from the new PAINT interface for opening families from the database (f

[2017-10-20 15:50] pgaudet commented on #1656
Feedback from Marc

Hi all,

Sorry for this late reply. Busy times before holidays ;-)

I've looked at the documents and I'm fine with both. It's simple and clear. However, as we are familiar with PAINT, it would be good to ask also potential curators not familiar with the tool to be sure that it is also clear for them.

Few little comments:

Curation guidelines:

I would wait for the PAINT tool u

[2017-10-20 16:02] pgaudet commented on #1668
Remarks for TFIIIB:

There seem to be no difference in usage between 'GO:0001026 TFIIIB-type transcription factor activity' and its children:
- GO:0001040 RNA polymerase III hybrid type promoter TFIIIB-type transcription factor activity
- GO:0001027 RNA polymerase III type 1 promoter TFIIIB-type transcription factor activity
- GO:0001028 RNA polymerase III type 2 promoter TFIIIB-type transcription

[2017-10-20 17:54] ValWood commented on #1660
@hdrabkin  agreed Karyopherins are currently housed under transporter,
https://www.ebi.ac.uk/QuickGO/term/GO:0061608
but we have previously discussed their move under carrier
https://github.com/geneontology/go-ontology/issues/14336
(it's not TM transport though the membrane is not traversed, its part of "nucleocytoplasmic transport")

[2017-10-22 18:36] ValWood opened #1669 "U6 small nuclear RNA (adenine-(43)-N(6))-methyltransferase (IPR017182)"
I'm not sure that this is correct

GO:0048024 regulation of mRNA splicing, via spliceosome

it might be but is there a ref. I seems to methylate quite a few  rRNAs and snRNAs of various types. I'm not sure if it is regulating splicing though,  is probably upstream?

[2017-10-23 08:25] pgaudet commented on #1667
This issue was moved to geneontology/go-ontology#14396

[2017-10-23 09:10] pgaudet commented on #1641
Hi @srengel @krchristie
Thanks for the precision; I meant that anti-termination did not occur in eukaryotes (only viruses and bacteria).

Looking at the reference supporting the SPT6/S000003348  annotation, how about if we created a new term, 'RNA polymerase processivity factor activity'? (similar to 'DNA polymerase processivity factor activity'). This also matched the description in SGD of the fu

[2017-10-23 09:15] pgaudet commented on #1642
Annotation replaced  by 'misfolded RNA binding'.

[2017-10-23 09:15] #1642 closed

[2017-10-23 13:35] vanaukenk commented on #1648
Annotations according to group:

(8) EcoCyc
(7) EcoliWiki
(7) MGI
(7) PseudoCAP
(6) SGD
(5) UniProt
(4) BHF-UCL
(3) RGD
(3) TAIR
(2) GR
(1) SynGO

[2017-10-23 15:42] krchristie commented on #1641
@pgaudet - My recollection of the word "processive" and how it applies to polymerases is that you absolutely cannot use it for RNA polymerases.

One of my UC Berkeley professors, and the PI of the other half of my joint lab, lectured at great length about how it is not appropriate it use the word "processivity" for RNAP's because it has a very specific meaning about how many nucleotides a DNAP lin

[2017-10-23 15:47] ValWood commented on #1641
I have seen it used in the context of RNA pol
https://www.ncbi.nlm.nih.gov/pubmed/15780939

and microtubule polymerases.

I don't know if it is correct...

[2017-10-23 15:55] pgaudet commented on #1641
I saw it for polII as well:
https://www.ncbi.nlm.nih.gov/pubmed/24837678
http://www.nature.com/nrm/journal/v16/n3/abs/nrm3953.html

[2017-10-23 17:53] srengel commented on #1641
i see anti-termination mentioned for eukaryotes.  are we just glossing over that?  have i lost the plot?

[2017-10-23 18:01] vanaukenk commented on #1663
Yes, this is a duplicate of #1661 and since there is more information in that ticket, I am going to close this one.

[2017-10-23 18:01] #1663 closed

[2017-10-23 18:08] krchristie commented on #1641
It may be that my professor was railing against a misuse of a term that is now out of the barn.

However, if you put "processivity factor" into PubMed, that specific phrase seems to only be used for some DNA polymerase factors.

While I do see quotes like this from Patrick Cramer's lab (PMID:21386817):

So, though Spt4/5 is described as affecting processivity (i.e. making it fully processive so th

[2017-10-23 18:13] krchristie commented on #1641
I agree with @srengel that the review @pgaudet cited implies that antitermination can happen in eukaryotes too.

Also, antitermination definitely happens in mitochondrial transcription too, so you definitely should not try to apply taxon constraints to say antitermination is specific to bacteria and viruses.

[2017-10-23 18:17] vanaukenk commented on #1658
@pgaudet - do you want to have this in the PAINT tracker?

[2017-10-23 18:17] vanaukenk commented on #1657
@pgaudet - do you want to have this issue in the PAINT tracker?

[2017-10-23 18:40] vanaukenk commented on #1654
@pgaudet

We have an annotation rule that says it is okay to make an IC from an ISS, but I don't know if we have a specific rule that goes the other way around.

In fact, looking at the current evidence code documentation for ISS, I don't think it's really explicitly spelled out what codes must have been used for the corresponding annotation object in the With/From field:
http://geneontology.org/p

[2017-10-23 19:16] cmungall commented on #1659
Remember and update the documentation for the rule with any changes made. This is what we have so far:
https://github.com/geneontology/go-site/blob/master/metadata/rules/gorule-0000008.md

The contact is still Emily, this should be changed

@dougli1sqrd will implement the SPARQL for this, and point at reports

[2017-10-23 21:24] tberardini commented on #1648
TAIR annotations mapped to more specific terms.

[2017-10-24 13:44] pgaudet commented on #1641
Hi @srengel
Going back to my original request:
- Can you just check that STP6 is correctly annotated to 'transcription antitermination factor activity, DNA binding' and 'transcription anti-ermination, based on PMID:15531585
- as well as SSU72 + transcription anti-termination, based on PMID:12453421

It seems to me "regulation of DNA-templated transcription, termination" is closer to what is descri

[2017-10-24 15:44] ValWood commented on #1659
- needs to be a soft check initially, report in Jenkins? is this where these go already.

[2017-10-24 16:13] sabrinatoro commented on #1660
I looked at the annotations and the publication where these annotations are from.
These gene products are receptors which binds to pheromone. Pheromone binding triggers a signal. There is no evidence at all of transport occurring.
Based on the evidence available, I would not move these ZFIN annotations to  'GO:0043563 odorant transporter activity',

@pgaudet : I am removing my name from the "Assig

[2017-10-24 17:24] hdrabkin commented on #1660
The mgi annotation to odorant binding is a paper just studying that has no experimental evidence for the statement, and thus will be removed now

[2017-10-24 23:20] hattrill commented on #1655
I have made a new sheet on the HTP paper google spreadsheet for potential HTP papers annotated using  the GO.
https://docs.google.com/spreadsheets/d/11xExGJfj_39xPQUGkam3Xvtd6dtZ5DfANXhM2ZtDYB0/edit?ts=58d39700#gid=2144791301
This was generated by splitting out the experimental evidence codes and collating the papers with >40 lines of annotation per paper/per evidence code. For most, I have been a

[2017-10-25 07:48] pgaudet commented on #1655
Thanks @hattrill
This is great ! I made a few edits (in suggestion mode) and made a few comments.

What's the next step? Should we review this with the HTP group ?

[2017-10-25 09:11] pgaudet commented on #1660
OK, then it sound like nobody needs this term 'GO:0043563 odorant transporter activity'; I'll put a ticket to obsolete it.

Thanks, Pascale

[2017-10-25 09:11] #1660 closed

[2017-10-25 15:21] manyasi06 opened #1670 "Interested in submitting a GO annotation for non-model organism"
Greetings,

I am emailing before I begin to setup GO-annotation reference set for Channel Catfish.  We additionally plan to update the data as well after the initial submission.

Regards

Bryan Musungu

[2017-10-25 18:21] vanaukenk commented on #1670
Hi Bryan,

Thanks very much for contacting GO about your submission.

Can you tell us a bit more about what types of annotations you would like to submit (e.g. InterPro2GO-based annotations, literature-based annotations) and what primary identifiers you'll be using to associate the genes/gene products with GO terms?  That will help us get started.

Best,
--Kimberly Van Auken

[2017-10-25 19:43] manyasi06 commented on #1670
Hello Kimberly,

It will be doing the Interpro2go based annotation and I will be using NCBI accession as the identifiers if that is okay.  If not I am not opposed to using different identifiers.

Regards,

Bryan

[2017-10-25 21:18] selewis commented on #1670
We'd prefer the UniProtKB identifiers because that is what we use for the
reference proteomes of each organism ("model" or not).

Hope that's possible, but since you're using interpro2go, seems even easier.

-S

On Wed, Oct 25, 2017 at 12:43 PM, manyasi06 <notifications@github.com>
wrote:

[2017-10-26 10:51] ValWood commented on #1655
Checking these I think for most we are happy that the experiments are hypothesis driven and the controls are adequate (these papers just have lots of data).
We will use the new HTP codes for the HTP localization study.
A couple of more recnet studies we need to double check the methods, these will probably migrate to HTP codes too.

PomBase	PMID:27984725	191	EXP   https://www.pombase.org/reference

[2017-10-26 12:12] pgaudet opened #1671 "Query: FBgn0037852 annotation to thiamine pyrophosphate-transporting ATPase activity"
Hi @hattrill
FBgn0037852 is annotated to 'thiamine pyrophosphate-transporting ATPase activity', which is the term for ABC-transporter. Looking at the paper I think the authors found that ATP is a transport substrate, but not that this is ATP-dependent.

If you agree then the gene should be annotated to 'GO: thiamine transmembrane transporter activity' instead (and possibly to GO:0005347 ATP transm

[2017-10-26 13:32] pgaudet commented on #1657
Hi @vanaukenk
Similar to Noctua, this is really an annotation issue (PAINT annotation, but annotation). Is it OK to keep it here?

Thanks, Pascale

[2017-10-26 13:33] pgaudet commented on #1657
Moreover I'd like to assign this to @huaiyumi (I cannot assign an issue to a person not in the project; does anyone know how to do that?)

[2017-10-26 13:34] pgaudet commented on #1658
@huaiyumi
What do you think ? Where is the best place to request PAINT features?

Thanks, Pascale

[2017-10-26 14:09] vanaukenk commented on #1657
@pgaudet - sure, fine to keep it here if it's really more of an annotation issue than a PAINT feature request; I couldn't quite tell from the title.

Do we just need to add @huaiyumi to the go-annotation project?

[2017-10-27 08:55] pgaudet opened #1672 "Challenge: P46133 and secondary active transmembrane transporter activity"
Hello @keseler

Would you please have a look at the annotation of P46133 to secondary active transmembrane transporter activity? All I can find in the paper is "AbgT transports p-aminobenzoyl-glutamate as a secondary activity." (discussion).
(which possibly also questions the annotations to 'p-aminobenzoyl-glutamate transport' and 'p-aminobenzoyl-glutamate uptake transmembrane transporter activity

[2017-10-27 15:49] mah11 opened #1673 "PanTree IDs in 'with' column"
Our latest set of syntax checks from GOA flags a few annotations that use ISS and a PanTree ID in the 'with' column with the error: "Mandatory with_string contains no recognised components".

The db:id we have for these is PANTHER:PTN000..., e.g. PANTHER:PTN000280277, and as far as I can tell, that should work. Other dbs, e.g. TAIR, use the same db:id format and link to pantree.org (e.g. http://pa

[2017-10-27 16:28] keseler commented on #1672
Hi Pascale,

The "secondary active transmembrane transporter" term is a classification that I suspect doesn't show up literally in publications very often.  The last paragraph of the results in the Carter et al. paper talks about the inhibitors they tried, which mostly destroy the proton gradient, suggesting that AbgT it is a secondary transporter.  The "secondary activity" in the discussion is me

[2017-10-27 19:12] vanaukenk commented on #1670
Hi Bryan,

Thanks again for your interest in GO annotations for channel catfish.

As Suzi mentioned, for non-model organisms, we typically work with UniProt as they have an established InterPro2GO pipeline, as well as other automated annotation pipelines, for a large number of proteomes.

Also, from querying the UniProt database for 'channel catfish' it seems that there are already some manual (i.

[2017-10-27 19:23] manyasi06 commented on #1670
Hello Kimberly,

The agbase currently only has about 6221/47978.  I am not too particularly sure how recent the update has been because the genome was updated last year.  Another question I had is the current genome assembly does not appear to link with uniprot because I am unable to look ids from NCBI or is it my side.

Best,

Bryan

[2017-10-27 19:57] vanaukenk commented on #1670
Thanks, Bryan.

I think the best thing to do here would be to put you in direct contact with the UniProt group so that we can work together with them to get the channel catfish proteome into the UniProt databases and, ultimately, into the automated GO annotation pipelines.

I will send an email and cc you.

[2017-10-30 04:11] amandamackie commented on #1672
Ingrid's comments are accurate.

Carter et al show that the protonophore CCCP, disrupts AbgT activity which suggests that it is reliant on the pmf to energize transport ie it is a secondary active transporter (see also the AbgT family in the Transporter Classification Database).

Low (uM) affinity for the substrate raises the question of physiological relevance; the authors indicate that E. coli m

[2017-10-30 07:43] pgaudet commented on #1672
Thanks @keseler and @amandamackie , this is very useful.

Since this protein (AbgT P46133) is the only one annotated to the term 'p-aminobenzoyl-glutamate uptake transmembrane transporter activity', I changed the term label to 'secondary active p-aminobenzoyl-glutamate transmembrane transporter activity' and added the 'secondary active transporter' parent.

I also update the definition to include

[2017-10-30 07:46] pgaudet commented on #1672
if you agree with the above changes please go ahead and close the present issue.

[2017-10-30 09:00] hattrill commented on #1671
Most def. agree.
GO:0015234 thiamine transmembrane transporter activity
I think that "GO:0015297 antiporter activity" is also appropriate with the exchanged substrates as a has_input relationship.

[2017-10-30 09:54] pgaudet commented on #1671
Sounds good ! You can close the issue if it's resolved.

Thanks, Pascale

[2017-10-30 10:01] #1671 closed

[2017-10-30 13:40] pgaudet commented on #1634
@sylvainpoux dealt with the Uniprot annotation

@hdrabkin can you please have a look at MGI:MGI:97599	protein kinase C, epsilon?

Thanks, Pascale

[2017-10-30 14:21] asangrador commented on #1669
Hi Val,
This term has already been removed, but you won't be able to see the change till our next release. I think the term was added because in mammals it seems to have a role in splicing [PMID:28525753], but the entry also matches others methyltransferases than U6 small nuclear RNA (adenine-(43)-N(6))-methyltransferase, like psiM, and therefore the only term it has at the moment is methyltransfe

[2017-10-30 23:05] amandamackie commented on #1672
Hi Pascale,

I think the definition of secondary active transport could be improved The last sentence 'chemiosmotic sources of energy include uniport, symport or antiport' does not make sense. Chemiosmotic sources of energy are ion gradients. Symporters and antiporters are types of secondary active transporters Can I suggest changing that last sentence to: 'Secondary active transporters include sy

[2017-10-31 08:56] ValWood opened #1674 "gaf inferences questions questions"
The number of inferences in the F-P inferences  GAF has dropped .
The new file is a lot smaller than the old one.  87 lines versus 1206.

Is this due to the removal of redundancy previously reported?

- [x] https://github.com/geneontology/go-annotation/issues/1544 fixed (3 Nov 2017)
https://github.com/geneontology/go-annotation/issues/1336 not fixed (3 Nov 2017)
- [x] https://github.com/geneontolo

[2017-10-31 09:13] ValWood commented on #1674
I did a spot check of old file to new file.
It seems that a lot of the annotations which are redundant with the manual annotations have disappeared:

PomBase	SPCC962.03c	cut15		GO:0015031	GO_REF:0000024	ISO	SGD:S000005133	P	karyopherin Cut15		protein	taxon:4896	20050603	GOC

PomBase	SPCPB1C11.01	amt1		GO:0072489	PMID:16999738	IMP	ammonium transmembrane transporter Amt1		protein	taxon:4896	2006102

[2017-10-31 09:59] ValWood opened #1675 "FP mapping to IPR007230"
https://www.pombase.org/gene/SPAC2C4.09
fp for
http://www.ebi.ac.uk/interpro/entry/IPR007230

[2017-10-31 15:51] pgaudet opened #1676 "Query GO:0000979 RNA polymerase II core promoter sequence-specific DNA binding"
Hi @krchristie

What proteins interact with the RNA polymerase II core promoter? I am looking at annotations to 'GO:0000979 RNA polymerase II core promoter sequence-specific DNA binding' and it seems we have many DNA binding transcription factors annotated to this term.
Can you please have a look ?

Thanks, Pascale

[2017-10-31 16:40] krchristie commented on #1676
DNA binding General Transcription Factors, i.e. GTFs such as TFIID, bind in the core promoter. The majority of the "specific" TFs probably bind in the area proximal to the core promoter, not the core promoter itself. I'll take a look @pgaudet

[2017-10-31 17:11] pgarmiri commented on #1648
UniProt annotations are also fixed.

[2017-10-31 17:17] pgaudet commented on #1648
I assigned people from the different groups with annotations. We'll leave this open another week (Until Nov 6) and add the 'do not annotate' tag.

[2017-10-31 17:19] pgaudet commented on #1648
InterPro @asangrador
has about 70 families mapped to 'transport'. I am OK making the flag 'do not manually annotate' but it would be nice to see if any of these could be mapped to a more specific child:

InterPro:IPR002448
--
InterPro:IPR001046
InterPro:IPR009262
InterPro:IPR001071
InterPro:IPR001285
InterPro:IPR002971
InterPro:IPR002075
InterPro:IPR001071\|InterPro:IPR009038\|InterPro:IPR036598
I

[2017-11-02 14:45] ValWood opened #1677 "GO:0005319 lipid transporter activity IEA with IPR011030"
Tor2  kinase has a mapping to "transporter activity"
Can this be deleted?

Thanks

Val

[2017-11-02 14:47] ValWood opened #1678 "lipid transporter activity IEA with IPR011030"
AP-1 accessory protein

has a mapping to lipid transporter activity.

It has a role in lipid transport, but it isn't a transporter
Val

[2017-11-02 14:50] ValWood opened #1679 "IPR011030 not transporter activity"
AP-1 accessory protein etc

has a mapping to lipid transporter activity.

It has a role in lipid transport, but it isn't a transporter
Val

[2017-11-02 14:57] ValWood commented on #1679
This is odd
I'm picking up the mapping for a few things

http://pombase-dev.bioinformatics.nz/gene/SPBC27B12.08

but they don't have this domain, so probably FP

[2017-11-02 15:02] ValWood opened #1680 "IPR005378 not GO:0008565 protein transporter activity"
retromer complex is involved in transport, but it isn't a transporter

[2017-11-02 15:23] ValWood commented on #1678
https://github.com/geneontology/go-annotation/issues/1679
duplicate

[2017-11-02 15:23] #1678 closed

[2017-11-02 15:31] ValWood opened #1681 "IPR016342 GO:0008565 protein transporter activity"
AP-Adaptor complex.

Involved in transport but not a "transporter"

[2017-11-03 10:42] ValWood commented on #1544
My issues here are resolved.The broader dicussion about hiding redundant TAS,NAS etc  is adressed elsewhere.

[2017-11-03 10:47] ValWood commented on #1336
This issue still appears to exist?

![membrane fusion graph](https://user-images.githubusercontent.com/7359272/32370279-54daeed6-c084-11e7-8247-b3b53e45b094.jpg)

![membrane fusion](https://user-images.githubusercontent.com/7359272/32370287-60096b02-c084-11e7-8b69-478dcfd178a0.jpg)

[2017-11-03 10:48] ValWood commented on #1336
All SNAP receptor should be annotated to membrane fusion by F-P pipline?

[2017-11-03 10:52] ValWood commented on #1580
I don't see this now

[2017-11-03 10:58] ValWood commented on #1230
Is this because mappings d not propagate across non-experimental evidence codes?

If so, shouldn't they?

[2017-11-03 11:09] ValWood opened #1682 "odd and redundant inferences from pipeline"
We are getting inference to "nucleus" via IMP.
this is a bit weird anyway, but

PomBase	SPAC17G8.03c	bur6		GO:0005634	PMID:15388803	IMP	DNA polymerase epsilon interactor Dpb3-like	dpb3	protein	taxon:4896	20120829	GOC

but we already have correctly

- | GO:0043596 | nuclear replication fork | IC from epsilon DNA polymerase complex | Spiga MG et al. (2004) | 61
- | GO:0005634 | nucleus | IMP | Spiga

[2017-11-03 11:10] ValWood commented on #1682
Also

PomBase	SPBC25H2.13c	cdc20		GO:0005634	PMID:10888871	IMP	DNA polymerase epsilon catalytic subunit Pol2	pol2	protein	taxon:4896	20140903	GOC

is covered by the more specific

GO:0000784 | nuclear chromosome, telomeric region | 53
-- | -- | --
during mitotic S phase | IDA

[2017-11-03 11:13] ValWood commented on #1682
and here
PomBase	SPCC736.12c	mmi1		GO:0005634	PMID:26670050	IMP	nucleus specific RNA binding exosome specificity factor Mmi1		proteintaxon:4896	20161130

is inferred from the nuclear surveillance terms

It seems very odd to have IMP to nucleus for this paper. They did not so any experiments to
detect localization:
http://pombase-dev.bioinformatics.nz/reference/PMID:26670050

and the annotation is

[2017-11-03 11:21] ValWood opened #1683 "All F-P annotations missing from inferred GAF"
Contains  CC annotations only

[2017-11-03 11:26] mah11 commented on #1683
possible false alarm - may refer to pombase-prediction.gaf rather than gene_association.pombase.inf.gaf

[2017-11-03 11:36] ValWood commented on #1683
I'm sooo confused......;)

[2017-11-03 11:37] ValWood commented on #1683
Are these file changes documented/announced anywhere? Did I miss it?

[2017-11-06 15:03] asangrador commented on #1677
Hi Val,
I have removed that term from IPR011030. One of the signatures in this entry  matches lots of different things, and was giving all those proteins the wrong annotation!! It is gone now, but changes won't be visible till our next update at the end of this month.
Amaia

[2017-11-06 15:06] asangrador commented on #1678
Same as #1677
Terms are gone now

[2017-11-06 16:27] asangrador commented on #1680
Hi,

I have removed the 'protein transporter activity' term.
Amaia

[2017-11-07 08:18] bmeldal commented on #1500
This ticket is unassigned, @pgaudet?

For info only, in IntAct we don't annotate IF experiments as IPI unless we have another IPI evidence for the same interactions from THE SAME paper.

[2017-11-07 13:48] pgaudet commented on #1672
Thanks @amandamackie, I have changed the definition of secondary active transporter activity.

If you have more feedback on the standard definitions of transporters, please do let me know:
http://wiki.geneontology.org/index.php/Transporter_terms_standard_definitions

Thanks, Pascale

[2017-11-07 13:49] pgaudet commented on #1676
Hi @krchristie
just checking if you had time to look at this.

Thanks, Pascale

[2017-11-07 13:53] pgaudet commented on #1589
Hello,

Is there an action point here ?

Thanks, Pascale

[2017-11-07 13:59] pgaudet opened #1684 "Rbp4 and retinol transporter activity"
Hello,

Rbp4 binds retinol, and is annotated to 'retinol transporter activity' by RGD (RGD:3546), UniProt (P04916) and MGI (MGI:97879). However in the papers I cannot find the evidence of the transporter activity. Can people who made these annotations please check ?

(I suspect the correct annotation is just 'retinol binding')

Thanks, Pascale

(for https://github.com/geneontology/go-ontology/issu

[2017-11-07 14:22] hdrabkin commented on #1684
Hi Pascale; I'm locked out of our EI today so will have to look at this tomorrow if a fix is needed

[2017-11-07 15:11] ggeorghiou commented on #1684
Hi Pascale, the annotations in question are from PIR so I cannot edit them. I can email them to ask if they can review it unless we have a contact for PIR on GitHub that we can tag.

[2017-11-07 15:22] pgaudet commented on #1684
Hi @ggeorghiou, yes please contact PIR (you can also ask them if they want to be contacted directly next time; they can add their GitHub handle here: https://github.com/geneontology/go-site/blob/master/metadata/group-contacts.csv

Thanks, Pascale

[2017-11-07 16:02] slaulederkind commented on #1684
I have removed the questionable annotations at RGD.

[2017-11-08 07:40] #1672 closed

[2017-11-08 15:59] pgaudet opened #1685 "RGD Cubn annotation to cobalamin transporter activity"
Hi Stan,

Cubn (RGD:68355) is annotated to cobalamin transporter activity; however it is rather an endocytic receptor. I suggest you move the annotation to 'GO:0038024 cargo receptor activity'. If you want a specific term for cobalamin please request it in the ontology tracker.

Thanks, Pascale

[2017-11-08 16:08] slaulederkind commented on #1685
Sorry, Pascale.  That annotation was imported from UniProt.

[2017-11-08 17:54] ValWood commented on #1683
Hello, can sombody help us to locate the inferred gaf?
We asked last week, and follow @dougli1sqrd  instructions, but this wasn't the file we were looking for.
Now it seems that we are all thoroughly confused ;)

More here:
https://github.com/pombase/pombase-chado/issues/639#issuecomment-342778920

[2017-11-08 17:55] ValWood commented on #1683
Start at the end of
pombase/pombase-chado#639 (comment)

[2017-11-08 18:24] tberardini commented on #1683
We get the TAIR inf file (gene_association.tair.inf.gaf). This is the file our automatic loading scripts are built to ingest.

http://build.berkeleybop.org/view/GAF/job/gaf-check-tair/lastBuild/artifact/

I didn't know the other file (like %-prediction.gaf) existed.

http://build.berkeleybop.org/job/go-gaf-release-snapshot/lastSuccessfulBuild/artifact/pipeline/target/groups/tair/

When did these a

[2017-11-09 06:05] pgaudet commented on #1685
Sorry Stan !

@ggeorghiou can you please have a look ?

Thanks, Pascale

[2017-11-09 06:36] pgaudet opened #1686 "Folr1 RGD:71032 annotation to 'folic acid transporter activity'"
Hi Stan,

Folr1 RGD:71032 is annotated to 'folic acid transporter activity'; it should rather be ' folic acid receptor activity' since this protein mediates folic acid internalization by endocytosis.

Can you please fix the annotation?

Thanks, Pascale

[2017-11-09 09:57] ValWood commented on #1580
I wasn't looking at the right file.... Will re-check when I know where the file lives

[2017-11-09 09:57] ValWood commented on #1544
I don't know if this was fixed. Still in the in gaf in the Jenkins location

[2017-11-09 10:01] ValWood commented on #1683
We decided in the meantime to go back to the Jenkins location, not the one we were directed to recently. I reopened the tickets where I thought the redundancy issues were fixed because I was looking at a different file it seems.

Note that the issue *Still* exists  (reported independently by me and Midori), that some expected annotations are missing.

[2017-11-09 10:15] ValWood commented on #1336
It would be great to get the file with the missing annotations back...these are the annotations we would find useful (been missing for 2 years now..)

[2017-11-09 10:16] ValWood commented on #1336
@cmungall  could you assign this one to somebody.

We just had our group meeting  and we reverted to the old location, but the annotations mentioned here are still missing. @mah11  seem them when she runs the  F-P inference locally.

v

[2017-11-09 10:17] ValWood commented on #1683
See also
https://github.com/geneontology/go-annotation/issues/1336

[2017-11-09 11:39] ggeorghiou commented on #1685
@pgaudet I'll have a look at it today.

[2017-11-09 13:19] ggeorghiou commented on #1685
@pgaudet I reviewed the paper and agree. I will change the annotation to cargo receptor activity. Closing the issue

[2017-11-09 13:19] #1685 closed

[2017-11-09 13:39] pgaudet commented on #1685
thanks  !

[2017-11-09 13:41] ggeorghiou commented on #1684
@pgaudet I heard back from PIR and they have removed the annotation.

[2017-11-09 13:46] pgaudet commented on #1684
great, thanks !

[2017-11-09 14:27] hdrabkin commented on #1684
Annotation to be removed; should be reflected in Friday's GAF and GPAD

[2017-11-09 14:27] #1684 closed

[2017-11-09 16:28] slaulederkind commented on #1686
The annotation has been removed.

[2017-11-09 16:39] #1680 closed

[2017-11-09 16:49] pgaudet opened #1687 "Relation to use for regulation terms"
_From @pgaudet on October 17, 2017 10:50_

At the Cambridge 2017 GOC meeting, it was decided that for assertions of type “Gene product involved_in X regulation”, we will use default ‘involved in’.

This needs to be documented.

(Question: Is the relation 'regulates to be obsoleted?)

_Copied from original issue: geneontology/noctua#516_

[2017-11-09 16:49] pgaudet commented on #1687
_From @kltm on October 17, 2017 18:8_

@pgaudet What is the action here? If this for documentation within this repo, or more general documentation?

[2017-11-09 16:49] pgaudet commented on #1687
_From @kltm on October 17, 2017 18:28_

@pgaudet I see that there is also now a "Documentation" project. While a `documentation` label could be useful for marking non-code requests withing the repo, I'm not sure how you envision that interacting with a GH project?

[2017-11-09 16:49] pgaudet commented on #1687
_From @vanaukenk on October 17, 2017 19:7_

Hi,
I actually created the Documentation project in the Noctua repo yesterday to keep track of the status of overhauling the documentation for using Noctua.
There is some blurring on the Noctua repo of issues related to the mechanics/functionality/features of the tool with modeling decisions that might better be housed in the go-annotation repo.
I also c

[2017-11-09 16:49] pgaudet commented on #1687
_From @kltm on October 17, 2017 19:17_

@vanaukenk Great--thank you for the clarification. I'm still processing how this all hangs together (and trying to model what went wrong with the `go-site` repo).
As the "overhaul" part definitely maps to a concrete and bounded push (as I believe they should be) would you mind terrible if I added "overhaul" to the ticket and description? Also, do you have an

[2017-11-09 16:49] pgaudet commented on #1687
_From @vanaukenk on October 17, 2017 21:55_

@kltm  - Sure, feel free to add 'overhaul' to the ticket and description.
For columns, @ukemi started a Documentation project at geneontology and I think we would want to roughly mirror the columns there:
https://github.com/orgs/geneontology/projects/3
New Documentation Required
Documentation Updates Required
Documentation in Progress
Documentation Comp

[2017-11-09 16:49] pgaudet commented on #1687
_From @kltm on October 17, 2017 22:14_

@vanaukenk I've added "overhaul" to the project.
Would there be a good venue to discuss the columns that would be used (as we are already rather off-topic here)?

[2017-11-09 16:49] pgaudet commented on #1687
_From @vanaukenk on October 17, 2017 22:24_

@kltm - maybe a Skype with you, me @pgaudet @ukemi and anyone else interested to flesh out good practices in github project column use?
I can see that the column names originally made for Documentation projects don't align with what exists for other projects, but maybe conceptually are not that far off.

[2017-11-09 16:49] pgaudet commented on #1687
_From @kltm on October 17, 2017 22:36_

@vanaukenk That would be fine with me.

[2017-11-09 16:49] pgaudet commented on #1687
_From @ukemi on October 18, 2017 11:8_

Me too.

[2017-11-09 16:49] pgaudet commented on #1687
Me too.

[2017-11-09 16:58] asangrador commented on #1681
I have removed the MF term (transporter activity).

Amaia

[2017-11-09 16:58] #1681 closed

[2017-11-09 16:59] #1679 closed

[2017-11-09 17:43] ValWood opened #1688 "SGD:ACB1"
Hi, is this an acyl carrier activity, rather than a transporter activity?
https://www.yeastgenome.org/locus/S000003269

It's one of the few  transporters I have left that is not one of the types here:
https://github.com/geneontology/go-ontology/issues/14492

@srengel

[2017-11-09 18:16] tberardini commented on #1683
@ValWood @mah11 I checked our inferred file (the jenkins linked one, gene_association.tair.inf.gaf) and F-P inferred annotations are still present there as expected.  I see process and component annotations.  FYI.

[2017-11-09 18:50] mah11 commented on #1683
Yes, the gene_association.pombase.inf.gaf at GO Jenkins has BP annotations inferred from MF-BP links (and CC annotations from whatever??). But it doesn't have _as many_ inferred BP annotations as we expect, per #1336. Are any missing from yours?

[2017-11-09 19:27] tberardini commented on #1683
Ok, clearer now.  I checked TAIR annotations for GO:0005484, which is part_of GO:0061025.  We have experimental annotations to the function term GO:0005484 which do NOT have inferred annotations to GO:0061025 in the gene_association.tair.inf.gaf file.

I checked the stanza in the GO file, the relationship is definitely there.

id: GO:0005484
name: SNAP receptor activity
namespace: molecular_functi

[2017-11-09 20:02] ValWood commented on #1683
Nope I don't think so, since  we have examples of missing F-P annotations with no existing annotation. Conversely we have lots of examples of redundant annotation where we get a less specific annotations than the one we made manually from  same paper from the F-P pipeline....

[2017-11-09 20:05] tberardini commented on #1683
One hypothesis squashed.

[2017-11-09 23:43] srengel commented on #1641
Hi @pgaudet yes i just checked again, and these are correct:

- SPT6 is correctly annotated to 'transcription antitermination factor activity, DNA binding' and 'transcription anti-termination, based on PMID:15531585
- as well as SSU72 + transcription anti-termination, based on PMID:12453421

[2017-11-09 23:54] keseler opened #1689 "IPR001640 annotation to GO:0009249 protein lipoylation"
It sounds almost right, but it is not.  A lipoate group is a specially modified octanoyl group that is attached to certain subunits in special multienzyme complexes like pyruvate dehdrogenase; lipoproteins are not modified with lipoate.

[2017-11-10 09:38] asangrador commented on #1689
Thanks for alerting us to this, I have removed 'protein lipoylation' term.

Amaia

[2017-11-10 14:49] RLovering commented on #1687
This ticket seems to just discuss where to discuss this issue. It is not clear to me what you will be discussing here.
Would it be possible to delete all the comments if they are not related to the original point as we have just spent ages reading comments that are not relevant to the actual initial ticket.

Plus please explain what the initial ticket is addressing.

Thanks

Ruth
@rachhuntley @Bar

[2017-11-10 15:23] asangrador commented on #1648
Hi Pascale,
We have gone through the entries in the list above and the term 'transport' has been deleted or updated to a more specific child. In many cases we could not map them to a more specific term than transmembrane transport or vesicle-mediated transport, as they were fairly broad.  I think we still have more entries in InterPro2go with the general term transport, we intend to review those o

[2017-11-10 15:28] pgaudet commented on #1648
Hi @asangrador
That's perfect, that level of specificity is already much more informative.

Thanks for looking at all these,

Pascale

[2017-11-10 15:32] RLovering commented on #1687
Hi

Can we clarify, that the statement:  'for assertions of type “Gene product involved_in X regulation”, we will use default ‘involved in’' means that for annotations in the format:
Gene product A: 'regulation of BP/MF'
Then these annotations will continue to use the default relation 'involved_in':
Gene product A: involved_in 'regulation of BP/MF'

But this seems to contradict the current practic

[2017-11-10 16:23] srengel commented on #1648
just today taking a look at the 6 SGD genes, should be able to resolve today...

[2017-11-10 17:16] RLovering commented on #1648
Hi

BHF ones done

Ruth

[2017-11-10 18:10] ValWood commented on #1648
Great, the numbers are dropping already.
Pascale I can take responsibility for chasing these up.

Still need to hear from:
(7) MGI @ukemi @hdrabkin
(3) RGD @slaulederkind
(7) EcoliWiki @jimhu-tamu
(7) PseudoCAP @fionabrinkman

Except, not sure how we contact?
(8) EcoCyc
(2) GR
(1) SynGO

[2017-11-10 19:02] suzialeksander commented on #1648
Hi, I emailed EcoCyc last week and their curator is aware of the issue for
the next release of their info.  I don't think they manage annotations
through Protein2GO as they email us directly about disputes, but I may be
wrong about that.

We're working on the EcoliWiki ones.

Suzi

2017-11-10 12:10 GMT-06:00 Val Wood <notifications@github.com>:

[2017-11-10 19:10] slaulederkind commented on #1648
All of the RGD manual annotations for 'transport' have been removed/fixed.  The final IDA annotation in RGD is a Uniprot import.

[2017-11-10 19:14] ValWood commented on #1648
You are all brilliant!

@suzialeksander  if you can provide EcoCyc GitHub ID we can tag them directly in future disputes

Val

[2017-11-10 22:22] pgaudet commented on #1648
Hi @ValWood

Sure, you con contact the people who haven't yet responded, that'd be great. The contact information is here: https://github.com/geneontology/go-site/blob/master/metadata/group-contacts.csv

(It's still incomplete; if you can provide any more information please do).

Thanks, Pascale

[2017-11-10 22:35] ValWood commented on #1648
(2) GR is Pankaj, no GitHub ID recorded (although i am sure he has one!)
(1) SynGO @dosumis ?

[2017-11-10 23:23] srengel commented on #1648
done fixing the 6 SGD annotations.

[2017-11-13 10:16] pgaudet commented on #1686
thanks !

[2017-11-13 10:16] #1686 closed

[2017-11-13 10:17] pgaudet commented on #1669
@ValWood please close as appropriate.

[2017-11-13 10:19] #1689 closed

[2017-11-13 11:10] pgaudet commented on #1641
OK got it, thanks !!

Pascale

[2017-11-13 11:10] #1641 closed

[2017-11-13 11:57] #1669 closed

[2017-11-13 12:16] BarbaraCzub commented on #1648
Hi @ValWood , according to P2GO the SynGO annotation was made by @Pimmelorus.

[2017-11-13 12:35] Pimmelorus commented on #1648
I did not follow this discussion. What annotation are you reviewing?

[2017-11-13 13:02] pgaudet commented on #1648
HI @Pimmelorus
We are looking at direct annotations to 'transport'. The SynGO annotation is to mouse Myo5a (MGI:105976). Myosin-mediated transport is probably some kind of vesicle-mediated transport.

Thanks, Pascale

[2017-11-13 13:51] BarbaraCzub opened #1690 "Definitions and example use cases for relations would be very helpful"
This issue is loosely related to https://github.com/geneontology/noctua-models/issues/50

At UCL we've been discussing [PMID:17139249](https://www.ncbi.nlm.nih.gov/pubmed/17139249), regulation relations, and issued mentioned in ontology GitHub tickets [14360](https://github.com/geneontology/go-ontology/issues/14360) and [14361](https://github.com/geneontology/go-ontology/issues/14361).

Atm Noctua

[2017-11-13 14:50] hdrabkin commented on #1648
I think we took care of any of our own directs; otherwise, they are imported from GOA and these need to be fixed at the source (ie, SynGO, etc.).

[2017-11-13 15:08] hdrabkin commented on #1648
new gaf, gpad, and gpi commited.

[2017-11-13 23:07] srengel commented on #1688
fixed.  changed MF long-chain fatty acid transporter activity and BP long-chain fatty acid transport to

MF long-chain fatty acyl-CoA binding
BP very long-chain fatty acid biosynthetic process

[2017-11-13 23:07] #1688 closed

[2017-11-13 23:18] cmungall commented on #1639
See https://github.com/oborel/obo-relations/issues/215

[2017-11-13 23:38] srengel commented on #1645
just now getting to this, but i don't see any SGD annotations to this term.  unassigning myself.  please let me know if i missed something.

[2017-11-14 06:35] pgaudet commented on #1645
Hi Stacia,

I should have included which genes were impacted. The merge is already done; but I suspect that the affected genes are for eg: S000004120 (GO:0006831 | low-affinity zinc II ion transport), now annotated to the BP GO:0071578  zinc II ion transmembrane import.

So it looked like the merge was correctly handled by SGD; unless you disagree with the merges in the table above then there is n

[2017-11-14 06:36] #1645 closed

[2017-11-14 07:44] Pimmelorus commented on #1648
I have changed the __transport__ annotation to __organelle localization__ as a more specific term. Is it OK like that?

[2017-11-14 08:04] pgaudet commented on #1648
Hi @Pimmelorus,

That sounds OK -you could even be more specific and use 'endoplasmic reticulum localization', or to 'establishment of endoplasmic reticulum localization to postsynapse' which was created with that same reference, so I suppose it was to capture Myo5a's role in ER localization.

Thanks, Pascale

[2017-11-14 11:39] ValWood commented on #1688
Thanks, updated PomBase ISS and product

[2017-11-14 17:01] pgaudet opened #1691 "Review annotation for GPCR"
**GO:0030819 positive regulation of cAMP biosynthetic process**
Please review and move to 'adenylate cyclase-activating G protein coupled receptor signaling pathway' if appropriate
0 InterPro
104 EXP
(33)UniProt
(23)BHF-UCL
(22)RGD
(11)MGI
(6)	CAFA
(3)	dictyBase
(2)	CACAO
(2)	ZFIN
(1)	AgBase
(1)	FlyBase

**GO:0043950 positive regulation of cAMP-mediated signaling**
Please review and move to 'adeny

[2017-11-14 17:13] pgaudet commented on #1691
The Noctua model for the adenylate cyclase activating G-protein-coupled receptor signaling pathway is here: http://noctua.berkeleybop.org/editor/graph/gomodel:59dc728000000351?barista_token=6w9kdeoar5loe2v7jc9s

[2017-11-14 17:46] ValWood commented on #1648
Apologies, @pgaudet
I edited Pascale's comment from
~vesicle-mediated transport~   Microtubule-mediated transport
I put it back.

[2017-11-14 17:59] BarbaraCzub commented on #1691
Hi @pgaudet could you please explain why these regulation terms are not appropriate? What guidelines should we follow, when deciding whether a term is appropriate or not?
I see that the topic 'Review cAMP-mediated GPCR signaling pathway annotations' was discussed on the annotation call today, but the minutes do not appear to have been updated to explain what's been decided, and what should be done

[2017-11-14 18:53] RLovering commented on #1691
Hi

As there seem to be lots of different relations to choose and it is not clear how these relations will be translated into annotations I have looked at the annotations that are created by the above model.
I am surprised to find that the FSHB (the ligand) and FSHR (the receptor) both have 'part_of(adenylate cyclase-activating G-protein coupled receptor signaling pathway)' in the AE field. As wel

[2017-11-14 20:03] ValWood commented on #1691
I agree that the relations are unintelligible . However I think the
part_of relation of the ligand & receptor  to the pathway is  because it is  hard coded in the model (hopefully regulates don't automatically get converted to part_of?).

(I thought the receptor was part of the pathway?)

[2017-11-14 21:09] fionabrinkman commented on #1648
Hi all,

Can I have my email address, brinkman@sfu.ca, taken off of this thread? While we have been dealing with this/replying, there continues to be a lot of email I'm receiving from this thread that isn't relevant for me to receive. Thank you so much - and thank you for all your GO efforts!

Cheers,
Fiona

--

Dr. Fiona S. L. Brinkman
Professor, MBB Department
Associate Member, School of Computi

[2017-11-14 21:24] ValWood commented on #1648
Fiona,

You can to unsubcribe yourself from a tracker ticket by clicking
"unwatch" at the top of the ticket. I  think this should work even if
you are tagged  in the thread. I remove @fionabrinkman   from next to
(7) PseudoCAP just to be sure.

If you respond once a fix is in progress  we can remove you from future
correspondence if you let us know. It might be slightly annoying but
it's a  conseq

[2017-11-15 09:31] Pimmelorus commented on #1648
@pgaudet

Changed!

[2017-11-15 16:00] vanaukenk commented on #1691
@BarbaraCzub - the minutes are now available for the call:
http://wiki.geneontology.org/index.php/Annotation_Conf._Call_2017-11-14
Please check and let us know if you need further clarification. Thx.

[2017-11-15 16:50] pgaudet commented on #1673
@kltm Do you know what could be the cause ? Could this be related to the move from Stanford to Berkeley ?

[2017-11-15 18:20] RLovering commented on #1691
Barbara tells me that the process annotation was not included as there was no evidence, however we are unable to get onto noctua to confirm this

[2017-11-15 18:32] RLovering commented on #1691
Please would you confirm what you mean by the statement (in the minutes): "Perhaps there is ‘direct’ negative regulation of ACA activity’, let’s see when we review the annotations."  Are you saying that any proteins which  ‘directly’ negatively regulate ACA activity, should be annotated as 'ACA inhibitor activity', or that this would imply that the term 'negative regulation of ACA activity’ should

[2017-11-15 20:16] sabrinatoro commented on #1691
@pgaudet : I have reviewed the ZFIN annotations to GO:0030819 positive regulation of cAMP biosynthetic process.
- 2 gene products were receptors, and the annotations were updated to “adenylate cyclase-activating G protein coupled receptor signaling pathway” as suggested.
- other gene products were shown to positively or negatively regulate the adenylate-cyclase activating G protein activity of the

[2017-11-15 20:39] vanaukenk commented on #1691
I checked our WB annotation to:

GO:0007194 negative regulation of adenylate cyclase activity

We've annotated a phospholipase C to this term and it is believed to reduce adenylate cyclase activity via competitive binding of an adenylate cyclase activator, Ha-Ras.

I will leave this annotation for now, but we could discuss on the next annotation call whether we all agree that this is a case of neg

[2017-11-15 20:45] pgaudet commented on #1691
Hi everyone,

Can you provide put the protein + PMID for the annotations you could not rehouse ?

Thanks, Pascale

[2017-11-15 21:13] hdrabkin commented on #1691
For GO:0007194, PMID:16386234 suggests that Palm negatively impacts cAMP independent of coupling to  adenylate cyclase-inhibiting G-protein coupled receptor signaling pathway (effects  both  dopamine  receptor-activated  as well as receptor-independent generation of cAMP

[2017-11-15 22:29] kltm commented on #1673
[code]
I don't think this has anything directly to do with the new pipeline.

[2017-11-16 07:53] tonysawfordebi commented on #1673
The GOA checks are driven by the rules defined in https://github.com/geneontology/go-site/blob/master/metadata/eco-usage-constraints.yaml and https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml

eco-usage-constraints.yaml states that the with/from in an ISS annotation should contain the ID of a gene, protein, protein complex, or rna.

db-xrefs.yaml states that the IDs from P

[2017-11-16 09:19] hattrill commented on #1691
@pgaudet I've dealt with the FB ones, apart from Gprk2 (P32866) GO:0043950 positive regulation of cAMP-mediated signaling. Not sure how to re-house this at the moment as not sure of the mechanism - might be via GPCR or via smoothened pathway and/or Galphai coupling.

[2017-11-16 16:33] pgaudet opened #1692 "Review annotations to 'allantoin uptake transmembrane transporter activity '"
Hello,

There are 5 EXP annotations to 4 proteins to the term 'allantoin uptake transmembrane transporter activity (GO:0005274)'

Yeast DAL4
TAIR UPS1, UPS2, UPS4, UPS15

The definition and the subclasses imply that it's a symporter ('Enables the transfer of a solute or solutes from one side of a membrane to the other according to the reaction: allantoin(out) + H+(out) = allantoin(in) + H+(in) by

[2017-11-16 17:44] sabrinatoro commented on #1691
Annotations from GOA to update (or remove, and I'll create these annotations in ZFIN):
- mc4r        GO:0030819    ZFIN:ZDB-PUB-130805-10|PMID:23869017    IDA
(should get annotated to GO:0007189)
- mrap2b        GO:0030819    ZFIN:ZDB-PUB-130805-10|PMID:23869017    IMP
(positively regulates mc4r adenylate cyclase-activating G-protein receptor activity by interacting with mc4r and changing its conf

[2017-11-16 19:38] sabrinatoro commented on #1655
@hattrill
I have reviewed the annotations from ZFIN.
None of these are from HTP, therefore these annotations should remain as such.
[note: 3 of these pubs are from data loads]
Please let me know if you have any questions.

[2017-11-17 07:04] hattrill commented on #1655
Thanks for taking the time to look! Sorry about the IEAs creeping through, I somehow missed a step in the processing of your GAF that was supposed to have stopped that!

Helen

[2017-11-17 07:16] LujingF opened #1693 "nr database accession number to go term"
Hi, I'm looking for an annotation file which contains nr database accession number and go term, but I cannot find it. I got the blastx result, so I wanna use the accession number to find its go term. How I can download such annotation file? Many thanks.

[2017-11-17 12:33] BarbaraCzub commented on #1691
Total annotations: 563
0 InterPro
30 EXP, mostly GPCRs
Please review and move to 'adenylate cyclase-inhibiting G-protein coupled receptor signaling pathway'  if appropriate
(3) ARUK-UCL

The ARUK-UCL annotations to the term 'GO:0007194 negative regulation of adenylate cyclase activity' are based on PMIDs: 20141570 and PMID:18723082.

It appears appropriate to use the term 'adenylate cyclase-inhibi

[2017-11-19 11:20] ValWood commented on #1503
cut8 P38937 has keyword mappings to transport and protein transport
(both incorrect)
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=P38937
transferred from
https://github.com/geneontology/go-annotation/issues/916
(transport will be dealt with anyway if we disallow for direct annotation)

[2017-11-19 11:20] ValWood commented on #916
transferred to
https://github.com/geneontology/go-annotation/issues/1503

[2017-11-19 11:20] #916 closed

[2017-11-20 13:27] hattrill opened #1694 "IPR031824 mapping to GO:0090263"
IPR031824 has mapping to GO:0090263 positive regulation of canonical Wnt signaling pathway
Can't see extensive evidence that this is a conserved process interaction for this domain.

[2017-11-20 18:14] ValWood opened #1695 "NUCB1 human annotations (unknown protein)"
I'm assessing fission yeast unknown proteins.
We have  an ortholog of NUCB1
http://www.uniprot.org/uniprot/Q02818

NUCB1 has quite a lot of annotation, but I can't really find anything experimental except that it  appears to be Golgi (or ER localized).

- [x]  DNA binding  TAS ProtINC
No ref and seems unlikely to be true as it doesn't seem to be nuclear.

There is also a  comment"Discovered as DNA

[2017-11-20 18:19] ValWood commented on #1695
DNA binding also on
http://www.uniprot.org/uniprot/P80303
http://www.uniprot.org/uniprot/P80303

[2017-11-21 08:05] hattrill opened #1696 "PTHR11309 PANTHER:PTN000139394: remove wnt binding annotation to smoothened receptors"
Smoothened receptors don't bind wnt.

Please remove:
"Wnt-protein binding" GO:0017147 IBA - PANTHER:PTN000139394 for smoothened proteins
e.g.
P91682
Q99835

[2017-11-21 08:23] hattrill commented on #1696
Could I request another fix for this node?

GPCR activity to frizzled receptors as this is atypical of this class of receptor - exception rather than rule, evidence sporadic.
Can you block the propagation of GO:0004930  "G-protein coupled receptor activity" from this node to frizzleds? ("NOT" not appropriate as a handful have been shown to have GPCR-like capabilities under certain circumstances)

[2017-11-21 08:41] pgaudet commented on #1695
Hi Val,

There is a reference for the DNA binding annotation:
http://europepmc.org/abstract/MED/1520323
It's an old paper but they seem to show DNA binding. Can you please check ?

Pascale

[2017-11-21 08:49] pgaudet commented on #1695
P80303 also has a predicted DNA binding domain, see UniProt entry and PMID:7811391 (in that case though TAS is not appropriate).

Pascale

[2017-11-21 09:29] EBI-Hsinyu commented on #1694
Hi!

RNF220 has been shown to enhance canonical Wnt signaling through USP7-mediated deubiquitination of beta-catenin.  Knockdown of RNF220 impairs Wnt signaling [PMID: 25266658].

Regards,
Hsin-Yu

[2017-11-21 10:20] hattrill commented on #1694
Yes - but is this true of all proteins with this domain?

[2017-11-21 10:57] EBI-Hsinyu commented on #1694
Hi Helen,
I have another look at this entry. It does hit fungal proteins. Therefore, this term is not applicable. I will delete this term. Thank you for letting us know. This will be visible in InterPro67.0.

Regards,
Hsin-Yu

[2017-11-21 11:06] hattrill commented on #1694
Thanks!

[2017-11-21 13:22] BarbaraCzub opened #1697 "Please review annotations: 'synaptic vesicle endocytosis GO:0048488' and child terms"
Dear Curators,

### Background
It has been brought to GO editors' attention that although 'synaptic vesicle endocytosis GO:0048488' is defined as a clathrin-dependent and is a child term of 'clathrin-dependent endocytosis GO:0072583' (QuickGO screenshots below), not all processes of synaptic vesicle endocytosis depend on clathrin. https://github.com/geneontology/go-ontology/issues/14540

![screen

[2017-11-21 15:49] #1694 closed

[2017-11-21 15:57] sjm41 opened #1698 "PANTHER:PTN000236067: "valine-tRNA ligase activity" being wrongly associated with leucine tRNA ligases"
Please review this PAINT inference.
At least human LARS (UniProtKB:Q9P2J5) and fly LeuRS (UniProtKB:Q9VQR8) are wrongly getting a "GO:0004832	valine-tRNA ligase activity" annotation at the moment.  (I'm sure other species are affected too.)
@hattrill

[2017-11-21 16:05] sjm41 opened #1699 "PANTHER:PTN000078673: "glycine-tRNA ligase activity" being wrongly associated with DNApol-gamma"
Please review this PAINT inference.
At least human POLG2 (UniProtKB:Q9UHN1) and fly DNApol-gamma35 (UniProtKB:Q9VJV8) are wrongly getting a "GO:0004820	glycine-tRNA ligase activity" annotation at the moment.  (I'm sure other species are affected too.)

@hattrill

[2017-11-21 18:56] tberardini commented on #1692
There are four annotations to GO:0005274 for three genes in _A. thaliana_, UPS1, UPS2, and UPS5 (two splice variants).

<img width="1076" alt="image" src="https://user-images.githubusercontent.com/4998871/33090780-0c216e16-ceaa-11e7-9f1c-620a951f7fdd.png">

Looking at this paper:

http://amigo.geneontology.org/amigo/reference/PMID:16738859

AtUPS2,  mediates  H+-coupled  transport  of  its  substr

[2017-11-21 19:39] vanaukenk commented on #1697
@BarbaraCzub
I've looked at all of the C. elegans annotations at WB and all of the gene products annotated to GO:0048488 participate in clathrin-dependent synaptic vesicle endocytosis.  Thx.

[2017-11-22 06:06] pgaudet commented on #1692
Thanks for confirming  @tberardini

[2017-11-22 06:06] #1692 closed

[2017-11-22 08:38] pgaudet opened #1700 "Annotation review : protein import into the nucleus"
  | EXP | BHF-UCL | UniProt+CAFA | MGI | ZFIN | RGD | SGD | Flybase | AgBase | dictyBase | HGNC | Pombase | Wormbase | TAIR
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
GO:0000189 MAPK import into nucleus | 2 |   | 1 |   |   |   |   | 1 |   |   |   |   |   |  
GO:0000201 MAPK import into nucleus   involved in cell wall organization or biogenesis | 0 |   |   |   |   |  

[2017-11-22 09:02] bmeldal opened #1701 "GO:0008282 list of dubious co-occurring terms"
I made a comment in https://github.com/geneontology/go-ontology/issues/11989 on 29/7/2015 about dodgy looking co-annotation to  GO:0008282 ATP-sensitive potassium channel complex (about to be renamed to "inward rectifying potassium channel"):

GO:0005244 voltage-gated ion channel activity
GO:0005249 voltage-gated potassium channel activity
GO:0015272 ATP-activated inward rectifier potassium channe

[2017-11-22 10:19] pgarmiri commented on #1697
Hi @BarbaraCzub ,
I checked the UniProt and CAFA annotations and all seem to be involved in clathrin-dependent synaptic vesicle endocytosis.
Thanks,
 Penelope

[2017-11-22 10:34] ValWood commented on #1700
Hi Pascale,
It's difficult to read in this format (you cant see rows and columns at the same time)
I fixed moved up ours to
GO:0036283
GO:0042993
(was redundant with info in extensions)
were there any others for PomBase?
v

[2017-11-22 10:43] ValWood commented on #1655
We have changed our   local set up to accept the new evidence codes. Before we do the migration, these are not yet documented on the GO website. Will they be accepted if we use them?

[2017-11-22 11:01] ValWood opened #1702 "IPR001796 glycine biosynthetic process / nucleotide biosynthetic process"
Picking this up for

dihydrofolate reductase activity
glycine hydroxymethyltransferase activity

not sure these are  correct?

[2017-11-22 11:01] BarbaraCzub commented on #1697
<img width="682" alt="screen shot 2017-11-22 at 11 01 15" src="https://user-images.githubusercontent.com/16541096/33124343-81d5c72c-cf74-11e7-85be-e99d450624ba.png">

[2017-11-22 11:04] BarbaraCzub commented on #1697
Thank you @vanaukenk @pgarmiri and @RLovering for checking these.

[2017-11-22 11:05] ValWood commented on #1702
glycine hydroxymethyltransferase activity is IPR001085

[2017-11-22 11:32] BarbaraCzub commented on #1697
I checked the ParkinsonsUK-UCL annotations and all seem to be involved in clathrin-dependent synaptic vesicle endocytosis (based on TAS + author intent).

[2017-11-22 11:34] pgaudet commented on #1700
Here's the original document

[import_into_nucleus.xlsx](https://github.com/geneontology/go-annotation/files/1495767/import_into_nucleus.xlsx)

[2017-11-22 11:48] pgaudet commented on #1655
Good question! There is 1 annotation in QuickGO (!) and I cannot find the evidence codes in AmiGO.
@tonysawfordebi @kltm is everything in place ?

Thanks, Pascale

[2017-11-22 11:56] tonysawfordebi commented on #1655
There are *lots* more than that; it looks like the most recent set of annotations hasn't been indexed yet in QuickGO. They should be available either later today or tomorrow.

[2017-11-22 14:45] ValWood opened #1703 "IPR005676 isoleucine biosynthesis"
I that correct (EC not in KEGG pathway)

v

[2017-11-22 14:48] ValWood commented on #1703
SGD
Aspartic beta semi-aldehyde dehydrogenase; catalyzes the second step in the common pathway for methionine and threonine biosynthesis

[2017-11-22 19:06] krchristie commented on #1697
I've checked all of the mouse ones. For half of them, there was nothing in the paper that allowed me to say that the process was clathrin-dependent.

There was also one where I thought that the paper actually talked more about "synaptic vesicle recyling", which leads me to ask what is the difference between these two terms, and if they aren't identical, why isn't there a relationship between the t

[2017-11-22 21:08] pfey03 commented on #1700
I took care of the 3 Dicty annotations (Q54I36, P18161). Extensions were already there, just updated the terms from GO:2000366 positive regulation of STAT protein import into nucleus
to
GO:0042307 positive regulation of protein import into nucleus

[2017-11-22 21:15] sabrinatoro commented on #1700
I have reviewed the ZFIN annotations and moved the annotation to "protein import into nucleus" or "negative regulation of protein import into nucleus".
However, we are currently unable to capture annotation extensions, and therefore the protein imported.

[2017-11-22 22:05] vanaukenk commented on #1700
@ValWood and @pfey03  - What annotation extension relations are you using?
Looking at the list, it seems that several may be applicable (although some only for regulation terms):
has_input
has_regulation_target
regulates_transport_of
transports_or_maintains_localization_of

[2017-11-22 22:53] pfey03 commented on #1700
@vanaukenk
Since my terms have been 'positive regulation of STAT protein import into nucleus' and the two annotated proteins are kinases, it has been used and I left as is: is_regulation_target.

[2017-11-22 23:23] kltm commented on #1693
This issue was moved to geneontology/helpdesk#75

[2017-11-22 23:23] #1693 closed

[2017-11-22 23:44] cmungall commented on #1655
"I cannot find the evidence codes in AmiGO"

It doesn't display in the evidence facet because there are no annotations that use it yet. Once there are you'll see it there. No actual changes need to be made in amigo, it is entirely driven by ECO

[2017-11-22 23:52] tberardini commented on #1700
@pgaudet I'm not clear on why I am supposed to be reviewing annotations.

TAIR has 6 direct annotations to 'transcription factor import into nucleus'.  What's the goal of the review?

[2017-11-23 07:14] pgaudet commented on #1655
OK great - so we can go ahead and change all annotations.

Thanks, Pascale

[2017-11-23 07:17] pgaudet commented on #1700
Hi @tberardini
The goal is to obsolete all terms that refer to import of specific proteins (or specific classes of proteins, such as transcription factors). All nuclear proteins are imported by the same nuclear import mechanism; if there are exceptions we should create terms that describe the different mechanism.

Does this answer your question?

Thanks, Pascale

[2017-11-23 07:18] pgaudet commented on #1700
@sabrinatoro
Would it be possible to use Noctua to make these annotations, as a temporary solution until ZFIN can make annotation extensions ?

Thanks, Pascale

[2017-11-23 08:09] Pimmelorus commented on #1697
@krchristie

Different papers use this to relate to different aspect of the reuse of SVs after exocytosis. However, in the seminal paper __Synaptic vesicle recycling: steps and principles__ ([PMID:24596248](https://www.ncbi.nlm.nih.gov/pubmed/24596248/) of Rizolli (key opinion leader in this field) SV recycling is:

So, in the context of this discussion, it includes kiss-an-run exocytosis, and bul

[2017-11-23 08:37] ValWood commented on #1655
evidence codes need adding to current docs too

[2017-11-23 08:56] ValWood commented on #1700
We used has_regulation_target too as regulation terms....I guess we could be more specific and use
regulates_transport_of . we haven't included that relationship but it could be inferred from the combination of "has_regulation_target" and "regulation of transport" term.

We need to look at this one again anyway..the abstract says
On imposition of oxidative stress, the Pap1 protein relocalizes from

[2017-11-23 09:02] RLovering commented on #1701
Hi Birgit

I have changed the complexes associated with the following, to GO:0008282 inward rectifying potassium channel
O60706
Q09428
Q14654
The annotations to these proteins have been ISO'd to rat and mouse. RGD needs to update P70673, Q09429, Q63563 and MGI needs to update Q61743, B2RUS7, P70170 @hdrabkin  (unless these ISO's are updated automatically) and painted so there are REFG errors too f

[2017-11-23 09:46] pgaudet commented on #1655
This is in progress: http://wiki.geneontology.org/index.php/Guide_to_GO_Evidence_Codes

[2017-11-23 09:48] pgaudet commented on #1701
The contact for RGD is Stan @slaulederkind

[2017-11-23 10:56] hattrill commented on #1655
@cmungall @kltm I think that the filter-gene-association.pl script will need to be updated as well.

[2017-11-23 11:45] BarbaraCzub commented on #1697
Thanks @krchristie for confirming that it is a 50:50 ratio for mouse.

@pgaudet perviously asked the same question re: synaptic vesicle recycling via endosome (GO:0036466). I have made a note to revise this term.

Thanks @Pimmelorus for your comments on this and for the PMID reference.

[2017-11-23 12:22] hattrill commented on #1697
Hi @BarbaraCzub I've had a look at the FlyBase experimental evidence annotations.

About half refer specifically to clathrin-dependent processes, the rest either make no distinction or others include clathrin-independent mechanisms.

PMID:19640479	Clathrin-dependent
PMID:20111007	Clathrin-dependent
PMID:14634669	Clathrin-dependent
PMID:14627659	Clathrin-dependent
PMID:15824135	Clathrin-dependent
P

[2017-11-23 12:52] pgaudet commented on #1695
@ValWood I forgot to tag you; did you see my response ?

[2017-11-23 14:19] pgaudet opened #1704 "Annotation review: P15993 & proton motive force dependent protein transmembrane transporter activity"
Hello,

EcoCyc has an annotation of P15993 to proton motive force dependent **protein** transmembrane transporter activity.
P15993 seems to be an amino acid transporter, not a protein transporter. Can you please have a look ?

Thanks, Pascale

[2017-11-23 14:40] bmeldal commented on #1701
Thank you, Ruth.

Sorry, yes, we use the isoform in the complexes but GOA used the canonical forms so please check the annotations to the canonical entries.

[2017-11-23 14:47] Antonialock commented on #1691
pombase should be done now

[2017-11-23 15:07] RLovering commented on #1573
FYI there are just a couple of RGD and MGI annotations left I think

Ruth

[2017-11-23 15:16] BarbaraCzub commented on #1697
Thanks @hattrill

[2017-11-23 16:29] ftwkoopmans commented on #1697
Hi,

As Pim mentioned, we use 'synaptic vesicle endocytosis (GO:0048488)' as the
umbrella term and we think its definition should not restrict to 'clathrin
mediated' endocytotic mechanisms. For quite some annotations we made
against this term, the experimental evidence cannot discriminate between
clathrin dependent/independent.

Within the SynGO consortium we decided last year to postphone the
dev

[2017-11-23 19:32] ValWood opened #1705 "TERF1 annotation check P54274"
http://www.uniprot.org/uniprot/P54274

I notice this has ubiquitin binding, but I think it is "ubiquitinated?"

v

@RLovering

[2017-11-23 19:35] RLovering commented on #1705
Thanks Val

annotation deleted

Ruth

[2017-11-23 19:35] ValWood commented on #1705
also for UniProt to check

G2/M transition of mitotic cell cycle IEP (this is a difficult annotation to make even from phenotypes, I don't think it is possible at all from IEP)

positive regulation of apoptotic process Source: UniProtKB
 @pgaudet  I did not check this but it seems like an experimental readout?

[2017-11-23 19:40] ValWood commented on #1705
reopening for the uniprot checks

[2017-11-23 19:47] ValWood commented on #1695
Hmmph, I thought I typed a long reply. I don't know what I did with it....

[2017-11-23 20:27] ValWood commented on #1705
also
mitotic spindle assembly checkpoint Source: UniProtKB
positive regulation of mitotic cell cycle Source: UniProtKB
positive regulation of mitotic nuclear division Source: UniProtKB

Are phenotypes, but not regulation. They are just causing problems for the cell cycle as fas as I can see...A problem that results in the activation of a checkpoint is not necessarily  part of the checkpoint or reg

[2017-11-24 06:37] pgaudet opened #1706 "Move annotations from 'GO:0043492 ATPase activity, coupled to movement of substances ' to the equivalent transmembrane term"
* GO:0043492 ATPase activity, coupled to movement of substances
** 19 Flybase EXP annotations @hattrill
** 1 EcoCyc EXP annotation @keseler

Annotations can be rehoused under 'ATPase activity, coupled to transmembrane movement of ions, phosphorylative mechanism' - or a more specific child of you can !

Thanks, Pascale

[2017-11-24 08:09] hattrill commented on #1706
Moved FB ones.

[2017-11-24 08:31] hattrill commented on #1700
I have moved the FlyBase annotations.

[2017-11-24 08:38] ValWood commented on #1695
so the only evidence for DNA binding is

one fig (the only experiment in this paper!)
![assay](https://user-images.githubusercontent.com/7359272/33201903-576b9a32-d0f2-11e7-9c0c-2f180750c3bd.jpg)

I can't see anything else that says it is not a resident Golgi protein and no reports of nuclear localization in any species.

It is unsurprizing that it binds DNA out of context, it is very basic aa com

[2017-11-24 13:12] pgaudet opened #1707 "Create new rule to prevent propagation of GO:0001618 virus receptor activity annotations"
_From @pgaudet on November 23, 2017 12:23_

Hello,

Following up on #13004, we need to implement a rule to prevent propagation of GO:0001618 virus receptor activity annotations.

It may make sense to also include other terms - to be discussed with the Virus team at Swiss-Prot.

_Copied from original issue: geneontology/go-ontology#14641_

[2017-11-24 13:44] pgaudet commented on #1573
Right I see two MGI annotations to P26450 and Q63810 @hdrabkin

[2017-11-24 14:52] pgaudet commented on #1695
Thanks for the thorough explanation. I removed the PINC annotation from the human protein.

Pascale

[2017-11-24 15:32] pgaudet opened #1708 "Review annotations to 'core promoter binding' and children"
Hello,

The core promoter is the region where 'basal/general' transcription factors bind; usually the 'motif' DNA binding transcription factors (PAX, HOX, SMAD, etc) do no bind the core promoter, but they bind the 'proximal' promoter.
https://docs.google.com/spreadsheets/d/1k-ony7IhQL7yP9JvcJ27tF8Pmt3-5GbNDT6VIsztnEg/edit#gid=0

Thanks, Pascale

[2017-11-25 12:59] ValWood opened #1709 "GO:0000733 DNA strand renaturation"
I was working with a collaborator yesterday  to refine some phenotypes based on GO and we think this term looks odd.

Should it be called "annealing" (renaturation isn't a process,  it will occur in a test tube with any complementary DNA?)

It also has the child
GO:0061306    DNA strand renaturation involved in double-strand break repair
(one experimental annotation)
This  gene also has

GO:001070

[2017-11-25 13:07] ValWood commented on #1709
hmm may be it's OK, I'm not sure....
I'm still confused by the differences between annealing, renaturation and rewinding....

[2017-11-25 22:50] kltm commented on #1655
Re: https://github.com/geneontology/go-annotation/issues/1655#issuecomment-346587315
@cmungall Or, I assume, that we will just worry about any needs in the new pipeline?

[2017-11-27 00:42] pfey03 commented on #1655
All confirmed Dicty HTP annotations have been updated with new ECO in P2GO thanks to Tony's help.
Thanks Helen for the list!

[2017-11-27 02:04] amandamackie commented on #1704
This was assigned incorrectly and has now been removed.

Amanda

[2017-11-27 07:41] hattrill commented on #1709
Seems like one is recombination driven and one isn't. I don't understand why renaturation is used instead of annealing.
I guess the rewinding can be separable from annealing.....this could probably do with an expert eye, as it is not immediately obvious if these terms would mean the same to them.

[2017-11-27 11:49] mah11 commented on #1709
I didn't have answers then and I don't now, but this stuff came up a while back on the ontology tracker -

https://github.com/geneontology/go-ontology/issues/12539

and the older ticket linked there.

[2017-11-27 13:52] ValWood commented on #1709
This isn't urgent as not many annotations would be affected. It seems like an issue that might be addressed during  some later stage MF refactoring .....

[2017-11-27 17:20] hdrabkin commented on #1701
MGI ISO annotations will be updated automatically when the target "With" has been reannotated.

[2017-11-27 17:22] hdrabkin commented on #1701
"MGI needs to update Q61743, B2RUS7, P70170 @hdrabkin (unless these ISO's are updated automatically)"
Yes, these will be updated automatically when the ISO target annotation is changed

[2017-11-27 17:35] pgaudet commented on #1707
Clarify

[2017-11-27 18:07] sabrinatoro commented on #1700
@pgaudet
I could use Noctua to make the annotation extensions, but it won't be available for some times. I think it is ok though, there aren't many.

[2017-11-27 18:48] srengel commented on #1655
Mike was working on updating the filter-gene-associations.pl script on November 13.

[2017-11-27 18:50] hattrill commented on #1655
Brilliant. Thanks, @srengel!

[2017-11-27 19:46] hdrabkin commented on #1691
GO:0030818 negative regulation of cAMP biosynthetic process
done for MGI

[2017-11-27 21:56] vanaukenk commented on #1700
The WB annotations are moved.  I used 'regulates transport of' in the annotation extensions to capture the target of the regulation.

[2017-11-27 22:24] keseler commented on #1704
Thanks, Amanda!
A quick FYI to GO folks, though: it does take quite a bit of time for any changes we make in EcoCyc to trickle out to the E. coli GAF.  Usually after an EcoCyc release, Jim Hu will generate and submit a new E. coli GAF.  We are just about to publicly release our latest version; however, the data for that was frozen more than a month ago.  Our next release (with Amanda's change) won

[2017-11-27 23:40] cmungall commented on #1707
OK, as discussed on the call, @dougli1sqrd will start with a check that highlights any association to  GO:0001618  that has evidence other than `subClassOf*` of ECO:0000006

[2017-11-28 00:27] amandamackie commented on #1706
EcoCyc ones now moved as well

[2017-11-28 08:53] pgaudet commented on #1704
Thanks for the corrections and information @amandamackie @keseler

[2017-11-28 08:53] #1704 closed

[2017-11-28 10:05] hattrill opened #1710 "PAINT annotation:PTN001663160"
Annotations transferred from this node http://www.pantree.org/node/annotationNode.jsp?id=PTN001663160 are multicellular organism reproduction, circadian rhythm and extracellular space.
The common domain is a IPR010562 Haemolymph juvenile hormone binding.
I think the extracellular space is ok to transfer, but multicellular organism reproduction & circadian rhythm do not seem suitable for transfer.

[2017-11-28 10:19] hattrill opened #1711 "PAINT:Remove annotations to Sdic genes: PANTHER:PTN000277823, PANTHER:PTN000277824"
Could you remove the dynien-related terms derived from:
PANTHER:PTN000277823
PANTHER:PTN000277824
Annotations to
FBgn0067861 Sperm-specific dynein   intermediate chain 1, Sdic1
FBgn0053497 Sperm-specific dynein intermediate chain   2, Sdic2
FBgn0053499 Sperm-specific dynein intermediate chain   4, Sdic4

These from a gene cluster of derived from the cytoplasmic dynein intermediate chain. They lack

[2017-11-28 11:40] BarbaraCzub commented on #1697
Thank you for taking the time to review your annotations.

During [yesterday's ontology call](http://wiki.geneontology.org/index.php/Ontology_meeting_2017-11-27) it was agreed that solution 1 will be more suitable based on the comments, which you provided regarding your existing annotations.
I.e. I will change the GO term definition (and parent relations) of 'synaptic vesicle endocytosis GO:004848

[2017-11-28 11:40] #1697 closed

[2017-11-28 14:28] mah11 commented on #1673
That sounds eminently reasonable, but I'm not well placed to determine what to put in the yaml files for the PanTree IDs, nor do I know whom to flag here ... help!

[2017-11-28 14:34] pgaudet commented on #1691
@sabrinatoro
Looking at the paper it looks like mc4r should be annotated to 'G-protein coupled receptor protein signaling pathway' and the accessory proteins to either 'regulation of G-protein coupled receptor protein signaling pathway' and/or 'G-protein coupled receptor regulator activity' (this term does not seem to exist yet).

Pascale

[2017-11-28 14:38] pgaudet commented on #1673
@huaiyumi can you please have a look ?

[2017-11-28 15:08] ggeorghiou commented on #1691
Hi Pascale,

For CAFA, the evaluation of the submissions is in progress. I do not want to change these annotations yet since they are being used for evaluations. I'll review them and change them as soon as the evaluation is done. As for UniProt annotations, we have to figure out which belong to us at EBI and belong to the curators at SIB. So this could take a little bit of time for us to go throug

[2017-11-28 15:38] hdrabkin commented on #1691
Finished GO:0043950 positive regulation of cAMP-mediated signaling;
annotations to + and - regulation of above (two isoforms).
Currently only 'positive regulation adenylate cyclase-activating G protein coupled receptor signaling pathway'; will wait until I create the neg reg term

[2017-11-28 16:21] pgaudet commented on #1691
Need to add
regulation of 'adenylate cyclase-activating G protein coupled receptor signaling pathway'
'positive regulation adenylate cyclase-activating G protein coupled receptor signaling pathway'
'negative regulation adenylate cyclase-activating G protein coupled receptor signaling pathway'

[2017-11-28 16:52] pgaudet opened #1712 "Review annotations to 'cAMP biosynthesis'"
Here are the EXP annotations to proteins OTHER than adenylate cyclase (as far as I was able to tell):

CGD:CAL0000178292 |   | GO:0006171 | CGD | NCBITaxon:5476 | IMP |   | CGD_REF:CAL0000143470\|PMID:21992526 | 20140625
-- | -- | -- | -- | -- | -- | -- | -- | --
FB:FBgn0038197 | forkhead box, sub-group O |   | GO:0006171 | FlyBase | NCBITaxon:7227 | IMP | PANTHER:PTHR11829 | FB:FBrf0209006\|PMID:

[2017-11-28 17:49] slaulederkind commented on #1573
The RGD annotations have been moved.

[2017-11-28 21:06] pfey03 commented on #1691
Finished cAMP biosynthetic process terms:
GO:0030819 positive regulation of cAMP biosynthetic process
GO:0030818 negative regulation of cAMP biosynthetic process
GO:0030817 regulation of cAMP biosynthetic process (not explicitly requested but there was only 1 and is at least equally wrong)

[2017-11-28 23:17] vanaukenk opened #1713 "Review annotation to 'receptor ligand activity' (GO:0048018)"
@BarbaraCzub @RLovering

Please can you review the annotation of MAPT (UniProtKB:P10636) to 'receptor ligand activity' to see if you think this reflects the normal biological role of MAPT or a role it has acquired in a disease state.

In Protein2GO, I can see two annotations, one TAS and another that is IDA but still marked PRIV.

Thx.

[2017-11-29 00:22] slaulederkind commented on #1700
RGD has moved all of the annotations from protein-specific terms to more generic terms.

[2017-11-29 00:33] slaulederkind commented on #1701
RGD ISO annotations will disappear after the pipelines pick up the corrections from elsewhere.

[2017-11-29 07:52] hattrill commented on #1691
Hi @pgaudet btw: if no-one else feels the need for "GO:0043950 positive regulation of cAMP-mediated signaling", I am not absolutely wedded to it. If it is standing in the way of moving forward, I will dump it - it is, after all, just one annotation.

[2017-11-29 08:50] hattrill opened #1714 "Review annotations to beta catenin"
Hi @RLovering, @slaulederkind, @ukemi, @pgarmiri

I have some annotation issues for beta catenin that I would like you to review as part of the signaling project.

1. Could you please review some annotations to beta catenin. Beta catenin does not directly bind DNA, but interacts with regulatory regions via other transcription factors, TCF/LEF being the major factor.
Could you review your annotatio

[2017-11-29 12:01] pgaudet commented on #1701
Looks like this one can be closed - can you confirm @bmeldal ?

[2017-11-29 13:20] bmeldal commented on #1701
Ruth mentioned above that Reactome need to fix some annotations, too. Should @deustp01 take a look before I close?

[2017-11-29 15:20] pgaudet commented on #1419
@dougli1sqrd Is this implemented ?

[2017-11-29 15:34] #1470 closed

[2017-11-29 15:39] pgarmiri commented on #1714
The UniProt annotations are also fixed.
Thanks,
Penelope

[2017-11-29 15:48] pgaudet commented on #1404
@tonysawfordebi Is it possible for you to find out how many papers are annotated by more than one source ? (ie a % -wise)

@ValWood do you know the fraction of papers this affects for Pombase ?

If this doesn't happen very much we probably don't need to take any action about this.

Thanks, Pascale

[2017-11-29 15:50] pgaudet commented on #1387
We now have a mechanism to handle these annotations. So it's all good, this can be closed.

[2017-11-29 15:50] #1387 closed

[2017-11-29 15:56] pgaudet commented on #815
@ggeorghiou Can you please have a look and see if you can annotate PMID:11408579? The otehr paper is annotated.

Thanks, Pascale

[2017-11-29 15:57] pgaudet commented on #786
Hi @ggeorghiou - can you please annotate this ? Or pass it on...

Thanks, Pascale

[2017-11-29 16:08] pgaudet commented on #1344
Hi @ValWood
I dont think this is GO-related, but rather is how the ensembl does propagation. I suggest you contact Ensembl directly.

[2017-11-29 16:08] #1344 closed

[2017-11-29 16:12] pgaudet commented on #1471
This issue was moved to geneontology/amigo#459

[2017-11-29 16:12] #1471 closed

[2017-11-29 16:14] pgaudet commented on #1427
@cmungall What is the action here ?
Isn't this a pipeline issue ?

Thanks, Pascale

[2017-11-29 16:17] pgaudet commented on #1113
@cmungall
@tonysawfordebi
@ggeorghiou
What is the status on this one ?

Thanks, Pascale

[2017-11-29 16:20] #1643 closed

[2017-11-29 16:21] pgaudet commented on #1491
The annotation to cellular amino acid metabolic process is gone.

[2017-11-29 16:21] #1491 closed

[2017-11-29 16:28] pgaudet commented on #1418
@mah11 Is this still a problem ?

[2017-11-29 16:29] pgaudet commented on #1417
@mah11 Is this still a problem ?

[2017-11-29 16:30] mah11 commented on #1418
I think it has been addressed by the introduction of GO_REF:0000111 (although there's still room for snark about how poorly its addition was communicated to annotators).

[2017-11-29 16:30] #1418 closed

[2017-11-29 16:31] ValWood commented on #1344
I thought the plan was that GOA was going to take on the  annotation projection from Compara It would be good to know when this happens (and that all things like taxon relations are being observed) as part of the QC. I agree that it no longer needs to be on this tracker.

[2017-11-29 16:32] mah11 commented on #1417
Probably fixed - at least, the last two sets of syntax checks haven't flagged ISO/GO_REF:0000024 any more.

[2017-11-29 16:32] #1417 closed

[2017-11-29 16:33] ValWood commented on #1344
Most of the issues could be fixed by having certain terms and annotation as "not suitable for propagation via orthology"...could be a longer term low priority task for QA group.

[2017-11-29 16:38] slaulederkind commented on #1714
All of the RGD annotations are ISO or ISS, assigned by import pipelines.  When MGI changes their annotations, the RGD annotations will be corrected by the import pipeline.

[2017-11-29 16:41] RLovering commented on #1713
Thanks Kimberley
we are discussing the normal action with our experts. We will get back to you soon
Ruth and Barbara

[2017-11-29 16:42] pgaudet commented on #1013
Hi @bmeldal
I am assigning you since you were mentioned - feel free to pass on to the right person.

Thanks, Pascale

[2017-11-29 16:44] pgaudet commented on #1617
@ggeorghiou can you please have a look ?

[2017-11-29 16:45] pgaudet commented on #1423
Hi @pedruzzi

Any update on this one ?

Thanks, Pascale

[2017-11-29 16:46] pgaudet commented on #1412
Who does the EC2GO mappings ?

[2017-11-29 16:48] pgaudet commented on #1303
@bmeldal
Is this ticket superseded by the new WG ? If so please close this one.

Thanks, Pascale

[2017-11-29 16:51] pgaudet commented on #1281
@RLovering
I suppose this can be closed ?

Thanks, Pascale

[2017-11-29 16:52] pgaudet commented on #1275
@ggeorghiou

Can you please review these?

Thanks, Pascale

[2017-11-29 16:54] #1267 closed

[2017-11-29 16:54] ValWood commented on #1412
I  think @hdrabkin knows...

[2017-11-29 16:59] pgaudet commented on #1282
@cmungall Did you mean to close this ticket?

[2017-11-29 17:00] pgaudet commented on #1709
This issue was moved to geneontology/go-ontology#14671

[2017-11-29 17:00] #1709 closed

[2017-11-29 17:00] Antonialock commented on #1382
I'm not sure who to tag in this? Thanks

[2017-11-29 17:02] pgaudet commented on #1282
Is this a duplicate of https://github.com/geneontology/go-annotation/issues/1113 ?

[2017-11-29 17:18] asangrador commented on #1629
This term was added after several proteins in UniProt and publications, for example O95251, Histone acetyltransferase KAT7/HBO1 (PMID:18832067; HBO1 histone acetylase is a coactivator of the replication licensing factor Cdt1 ), and Q08649 (PMID:11036083, The yeast NuA4 and Drosophila MSL complexes contain homologous subunits important for transcription regulation). In the most recent paper
 I can

[2017-11-29 17:18] hdrabkin commented on #1412
Know I do not know for sure
I believe it gets gernated  now from the ontology file (which is why we had to get rid of the EC:x.x.x.- as xrefs as it was generating but annotations.
Maybe check with @cmungall ?

[2017-11-29 17:29] pfey03 commented on #1691
Took care of all, I hope.

[2017-11-29 17:34] hdrabkin commented on #1493
I don't see an mgi annotation to  amino-acid catabolism;

Please supply
1. PMID to use as reference
2. Suggested Definitgion
3. Suggested parentage

So I have something to work with

[2017-11-29 17:37] ValWood commented on #1493
Hi Harold,

I don't think this thread is about an MGI annotation, but I think we need your input. It seems that
https://github.com/geneontology/go-ontology/issues/12917
ticket being finalised might help if I re skim read correctly?

I probably put the comment
"Harold can you check that this ticket looks OK?" in the wrong ticket...

Val

[2017-11-29 17:38] ValWood commented on #1382
@ggeorghiou can you assign to appropriate person?
cheers
val

[2017-11-29 17:40] hdrabkin commented on #1493
again; lost among github emails; I'll try to get to it today (12917) although I swore today I would devote to another project that I owe time to.

[2017-11-29 17:43] ValWood commented on #1705
@ggeorghiou
could you divvy this one up too?

thanks

Val

[2017-11-29 18:08] hdrabkin commented on #1493
done

[2017-11-29 18:41] pgaudet commented on #1629
@sylvainpoux you have looked at these proteins a lot - do you have anything to add to help on this ?

Thanks, Pascale

[2017-11-29 18:44] pgaudet commented on #1344
Hi Val,

You can add to this ticket for now:
https://github.com/geneontology/go-annotation/issues/1707

We'll look for a place to store this information (maybe a new subset_property?) what do you think @cmungall ?

Thanks, Pascale

[2017-11-29 18:48] pgaudet commented on #1218
@ValWood OK to close?

[2017-11-29 18:52] pgaudet commented on #1232
This issue was moved to geneontology/go-ontology#14673

[2017-11-29 18:52] #1232 closed

[2017-11-29 18:53] pgaudet commented on #1230
This issue was moved to geneontology/go-ontology#14674

[2017-11-29 18:53] #1230 closed

[2017-11-29 18:56] pgaudet commented on #1226
@cmungall How would you identify annotations made from specific experiments ?
I don't see the action here.

Thanks, Pascale

[2017-11-29 19:07] #1706 closed

[2017-11-29 19:09] pgaudet commented on #1682
@cmungall is this in the right tracker ?

[2017-11-29 19:16] pgaudet commented on #1578
This issue was moved to geneontology/go-ontology#14675

[2017-11-29 19:16] #1578 closed

[2017-11-29 19:17] pgaudet commented on #1580
@ValWood any update ?

[2017-11-29 19:21] pgaudet commented on #1488
@tonysawfordebi Are you taking care of this ? Seems like it should not be on this tracker. Please move if possible.

Thanks, Pascale

[2017-11-29 19:22] pgaudet commented on #1452
@cmungall
Do we want to filter annotations or fix the slim ?

[2017-11-29 19:25] #1390 closed

[2017-11-29 19:26] #1388 closed

[2017-11-29 19:26] #1378 closed

[2017-11-29 22:03] ValWood commented on #1218
Can we keep this one open? its an annotation conundrum that I would like to think about!
I'll take the ticket  from Ivo and try to figure it  out.

[2017-11-29 22:13] ValWood commented on #1388
Blimey, I think we all need a way to be reminded which tickets are assigned to us!

I know @hdrabkin  would find this useful too :) because all my e-mails to him go to spam....

Can this be done in some  sort of "git hub" management mode (i.e select all tickets and send a message saying "you are  the assignee of this ticket, please check if it can be closed").... A monthly alert......I will never

[2017-11-29 22:17] ValWood commented on #1674
No this is still an open issue.... we are still confused. There are probably  more tickets than necessary but they are often reported from a different aspect/angle of how we identified the problem. Would be happy if they were consolidated, but would rather not closed right now.

[2017-11-29 22:42] ValWood commented on #1670
It really bothers me that we no longer have an easily accessible helpdesk. In fact, it seems inexcusable that the GO does not have a helpdesk.

I'm sure that our  funders and advisors will look  very unfavourably on this. Yes, the number of queries has  dropped (probably by 99%, I am guessing, but I did see all the help-desk queries so I think this is a  ball park underestimate).

I do not think

[2017-11-29 22:48] ValWood commented on #1670
@RLovering  did a massive amount of work to get users to submit information, and this has effectively been stymied by the decision to remove the helpdesk.

Please go to AmiGO and follow the  instructions from the "GO health link", or better still sit with somebody wo is nothing to do with GO  and ask them tell you what they would do if they got to this link. It is actually quite pointless.....

[2017-11-29 23:05] ValWood commented on #1638
"yo" sounded nice but I edited to "to"

Anyone who describes themselves as a  "GO curator" should be on GitHub.

GitHub is our means of communication, for terms, genes, people, problems, solutions.

Sandra would sort it for UniProt  but I can't find her GitHub ID !

[2017-11-29 23:07] ValWood commented on #1580
Can be closed but note that thisa a good example
https://github.com/geneontology/go-annotation/issues/1674

[2017-11-29 23:07] #1580 closed

[2017-11-29 23:08] ValWood commented on #1674
An example is here:
https://github.com/geneontology/go-annotation/issues/1580#issuecomment-347966220

[2017-11-29 23:18] krchristie commented on #1377
@pgaudet
- I no longer see the direct annotation to the term 'sperm part' for the MGI gene mentioned in my original report (though the source annotation to "axonemal central apparatus" is still present.
- I also do not see annotations at all DIRECTLY to the term 'sperm part' using AmiGO.

So, I no longer observe any annotations to this term. I have not checked any other "Do not annotate" terms. I'

[2017-11-29 23:55] ValWood commented on #1493
Harold, we  love you and we do not want to change you immediate priorities that would be unfair.   It could be  on your  "important" list for next week though ;)

....But, do all of my e-mails to you still go to spam?  This important (for me) to address  because  not very effective for me to  e-mail @ukemi  to tell you that I need to speak to you ;)

I   now wonder if  a lot of the "Git Hub commun

[2017-11-29 23:56] ValWood commented on #1493
@pgaudet

[2017-11-30 00:23] cmungall commented on #1493
It sounds like @hdrabkin was saying he gets so many github emails it's sometimes hard to find the ones that need his attention.

Everyone: github offers good controls as to what you get notified of and what you don't. You can subscribe at the level of ticket, or at the level of repo. If you choose "Not watching" you will still be notified if either you personally are `@`-mentioned, or a team you a

[2017-11-30 01:22] ValWood commented on #1493
@cmungall Maybe this post should go on the GO discuss list ;)

[2017-11-30 01:40] ValWood commented on #1493
I get confused by the watching/ not watching thing...I find it ambiguous....

Even if I select  "Not watching" I *still* receive e-mails, even if I have *no* connection to the ticket (i.e not assignee, submitter or tagged) .

Maybe I need to tag "never be notified"  instead, but I do want to be notified if I am mentioned
and I am not sure if I would.

( I could look up the difference but at presen

[2017-11-30 07:26] pedruzzi commented on #1423
This has been fixed together with #1422 , yes. Just forgot to report here as well.

[2017-11-30 07:26] #1423 closed

[2017-11-30 07:44] #1670 closed

[2017-11-30 08:29] pgaudet commented on #1597
This issue was moved to geneontology/go-ontology#14676

[2017-11-30 08:29] #1597 closed

[2017-11-30 08:51] pgaudet commented on #1571
Hi @RLovering
@hdrabkin

I think the term 'GO:1902570 protein localization to nucleolus' would be more appropriate; is that OK for you ? I could do a merge.

Thanks, Pascale

[2017-11-30 08:53] pgaudet commented on #1555
Hi @suzialeksander @jimhu-tamu
Can you be more specific about the term you need? What are you trying to express?

Thanks, Pascale

[2017-11-30 08:58] pgaudet commented on #1527
@ValWood
Is there something else you'd like to do here?

[2017-11-30 09:00] pgaudet commented on #1504
@ValWood
Can you please elaborate ? and assign/tag someone.

Thanks, Pascale

[2017-11-30 09:02] pgaudet commented on #1452
This issue was moved to geneontology/go-ontology#14677

[2017-11-30 09:02] #1452 closed

[2017-11-30 09:07] pgaudet commented on #1407
I have added the Documentation label. We'll make sure this goes in the new version of the evidence documentation.

Thanks, Pascale

[2017-11-30 09:08] pgaudet commented on #1394
Hi @deustp01
Has this been addressed ?

Thanks, Pascale

[2017-11-30 09:09] pgaudet commented on #1386
@cmungall can you assign someone to look at this ?

Thanks,
Pascale

[2017-11-30 09:11] pgaudet commented on #1380
Hi @dianeoinglis @cmungall
What is the next step for this ?
Who can we assign this ticket to ?

Thanks, Pascale

[2017-11-30 09:11] pedruzzi commented on #1298
I agree. It is the glycine transporter that brings the precursor into the mitochondrial matrix. I consider the first step of heme biosynthesis the condensation of glycine and succinyl-CoA to ALA by ALAS2.
![hem25](https://user-images.githubusercontent.com/17901419/33422712-d9bc191c-d5b6-11e7-95c0-bf2398838014.jpg)

[2017-11-30 09:12] pgaudet commented on #1374
@marekskrzypek can you please have a look ?

Thanks, Pascale

[2017-11-30 09:13] #1356 closed

[2017-11-30 09:14] pgaudet commented on #1337
@ggeorghiou
Can you please update us on the status of this ticket ?
Thanks, Pascale

[2017-11-30 09:15] pedruzzi commented on #1298
SGD has annotated HEM25 (Q07534) to heme biosynthetic process via IMP based on this very paper (PMID:27476175) though. Obviously, the knockout disrupts heme biosynthesis.

[2017-11-30 09:20] ggeorghiou commented on #1337
Hi, so with regards to Vesiclepedia/EcoCarta, we are still reviewing some of their annotations. Those which are ok have been incorporated into the GOA database but are not available publically. Since many of their annotations are based on high-throughput annotations, I will be informing them of the changes we made so that they can make sure the ECO code they've used is appropriate.

[2017-11-30 09:20] pgaudet commented on #1298
@srengel SGD may want to review the annotation?
@pedruzzi Is the HAMAP mapping removed ?

Thanks, Pascale

[2017-11-30 09:26] happy-lorna commented on #1493
I'm replying here as I don't think I can see the GO discuss list.
I agree there is a danger of messages being lost in a deluge of notifications. @cmungall you said it is possible to get notifications at the level of a team you are part of. Does such a team exist for InterPro? If not, how do I go about creating it? It would be super-useful for us (InterPro curators) to just pick up those messages t

[2017-11-30 09:34] pedruzzi commented on #1298
will be removed from MF_03064 next release, yes

[2017-11-30 09:48] ValWood commented on #1503
KW-0046 examples P41878, P30821, P05219, Q09146

[2017-11-30 09:49] ValWood commented on #629
transferred to the master ticket for rogue KW mappings
https://github.com/geneontology/go-annotation/issues/1503

[2017-11-30 09:49] #629 closed

[2017-11-30 10:01] ValWood commented on #1503
Mapping to KW DNA replication appears to be incorrect for human Dtd1
UniProtKB-KW:KW-0235
(there are papers supporting this, but if I remember correctly  people who worked on DNA replication do not believe them, I asked around).

[2017-11-30 10:02] ValWood commented on #1505
transferred to
https://github.com/geneontology/go-annotation/issues/1503

[2017-11-30 10:02] #1505 closed

[2017-11-30 10:10] asangrador commented on #1703
Hi Val,
The annotation in this entry was given after aspartate-semialdehyde dehydrogenase,  as it seems to the second enzyme in the aspartate pathway that converts aspartyl phosphate to aspartate-semialdehyde, the branch point intermediate between the lysine and threonine/methionine pathways.
But the entry also matches Malonyl-CoA reductases, so I will remove the annotation.
Amaia