[2018-10-12 00:09] thomaspd commented on #1955
So should we have these primary annotations in human and fly reviewed?  Or do you think we should just remove the PAINT annotation?

[2018-10-12 00:14] thomaspd commented on #1956
So do you suggest removing the centrosome annotation completely, or just making sure it gets changed to spindle pole body for yeasts?

[2018-10-12 00:14] huaiyumi commented on #1914
In the next release, SPAC694.02 is clustered in the same family with human DDX60 and DDX60L.

[2018-10-12 00:14] #1914 closed

[2018-10-12 00:18] thomaspd commented on #1957
It makes sense to me to remove this PAINT annotation, and to have the primary annotation reviewed.  @pgaudet what do you think?

[2018-10-12 00:18] huaiyumi commented on #1915
The current AmiGO doesn't have the issue described in the original ticket. It is possible that the ticket was generated based on outdated data in AmiGO at the time. The completion of pipeline probably fixed it.

[2018-10-12 00:18] #1915 closed

[2018-10-12 00:32] thomaspd commented on #1959
@marcfeuermann can you please look into the annotations for PTHR10371.  Specifically, it sounds like Val is suggesting that there should be a loss of these functions for the pombe ortholog, as it lacks a mitochondrial electron transport I system (@ValWood is that correct?)

[2018-10-12 00:37] huaiyumi commented on #2097
The number is probably inflated caused by the data loading issue. Based on the database history, paint had 137 such annotations. 12 were obsoleted. Currently there are 127 such annotations contributed by Marc, Michael (the new curator) and me.

[2018-10-12 00:40] thomaspd commented on #1960
@marcfeuermann can you please consider how this PAINT annotation should change?  One possibility would be to change the ancestral node where "organelle transport along microtubule" is gained, to be in the metazoa (or metazoa-choanoflagellida), so this term is not inferred for fungi.

[2018-10-12 00:42] huaiyumi commented on #2074
The annotation inflation was caused by the data loading issue that has been corrected already.
Also I want to point out that I reviewed a number @keslingmj 's annotations, and don't see any obvious errors there.

[2018-10-12 00:42] #2074 closed

[2018-10-12 00:46] thomaspd commented on #1962
I just checked and none of the original questionable annotations appear in AmiGO.  Sulfate transport remains as a PAINT annotation, and I think, based on the agreement with InterPro annotation, that we can keep it.

[2018-10-12 00:46] #1962 closed

[2018-10-12 06:53] hattrill commented on #2112
Thanks!

[2018-10-12 07:03] ValWood commented on #822
Yep OK agreed, the DNA binding activity appears to be highly conserved.
v

[2018-10-12 07:15] bmeldal commented on #1796
I haven't added the "extracellular matrix structural constituent..." terms to our ECM complexes except for 3 collagens. I must have missed them as I struggle with the "structural constituent of..." type terms in the MF. Is there a way of finding missing annotations beyond looking at the protein groups mentioned above?

[2018-10-12 07:21] ValWood commented on #1957
I would question ALL of the annotations for this publication
http://amigo.geneontology.org/amigo/reference/PMID:26878725
They all seem to be  phenotypes  in a pathogenic variant, not normal processes.

[2018-10-12 07:30] ValWood commented on #1492
I don't think it's necessarily a loss of function. IIRC this  one is just a couple of dodgy experiments.

[2018-10-12 07:39] ValWood commented on #1936
I think nuclease is OK
http://pfam.xfam.org/family/PF00565#tabview=tab2
but from phenotypes this is most likely a DNA nuclease in vivo

[2018-10-12 07:40] ValWood commented on #1936
(...but will probably degrade both in vitro... I'd usually want to see some physiological context to transfer a process).

[2018-10-12 09:13] ValWood commented on #1956
I would remove it. This nucleoporin is not part of the centrosome. The centrosome localizes to the nuclear membrane, so it is sometimes adjacent to nuclear pores, that's all....

[2018-10-12 09:17] ValWood commented on #1959
Yes. Essentially complexI in metazoa is a large >44 subunit complex. It is clearly multifunctional, but it is not well studied. It does have NADH dehydrogenase activity. In yeast  (at least pombe and cerevisiae, but not all yeast) this function is performed by a completely different protein.

however pombe has  3/>44 subunits (I think cerevisiae has 1, or 2). There is speculation that these have a

[2018-10-12 09:54] rachhuntley commented on #1796
Hello,
Thanks for your responses.
Regarding the MF terms, I think there has always been a problem with finding evidence to annotate these terms, as these types of experiments are not done. Ideally we would have a GO_REF explaining how these annotations were made, i.e. combination of proteomics localization plus verification from the Matrisome tool. Also, I would be happier with IC rather than an I

[2018-10-12 10:35] marcfeuermann commented on #1959
It seems that this has already been corrected by Pascale on 2018-09-04.

[2018-10-12 10:50] ValWood commented on #1955
I think it's *OK* for human
https://www.uniprot.org/citations/18981471
 It does affect cell cycle regulation.  Howver, It is still unclear to me whether these  should be annotated to the signalling pathway, because I'm not sure whether these are just phenotypes due to  defects in translocation into the nucleus, or they have a more direct role in regulating the  spindle checkpoint.

During the sign

[2018-10-12 10:55] hattrill commented on #1796
The change to the guidance seems good to me. I think that it's fine to use expert advice - many of us remove annotations that are not supported by current thinking, even if older papers support - I see this as a very similar practice. As you use P2GO, it can be clearly stated that this is what was done for future curators to see.

As for the more expansive MF terms - I wonder if this is a good cas

[2018-10-12 13:18] marcfeuermann commented on #1960
If I understand well you would like to remove "organelle transport along microtubule"  from fungi, but keep "ER to Golgi vesicle-mediated transport" and "retrograde vesicle-mediated transport, Golgi to ER" ? If it's not transport, don't you think all have to be removed ? Or do fungi not use microtubles for the transport but another way ? I can go through the literature, but if you aleady have the

[2018-10-12 14:10] thomaspd commented on #1936
That makes sense to me.  @marcfeuermann could you please decide on the best way to annotate evolution of RNA vs DNA specificity in this family?

[2018-10-12 14:15] thomaspd commented on #1957
@ValWood are you able to put in an annotation review request for that publication?
@marcfeuermann can you please review the "nuclear pore complex assembly" annotation in the tree, and if you agree, remove it?

[2018-10-12 14:16] thomaspd commented on #1959
Thanks, I will close this issue.

[2018-10-12 14:59] ValWood commented on #1936
For yeast I would not transfer any process info, not all of the ortholog predictors agree with Panther here:

https://www.flyrnai.org/cgi-bin/DRSC_orthologs.pl?input_species=4896&output_species=0&additional_filter=None&search_fields=***&search_datasets=***&gene_list=SPBC19F8.04c

[2018-10-12 15:45] ValWood opened #2116 "Annotation review human Q8N1F7"
PMID:26878725

phenotypes
glomerular visceral epithelial cell development
glomerular visceral epithelial cell migration
negative regulation of hydrogen peroxide-induced cell death

background in
https://github.com/geneontology/go-annotation/issues/1957#issuecomment-429340639

also mouse and rat annotations from the same paper.

nuclear pore is required for these processes but is not part of them (

[2018-10-12 15:47] ValWood commented on #2116
@ggeorghiou  Could you assign to appropriate UniProt person, thanks

[2018-10-12 15:47] ValWood commented on #1957
https://github.com/geneontology/go-annotation/issues/2116

[2018-10-12 15:54] ValWood commented on #1980
In fission yeast  spn1,2,3,4 are mitotic
spn2,5,6 and 7 are meiotic
I don't  know if you can resolve these in PAINT?

I think you can do
GO:0061640    cytoskeleton-dependent cytokinesis

I wouldn't make the complex annotation because the best you can do is "septin complex" which must be just a grouping term, not a specific complex. It isn't very useful as an inference.

[2018-10-12 16:02] ValWood commented on #1960
So in fungi organelles may transport along microtubules but we have no data about this, I have sometimes asked people and it isn't really clear if the proteins transported along microtubules are in vesicles or are direct cargo.

But even if they are in vesicles I don't think we can infer sec21 in this process.

This coat, as far as I'm aware in fission yeast only occurs as part of vesicle-mediated

[2018-10-12 16:59] thomaspd commented on #2002
I looked at this, on the possibility that boss doesn't belong in this family, but I think it is just a very diverged member of the family.  I agree with Helen's suggestion that we should block propagation to the clade containing boss (loss of these functions), along with potential gains of other functions.  @marcfeuermann can you please look at this (PTHR24060) and change as you see fit.

[2018-10-12 17:40] thomaspd commented on #2033
This annotation no longer appears in AmiGO, and is not in the current PAINT annotations that would be propagated to SPBC1734.09.

However, in addition to the substrate in the gene name, there are several other predicted substrates based on a very clear orthologous group with  few duplications in the Unikonts, suggesting these other substrates could be conserved.  Are you OK with these being propag

[2018-10-12 18:02] thomaspd commented on #2034
The alignment looks quite conserved even between eukaryotes and prokaryotes, and there are few duplication and divergence events.  I think conservation of the proton symporter mechanism is a reasonable inference, and this mechanism is specifically listed in the TCDB description of the MFS superfamily:
2.A.1 The Major Facilitator Superfamily (MFS)

The MFS is a very old, large and diverse superfami

[2018-10-12 18:02] ValWood commented on #2033
I'm not aware of any xylose or fucose in yeast glycans, in which case there probably isn't a ER transporter for this UDP-sugar (although it is known to be present in mammalian glycans). I would need to ask about this though I'm not sure..... but I would have expected it would have been assayed/known/annotated in SGD if it were the case.....

[2018-10-12 18:09] ValWood commented on #2033
Sometimes,  especially for transporter substrates it isn't wise to transfer from mammalian for yeast. Many budding yeast transporters are well-studied  and this would most likely be known. Specificity changes a lot over time (even between close paralogs).
Unless there is a very clear 1:1 relationship with a very defined substrate and lots of evidence, I would not transfer specificity  at all. It w

[2018-10-12 18:12] ValWood commented on #2034
I think what I found odd here was the combination of "peditidoglycan" and "proton" transport.
it seemed an unlikely combination. But I can't find the family member that alerted me to check why exactly I didn't like it!

[2018-10-12 18:13] ValWood commented on #2034
I could only find this
http://www.pantree.org/tree/family.jsp?accession=PTHR12778

[2018-10-12 18:14] thomaspd commented on #2043
I don't see nested NOT annotations anymore:
http://pantree.org/tree/family.jsp?accession=PTHR22778, so this is resolved, at least for this family.

I agree these should not be allowed, i.e. if there's already a NOT at node A, then you can't have another NOT of the same function on a descendant of A. This makes sense, since you can only NOT a function that would otherwise be inherited, and the NOT

[2018-10-12 18:15] ValWood commented on #2034
But not all MFS transfer protons
https://www.pombase.org/gene_subset/interpro:IPR036259
although some are  substrate/proton symporters

[2018-10-12 18:19] ValWood commented on #2034
Only some of these function as co-transporters..

[2018-10-12 18:22] thomaspd commented on #2034
The PANTHER family is a very restricted family within the massive MFS superfamily, so we expect a range of mechanisms between families, but not likely within them.

For pombe, the family member is SPBC21B10.09
To see the MOD family members, as well as the alignment:
http://www.pantherdb.org/treeViewer/treeViewer.jsp?book=PTHR12778&seq=HUMAN|HGNC=95|UniProtKB=O00400&species=agr
(you can click on th

[2018-10-12 18:28] thomaspd commented on #2057
@marcfeuermann , can you please review the annotation of 'cytoplasm' and 'negative regulation of signaling transduction' to PTN002356460?

[2018-10-12 18:33] thomaspd commented on #2109
@marcfeuermann , can you please see where these catalytic residues were lost in the tree for PTHR10183, and make the corresponding IKR loss for whichever functions were lost there?

[2018-10-12 18:37] mugitty commented on #2043
Since PAINT release 2018_08_30_1, the PAINT client will not permit the curator to 'unNOT' an IBA that is the result of a IKR
The PAINT server also performs integrity checks to ensure a given IBD annotation does not have multiple 'NOT's.

[2018-10-12 18:38] thomaspd commented on #2043
Thanks, I will close this issue

[2018-10-12 18:38] #2043 closed

[2018-10-12 18:43] thomaspd commented on #1953
@ValWood , do you think these PAINT annotations are OK for now, and we can close this issue?

[2018-10-12 18:48] thomaspd commented on #1955
OK, if I understand correctly, we'll wait for you to check with your cell cycle experts on this one.  I'll assign this ticket to you for now.

[2018-10-12 18:58] thomaspd commented on #1956
Thanks.  @marcfeuermann can you please review, and if you agree, remove the centrosome annotation for PTN000566604 (PTHR23138)

[2018-10-12 19:09] ValWood commented on #1953
It might be OK. Close, and I'll follow up and open a new ticket if it isn't.
It seems odd. I think we would know if it was a histone modifier in fission yeast, but perhaps not...

Remember that often people use histones as substrates in  "in vitro" experiments, but they are not physiological substrates. Happens a lot with kinase assays too. Is this annotation from such an experiment?

[2018-10-12 19:13] ValWood commented on #1953
This is what we have for rmt1 in PubMed:

https://www.ncbi.nlm.nih.gov/pubmed?cmd=Search&term=(SPAC890.07c+OR+rmt1+OR+prmt1)+AND+(pombe+OR+fission+yeast)

https://www.pombase.org/reference/PMID:15175657

I'm going to ask Francois if he thinks histones are a substrate....

[2018-10-12 19:35] thomaspd commented on #1980
In the tree, fission yeast 4 and 6 group together, 1 and 5 group together, and 3 and 7 group together, so it looks like the duplications that separated meiotic from mitotic septins in fission yeast are not shared among other eukaryotes.  So I agree that we should use the more general term GO:0061640 deep in the tree.  @marcfeuermann can you please review this tree (PTHR18884) and see if you agree

[2018-10-12 19:40] thomaspd commented on #2033
The UDP-N-acetylglucosamine activity seems to be broadly conserved, based on the experimental annotations.  As for the other substrates, @marcfeuermann , can you please take a look at PTHR10778 and see how you think we should handle these?

[2018-10-12 19:48] thomaspd commented on #2034
Right now, the substrate/solute isn't specified, so it's just the more general solute/proton term.  In a quick check, I don't see any experimental annotations showing acetyl coA as the substrate, so we can't annotate that at this point.  I will close this issue.

[2018-10-12 19:48] #2034 closed

[2018-10-12 21:38] ValWood commented on #1953
I know, we have a few >600 community curators on speed dial now, It's really helpful. We are user-driven. It is the future!

It depends on the context of the experiments - was histone only used as an acetylation assay?  PomBase doesn't annotate in vivo substrates if we *know* they are not likely to be physiologically relevant.

But as far as I can see in most organisms this is a polyA binding meth

[2018-10-12 22:05] huaiyumi commented on #2057
I don't see 'cytoplasm' as a problem, as the protein kinase activity happens there.

[2018-10-12 22:08] huaiyumi commented on #2049
This has been discussed at the consortium level. The decision is that IBAs are allowed to leaf sequences that have experimental annotation to the same term and are used as evidence for the IBD annotation.

[2018-10-12 22:08] #2049 closed

[2018-10-12 22:10] huaiyumi commented on #2042
This seems to be the same as #2049 . I believe it has been addressed.

[2018-10-12 22:10] #2042 closed

[2018-10-13 12:27] pgaudet commented on #2109
@thomaspd @muggity

We used to take into account the NOT annotations and not propagate contradictory positive annotations. Perhaps we should also take into account IRK annotations (some of these are made manually, not by PAINT).

What do you think ?

Thanks, Pascale

[2018-10-13 18:54] ValWood opened #2117 "PANTHER:PTN001146520 tea1 NOT cytokinesis"
tea1 isn't involved in cytokinesis

tea1 | cell end marker Tea1 |   | mitotic actomyosin contractile ring localization |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001146520PomBase:SPAC6G10.02c | kelch repeat domain pthr23244 | protein |   | PMID:21873635 | 20171207

[2018-10-13 18:58] ValWood opened #2118 "PANTHER:PTN000428096 (PTHR18763) replication annotation"
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPAC13G7.08c

both need removing:

crb3 | Rix1 complex WD repeat sunbunit Crb3 |   | regulation of DNA-dependent DNA replication initiation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000428096SGD:S000005126 | wd-repeat protein 18 pthr18763 | protein |   | PMID:21873635 | 20170602

  | crb3 | Rix1 complex WD repeat sunbun

[2018-10-13 19:01] ValWood commented on #2118
this one seems OK
https://www.yeastgenome.org/reference/S000148858

[2018-10-15 06:58] hattrill commented on #2057
I do. Ask a user downloading everything under "cytoplasm" what they expect to see - how can we expect people to trust GO when we make non-intuitive rules.
This type of annotation is ok in an extension (occurs in), but we need to ask how much harm we do when we make annotations based on opaque curator reasoning.

[2018-10-15 07:07] hattrill commented on #2002
Yes, it is weird one amongst the class C GPCRs - it acts as a ligand for sevenless tyrosine kinase (and there is a pinch of tenuous evidence implicating it as a glucose receptor)

[2018-10-15 08:29] marcfeuermann commented on #2033
3'-phospho-5'-adenylyl sulfate transmembrane transport/er was propagated over an ancient duplication event, so yes this was indeed a mistake. I propose to restrict this term to PTN000845564 (which does not contain any fungi).  PTN000081451 (including SPBC1734.09) will no more have this term and will get UDP-N-acetylglucosamine as a substrate as experimentally shown for Human, Drodophila and yeast

[2018-10-15 08:51] marcfeuermann commented on #1980
After checking, I agree to use the more general term GO:0061640 cytoskeleton-dependent cytokinesis.
I have also removed the terms "septin ring assembly" (indeed it is part of the ring) and "septin filament array" for which we have anyway few evidence in the whole tree. I would however keep the "septin complex" since it is annotated for almost all species for which we have experimental annotation,

[2018-10-15 09:06] ggeorghiou commented on #2116
Done. Sent an email to the curator responsible.

[2018-10-15 09:19] marcfeuermann commented on #1956
I've remove the annotation of "centrosome" from the root of PTHR23138 (PTN000566604 ) and restricted it to a small branch (node PTN002751301) which includes mouse Ranbp1 (and only animals) for which there is good evidence (PMID12840069).

[2018-10-15 09:19] #1956 closed

[2018-10-15 09:51] marcfeuermann commented on #2002
I've blocked propagation to boss of the following terms:
glutamate receptor activity
G-protein coupled glutamate receptor signaling pathway
regulation of synaptic transmission, glutamatergic

[2018-10-15 10:14] marcfeuermann commented on #2057
Family locked by Pascale. @pgaudet are you reviewing this one or should I do it ?

[2018-10-15 10:17] marcfeuermann commented on #2109
Family locked by Pascale. @pgaudet are you reviewing this one or should I do it ?

[2018-10-15 10:41] marcfeuermann commented on #1957
"nuclear pore complex assembly" has been removed from the family. Many structural components of complexes have such kind of wrong annotations to complex assembly (including ribosomal proteins).

[2018-10-15 10:41] #1957 closed

[2018-10-15 12:07] marcfeuermann commented on #1936
The family contains an ancient duplication at the origin of the eukaryotes, leading to 2 nodes, PTN000266557 and PTN001265932. I propose to keep "RNA catabolic process" for PTN000266557. I would believe that PTN001265932 is rather involved in DNA degradation (as suggested by Val) but as the evidences are weak, I would not annotate this part of the tree to DNA catabolism. Nuclease activity stays at

[2018-10-15 12:34] marcfeuermann commented on #1960
Thanks Val for this precision. I was first tempted to remove the annotation from the tree, but there is PMID:20525016 which, in my opinion, shows quite clearly that microtubule-dependent Golgi positioning requires  the coatomer. So I would follow Paul's suggestion to  change the ancestral node where "organelle transport along microtubule" is gained, to be in the metazoa-choanoflagellida.
@ValWood

[2018-10-15 17:47] ValWood commented on #1936
I agree, I would leave the unknown branch with no annotation, it's purely speculation by me ;)

[2018-10-15 17:47] #1936 closed

[2018-10-15 17:54] ValWood commented on #1960
I think tat makes sense

[2018-10-15 17:54] #1960 closed

[2018-10-15 20:14] ValWood opened #2119 "IPR030225 cholesterol binding"
is slighly too specific for yeast (which have ergosterol)

can you move up to sterol binding?

Thanks
Val

[2018-10-15 22:28] ValWood commented on #2033
I think so,

[2018-10-15 22:28] #2033 closed

[2018-10-16 09:28] rachhuntley commented on #1796
I don't think InterPro2GO will help here as not all of the components will have identifiable functional domains. Only "extracellular matrix constituent, lubricant activity" currently has an InterPro mapping for the mucin proteins.

For the MF terms I think these are really an IC. How about this? We create a GO_REF to be used with an IC annotation for the MF terms, the GO ID in the 'with' field wou

[2018-10-16 10:06] hattrill commented on #1796
My big reservation is that these are pretty hardcore biophysical properties - would it not be better to look for the experimental data for the biophysical MF - we only have a handful of LTP exp codes supporting these - I would first ask, what is the evidence for "lubricant activity" and document that.

IMO these assertions are based purely on sequence characteristics, so I think that a new GO_REF

[2018-10-16 10:14] bmeldal commented on #1796
Complexes updated.

While I don't use HT I agree that I wouldn't go further than GO:0005201 extracellular matrix structural constituent with some form of IC (I used ECO:0005547, the complex-specific IC term) unless I have proper experimental evidence of their structural activity, which I had for a few complexes where I could use IDA or the complex-specific ISS (ECO:0005610 or children).

[2018-10-16 10:38] hattrill commented on #1796
![screen shot 2018-10-16 at 11 35 12](https://user-images.githubusercontent.com/11865746/47010747-ce56c680-d137-11e8-95bb-798b49ec8a03.png)

I can see the justification for the top level MF term, but I can't see these associations:
Elastin and Emilin - elasticity
Proteoglycans - compression resistance
Collagens - tensile strength
Mucins - lubricant activity

[2018-10-16 15:10] ValWood opened #2120 "NACA UniPROT description inconsistent with GO annotation"
https://www.uniprot.org/uniprot/Q13765#family_and_domains

THis is an odd case I wondered if somehow the incorrect entry was annotated?

Uniprot describes as NACA.

The evidence I'm currently looking at seems stronger for the transcription factor role.  So far I can only see a TAS for translation

What is the  EXP EVIDENCE FOR
Nascent polypeptide-associated complex subunit alpha?

[2018-10-16 15:38] ValWood commented on #2081
closing this one I have enough examples

[2018-10-16 15:38] #2081 closed

[2018-10-16 15:44] pgarmiri commented on #2111
UniProt and CAFA annotations have been checked ( I only found 9 annotations though..The rest must be ISS)

[2018-10-16 16:00] thomaspd commented on #1980
I talked to Val and this looks good now.  Closing.

[2018-10-16 16:00] #1980 closed

[2018-10-16 16:01] ValWood commented on #2120
This does seem to be
Nascent polypeptide-associated complex subunit alpha
there is a NAture paper that could be used for GO. MAybe it is multifunctional. I'll take a closer look at this one.

[2018-10-16 16:07] pgarmiri commented on #2120
There are also 4 structural papers in the Interaction/Subunit Structure section of the UniProt entry.

**"The alpha and beta subunit of the nascent polypeptide-associated complex have distinct functions."**
Beatrix B., Sakai H., Wiedmann M.
J. Biol. Chem. 275:37838-37845(2000) [PubMed] [Europe PMC] [Abstract]
Cited for: FUNCTION, INTERACTION WITH BTF3, ASSOCIATION WITH RIBOSOMES, SUBCELLULAR LOCAT

[2018-10-16 16:15] thomaspd commented on #1953
Thanks Val. @marcfeuermann can you please take a look at substrate specificity across this family and decide how to annotate the gains and losses?

[2018-10-16 16:46] ValWood commented on #1954
Here's the issue:

tra2 / SPAC1F5.11c details is annotated to SAGA complex by IBS to S. cerevisae. This isn't a SAG subunit in S. pombe.

Pombe has tra1 and tra2 which are subfunctionalised to NuA4 complex  and SAGA complex.

There is a nice paper about this:

 https://www.pombase.org/reference/PMID:19040720

We also examined the same environment in fission yeast and found a very similar architect

[2018-10-16 16:54] thomaspd commented on #1954
@marcfeuermann can you please take a look at potential gene duplication and subfunctionalization (loss of different functions in different branches following duplication) in this family.  Val also suggested looking at other examples of subfunctionalization in other families, in this same paper.

[2018-10-16 17:17] rachhuntley commented on #1796
So, the matrisome paper doesn’t talk about the functions of the groups of proteins, the function is known from other evidence, e.g. For collagens I would annotate to "extracellular matrix structural constituent conferring tensile strength” because this is their function (see http://jcs.biologists.org/content/131/7/jcs203950.long "Disease pathogenesis typically involves genetic alterations of the t

[2018-10-16 21:16] ValWood opened #2121 "IPR001282 glucose-6-phosphate dehydrogenase activity"
EA  with IPR001282
In pombe
https://www.pombase.org/gene/SPCC794.01c
is glucose dehydrogenaase

v

[2018-10-17 08:57] hattrill commented on #1796
Perhaps we should not imply an MF from these experiments at all - I am confortable with that.

[2018-10-17 09:05] marcfeuermann commented on #1954
In this case, gene duplication and subfunctionalization is restricted to pombe. I've blocked all SAGA-related annotations for pombe tra2 and the NuaA4-related annotations for pombe tra1. I've also added "DNA repair" to all NuA4 components. I will check the few other similar cases from the paper (pst2, pst3, cph1) to see if corrections are required.

[2018-10-17 10:44] rachhuntley commented on #1796
Apart from the annotations I’ve made to these more detailed terms, there are only a handful of manually assigned annotations. The only ones that I can see that have convincing evidence for a structural role are those involved in elasticity. Curators have long had a problem with finding appropriate evidence for structural constituent terms, but for whatever reason, we kept these terms.
I think the

[2018-10-17 11:43] marcfeuermann commented on #1953
Enzyme activities are usually demonstrated in vitro (most of kinase substrates have been shown like that). This of course questions the physiological relevancy of those experiments. Just looking at the PMRT1-branch which includes pombe rmt1, there is in vitro evidence for Human, Mouse, Rat, D. melanogaster, C. elegans, A. nidulans, P. falciparum and even S. cerevisiae (not all of these have the GO

[2018-10-17 14:47] marcfeuermann commented on #1954
Case of pst1, pst2 and pst3:
"For Rpd3S and Rpd3L, Sin3 is a hyperlink in S. cerevisiae, but in S. pombe  both Clr6S and Clr6L have a dedicated Sin3 homologue. In fact, S. pombe has three Sin3 paralogues, with Sp_Pst2p being  exclusively found in Clr6S whereas the other two homologues, Sp_Pst1p and Sp_Pst3p, are  exclusively  found  in Clr6L."
The genes are found in PTHR12346 and they all have pri

[2018-10-17 17:33] ValWood commented on #1954
I agree,  we would not add these these days... We would represent the non-functional sub complexes. @pgaudet  do we want to tidy this?

[2018-10-18 08:42] hattrill commented on #1796
I'd certainly advocate getting rid of the very specific terms:

GO:0030197 | extracellular matrix constituent, lubricant  activity
GO:0030021 | extracellular matrix structural constituent conferring compression resistance
GO:0030023 | extracellular matrix constituent conferring elasticity
GO:0030020 | extracellular matrix structural constituent conferring tensile strength
GO:0150043 | structural c

[2018-10-18 09:11] bmeldal commented on #1796
@hattrill

The structural molecular activity branch as a whole is quite vague.

Absolutely. These terms never sat well with me (I raised a ticket years ago but can't find it anymore as it was on SF). I have just added them to all ECM complexes as per Rachel's suggestion, but only GO:0005201 extracellular matrix structural constituent, not the child terms.

[2018-10-18 10:09] RLovering commented on #1796
Hi
in the GOC meeting Pascale has pointed out that we should aim to provide a MF term for each gene product (not just a BP annotation). I think that the child terms are providing important information, it seems odd to me to group all these proteins within the same MF term, which in many ways isn't saying much more than the cellular component statement. I was thinking that potentially 'extracellula

[2018-10-18 10:58] rachhuntley commented on #1796
This is the ticket from @bmeldal https://github.com/geneontology/go-ontology/issues/10895

[2018-10-18 11:12] hattrill commented on #1796
We have:
GO:0097493 	structural molecule activity conferring elasticity

So we could have:
structural molecule activity conferring tensile strength
structural molecule activity conferring compression resistance
structural molecule activity with lubricant activity (not sure about phrasing - sounds silly whichever way I say it)

That seems quite nice - I think that most of our annotation pipelines k

[2018-10-18 12:19] sylvainpoux opened #2122 "Endoplasmic reticulum-endosome membrane contact site"
Hi,
I would need a new component term:

Endoplasmic reticulum-endosome membrane contact site
Category: component
Definition: A contact site between the endoplasmic reticulum membrane and the endosome membrane.
child of GO:0044232 organelle membrane contact site
References: PubMed=24105263 PubMed=30220460

I also hesitated to create a specific GO Process to describe Endosome membrane fission proces

[2018-10-18 12:55] mah11 commented on #1796
@hattrill ...
I've thought exactly that for a decade and a half ("years" as of https://github.com/geneontology/go-ontology/issues/2284). Almost everything under "structural molecule activity" should go, and the elasticity etc. ones should lose the ECM specificity. But I also stopped trying to die on that particular hill a while ago; glad to see the torch passed along.

[2018-10-18 16:55] vanaukenk commented on #2045
After discussion at Montreal meeting:

1) Automatic deletion of ND-evidenced annotations when an EXP (or child) evidence code will not be allowed.
2) At the moment, for MF, groups may continue to have an annotation to root molecular_function as well as an annotation to GO:0005515 (or child) but we will flag those annotations (or continue to flag) for review.
3) Get the list of genes/gene products

[2018-10-18 22:37] ValWood commented on #1953
OK, I'm happy for the histone acetylation to stay. Although I interpreted Francois response to say
"he thought it could likely acetylate histone in vitro artefactually, but he hadn't seen it".
So, we can keep this but  since not every histone modification is transcriptional regulation,  was there strong evidence for this BP?

The in vitro paper you refer to above says "These findings suggest a rol

[2018-10-18 22:37] #1953 closed

[2018-10-19 10:40] pgarmiri commented on #2045
Hi,

Sorry I missed this discussion. I have a couple of questions..

1. The above decision (1) affects all the aspects or only the MF that has the controversy about annotations to GO:0005515 (or child)?

2. If it is for all,  will the description of ND evidence code and its usage be changed in the wiki page?

http://wiki.geneontology.org/index.php/No_biological_Data_available_(ND)_evidence_code

I

[2018-10-19 11:38] sylvainpoux opened #2123 "Regulation of S-adenosylmethionine biosynthetic process"
Hi,

I would need a term to describe an enzyme that regulates S-adenosylmethionine biosynthetic process. METTL16 is is involved in S-adenosyl-L-methionine homeostasis by regulating expression of MAT2A transcripts. Would it be possible to create a term for regulation of S-adenosylmethionine biosynthetic process?

Regulation of S-adenosylmethionine biosynthetic process
Definition: Any process that m

[2018-10-22 09:00] EBI-Hsinyu commented on #2115
Hi! Thanks! I have deleted this term.

Regards,
Hsin-Yu

[2018-10-22 09:34] EBI-Hsinyu commented on #2113
Hi! You are right. As we described in the abstract "These P-ATPases include both H+/K+-ATPases and Na+/K+-ATPases... ". Some proteins are not sodium transporters, and the GO term (GO:0006814) should not be there. Deleted now.
Hsin-Yu

[2018-10-22 10:57] EBI-Hsinyu commented on #2121
Hi. You are right. Gcd1 differs from traditional Glc-6-P dehydrogenases in that it contains nonconsensus amino acids in its putative Glc-6-P binding pocket [PMID:28667014]. I will delete this GO term.
Hsin-Yu

[2018-10-22 12:31] hattrill commented on #1655
Hello all!

Thought here would be the easiest way to catch as many as possible-

First draft of ISB DATABASE Journal Biocuration HTP paper can be found here
https://docs.google.com/document/d/1UGXWy38134Lvq22qb2tVizIgNUhZKQC1x5-docMb-ro/edit
in the GO google drive. Bit later than I anticipated (insert excuse).  If you feel like beating it with a stick, that would be appreciated. Deadline for submi

[2018-10-22 13:50] hattrill commented on #1469
Hello - just repeating what I said before on the review HTP ticket, as I can see that there isn't complete over lap:

First draft of ISB DATABASE Journal Biocuration HTP paper can be found here https://docs.google.com/document/d/1UGXWy38134Lvq22qb2tVizIgNUhZKQC1x5-docMb-ro/edit in the GO google drive. Bit later than I anticipated (insert excuse).  If you feel like beating it with a stick, that wou

[2018-10-22 14:33] pgaudet commented on #2077
@marekskrzypek Have you had a chance to look at these ?
For information 'GO:0033212 iron assimilation' has been renamed 'iron import into cell'

(EcoCyc are done, according to the Google spreadsheet - @keseler  next time can you remove your name form the assignees once you are done ? thanks :)

Pascale

[2018-10-22 17:03] sylvainpoux commented on #1469
On 10/22/2018 3:50 PM, Helen Attrill wrote:

Thanks Helen,

  I had a very quick look and it looks great! I will read the paper and
get back to you as soon as possible.

Sylvain

--
Sylvain Poux, PhD
Swiss-Prot group
SIB Swiss Institute of Bioinformatics
1, rue Michel Servet
CH-1211 Geneva 4
Switzerland

sylvain.poux@sib.swiss - www.sib.swiss

[2018-10-22 17:05] sylvainpoux commented on #1469
On 10/22/2018 3:50 PM, Helen Attrill wrote:

Hi Helen,

thanks a lot! I had a quick look and it looks great.

I added few suggestions. Feel free to integrate them or not and do not
hesitate to contact me if you need help.

Thanks

Sylvain

--
Sylvain Poux, PhD
Swiss-Prot group
SIB Swiss Institute of Bioinformatics
1, rue Michel Servet
CH-1211 Geneva 4
Switzerland

sylvain.poux@sib.swiss - www.sib.

[2018-10-22 17:07] marekskrzypek commented on #2077
These are now done.
Thanks,
Marek

On Sep 19, 2018, at 8:56 AM, pgaudet <notifications@github.com<mailto:notifications@github.com>> wrote:

For the work on iron transport (geneontology/go-ontology#14892<https://github.com/geneontology/go-ontology/issues/14892>):
GO:0033212 iron assimilation will be renamed iron import into cell

Many annotations to this term need to be reviewed (unrelated to the c

[2018-10-23 23:50] suzialeksander commented on #2046
SGD is done

[2018-10-24 09:07] #2121 closed

[2018-10-24 09:08] #2119 closed

[2018-10-24 09:08] #2115 closed

[2018-10-24 09:08] #2114 closed

[2018-10-24 09:08] #2113 closed

[2018-10-24 09:09] #2088 closed

[2018-10-24 16:14] RLovering commented on #1469
Hi Helen

This is a great paper. Please take what edits/comments you like.

However I am concerned about the number of apparent HTP datasets that are still associated with a non-HTP evidence code. I have only looked at IEP annotations but there seem to be a lot. Note I have not looked at the full text of papers I have suggested should use the HEP evidence code rather than the IEP code

Is it possi

[2018-10-24 17:00] pgaudet commented on #2122
This issue was moved to geneontology/go-ontology#16533

[2018-10-24 17:00] #2122 closed

[2018-10-24 18:21] ValWood opened #2124 "PAINT annotation review for Q15361"
https://www.uniprot.org/uniprot/Q15361

this seems to be a nucleolar, RNA polymerase I termination factor, in which case the PAINT annotation looks odd...

[2018-10-25 16:39] RLovering commented on #1469
Thanks for looking at this, Ruth. I really appreciate your input.

Yes, I am aware that there are quite a few that still need to be done and it’s not a complete revision  - I think that some are synchrony issues with data releases. I’ve done some cross-referencing and these will help. Others just haven’t been done. I am planning to chase these up. I’ve had to be careful not to say that the review

[2018-10-29 16:12] pgarmiri commented on #2076
I have just finished with reviewing the UniProt-EBI and CAFA annotations. I have added comments to the designated column.

[2018-10-30 10:22] sylvainpoux commented on #2123
OK, found another solution after discussing with Pascale

[2018-10-30 10:22] #2123 closed

[2018-10-30 17:30] pgaudet commented on #2057
I reannotated the family. There might be other issues as this is a very large family, quite hard to annotate.

Pascale

[2018-10-30 17:30] #2057 closed

[2018-10-30 21:57] suzialeksander commented on #679
Looking at this today, these IEAs are still being made (last one in September, and now to "spliceosomal complex").  I think there is some evidence in the literature to support- especially for the pombe homolog.  Closing.

[2018-10-30 21:57] #679 closed

[2018-10-31 13:53] hattrill opened #2125 "PANTHER:PTN000701462"
For PANTHER:PTN000701462

FBgn0034485 CG11099 :
Is a leucine rich protein of unknown function.

PAINT annotations to protein kinase activity & protein autophosphorylation are incorrect - I think that this is because of an alignment with the leucine-rich domain of leucine-rich repeat kinase, but unlike this protein it does not contain a kinase-like domain.

plasmodesma - is a plant thing.

[2018-11-01 09:33] rachhuntley commented on #1796
Coming back to the question of evidence code for the MF annotations (regardless of whether we keep the ECM-specific ones or not), I'm going to come back to the idea of having them as RCA again, which was suggested by Helen originally in this thread.

Just as a reminder, the way I’m annotating the MF for ECM proteins is by basing it on all of the following:
1. experimentally verified location (ECM)

[2018-11-01 09:33] rachhuntley commented on #1581
If it looks like the RCA code is going to be kept, I have a potential use case for the extracellular matrix annotations from proteomic experiments, which I have detailed in this ticket https://github.com/geneontology/go-annotation/issues/1796.

[2018-11-01 09:49] hattrill commented on #1796
I think that sounds like a good idea, it is certainly more transparent and describes the multi-tiered approach.

[2018-11-01 14:23] pgaudet opened #2126 "Notification for removal of annotations of protein-containing complexes and children used to annotate Protein Complexes"
Hello,

There is a small number (28) of protein complex annotations using a protein Complex Portal as the annotation subject. The Protein Complex Working group has decided that these annotations should not be made; they represent cross references between GO terms and a protein complex ID.

[2018-11-01 14:56] RLovering commented on #2126
Hi
I think we should do these ourselves to make sure we pick up annotating all the subunits
Ruth

[2018-11-01 15:19] RLovering opened #2127 "revised CREBB annotation"
Hi Pascale

following discussion with ENCODE I have revised dbTF CREBB Q92793 annotation to GO:0003714 transcription corepressor activity.

I guess it should be possible to pull out all annotations to enzyme activity and dbTF activity and mark these for review? Dread to think what we will get but probably needs to be done?

Ruth

[2018-11-01 15:20] #2127 closed

[2018-11-01 15:25] pgaudet opened #2128 "Review annotations to GO:0001199 transcription factor activity, metal ion regulated sequence-specific DNA binding & children"
Hello,

A few annotations to 'GO:0001199 transcription factor activity, metal ion regulated sequence-specific DNA binding & children' seem to represent zinc finger transcription factors, not necessarily metal-ion **regulated** transcription factors. Can you please have a look ?
https://docs.google.com/spreadsheets/d/1l1BrmgBh0vT7dbfCFfbbdNCceVw-ARXqEkvGQjeLujk/edit#gid=0

~1 pombase @ValWood~ agre

[2018-11-01 15:40] pgaudet commented on #2127
We can do that with the matrix ?

[2018-11-01 15:42] BarbaraCzub commented on #2126
Removed ARUK-UCL | 1
All the subunits had already been annotated.

[2018-11-01 16:10] RLovering commented on #2127
That was what I thought but it might be a big number

[2018-11-01 16:45] RLovering commented on #2126
Hi UCL team getting there, but I found one more complex that wasn't on the table but was associated with a term in the list : CPX-7.
So you might want to run the query again
Ruth

[2018-11-01 17:29] pgarmiri commented on #2126
All UniProt and CAFA annotations has been removed. Most of the subunits had already been annotated.

[2018-11-01 18:08] tberardini commented on #2128
Done.
Moved to GO:0001227, DNA-binding transcription repressor activity, RNA polymerase II-specific

[2018-11-02 08:46] rachhuntley commented on #2126
All UCL done.

[2018-11-02 13:04] sjm41 opened #2129 "Check InterPro2GO annotations for IPR023318 and IPR014929"
**E2 binding (IPR014929)**
GO:0016881 acid-amino acid ligase activity

**Ubiquitin activating enzyme, alpha domain superfamily (IPR023318)**
GO:0016881 acid-amino acid ligase activity

I don't think either of these is correct.
Maybe meant to be  NEDD8 activating enzyme activity (GO:0019781) or its parent  ubiquitin-like modifier activating enzyme activity (GO:0008641)?

[2018-11-02 13:05] sjm41 commented on #2129
Tagging @hattrill

[2018-11-02 14:27] pgaudet opened #2130 "Proteins annotated to DNA-binding transcription factor activity (GO:0003700) should NOT be also annotated to catalytic activity (GO:0003824)"
catalytic activity (GO:0003824)
transcription regulator activity (GO:0140110)

Probably OK - for eg:
- Q08211 DHX9 Human: PMID:11416126: RNA helicase and cofactor activity
- Q9H944 MED20 Human: ubi ligase + cofactor activity
Many cofactors are enzymes.

However
catalytic activity (GO:0003824) and
DNA-binding transcription factor activity (GO:0003700)
give quite a few false-positives. I started to

[2018-11-02 14:52] ValWood commented on #2130
I agree, the Pombase ones are all from PAINT. I would not annotate any of these to
DNA-binding transcription factor activity (GO:0003700)

There is only one exception that I can see that should/could have both
https://www.pombase.org/gene/SPBC1826.01c
TATA-binding protein-associated transcription initiation repressor Mot1

Is a DNA binding protein involved in the regulation of transcription (it bi

[2018-11-02 16:53] ukemi commented on #2130
PMID:15832388

[2018-11-02 16:56] RLovering commented on #2130
Hi
I took your gene list (but only the genes with UniProt IDs) and downloaded all the annotations for catalytic activity and dbtf and then have created 2 tabs on your spreadsheet indicating which proteins have been associated with either the catalytic term or the dbTF term by which groups. InterPro annotations can be used to help reduce the number to be checked, but there are a lot still to do.
I

[2018-11-02 16:57] RLovering commented on #2130
Note that InterPro has annotated 3 uniprot records with both dbTFs and catalytic activity

[2018-11-02 18:28] ValWood commented on #2130
Once the gene products in the intersection are identified  I can make a rule for this.

It would allow
i) the known catalytic activities  of the enzymes (probably best done with specific GO terms)
ii)  TATA binding protein
iii) Others?

Pascale would it help to remove the PAINT annotations from the spreadsheet so that we see only the primary annotations?

[2018-11-02 18:30] RLovering commented on #2130
Hi
I am assuming that a protein that binds DNA and regulates transcription should be considered a dbTF
Ruth

[2018-11-02 18:30] ValWood commented on #2130
Actually, I'm a bit confused.  PomBase only have one annotation (the one above), but lots reported. I assumed they were from PAINT, but they are documented as from PomBase???

[2018-11-02 18:36] ValWood commented on #2130
I get it. These are coming from PAINT (not sure why it says source PomBase in the spreadsheet)

but in AmiGO:
jmj2 | histone demethylase Jmj2 |   | DNA-binding transcription repressor activity, RNA polymerase II-specific |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:104813PANTHER:PTN000075014 | jumonji domain containing protein pthr10694 | protein

I would not annotatate these as
"D

[2018-11-03 10:10] ValWood commented on #2129
That's odd. I don't see this mapping  for IPR014929  in PomBase and it was removed back in 2014
https://github.com/geneontology/go-annotation/issues/1231

[2018-11-04 19:16] RLovering commented on #2130
Hi
I have gone through all the UCL uniprot annotations, I have marked the changes, I have made or changes that look like they need to be done, on the table and have a couple of questions.

1. For PRKN O60260 see PMID:23985028, is dbTF appropriate?
2. For the TREM family, if it is agreed these are all cofactors can PMID:23077300 be used to annotate MF coactivator for many TRIMs?
3. Why are some enz

[2018-11-05 10:45] asangrador commented on #2129
I have removed the 'acid-amino acid ligase activity' terms for these entries. It was  just wrong, so thanks for letting us know. The annotation is from 2008 so I suspect the entry changed but somehow the GO annotation was never removed or updated. @ValWood  I don't think this is a case of wrong annotation coming back,  and we have measures to tag and avoid this now.

[2018-11-05 11:12] pgaudet commented on #2101
Fixed

[2018-11-05 11:12] #2101 closed

[2018-11-05 11:20] pgaudet commented on #2104
We had removed the annotations to SPAC11E3.12 back in September, see https://github.com/geneontology/go-annotation/issues/857.

I see they are still in AmiGO, with date assigned = 20170228
@dustine32 @huaiyumi @thomaspd  @kltm

Any idea what's going on ?

Thanks, Pascale

[2018-11-05 11:28] pgaudet commented on #2104
Note that the data is OK in PAINT and in Pantree: http://www.pantree.org/node/annotationNode.jsp?id=PTN000042666

I am not sure how to troubleshoot the rest of the pipeline.

Thanks, Pascale

[2018-11-05 11:38] sjm41 commented on #2129
Thanks @asangrador !

[2018-11-05 11:38] #2129 closed

[2018-11-05 12:39] pgaudet commented on #2104
@ValWood Please keep 1 ticket per problem!

For

PANTHER:PTN000207233
= PTHR11780
http://amigo.geneontology.org/amigo/gene_product/PomBase:SPBC18E5.10
We had fixed here: https://github.com/geneontology/go-annotation/issues/1917

 @marcfeuermann is looking into this family again.

Thanks, Pascale

[2018-11-05 12:59] rachhuntley commented on #1581
Hi Kimberley @vanaukenk,
If this looks like a reasonable use case, I will go ahead and request a more specific ECO term as mentioned in #1796
Thanks.

[2018-11-05 13:54] pgaudet commented on #2099
OK fixed the tree with @marcfeuermann

[2018-11-05 13:54] #2099 closed

[2018-11-05 13:55] pgaudet commented on #2104
NOTE that the issue for  SPAC11E3.12  is NOT fixed: annotation in AmiGO are not the same as the one we see in PAINT and Pantree.

[2018-11-05 14:49] marcfeuermann commented on #2125
Kinase-related annotations have been restricted to branches where there is a clear experimental validation. Plasmodesma is indeed a plant-specific term that was propagated too far. As primary annotations come from a HTP study, I've removed the propagation of the term.

[2018-11-05 14:49] #2125 closed

[2018-11-05 14:58] ValWood commented on #2129
That's great that the mechanism is in place to stop recurrence.   I couldn't not find any existing GO amnnotations to cause this mapping but let us know if  mappings are derived from erroneus GO annotations.

[2018-11-05 16:00] marcfeuermann commented on #2124
In the new PANTHER version, Q15361 is part of a small family of 23 leafs, PTHR46760, with no PAINT propagation. Any reference to polymerase II transcription has disappeared and I've updated annotation to nucleolar location and RNA polymerase I termination factor.

[2018-11-05 16:00] #2124 closed

[2018-11-05 19:36] kltm commented on #2104
For example, coming in from upstream in paint_pombase.gaf.gz. Apparently not cleared from upstream as of last release.

[2018-11-05 21:03] vanaukenk commented on #1581
Hi @rachhuntley
Yes, I think this is a reasonable use case.
Is it correct, though, that this use case incorporates both experimental and computational evidence?  If so, I wonder if we need to do a little work with ECO here to flesh out the combinatorial evidence part of the ontology to be clearer on what different types of evidence are being combined.
We would still need to make sure that the new

[2018-11-05 22:09] suzialeksander commented on #1500
Will this be on an upcoming annotation call? SGD has gone through most of our annotations, and we have a few examples where we would like to keep the qualifier- generally, these are ones where there is a fractionation assay to show approximate location, but no evidence of direct binding OR proteins are not considered to be part of a large complex but are transiently associated/transiently function

[2018-11-06 09:12] ValWood commented on #1500
For your first example "P body",  is is so bad not to have colocalizes_with? Possibly the problem is describing a P-body as a "complex" in GO it is really a  cytoplasmic foci:

Processing bodies (P-bodies) are distinct foci within the cytoplasm of the eukaryotic cell consisting of many enzymes involved in mRNA turnover.

and it would be absolutely correct to annotate  to P-body without co-localize

[2018-11-06 09:55] pgaudet commented on #2104
@dustine32 Can you please have a look ?

[2018-11-06 10:19] rachhuntley commented on #1581
Yes, that's correct. Hopefully we can just make the new term a child of both the experimental and computational codes. I will open the ticket and see if they agree.

[2018-11-06 17:32] vanaukenk commented on #1581
Okay, thanks @rachhuntley
Let me know if at any point you think we need to discuss things on an annotation call.

[2018-11-06 17:37] pgaudet opened #2131 "Question about proposed GO rule: IPI should not be used with catalytic activity molecular function terms"
Gorule-0000007: IPI should not be used with catalytic activity molecular function terms
We have 71 annotations failing that rule. Should we implement that ? Or is the evidence code valid for these annotations?

https://docs.google.com/spreadsheets/d/16CRMSe5J_Hws5sMXIpLsTiFt5tSXgFkoUFfGuKx4JUw/edit#gid=0

A large fraction of these annotations are from SGD @srengel

Should we implement this rule or

[2018-11-06 17:53] pgaudet opened #2132 "Do not annotate terms"
Hello,

Right now we have 2 types of do not annotate flags:
do_not_annotate, with 135 terms
do_not_manually_annotate, with 72 terms

1) Do we need that distinction anymore?
2) I would like to split these into the ones that are just reported ('soft checks'), and those that are filtered ('hard checks'). What I propose to do is to go through all the terms, and starting with those with fewest annotati

[2018-11-06 17:59] srengel commented on #2131
i'll take a quick look.  maybe we can delete some of the SGD ones.

[2018-11-07 09:37] pgaudet commented on #2128
The CAFA annotation has been disputed in P2GO. I'm closing this.

[2018-11-07 09:54] ValWood commented on #2131
will check ours. Poss not this week.

[2018-11-07 10:55] marcfeuermann commented on #2102
I've restricted "ribosomal large subunit export from nucleus" to PTN001650480 (only ARX1-related in yeasts).

[2018-11-07 10:55] #2102 closed

[2018-11-07 11:02] marcfeuermann commented on #2106
Propagation of meiosis 1 removed.

[2018-11-07 11:02] #2106 closed

[2018-11-07 13:36] bmeldal commented on #2126
Looks like we can close this, @pgaudet .

[2018-11-07 14:09] marcfeuermann commented on #2107
I've updated the annotation for PTHR11808. There is a duplication within the fungi and I've blocked the propagation of those terms to PTN000928751 containing SGD:S000001154 and SPAC23A1.14c.
I've kept the more general terms  MF: "carbon-sulfur lyase activity" and BP: "transsulfuration"

[2018-11-07 14:09] #2107 closed

[2018-11-07 14:13] marcfeuermann commented on #2103
Yes indeed. Propagation of the term has been removed.

[2018-11-07 14:13] #2103 closed

[2018-11-07 15:37] marcfeuermann commented on #2107
Hi Val,
"carbon-sulfur lyase activity" is a parent of "cystathionine gamma-lyase activity" annotated for MYCTU, BACSU, YEAST, EMENI, MOUSE and HUMAN in PTN000211591 of PTHR11808; but also of "cystathionine beta-lyase activity" annotated for ARATH, ENENI and YEAST in PTN002483385.The third node after the root duplication, PTN002483364 has no annotations at all but contains bacterial O-succinylhomos

[2018-11-07 15:57] ValWood commented on #2107
OK, you will have a better idea for this one!

[2018-11-07 16:31] marcfeuermann commented on #2109
Very good point. I think we indeed should take into account IRK annotations (I thought it was already the case). For PTHR10183, I've checked the alignment for the presence of the 3 active sites and blocked propagation when at least one of them was absent.  @pgaudet , do you want us to keep this issue open for further discussion or should we close it ?

[2018-11-07 18:14] dustine32 commented on #2104
@pgaudet There was a bug in the IBA generation script specific to IRD/IKR annotations directly made on leaf nodes. We fixed this bug and regenerated the IBA GAFs. The annotations of SPAC11E3.12 to GO:0006120 and GO:0005747 are now gone and this should be reflected in this month's GO release.

GO:0008137 to SPAC11E3.12 wasn't affected by this bug but does look like it was recently obsoleted and so

[2018-11-07 20:49] suzialeksander commented on #1500
A lot of the cases like the P-body example are where we're confident in the annotation enough to make it, but there's not enough evidence for a direct interaction/binding: GFPs or fractionation.

And SGD _does_ use colocalizes_with according to the language

I thought I read Prp2 only attaches to the activated spliceosome, I'd have to double check.  But even if this was changed to GO:0071011 preca

[2018-11-07 22:55] ValWood commented on #1500
but for the spliceosome  cycle most things are transient, it is very dynamic...

prp22 U2-type catalytic step 2 spliceosome
prp16 U2-type catalytic step 2 spliceosome
brr2  U4/U6 x U5 tri-snRNP complex
snu114  U4/U6 x U5 tri-snRNP complex
prp5  commitment complex
are all transient.

None of these are permanent complex members either?

The problem is that colocalizes_with has 2 meanings historicall

[2018-11-08 08:00] bmeldal commented on #1500
I think, in principle, we agreed that *colocalizes_with* [subcellular location] is ok but the issue we have is with *colocalizes_with* [protein-containing complex or children]. It's the latter ones we proposed to remove. If there is no physical binding evidence, what does a *colocalizes_with* [protein-containing complex or children] annotation add? We agreed that it would be better instead to make

[2018-11-08 08:14] pgaudet commented on #2104
Thanks @dustine32 I'll check the next release.

Pascale

[2018-11-08 08:16] #2128 closed

[2018-11-08 10:00] ValWood commented on #1500
I thought about the splicosome example some more.

So if prp2 *isn't* part of the complex it's probably not good to use coloclizes_with
To recap, the reason we want to clean these up is that it's not good to have a qualifier that isn't still true if it is ignored. A qualifier should be more specific than an annotation, not change the annotations meaning. Cleaning up the use for complexes is a firs

[2018-11-08 10:03] ValWood commented on #1500
And I am removing this
https://www.pombase.org/gene/SPBC19C2.01
where I annotated to
GO:0071006 U2-type catalytic step 1 spliceosome
by ISS  *without* the qualifier..... ;(

[2018-11-08 13:44] pgaudet opened #2133 "Curation Doubt on GO:0008656"
_From @liviap on November 7, 2018 16:11_

Hi,
I have a curation doubt on GO:0008656 cysteine-type endopeptidase activator activity involved in apoptotic process:
Definition: "Increases the rate of proteolysis catalyzed by a cysteine-type endopeptidase involved in the apoptotic process."
Comments: "Examples of this are 1) granzymes that may bind to initiator caspases and cleave them, and 2) already

[2018-11-08 13:44] pgaudet commented on #2133
_From @ukemi on November 7, 2018 18:48_

Seems reasonable to me.

[2018-11-08 13:44] pgaudet commented on #2133
_From @bmeldal on November 8, 2018 7:48_

Thanks, David. It was actually I who had doubts. Should we add a further comment that self-activation is also applicable for this term?

Would you still co-annotate with the direct term
GO:0097153 cysteine-type endopeptidase activity involved in apoptotic process?
I guess so.

[2018-11-08 13:44] pgaudet commented on #2133
Hi @bmeldal

GO terms don't specify the substrate, only the gene product that mediates the activity. So acting on itself is fine. I can add something to the definition, but we cannot be exhaustive relative to possible substrates. I a little reluctant to add just because then, do we want to add this to all known cases ? (protein kinases seem a good example of this)

What do you think ?

Thanks, Pas

[2018-11-08 13:44] pgaudet commented on #2133
_From @bmeldal on November 8, 2018 9:52_

I was doubting if we did the right thing as the term has comments with examples that didn't quite fit the selfactivation situation; it mentions caspases that activate other caspases rather than themselves. Maybe I'm just too cautious. The PIDDosome is a bit of a nightmare to de-tangle, tbh.

[2018-11-08 13:44] pgaudet commented on #2133
_From @ukemi on November 8, 2018 13:5_

I think self activation doesn't just hang on this term. I think it is generally applicable as legitimate MF. @vanaukenk, @thomaspd  and @pgaudet do you agree in light of the MF refactoring? Should this be moved to the annotation tracker? It seems like more an annotation practice question than an ontology question.

[2018-11-08 13:44] pgaudet commented on #2133
_From @bmeldal on November 8, 2018 13:8_

I think it's in this paper: PMID:15073321

Yes, should be in Annotation tracker.

[2018-11-08 14:36] pgaudet commented on #2109
I dont have PTHR10183  locked !! Very strange... Can you check again ?

[2018-11-08 14:38] pgaudet commented on #2109
Never mind ! That was a while ago.

@marcfeuermann If you blocked the annotations that's OK. In these cases I would use IRK, not just 'block' propagation (IRD).

[2018-11-08 14:39] marcfeuermann commented on #2100
Both cerevisae and pombe have duplications within this little family, and the functions are indeed not well characterized. I've removed propagations as suggested.

[2018-11-08 14:39] #2100 closed

[2018-11-08 14:48] marcfeuermann commented on #2109
It was not locked anymore when I made the corrections. I indeed used IRK, not IRD :-)

[2018-11-08 14:48] #2109 closed

[2018-11-08 15:14] pgaudet opened #2134 "Review annotations to 'GO:0033212 iron import into cell' and children"
Hello,

There are some errors in the annotations of 'GO:0033212 iron import into cell' and children. Possibly this is because the term used to be labeled 'iron assimilation', and several mechanisms of iron import were missing.

I've added suggestions for all the annotations that need to be reviewed.
https://docs.google.com/spreadsheets/d/1bwOqVnt0QUxx1TwbdzQL22ylvOXS5xJBVLGkiuel0zA/edit#gid=0

Con

[2018-11-08 15:42] thomaspd commented on #2133
I think a GO-CAM might help to clarify how we should annotate these.  We want to describe the individual gene product functions to the extent possible.  At first glance (though I haven't had a chance to look closely, so those who've looked closely please correct me) it looks like maybe we can think of PIDD1 and CRADD each acting as a scaffold or adaptor (not unlike a MAP kinase cascade scaffold) t

[2018-11-08 16:31] hdrabkin commented on #2131
I assume that this rule would be IPI to the substrates of the reaction right?
So NO ATP binding  or target binding for a kinase BUt there could be another IPI for a binding partner that is not part of the catalytic reaction..

[2018-11-08 16:41] ukemi commented on #2134
MGI annotation changed to homeostasis.

[2018-11-08 16:42] ValWood commented on #2134
I deleted ours, but then I added them back.
@Antonialock  you did the original, but at first glance this seems correct to me. The oxidase reduced the iron for transport by the transmembrane transporter?

The term used to be called
"iron assimilation by reduction and transport" and I think it was for this process, at least originally.

seems to fit the def
A process in which iron is solubilized by

[2018-11-08 16:44] ValWood commented on #2134
The reference for the term is this one, doesn't look right?
http://europepmc.org/abstract/MED/16963626
It's a pombe paper about iron homeostasis, but not about this process?

[2018-11-08 16:51] ValWood commented on #2134
Sorry that's  a different process
involving the
plasma membrane ferric-chelate reductase Frp1
https://www.pombase.org/gene/SPBC1683.09c

this is
oxidase-permease-based iron transport
(standard ferrous iron transport system?)

I'll just delete.
Val

[2018-11-08 17:20] srengel commented on #2134
just now removed the one SGD annotation.

[2018-11-08 22:14] ValWood commented on #2064
Can definitely close!

[2018-11-08 22:14] #2064 closed

[2018-11-09 09:07] bmeldal commented on #2133
Paul, what you describe is correct but we are annotating to the PIDDosome itself where the PIDD1 and CRADD act as a scaffold and the CASP2 selfactivates. Subsequently, CASP2 appears to dissemble from PIDD1 and CRADD and then acts as an endopeptidase on downstream targets (but apparently not on other caspases).

CASP2 is always an endopeptidase, there's no doubt.
The PIDDosome is the complex within

[2018-11-09 10:37] pgaudet commented on #2134
@keseler

Yes, I think so. @marcfeuermann @Antonialock What does that seem right ?

[2018-11-09 11:13] hattrill commented on #1655
Hi all,

Just been and had a tidy up of the HTP review sheet and updated it - I've sorted them into those that have been done/finished (reviewed and, if needed removed/code updated). Here's the tally of those left:

AgBase | 29
EcoliWiki | 9
MGI | 27
MTBBASE | 1
TAIR | 83
UniProt | 3

https://docs.google.com/spreadsheets/d/11xExGJfj_39xPQUGkam3Xvtd6dtZ5DfANXhM2ZtDYB0/edit?ts=58d39700#gid=0

[2018-11-09 17:59] sandyl27 commented on #2134
CACAO changes made.

[2018-11-09 22:10] sabrinatoro commented on #2131
ZFIN annotations have been reviewed

[2018-11-10 00:34] srengel commented on #2131
SGD annotation have all been addressed (either removed or changed).

[2018-11-11 15:25] ValWood opened #2135 "IBA PANTHER:PTN000815317"
photorespiration |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000815317UniProtKB:Q944I4 | uridine kinase pthr10285 | protein |   | PMID:21873635 | 20170228

needs removing.

[2018-11-11 15:36] ValWood opened #2136 "IBA PANTHER:PTN000917495 (PTHR43828)"
SPAC977.12 | L-asparaginase (predicted) |   | positive regulation of transcription involved in G1/S transition of mitotic cell cycle |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000917495PomBase:SPAC22F3.09c more... | family not named pthr43828 | protein

 plus 2 others

The annotate protein is asparaginase
https://www.pombase.org/gene/SPAC977.12

but the protein in the "with" f

[2018-11-11 15:41] ValWood opened #2137 "PANTHER:PTN000430171"
Not sure if this was fixed when XXX was addressed, but meiotic septins are still annotated to mitotic cell cycle (seems to be another family)

spn5 | meiotic septin Spn5 |   | mitotic cytokinesis |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0013726FB:FBgn0014029MGI:MGI:1335094PANTHER:PTN000430171PomBase:SPAC4F10.11PomBase:SPAC821.06PomBase:SPAC9G1.11cPomBase:SPBC16A3.01SGD:S00000059

[2018-11-11 15:43] ValWood opened #2138 "IBA PANTHER:PTN000878439"
Rec11 is meitoci cohesin subunit, annotated to mitotic sister chromatid cohesion

	rec11	meiotic cohesin complex subunit Rec11		mitotic sister chromatid cohesion		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000878439
PomBase:SPAC17H9.20
SGD:S000001288	stromal antigen pthr11199	protein		PMID:21873635	20180920

[2018-11-11 15:47] ValWood opened #2139 "IBA PANTHER:PTN000019791 (PTHR10177) Cyclin"
rem1 is a meiosis specific cyclin

We don't annotate proliferation (it should be blocked  for direct annotation, or taxon restricted. Can't check because QuickGO isn't working)

Please remove the following

rem1 | meiosis-specific cyclin Rem1 |   | positive regulation of cell proliferation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000019791RGD:2293 more... | cycline pthr10177

[2018-11-11 15:50] ValWood opened #2140 "IBA PANTHER:PTN000020148"
crs1 is a meiosis specific cyclin

please remove:

crs1 | meiosis specific cyclin Crs1 |   | G2/M transition of mitotic cell cycle |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000020148SGD:S000003340 more... | cycline pthr10177 | protein |   | PMID:21873635 | 20171130

meiosis specific cyclin Crs1 |   | positive regulation of cell proliferation |   | GO_Central | Schizosaccharom

[2018-11-11 16:00] ValWood opened #2141 "PANTHER:PTN000288762 (PTHR12609)"
centrosome related terms should be taxon restricted for fission yeast

alp14 | TOG/XMAP215 microtubule plus end tracking polymerase Alp14 |   | centrosome duplication |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000288762dictyBase:DDB_G0268616 | microtubule associated protein xmap215 pthr12609 | protein

[2018-11-11 16:01] ValWood commented on #2141
although I see this too.
But NOT annotations should not be  written out right?

alp14 | TOG/XMAP215 microtubule plus end tracking polymerase Alp14 | NOT | centrosome duplication |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000288762PANTHER:PTN000972803 | microtubule associated protein xmap215 pthr12609 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:02] ValWood commented on #2141
also remove

alp14 | TOG/XMAP215 microtubule plus end tracking polymerase Alp14 |   | establishment or maintenance of microtubule cytoskeleton polarity |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000288762UniProtKB:Q14008 | microtubule associated protein xmap215 pthr12609 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:05] ValWood opened #2142 "PANTHER:PTN002000312"
I don't think  ATP14 (subunit h) is involved in complex assembly?
I *is* part of the complex ?

atp14 | F1-FO ATP synthase subunit H (predicted) |   | mitochondrial proton-transporting ATP synthase complex assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN002000312SGD:S000004286 | family not named pthr28207 | protein |   | PMID:21873635

[2018-11-11 16:06] ValWood opened #2143 "PANTHER:PTN001998502"
I don't think this is involved in assembly, it is part of the complex:

atp18 | F1-FO ATP synthase subunit J (predicted) |   | mitochondrial proton-transporting ATP synthase complex assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001998502SGD:S000007247 | family not named pthr28060 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:09] ValWood opened #2144 "PANTHER:PTN000152096"
It seems odd to annotate a histone to nucleosome assembly, it's part of the nucleosome?

hht1 | histone H3 h3.1 |   | nucleosome assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000152096UniProtKB:P68431 more... | histone h3 pthr11426 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:13] ValWood opened #2145 "PANTHER:PTN000344216"
6-phosphofructokinase oligomerises but this isn't a process?

pfk1 | 6-phosphofructokinase pfk1 |   | protein complex oligomerization |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000344216UniProtKB:P08237UniProtKB:P17858 | phosphofructokinase pthr13697 | protein |   | PMID:21873635 | 20180503

[2018-11-11 16:16] ValWood opened #2146 "PANTHER:PTN000315366"
Tim23 is part of the translocase, so
mitochondrial respiratory chain complex I assembly
seems indirect.
(pombe & cerevisiae  don't have complex I anyways...)

tim21 | TIM23 translocase complex subunit Tim21 (predicted) |   | mitochondrial respiratory chain complex I assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000315366UniProtKB:Q9BVV7 | family not named pthr13032 | pro

[2018-11-11 16:17] ValWood commented on #2146
tim21 | TIM23 translocase complex subunit Tim21 (predicted) |   | mitochondrial respiratory chain complex IV assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000315366UniProtKB:Q9BVV7 | family not named pthr13032 | protein |   | PMID:21873635 | 20170228
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-11-11 16:19] ValWood opened #2147 "PANTHER:PTN002000262"
I'm pretty sure that ERMES isn't involved in assembly of the TOM. Can't check as SGD is not accessible, but Its presumably and indirect phenotype?

	mdm12	ERMES complex subunit Mdm12		mitochondrial outer membrane translocase complex assembly		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN002000262
SGD:S000005369	family not named pthr28204	protein		PMID:21873635	20170228

[2018-11-11 16:21] ValWood opened #2148 "PANTHER:PTN000124617"
COPII cargo receptor doesn't regulate cell shape...

sec231 | COPII cargo receptor subunit Sec23a (predicted) |   | regulation of cell shape |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000124617UniProtKB:A0A0B4K5Z8 | protein transport protein sec23 pthr11141 | protein |   | PMID:21873635 | 20180425

[2018-11-11 16:26] ValWood opened #2149 "PANTHER:PTN000484343"
Is exocyst subunit, not involved in assembly

exo84 | exocyst complex subunit Exo84 (predicted) |   | exocyst assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000484343SGD:S000000306 | family not named pthr21426 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:27] ValWood opened #2150 "PANTHER:PTN000315823"
Is exocyst complex, not involved in assembly

sec5 | exocyst complex subunit Sec5 (predicted) |   | exocyst assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000315823SGD:S000002573 | exocyst complex component sec5 pthr13043 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:29] ValWood opened #2151 "PANTHER:PTN002000142"
Tom5 is TOm complex, not involved in assembly

tom5 | mitochondrial TOM complex subunit Tom5 (predicted) |   | mitochondrial outer membrane translocase complex assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN002000142SGD:S000006433 | family not named pthr28188 | protein |   | PMID:21873635

[2018-11-11 16:32] ValWood opened #2152 "PANTHER:PTN001164531"
I don't think either of these are correct.
Nrd1 isn't spliceosome, it isn't nuclear.....

nrd1 | RNA-binding protein Nrd1 |   | mRNA splicing, via spliceosome |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001164531SGD:S000006105 | cell cycle control protein pthr14089 | protein |   | PMID:21873635 | 20170228

  | nrd1 | RNA-binding protein Nrd1 |   | spliceosomal snRNP assembly |

[2018-11-11 16:43] ValWood opened #2153 "PANTHER:PTN000559990"
Isn't involved in translation (it's in the nucleolus???)

nhp2 | box H/ACA snoRNP complex subunit Nhp2 |   | translation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000559990RGD:620497 | ribosomal protein l7ae family member pthr23105 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:46] ValWood opened #2154 "PANTHER:PTN000559990"
tos4 isn't involved in translation...

tos4 | chromatin binding FHA domain protein Tos4 (predicted) |   | translation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000559990RGD:620497 | ribosomal protein l7ae family member pthr23105 | protein |   | PMID:21873635 | 20170228

[2018-11-11 16:47] ValWood opened #2155 "PANTHER:PTN000295290"
This doesn't look right:

rpb7 | DNA-directed RNA polymerase complex II subunit Rpb7 |   | positive regulation of translational initiation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000295290SGD:S000002812

[2018-11-11 16:56] ValWood opened #2156 "PANTHER:PTN000549682 (PTHR23050)"
Signaling seems a bit odd for myosin light chain? I don't think I would transfer that one...

cam2 | myosin I light chain Cam2 |   | calcium-mediated signaling |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000549682RGD:2257 more... | calcium binding protein pthr23050 | protein |   | PMID:21873635 | 20180406

[2018-11-11 16:58] ValWood commented on #2156
It's an EF hand protein, they all look pretty similar, but this isn't calmodiulin, so this might be a panther problem.

[2018-11-11 17:00] ValWood commented on #2156
and

cdc31 | spindle pole body half bridge protein, centrin Cdc31 |   | calcium-mediated signaling |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000549682RGD:2257 more... | calcium binding protein pthr23050 | protein |   | PMID:21873635 | 20180406

another EF hand protein in the same family

[2018-11-11 17:18] ValWood opened #2157 "PANTHER:PTN000330056"
Is involved in GPI anchor remodelling,
SPAC630.12 | GPI-remodelling mannose-ethanolamine phosphate phosphodiesterase (predicted) |   | ER to Golgi vesicle-mediated transport |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000330056SGD:S000001301

ER to Golgi vesicle-mediated transport

seems a little indirect?

[2018-11-11 17:30] ValWood opened #2158 "PANTHER:PTN000158371"
this looks like a phenotype. Can check tomorrow

	chl1	ATP-dependent DNA helicase Chl1 (predicted)		establishment of sister chromatid cohesion		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000158371
SGD:S000005929	dna repair dead helicase rad3/xp-d subfamily member pthr11472	protein		PMID:21873635	20180219

[2018-11-11 17:30] ValWood opened #2159 "PANTHER:PTN000015644"
mre11 isn't involved in sister chromatid cohesion

mre11 | Mre11 nuclease |   | sister chromatid cohesion |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000015644UniProtKB:P49959 | double-strand break repair protein mre11a pthr10139 | protein |   | PMID:21873635 | 20180302

[2018-11-11 17:31] ValWood opened #2160 "PANTHER:PTN000337082 -PTHR13489"
mcb1 is involved in replication not cohesion

mcb1 | MCM binding protein homolog Mcb1 |   | sister chromatid cohesion |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000337082TAIR:locus:2061833UniProtKB:Q9BTE3 | uncharacterized pthr13489 | protein |   | PMID:21873635 | 20170228

[2018-11-11 17:39] ValWood opened #2161 "PANTHER:PTN000111887"
SEA complex isn't involved in
attachment of mitotic spindle microtubules to kinetochore

seh1 | SEA complex subunit Seh1 |   | attachment of mitotic spindle microtubules to kinetochore |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000111887UniProtKB:Q96EE3 | protein transport protein sec13-related pthr11024 | protein |   | PMID:21873635 | 20180413

this seems  quite an old paper,

[2018-11-11 17:40] ValWood commented on #2161
also

seh1 | SEA complex subunit Seh1 |   | nuclear pore organization |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000111887UniProtKB:Q96EE3 | protein transport protein sec13-related pthr11024 | protein |   | PMID:21873635 | 20180413
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-11-11 17:50] ValWood opened #2162 "PANTHER:PTN000425880 PANTHER:PTN000303113"
this seems to be the term for the "translocon"
but this is the SRP?

sec65 | signal recognition particle subunit Sec65 (predicted) |   | SRP-dependent cotranslational protein targeting to membrane, translocation |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000425880SGD:S000004573 | signal recognition particle 19 kd protein pthr17453 | protein |   | PMID:21873635 | 20170228

shou

[2018-11-11 18:01] ValWood opened #2163 "PANTHER:PTN000599170"
In fission yeast this is a P-body protein, not rRNA processing (which is in nucleus)

sts5 | cytoplasmic P body 3'-5'-exoribonuclease, Dis3L2-related (predicted) |   | rRNA processing |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000599170TAIR:locus:2180172 | ribonuclease pthr23355 | protein |   | PMID:21873635 | 20170228

[2018-11-11 18:02] ValWood commented on #2163
and

SPBC609.01 | cytoplasmic P body 3'-5'-exoribonuclease, Dis3L2-related (predicted) |   | rRNA processing |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000599170TAIR:locus:2180172 | ribonuclease pthr23355 | protein |   | PMID:21873635 | 20170228

[2018-11-11 18:17] ValWood opened #2164 "PANTHER:PTN000567445"
This is telomeric DNA -binding protein in fission yeast. It isn't a spliceosome component

tcg1 | single-stranded telomeric binding protein Tgc1 |   | mRNA cis splicing, via spliceosome |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0260944PANTHER:PTN000567445 | serine/arginine rich splicing factor pthr23147 | protein |   | PMID:21873635 | 20180411

[2018-11-11 18:17] ValWood commented on #2164
tcg1 | single-stranded telomeric binding protein Tgc1 |   | regulation of alternative mRNA splicing, via spliceosome |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0004587FB:FBgn0011305 more... | serine/arginine rich splicing factor pthr23147 | protein |   | PMID:21873635 | 20180411
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-11-11 18:28] ValWood opened #2165 "PANTHER:PTN000403280"
Is telomerase regulator in fission yeast

telomerase regulator Est1 |   | nuclear-transcribed mRNA catabolic process, nonsense-mediated decay |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0019890FB:FBgn0039260 more... | smg-7 suppressor with morphological effect on genitalia protein 7 pthr15696 | protein |   | PMID:21873635 | 20170228

  | est1 | telomerase regulator Est1 |   | regul

[2018-11-11 18:29] ValWood opened #2166 "PTN000430231"
fission yeast have no cilia. This one should be taxon restricted.

	spn2	mitotic and meiotic (sporulation) septin Spn2		cilium assembly		GO_Central	Schizosaccharomyces pombe	IBA	MGI:MGI:97298
PANTHER:PTN000430231	septin pthr18884	protein		PMID:21873635	20170609
	spn7	meiotic septin Spn7		cilium assembly		GO_Central	Schizosaccharomyces pombe	IBA	MGI:MGI:97298
PANTHER:PTN000430231	septin pthr18884	p

[2018-11-11 18:33] ValWood opened #2167 "PANTHER:PTN001146520"
tea1 does not have a role in cytokinesis

tea1 | cell end marker Tea1 |   | mitotic actomyosin contractile ring localization |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001146520PomBase:SPAC6G10.02c | kelch repeat domain pthr23244 | protein |   | PMID:21873635 | 20171207

[2018-11-11 18:35] ValWood opened #2168 "PANTHER:PTN001904567"
not sure about this one, but I think fus1 is the formin for branched actin assembly (i.e but not contractile ring)

fus1 | formin Fus1 |   | mitotic actomyosin contractile ring assembly |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001904567PomBase:SPAC1F5.04c more... | family not named pthr47102 | protein |   | PMID:21873635 | 20180413

[2018-11-11 18:38] ValWood opened #2169 "PANTHER:PTN001278070"
Is indirect for fungal-type cell wall chitin biosynthetic process
(also pombe don't have chitin in cell wall, only spore)

bch1 | exomer complex ChAPs family (Chs5p-Arf1p-binding) protein Bch1 |   | fungal-type cell wall chitin biosynthetic process |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001278070SGD:S000001735 more... | family not named pthr31975 | protein |   | PMID:21873

[2018-11-11 18:45] ValWood opened #2170 "PTN000466551"
this gets "carbohydrate metabolism" from
"lipid A biosynthetic process"
I don't think yeast have "lipid A" seems to be a bacterial lipopolysaccharide.

Also needs a taxon restriction.

SPAC4H3.09 | mitochondrial [2Fe-2S] cluster assembly and type II fatty acid synthase component (predicted) |   | lipid A biosynthetic process |   | GO_Central | Schizosaccharomyces pombe | IBA | EcoGene:EG50003PANTH

[2018-11-11 18:47] ValWood opened #2171 "PANTHER:PTN000320077"
I think in pombe there is some sub functionalization here and this sdh7 is only mitochondrial respiratory chain complex II assembly

sdh7 | mitochondrial respiratory chain complex II assembly ACN9 family protein Sdh7 (predicted) |   | regulation of gluconeogenesis |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000320077SGD:S000002919 | dc11 acn9 homolog pthr13137 | protein |   | P

[2018-11-11 18:49] ValWood commented on #2171
also I don't think we should PAINT "response to" terms

sdh7 | mitochondrial respiratory chain complex II assembly ACN9 family protein Sdh7 (predicted) |   | response to oxidative stress |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0038437PANTHER:PTN000320077 | dc11 acn9 homolog pthr13137 | protein |   | PMID:21873635 | 20170228

[2018-11-11 18:54] ValWood opened #2172 "PANTHER:PTN000132977"
please remove, not normal role

coq7 | ubiquinone biosynthesis protein Coq7 |   | response to drug |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000132977RGD:2381WB:WBGene00000536 | coenzyme q10 biosynthesis protein 7 pthr11237 | protein |   | PMID:21873635 | 20180916

[2018-11-11 18:55] ValWood commented on #2172
might be an issue with the family, this seems a bit random

coq7 | ubiquinone biosynthesis protein Coq7 |   | negative regulation of transcription by RNA polymerase II |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000132977UniProtKB:Q99807WB:WBGene00000536 | coenzyme q10 biosynthesis protein 7 pthr11237 | protein |   | PMID:21873635 | 20180916

[2018-11-11 18:56] ValWood commented on #2172
and

coq7 | ubiquinone biosynthesis protein Coq7 |   | regulation of reactive oxygen species metabolic process |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000132977UniProtKB:Q99807WB:WBGene00000536 | coenzyme q10 biosynthesis protein 7 pthr11237 | protein |   | PMID:21873635 | 20180916

coq7 | ubiquinone biosynthesis protein Coq7 |   | positive regulation of transcription by RN

[2018-11-11 18:59] ValWood opened #2173 "PANTHER:PTN000279729"
I think there is some subfunctionalization in fission yeast. Need to be removed:

emi5 | succinate dehydrogenase complex assembly protein Emi5 (predicted) |   | mitochondrial electron transport, succinate to ubiquinone |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000279729UniProtKB:Q9NX18 | protein emi5 homolog, mitochondrial pthr12469 | protein |   | PMID:21873635 | 20170228

 

[2018-11-11 19:01] ValWood opened #2174 "PANTHER:PTN000042666"
and again, I don't think I'll ever eradicate this one

SPAC11E3.12 | mitochondrial thioredoxin family protein, implicated in sulfur cluster assembly |   | mitochondrial electron transport, NADH to ubiquinone |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000042666UniProtKB:P19404 | nadh dehydrogenase ubiquinone flavoprotein 2, mitochondrial pthr10371 | protein |   | PMID:21873635

[2018-11-11 19:02] ValWood opened #2175 "PANTHER:PTN000220240"
phenotypes

qcr1 | mitochondrial processing peptidase (MPP) complex beta subunit Mas1 (predicted) |   | mitochondrial electron transport, ubiquinol to cytochrome c |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:107876PANTHER:PTN000220240 | metalloprotease pthr11851 | protein |   | PMID:21873635 | 20170228

  | qcr1 | mitochondrial processing peptidase (MPP) complex beta subunit Mas1

[2018-11-11 19:06] ValWood opened #2176 "PANTHER:PTN002605026"
please remove "response to"

arg4 | arginine specific carbamoyl-phosphate synthase Arg4 |   | cellular response to cAMP |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN002605026RGD:2395 | carbamoyltransferase related pthr11405 | protein |   | PMID:21873635 | 20180503

arg4 | arginine specific carbamoyl-phosphate synthase Arg4 |   | response to lipopolysaccharide |   | GO_Central |

[2018-11-11 19:11] ValWood opened #2177 "PANTHER:PTN000160708"
I have never seen any evidence that these are involved directly in transport. They are required for the upstream ribosome assembly. Misassembly  *affects* transport

rps001 | 40S ribosomal protein S0A (p40) |   | rRNA export from nucleus |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000160708SGD:S000003446SGD:S000004038 | 40s ribosomal protein sa pthr11489 | protein |   | PMID:21

[2018-11-11 19:12] ValWood commented on #2177
rps002	40S ribosomal protein S0B		rRNA export from nucleus		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000160708
SGD:S000003446
SGD:S000004038	40s ribosomal protein sa pthr11489	protein		PMID:21873635	20170228

[2018-11-11 19:15] ValWood opened #2178 "PANTHER:PTN000086482"
cdb4	endonuclease Cdb4 (predicted)		ribosomal large subunit export from nucleus		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000086482
SGD:S000002508	protease family m24 methionyl aminopeptidase, aminopeptidase p pthr10804	protein		PMID:21873635	20180308

I don't think cdb4 is *that* closely related to arx1

this is pombe arx 1 ortholog
https://www.pombase.org/gene/SPBC23E6.05

[2018-11-11 19:18] ValWood opened #2179 "PANTHER:PTN000559727 (PTHR46156) CCCH Zn finger"
NURS complex/Red5 isn't export as far as I'm aware, are these phenotypes?
(in pombe red5 is  involved in the degradation of meiosis specific transcripts)

red5 | NURS complex subunit Red5 |   | poly(A)+ mRNA export from nucleus |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0035900PANTHER:PTN000559727UniProtKB:Q8IXZ2 | family not named pthr46156 | protein |   | PMID:21873635 | 2017022

[2018-11-11 19:20] ValWood opened #2180 "PANTHER:PTN000275634 (PTHR12412 - CAP binding protein)"
not suitable for fission yeast

cbc1	nuclear cap-binding complex large subunit (predicted)		primary miRNA processing		GO_Central	Schizosaccharomyces pombe	IBA	FB:FBgn0022942
PANTHER:PTN000275634
TAIR:locus:2054137	cap binding protein pthr12412	protein		PMID:21873635	20170228

isn't involved directly in transport

cbc1 | nuclear cap-binding complex large subunit (predicted) |   | mRNA export from n

[2018-11-11 19:21] ValWood opened #2181 "PANTHER:PTN000567094"
cwf29 is splicosome associated, not export

cwf29 | RNA-binding protein Cwf29 |   | mRNA export from nucleus |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000567094SGD:S000001444 | family not named pthr45880 | protein |   | PMID:21873635 | 20170228

[2018-11-11 20:36] ValWood opened #2182 "PTN002378821"
Is this correct?
This is ferrichrome synthase. It's a

ligase activity, forming carbon-nitrogen bonds
(i.e non-ribosomal peptide synthase)?

sib1 | ferrichrome synthetase Sib1 |   | nucleotidyltransferase activity |   | GO_Central | Schizosaccharomyces pombe | IBA | EcoGene:EG10264PANTHER:PTN002378821 | family not named pthr45527 | protein |   | PMID:21873635 | 20171018

[2018-11-11 20:41] ValWood opened #2183 "PANTHER:PTN000211590 (PTHR10755)"
coproporphyrinogen oxidase activity

gets
	hem13	coproporphyrinogen III oxidase Hem13 (predicted)		protoporphyrinogen IX biosynthetic process from glutamate		GO_Central	Schizosaccharomyces pombe	IBA	EcoGene:EG12189
PANTHER:PTN000079415	coproporphyrinogen iii oxidase, mitochondrial pthr10755	protein		PMID:21873635	20170602

so it becomes annotated to "amino acid metabolism"

I don't see a connectio

[2018-11-11 20:45] ValWood opened #2184 "PTN000465402"
methionine biosynthetic process doesn't seem correct?

tol1 | 3'(2'),5'-bisphosphate nucleotidase/inositol-1,4- bisphosphate 1-phosphatase |   | methionine biosynthetic process |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000465402SGD:S000005425 | family not named pthr43200 | protein |   | PMID:21873635 | 20170228

[2018-11-11 20:45] ValWood commented on #2184
seems a bit indirect?
I have
sulfate assimilation

[2018-11-11 20:47] ValWood opened #2185 "PANTHER:PTN000247701 (PTHR12039)"
Seems a bit indirect, or not exclusively from aspartate?

SPAC806.06c | nicotinamide mononucleotide (NMN) adenylyltransferase (predicted) |   | 'de novo' NAD biosynthetic process from aspartate |   | GO_Central | Schizosaccharomyces pombe | IBA | EcoGene:EG13241PANTHER:PTN000247701 | nicotinamide mononucleotide adenylyltransferase pthr12039 | protein |   | PMID:21873635 | 20170228

[2018-11-11 20:56] ValWood opened #2186 "PANTHER:PTN002310337 (PTHR15375)"
no evidence that this regulates replication in pombe (it's the paralogous kinase complex

Hsk1-Dfp1 kinase complex

spo6 | Spo4-Spo6 kinase complex regulatory subunit Spo6 |   | positive regulation of DNA replication |   | GO_Central | Schizosaccharomyces pombe | IBA | FB:FBgn0000307PANTHER:PTN002310337 | activator of s-phase kinase-related pthr15375 | protein |   | PMID:21873635 | 20170413

[2018-11-11 20:59] ValWood opened #2187 "PANTHER:PTN000747050"
no evidence that this regulates replication in pombe (it's the paralogous kinase complex

Hsk1-Dfp1 kinase complex

spo4 | serine/threonine protein kinase Spo4 |   | double-strand break repair via break-induced replication |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000747050SGD:S000002175 | casein kinase-related pthr11909 | protein |   | PMID:21873635 | 20170228

  | spo4 | se

[2018-11-11 21:07] ValWood opened #2188 "PANTHER:PTN001009292 (PTHR13710)"
please remove all from tlh1 (this is a telomeric helicase related to rqh1 but it has a totally different function, non- canonical). I don't think any of these are quite right.

tlh1 | RecQ type DNA helicase |   | UV-damage excision repair |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001009292PomBase:SPAC2G11.12 | dna helicase recq family member pthr13710 | protein |   | PMID:218

[2018-11-11 21:08] ValWood commented on #2188
also

tlh2 | RecQ type DNA helicase Tlh1 |   | regulation of mitotic recombination involved in replication fork processing |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001009292PomBase:SPAC2G11.12 | dna helicase recq family member pthr13710 | protein |   | PMID:21873635 | 20180411

  | tlh2 | RecQ type DNA helicase Tlh1 |   | mitotic sister chromatid segregation |   | GO_Central

[2018-11-11 21:09] ValWood opened #2189 "PANTHER:PTN000145560"
not checkpoint

msh6 | MutS protein homolog |   | mitotic G2 DNA damage checkpoint |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000145560UniProtKB:E1BYJ2 | dna mismatch repair muts related proteins pthr11361 | protein |   | PMID:21873635 | 20180410

[2018-11-11 21:11] ValWood commented on #2189
msh6	MutS protein homolog		negative regulation of DNA endoreduplication		please remove, incorretc

GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000145560
UniProtKB:E1BYJ2	dna mismatch repair muts related proteins pthr11361	protein		PMID:21873635	20180410

[2018-11-11 21:13] ValWood commented on #2188
same for

	SPAC212.06c	DNA helicase in rearranged telomeric region, truncated		mitotic sister chromatid segregation		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN001009292
SGD:S000004802	dna helicase recq family member pthr13710	protein		PMID:21873635	20180411
	SPAC212.06c	DNA helicase in rearranged telomeric region, truncated		meiotic DNA double-strand break processing		GO_Central	Schizosa

[2018-11-11 21:18] ValWood commented on #2158
this one is OK.

[2018-11-11 21:18] #2158 closed

[2018-11-11 21:37] ValWood opened #2190 "PANTHER:PTN000635769"
Please remove lysosome organization for pombe (and all fungi).
Should be taxon restricted,

  | ypt71 | GTPase Ypt71 |   | phagosome-lysosome fusion |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000635769UniProtKB:P51149 | family not named pthr24073 | protein |   | PMID:21873635 | 20170228

  | ypt7 | GTPase Ypt7 |   | phagosome-lysosome fusion |   | GO_Central | Schizosaccharomy

[2018-11-11 21:42] ValWood opened #2191 "PANTHER:PTN000177171"
I would not transfer (or make?) this annotation

mgl1 | mitochondrial acylglycerol lipase Mgl1 (predicted) |   | regulation of signal transduction |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:1346042PANTHER:PTN000177171 | phospholipase-related pthr11614 | protein |   | PMID:21873635 | 20170228

One IMP from this paper
https://www.ncbi.nlm.nih.gov/pubmed/17700715?dopt=Abstract

[2018-11-11 21:43] ValWood opened #2192 "PANTHER:PTN000889444"
not sure of the provenance of this one,  but this mitochondrial ribosomal protein is highly unlikely to be involved in regulation of Ras protein signal transduction????

SPBC2F12.10 | mitochondrial ribosomal protein subunit L35 (predicted) |   | regulation of Ras protein signal transduction |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000889444SGD:S000004168

I don't see this an

[2018-11-11 21:43] ValWood opened #2193 "PANTHER:PTN000116269"
fbh1	DNA helicase I, ubiquitin ligase F-box adaptor Fbh1	positive regulation of intrinsic apoptotic signaling pathway in response to DNA damage	GO_Central	Schizosaccharomyces pombe	IBA PANTHER:PTN000116269
UniProtKB:Q8NFZ0	uvrd / recb / pcra dna helicase family member pthr11070	protein PMID:21873635	20180308

fbh1 | DNA helicase I, ubiquitin ligase F-box adaptor Fbh1 |   | cell death |   | GO_Cent

[2018-11-11 21:44] ValWood opened #2194 "PANTHER:PTN000633534"
ERMES isn't involved in mitochondrial transport along microtubules  as far as I'm aware
(its a membrane complex that  tethers mitochondria to the ER?)

gem1 | ERMES complex GTPase subunit Gem1 (predicted) |   | mitochondrion transport along microtubule |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000633534UniProtKB:Q8IXI1UniProtKB:Q8IXI2 | rho family gtpase pthr24072 | protein |

[2018-11-12 09:23] pgaudet commented on #2117
Duplicate of #2167
I dont see 'mitotic actomyosin contractile ring localization' being propagated in PAINT.

According to a file @dustine32 sent me, the last modification to that family was done on 2017-12-07.

I don't understand why this looks different @dustine32 - any idea?

Thanks, Pascale

[2018-11-12 09:23] #2167 closed

[2018-11-12 17:49] pgaudet commented on #2131
Looks like everyone is ok with implementing this rule.

@vanaukenk @ValWood OK with you ?

[2018-11-12 18:19] ValWood commented on #2131
GO for it. I didn't check ours yet but since there are only 3 I'm sure I can find another way.

[2018-11-12 19:16] hdrabkin commented on #2131
MGI has changed theirs

[2018-11-13 14:46] vanaukenk commented on #2045
@pgarmiri - we will be discussing this issue on today's call.  Can you attend?  Thx.

[2018-11-13 14:52] pgarmiri commented on #2045
@vanaukenk , yes, great, I will be there.
Penelope

[2018-11-13 16:00] tberardini commented on #2131
Thanks, @ValWood.  I suggest applying the 'no IPI' rule to only the _is_a_ children of 'catalytic activity'.

[2018-11-13 16:07] pgaudet commented on #2131
OK I requested that we implemented that.

[2018-11-13 16:09] pgaudet commented on #2131
FlyBase @hattrill
CACAO @sandyl27
AspGD  	@marekskrzypek

Still have annotations to catalytic activity or children by IPI. Do you want to have a look ?

[2018-11-13 16:44] dustine32 commented on #2117
I think this issue got cleared out recently due to whatever change, possibly related to PAINT GAF generation (e.g. https://github.com/geneontology/go-annotation/issues/2104#issuecomment-436723354 for IKR/IRDs to leaf nodes). Looking for `SPCC1223.06` annotated to `GO:1902405` I don't see it in the latest file:
[code]

[2018-11-13 16:46] pgaudet commented on #2117
This matches what I see in PAINT and in Pantree.

How can we tell where this is coming from ?

[2018-11-13 17:36] ValWood commented on #2117
This is coming from the function process inference file.
i.e. source GO_central.
When was this updated?

[2018-11-13 17:38] ValWood commented on #2131
I changed the 3 pombe ones to EXP because really they combine 2 pieces of data with different evidence codes...

[2018-11-13 18:53] dustine32 commented on #2117
Oh now I see this wasn't due to the GAF generation script change. The IBD of `PTN001146520` to `GO:1902405` was simply obsoleted by Marc Feuermann on 11/5/18.

[2018-11-13 20:30] hattrill commented on #2131
We do not have any - these are enzyme regulator terms: protein phosphatase inhibitor activity & GTPase activator activity

[2018-11-14 08:45] pgaudet commented on #2117
OK good, thanks for checking @dustine32

@ValWood We should always wait for a new release before re-opening tickets. Now there hasn't been an AmiGO release since Oct 9th, this is why I haven't looked at the tickets you opened - some may have been closed but we can't seen.

Thanks, Pascale

[2018-11-14 08:50] pgaudet commented on #2131
Thanks for checking @hattrill

[2018-11-14 09:45] ValWood commented on #2117
I'm trying not to duplicate but it's difficult to know how long changes will take. I would expect May changes to be through by now?

[2018-11-14 09:51] pgaudet commented on #2117
I think 11/5/18 is November, not May ?

I can't find the ticket :(
Neither with tea1 or PTN001146520 or SPCC1223.06	or pthr23244

Weird !!!!

Maybe it's another PTN of pthr23244 that also fixed this one ?

[2018-11-14 09:58] pgaudet commented on #2131
So, we have 2 left:
CACAO: 5'-3' exonuclease activity @sandyl27
one SGN annotation. We don't have any contact for SGN - @ggeorghiou @vanaukenk Do you ?

[2018-11-14 15:37] tberardini commented on #2131
Re: SGN contact, try Lukas Mueller: @lukasmueller.

[2018-11-14 15:40] lukasmueller commented on #2131
Hello, what is this about?

cheers
Lukas

[2018-11-14 16:06] pgaudet commented on #2131
Hello @lukasmueller! How are you doing ?

We would like to implement a rule that forbids annotating GO:catalytic activity or children using the IPI evidence code. SGN has one annotation failing that rule: see in this document
https://docs.google.com/spreadsheets/d/16CRMSe5J_Hws5sMXIpLsTiFt5tSXgFkoUFfGuKx4JUw/edit#gid=0

Can you check whether a difference evidence can be used ?

Thanks, Pascale

[2018-11-14 16:12] sandyl27 commented on #2131
CACAO is done

[2018-11-14 18:35] sabrinatoro opened #2195 "PAINT annotations for spindle pole body (GO:0005816)"
spindle pole body (GO:0005816) : The microtubule organizing center in fungi; functionally homologous to the animal cell centrosome.
This term should be restricted to fungi

It looks like there are some IBA annotations to this term for zebrafish (and human, rat, mouse, fly... according to amigo).
These annotations should be removed.

Thanks

[2018-11-15 07:55] ValWood commented on #2195
Or go to GO:0005815  microtubule organizing center

It's a shame we have 2 term, increasingly researchers refer to yeast spindle pole bodies as "centrosomes"

Key phosphorylation events in Spc29 and Spc42 guide multiple steps of yeast centrosome duplication.

Jones MH, O'Toole ET, Fabritius AS, Muller EG, Meehl JB, Jaspersen SL, Winey M.

Mol Biol Cell. 2018 Sep 15;29(19):2280-2291. doi: 10.1091/m

[2018-11-15 08:08] ValWood commented on #2195
105/145 fission yeast spindle pole body components are already identified in metazoa...(c.f. 125/145 cerevisiae). I suspect most of the remainder (except DASH complex) are also conserved I just haven't been able to detect yet. SPB components are difficult because they are often coiled-coil.

[2018-11-15 09:35] pgaudet opened #2196 "Missing NOT annotation PTHR10003"
CCS human should have NOT  superoxide dismutase activity

@dustine32 can you tell where that went???

We probably should write a full history of annotations added and removed in the 'curators notes' file.

[2018-11-19 08:57] pgaudet commented on #1777
@srengel See comment from @marekskrzypek  above:

He suggests to change annotations as follows:

(...)

Do you agree with this? And if you do, can you change the annotations accordingly ?

Thanks, Pascale

[2018-11-19 09:57] pgaudet opened #2197 "Review annotations to GO:0006607 - NLS-bearing protein import into nucleus"
Hello,

Can you please review these annotations to GO:0006607 - NLS-bearing protein import into nucleus

Group | Annotations
-- | --
FlyBase | 5
SGD | 3
UniProt | 2

https://docs.google.com/spreadsheets/d/1AYSL_Lzy-BgmYKwaXyjEIOuSK2gankC1EOtSlCW_Vfo/edit?usp=sharing

(Note that this time I also listed the annotations that seemed correct to me, so we can use that in the starts in the future).

Than

[2018-11-19 10:09] pgaudet commented on #2131
Hello @lukasmueller
I am closing this ticket. We will implement this rule, so if the evidence code is not changed at SGN, this annotation will be filtered from AmiGO and not exported.

Thanks, Pascale

[2018-11-19 10:09] #2131 closed

[2018-11-19 10:50] #1818 closed

[2018-11-19 11:02] #2020 closed

[2018-11-19 12:03] mah11 commented on #2117
this is why ISO date format is your friend

[2018-11-19 13:44] pgaudet commented on #2020
I dont see the Dicty annotation anymore.

[2018-11-19 13:47] pgaudet commented on #1708
Q51460 is now fixed

[2018-11-19 13:47] #1708 closed

[2018-11-19 13:50] ggeorghiou commented on #2197
UniProt is fixed but I don't have write access to the spreadsheet.

[2018-11-19 15:55] pgaudet commented on #2117
OK, gone in the release from Friday.

:)

[2018-11-19 15:55] #2117 closed

[2018-11-19 17:22] pgaudet commented on #2024
Closing this. Some groups have not responded
@hdrabkin @hattrill @pgarmiri

but the term has already been obsoleted.

[2018-11-19 17:22] #2024 closed

[2018-11-19 17:38] pgarmiri commented on #2024
@pgaudet I had another look at the spreadsheet. There is only one annotation from UniProt left but is ISS, so this should have been fixed automatically after the parent was corrected.
Thanks

[2018-11-19 17:45] pgaudet commented on #2022
@sabrinatoro
@ukemi
There are still some annotations to change.

Can you please have a look ?
https://docs.google.com/spreadsheets/d/1oNydnJavcA_8oGE5U8eR32Tne8N8kZEaa6rQAeYuuuc/edit#gid=2066403410

Thanks, Pascale

[2018-11-19 18:38] sabrinatoro commented on #2022
Thank you for bringing this to my attention.
The ZFIN annotations have been changed.

[2018-11-19 20:10] hdrabkin commented on #1927
mgi fixed

[2018-11-19 21:39] pgaudet commented on #2135
@ValWood next time plus provide the Pombase ID. How do I know what to look at?
Can you check if this (and others) were fixed in the release that just came out Friday ?

[2018-11-19 22:53] ValWood commented on #2135
That's weird, I'm cutting and pasting the row from AmiGO. Do none of these contain the pombe ID?

[2018-11-19 22:59] ValWood commented on #2135
first two rows missed

mug58 | GLYK family kinase of unknown specificity, implicated in nucleotide metabolism (predicted)

I can check  this one and any other the taxon ones on Friday, but all of the others are completely new, so there is no reason why they would be fixed already? I'll spot check a few but I would assume there is still a problem with these.

[2018-11-20 00:16] suzialeksander commented on #2197
Nup145 is a nuclear pore component, so this looks ok- the other protein's annotation was deleted in Protein2GO in Feb of this year, so probably shouldn't still be showing up on these sheets (Cmd1 )?
Let me know if there's a specific reason the Nup145 annotations from SGD are flagged.

[2018-11-20 08:37] pgaudet commented on #2135
OK thanks, I'll have a look, I wasn't sure.

[2018-11-20 08:45] pgaudet commented on #2197
Hello,

Thanks @hattrill @suzialeksander
I am not sure about SGD - I asked Flybase because the spreadsheet wasn't filled, I wan't sure you had checked.

Thanks, Pascale

[2018-11-20 08:46] pgaudet commented on #2197
I see one annotation by MGI: MGI:MGI:103223
@hdrabkin Can you have a look ?

[2018-11-20 09:16] ValWood commented on #2135
I checked as I submitted the IDs. The only duplicate was
https://github.com/geneontology/go-annotation/issues/2167
but I included these as at the time I thought  the fix should have come through.

[2018-11-20 10:14] hattrill commented on #2097
How long before this fix comes through? I can see 5710 annotations direct to protein binding in AmiGO GO:0005515.

[2018-11-20 10:21] pgaudet commented on #2135
Fixed.

[2018-11-20 10:21] #2135 closed

[2018-11-20 16:55] ValWood opened #2198 "IPR019809 nucleosome assembly"
Since histones are a component of the nucleosome I'm not sure they should be annotated to nucleosome assembly?

(I 'd use this term for some of  the histone chaperones)

[2018-11-20 17:14] ValWood opened #2199 " UR000106107 mappings for Ermes complex subunits"
Ermes complex

- | GO:0070096 | mitochondrial outer membrane translocase complex assembly | IEA with UR000106107

not sure who handles these?

[2018-11-20 17:44] srengel commented on #1777
hi sure i'll take a look.

[2018-11-20 18:01] srengel commented on #1777
ok i changed the 3 SGD annotations in P2GO just now.  thanks @marekskrzypek for looking up the necessary info.  that made it super easy. :)

[2018-11-20 18:01] #1777 closed

[2018-11-20 18:18] hdrabkin commented on #2197
what exactly is the issue here?

[2018-11-20 18:30] pgaudet commented on #1777
Thanks!

[2018-11-20 18:48] dms321 commented on #2197
Removed

[2018-11-20 18:49] dms321 commented on #2197
?Removed

________________________________
From: pgaudet <notifications@github.com>
Sent: Tuesday, November 20, 2018 1:29 PM
To: geneontology/go-annotation
Cc: Dmitry Sitnikov; Assign
Subject: Re: [geneontology/go-annotation] Review annotations to GO:0006607 - NLS-bearing protein import into nucleus (#2197)

@hdrabkin<https://github.com/hdrabkin> I don't think MGI:103223 (von Hippel-Lindau tumor s

[2018-11-20 18:52] hdrabkin commented on #2197
Wish you had at second emal; if you thought it was good we could change qualilfier to ‘acts upstream or within’ ; we shouldn’t remove it just because it’s not directly involved if the data is good (assume they knocked down von-hipple and saw an effect?

From: dms321 <notifications@github.com>
Reply-To: geneontology/go-annotation <reply@reply.github.com>
Date: Tuesday, November 20, 2018 at 1:49 PM

[2018-11-21 08:58] #2197 closed

[2018-11-21 10:46] asangrador commented on #2198
I have removed the term.
Cheers

[2018-11-21 15:45] ValWood opened #2200 "PANTHER:PTN000075014"
lid2 | Lid2 complex PHD finger and jmjC subunit Lid2 |   | DNA-binding transcription repressor activity, RNA polymerase II-specific |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:104813PANTHER:PTN000075014 | jumonji domain containing protein pthr10694 | protein |   | PMID:21873635 | 20180301

Lid2 is a histone demethylase
(gets catalytic activity, then
DNA-binding transcription repre

[2018-11-21 15:46] ValWood commented on #2200
Also

jmj3 | Lid2 complex subunit, histone demethylase H3-K36 specific Jmj3 |   | DNA-binding transcription repressor activity, RNA polymerase II-specific |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:104813PANTHER:PTN000075014 | jumonji domain containing protein pthr10694 | protein |   | PMID:21873635 | 20180301

[2018-11-21 15:49] ValWood commented on #2200
jmj2	histone demethylase Jmj2		DNA-binding transcription repressor activity, RNA polymerase II-specific		GO_Central	Schizosaccharomyces pombe	IBA	MGI:MGI:104813
PANTHER:PTN000075014	jumonji domain containing protein pthr10694	protein		PMID:21873635	20180301

msc1 | Swr1 complex subunit Msc1 | Schizosaccharomyces pombe | jumonji domain containing protein pthr10694
-- | -- | -- | --

[2018-11-21 16:04] ValWood opened #2201 "PANTHER:PTN000270822"
not DNA binding TF

	SPCC18.03	shuttle craft like transcriptional repressor/ubiquitin-protein ligase E3 (predicted)		RNA polymerase II regulatory region sequence-specific DNA binding		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000270822
UniProtKB:Q12986	nuclear transcription factor, x-box binding 1 nfx1 pthr12360	protein		PMID:21873635	20170228

	SPCC18.03	shuttle craft like transcription

[2018-11-21 16:07] ValWood opened #2202 "PANTHER:PTN001712033"
This does seem to have a role in regulating gene expression but I don't think it directly binds to promoter motifs:

mtf1 | mitochondrial RNA polymerase specificity factor, predicted rRNA methyltransferase Mtf1 |   | mitochondrial sequence-specific DNA-binding transcription factor activity |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001712033SGD:S000004841 | dimethyladenosine t

[2018-11-21 17:31] pgaudet commented on #2194
@ValWood Can you add labels when you create these tickets ? Thanks :)

[2018-11-21 17:33] pgaudet commented on #2022
@hdrabkin
There is still

MGI:MGI:1277238
MGI:MGI:1918349
 to look at.

[2018-11-21 17:36] pgaudet commented on #2104
@ValWood These are now gone, except we left 'NADH dehydrogenase activity' (similar to 'oxygenase activity' predicted by http://www.ebi.ac.uk/interpro/entry/IPR002023.

Please close if it's OK.

Thanks, Pascale

[2018-11-21 17:40] hdrabkin commented on #2022
These two cannot be changed as they are imported from GOA (UniProt); they will change when that change in GOA gets into the load pipleline

[2018-11-21 17:49] ValWood commented on #2194
oops, done...

[2018-11-21 17:51] ValWood commented on #2104
These aren't NADH dehydrogenase's though?
I'll contact InterPro...

[2018-11-21 18:00] pgaudet commented on #2104
The family is called 'NADH-quinone oxidoreductase subunit E-like '
"The 24 Kd subunit is highly similar to [PMID: 1445936, PMID: 7690854]: Subunit E of Escherichia coli NADH-ubiquinone oxidoreductase (gene nuoE). Subunit NQO2 of Paracoccus denitrificans NADH-ubiquinone oxidoreductase."

[2018-11-21 19:23] ValWood commented on #2104
but InterPro don't annotate to
NADH dehydrogenase
only to
GO:0016491 oxidoreductase activity

There is a mixed bag of stuff in here (the NADH are sub families). All I know is that in fission/budding this is not an NADH dehydrogenase subunit. Possibly due to lineage specific changes.

[2018-11-21 19:33] ValWood commented on #2104
yes, that's what we did. We couldn't be any more specific.

[2018-11-21 20:52] pgaudet commented on #2200
SPBP19A11.06 is annotated to 'negative regulation of transcription by RNA polymerase II' - you think that's unique to that one ?

[2018-11-21 21:10] ValWood commented on #2200
I don't think SPBP19A11.06 should have this annotation, but that depends how  heterochromatin  assembly and transcription are related.

It is involved in chromatin silencing at the centromere and this is positioned under "negative regulation of transcription". I'm not sure we should have these 'silencing'  terms (they are probably a readout), they are legacy terms before we know what the mechanism

[2018-11-22 13:35] pgaudet commented on #2200
How about chromatin remodeling ?

[2018-11-22 13:38] pgaudet commented on #2200
@ValWood Should SPAC343.11c be annotated to BP histone acetylation ? It doesn't match the MF.

[2018-11-22 13:40] ValWood commented on #2200
I think that would be safest.

[2018-11-22 13:53] ValWood commented on #2200
should probably be "regulation of histone acetylation"
or  probably even
GO:0035034    histone acetyltransferase regulator activity
It binds to the acetylase, is a member of an acetylase complex and affects "histone acetylation"

However, I guess we aren't sure yet whether its activity in histone exchange is directly related to  the action of MSc1 on the histone acetyltransferase activity OR it ha

[2018-11-22 13:55] ValWood commented on #2200
Actually, for these modification in process terms, it makes sense that if it has a role in the process, and it isn't the *actual* acetylase, then it *must* be regulating the process?

[2018-11-22 13:57] ValWood commented on #2200
Oh shoot, its wrong *Anyway* all of the above should be "DEacetylation" not "acetylation"!!!

[2018-11-22 14:02] pgaudet commented on #2200
yes sorry, we have deacetylase activity in PAINT.

[2018-11-22 14:07] ValWood commented on #2200
I deleted that annotation. I would not annotate to "deacetylase activity", that's a function of the complex this subunit doesn't have the activity.

Swr1 complex is a multimember, multifunctional complex, but it isn't the deacetylase.

It's possibly regulates the process. For now, I deleted the "histone acetylation" and I didn't replace it with "regulation of histone acetylation" becasue this is r

[2018-11-22 14:18] pgaudet commented on #2200
OK fixed again. Primary annotations are rather misleading.

[2018-11-22 14:18] #2200 closed

[2018-11-22 14:43] ValWood commented on #2104
yes. Some fungi do have the complex but in general be aware that this is a huge 43 subunit macromolecular complex and some  annotations may not really be involved in this.

Unfortunately, there is no good data from any species, I think it is really unclear. Personally I don't think these thioredoxin are related directly to the "NADH dehydrogenase (ubiquinone) activity " in any species. When I look

[2018-11-22 14:47] pgaudet commented on #2104
OK, let me know about bacteria. Maybe we need primary annotations to be reviewed.

[2018-11-23 19:43] RLovering commented on #1927
sorry ours were done in July but form not completed completely

[2018-11-26 09:36] pgaudet commented on #1927
@bmeldal can you please check the IntAct annotation ?

[2018-11-26 09:44] bmeldal commented on #1927
As for Ruth, change was made but I forgot to update the spreadsheet. Sorry.

[2018-11-26 09:56] pgaudet commented on #1927
No problem. Thanks for checking.

Pascale

[2018-11-26 13:44] pgaudet commented on #2022
Great ! Thanks everyone.

[2018-11-26 13:44] #2022 closed

[2018-11-26 13:51] pgaudet commented on #2111
Hello,

The genes listed should really be reviewed. The term merge means that the gene products are now annotated to general transcription factor activity, which by looking at the gene names, seems incorrect.

I think UniProt annotations were fixed by @pgarmiri , but not the others.
 @vanaukenk, @ValWood, @hdrabkin, @hattrill, @RLovering, @srengel can you please have a look ?
https://docs.google.c

[2018-11-26 13:58] pgaudet commented on #2134
Hi  	@marekskrzypek
Can you look at the CDG and AspGD annotations ? https://docs.google.com/spreadsheets/d/1bwOqVnt0QUxx1TwbdzQL22ylvOXS5xJBVLGkiuel0zA/edit#gid=0

Thanks, Pascale

[2018-11-26 15:34] hattrill commented on #2111
Fixed ours now.

[2018-11-26 15:40] RLovering commented on #2111
done and spreadsheet updated

[2018-11-26 15:55] marekskrzypek commented on #2134
Done.

Thanks,
Marek

On Nov 26, 2018, at 8:58 AM, pgaudet <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @marekskrzypek<https://github.com/marekskrzypek>
Can you look at the CDG and AspGD annotations ? https://docs.google.com/spreadsheets/d/1bwOqVnt0QUxx1TwbdzQL22ylvOXS5xJBVLGkiuel0zA/edit#gid=0

Thanks, Pascale

—
You are receiving this because you were mentioned.
Reply t

[2018-11-27 12:07] pgaudet commented on #2134
Thanks !

[2018-11-27 12:07] #2134 closed

[2018-11-27 12:17] pgaudet commented on #2039
Annotations to GO:0000991 are here: https://docs.google.com/spreadsheets/d/16CWA5XBcBHVTaKutTcKtWLmqTeaU9x4Pt-TNBNxpxqQ/edit#gid=0

[2018-11-27 12:17] #2039 closed

[2018-11-27 13:19] pgaudet commented on #2195
Can we merge ??

@sabrinatoro
I reviewed PTHR23050 and PTHR28520. I don't know which protein you were looking at; if that doesn't solve the issue please open a new ticket, citing the protein ID that had incorrect annotations.

(I don't find any annotations to GO:0005816 in the ZFIN report: http://snapshot.geneontology.org/reports/paint_zfin-report.html - do you guys filter out annotations that fai

[2018-11-27 13:19] #2195 closed

[2018-11-27 13:39] pgaudet opened #2203 "Review annotations to GO:0000060 - protein import into nucleus, translocation, and regulation children"
Hello,

As explained in https://github.com/geneontology/go-ontology/issues/16698, we plan to obsolete

- GO:0000061  protein import into nucleus, substrate release: 0 annotations

- GO:0000060  protein import into nucleus, translocation: 39 EXP
- GO:0033158 regulation of protein import into nucleus, translocation: 5 EXP
- GO:0033159 negative regulation of protein import into nucleus, translocation

[2018-11-27 13:53] ValWood commented on #2039
I'm a bit confused
the spreadsheet is for
GO:0000991 transcription factor activity, core RNA polymerase II binding
which doesn't appear to be this ticket.
Which ticket is the spreadsheet for since I don't remember seeing these.

[2018-11-27 13:58] ValWood commented on #2195
I think eventually, but  I need to check. There are odd things like in yeast the meiotic SPB  seeds the forespore membrane.  They are at least connected properly via microtubule organizing centre parent. I think we should wait a while to decide whether to merge. I will ask people at the next pombe meeting.

[2018-11-27 14:16] pgaudet commented on #2039
Thanks - I moved the comment to the correct ticket https://github.com/geneontology/go-ontology/issues/16053

[2018-11-27 14:23] mah11 commented on #2195
When you do, bear in mind that the structures are very different. Similarities are functional, not structural. That's probably why there have been separate terms all along.

[2018-11-27 17:05] srengel commented on #2203
the 2 SGD annotations have been moved up to parent 6606.

[2018-11-27 17:17] ValWood commented on #2195
yep on balance good to keep separate. We might add related "centrosome" synonyms but for now the terms work well as they are.

[2018-11-27 20:14] lreiser commented on #2203
Of the 4 annotations to Arabidopsis genes I only saw one that was made by
TAIR and I updated that to the parent term.
The remaining 3 Arabidopsis annotations were made by UniProt.
I can't seem to find the 'second' TAIR annotation.

[2018-11-27 20:48] sabrinatoro commented on #2195
Thank you @pgaudet
I will check after our next load.

For some reason, these went through the taxon checks... which is very weird...

[2018-11-28 07:15] pgaudet commented on #2203
@lreiser
The second TAIR annotation is a TAS: - sorry the spreadsheet only included EXP: (now added to the spreadsheet)

RANBP1 | RAN binding protein 1 |   | protein import into nucleus, translocation |   | TAIR | Arabidopsis thaliana | TAS |   |   | protein | TAIR:locus:2178798 | PMID:9025305

This one should probably be moved up to the parent GO:0006606 protein import into nucleus.

Thanks, Pasc

[2018-11-28 10:34] bmeldal commented on #2203
Fixed complexes. There was one that didn't get picked up by your search.

[2018-11-28 11:18] pgaudet commented on #2203
Sorry about that ! I never find them :( thanks for checking.

[2018-11-28 11:23] bmeldal commented on #2203
No, don't worry, it's because not all are exported to GO yet. I always have to check manually in our DB.
This time, I also updated the correct annotations to the appropriate protein or RNA import child terms. They may have been added after I did the curation...

[2018-11-28 11:32] marcfeuermann commented on #2190
Lysosome-related terms have been removed from plants and fungi in PTHR24073 and PTHR23323 to only keep vacuole-related terms.

[2018-11-28 11:32] #2190 closed

[2018-11-28 11:54] marcfeuermann commented on #2187
Within PTHR11909, pombe spo4 and hsk1 result from a recent duplication. Pombe was one of the only species to have this in the corresponding branch and it was not obvious. Propagation of terms blocked for spo4.

[2018-11-28 11:54] #2187 closed

[2018-11-28 12:36] pgaudet commented on #2111
There are only a few annotation left:

MGI @hdrabkin
NTNU_SB @mlacencio
SGD @suzialeksander
WB @vanaukenk

Can you please check your annotations ? I think they are not GTF, they should be moved to GO:0000981 DNA-binding transcription factor activity, RNA polymerase II-specific

Thanks, Pascale

[2018-11-28 12:41] marcfeuermann commented on #2202
From literature it is not clear if mtf1 binds directly DNA. I've removed the term and kept the more general term "transcription regulator activity".

[2018-11-28 12:41] #2202 closed

[2018-11-28 13:35] marcfeuermann commented on #2194
Within PTHR24072, PTN000633534 corresponds to the MIRO proteins. In PMID:16630562
"We found that GRIF-1 and OIP106, but not HAP1A, bound to Miro-1 and Miro-2. Miro GTPases are thus likely to function as a link between the mitochondria and the microtubules via the GRIF1:Kinesin and OIP106:Kinesin complex. In addition, our findings support the concept that the collaboration of Milton-like proteins a

[2018-11-28 13:35] #2194 closed

[2018-11-28 13:53] ValWood commented on #2194
ACtually Ermes isn't conserved in human, but the GTPase subunit is, so maybe multifunctional.

That said I think this is safest because I know there are differences in processes for mitochondrial movement even between pombe and cerevisiae...

[2018-11-28 14:34] mlacencio commented on #2111
done and spreadsheet updated!

[2018-11-28 15:10] marcfeuermann commented on #2193
I've updated latest version of PTHR11070. The propagation of apoptotic-related terms have been already corrected and the term "cell death" does not appear in any primary annotation.

[2018-11-28 15:10] #2193 closed

[2018-11-28 15:19] marcfeuermann commented on #2191
Annotation propagation for "regulation of signal transduction" removed.

[2018-11-28 15:19] #2191 closed

[2018-11-28 15:39] marcfeuermann commented on #2182
It is indeed a  non-ribosomal peptide synthase. The term "nucleotidyltransferase activity" from E. coli is no more propagated within PTHR45527, so this has been corrected previously.

[2018-11-28 15:39] #2182 closed

[2018-11-28 16:01] hdrabkin commented on #2111
All MGI marked "contributed by UniProt" are from the GOA mouse load or goa human to mouse laod;  they will change when GOA changes;
Done

[2018-11-28 16:35] marcfeuermann commented on #2137
They are all 3 in the same family. This has already been addressed. I realize that several new issues have already been addressed previously so there is another kind of concern which is the timing of PAINT annotation public releases and issue creation. Should we create a specific issue to discuss this problem ?
So for the moment I'm not closing this one.

[2018-11-28 16:58] pgaudet commented on #2137
Releases should be roughly monthly, so if it's been closed for say 2 months, the corrections should be in AmiGO.

[2018-11-28 17:26] pgaudet opened #2204 "Review direct annotations to 'cell population proliferation'"
It has been proposed to make 'cell proliferation' a do_not_annotate term. Please review your annotations to make them more precise (or remove them if they represent a read out and the molecular mechanism by which the cell is involved in proliferation is not known).

[2018-11-28 17:33] pgaudet commented on #2204
So, how about making a rule that the extension is mandatory?

[2018-11-28 18:06] srengel commented on #2111
SGD annotation removed.

[2018-11-28 18:20] pgaudet commented on #2204
@ValWood OK for you ?

[2018-11-28 18:52] ValWood commented on #2204
yep. I suggested here that extended terms would also be OK
https://github.com/geneontology/go-ontology/issues/16659

[2018-11-28 20:03] lreiser commented on #2203
@pgaudet , I fixed the second one in our curation database.

[2018-11-29 07:51] hattrill commented on #2204
Probably take me a couple of weeks to get round to reviewing these.

[2018-11-29 09:51] marcfeuermann commented on #2176
I have to admit that the PAINT annotation for PTHR11405 was really weird. I deleted all and re-annotated the family from zero. In general, we avoid to propagate "response to..." terms. In some cases, such as autophagy, we can use "response to starvation" since it is the major way used to induce autophagy. So arg4 does not have any of the above-mentioned annotations anymore.

[2018-11-29 09:51] #2176 closed

[2018-11-29 10:00] marcfeuermann commented on #2169
I agree, propagation removed.

[2018-11-29 10:00] #2169 closed

[2018-11-29 10:06] marcfeuermann commented on #2181
Propagation removed.

[2018-11-29 10:06] #2181 closed

[2018-11-29 10:17] marcfeuermann commented on #2166
The term "cilium assembly" has been highly over-propagated. I've restricted propagation to very small branches (only animals).

[2018-11-29 10:17] #2166 closed

[2018-11-29 10:32] marcfeuermann commented on #2178
This seems to have already been addressed since "ribosomal large subunit export from nucleus" is restricted to the small arx1 branch (PTN001650748). Anyway, I've removed the annotation to the root of the "RNA-binding"  (HTP and probably not true for all the family) and replaced it by "nucleic acid binding".

[2018-11-29 10:32] #2178 closed

[2018-11-29 10:50] marcfeuermann commented on #2170
Good point. "Lipid A biosynthetic process" has been restricted to bacteria. Also CC annotation was wrong (mitochondria for eukaryotes and cytosol for bacteria).

[2018-11-29 10:50] #2170 closed

[2018-11-29 11:02] pgaudet commented on #2204
yes there is no emergency for these.

[2018-11-29 11:41] pgaudet opened #2205 "Complete proteomes: actions from GOC meeting regarding human genes"
1.    Remove readthrough from the gene-centric (GCRP) and keep them in the reference proteome (as additional isoforms)
2.    Talk to HGNC and Ensembl about external isoforms (should these be annotated as a different gene?) and report back in a GO call

@thomaspd Will you take care of this ?

[2018-11-29 11:43] pgaudet opened #2206 "Documentation - MOD pipelines"
We need MODs to (1) document their pipeline and (2) promote the file available from GO as the file to download instead of the MOD specific file

[2018-11-29 12:43] marcfeuermann commented on #2202
ID: PTHR11721

[2018-11-29 12:46] marcfeuermann commented on #2137
ID: PTHR18884

[2018-11-29 13:43] marcfeuermann commented on #2177
ID:PTHR11489
From PMID: 16246728 "Roles of eukaryotic ribosomal proteins in maturation and transport of pre-18S rRNA and ribosome function."

"Surprisingly,  in  strains  depleted  in  rpS15,  rpS10, rpS26, rpS3, rpS0, or rpS2, the amount of neosynthesized 20S rRNA in the nuclear fractions corresponds to wild-type  levels,  but  the  amount  of newly  made  20S rRNA reaching the cytoplasm during t

[2018-11-29 13:52] ValWood commented on #2177
This still sounds like a phenotype though. Knockdown affects export....
Will try to find out more. No hurry for this. Assign to me if you like, I won't have time to go digging for a while. Grant...

[2018-11-29 14:07] pgaudet opened #2207 "MODs: Review annotations to DNA-binding transcription factor activity (GO:0003700) should NOT be also annotated to catalytic activity (GO:0003824)"
https://docs.google.com/spreadsheets/d/12oW_6KAhCfoF5y80QrzCvEMg9h98XX4-rmdh_k5P9Q4/edit#gid=0

[2018-11-29 14:07] pgaudet opened #2208 "Human proteins: Review annotations to DNA-binding transcription factor activity (GO:0003700) should NOT be also annotated to catalytic activity (GO:0003824)"
https://docs.google.com/spreadsheets/d/17mISqgr4JtlHO2ggpibcQ5pbOkes1d8v1Hh81nudpVg/edit#gid=0

[2018-11-29 14:08] marcfeuermann commented on #2165
ID: PTHR15696.
I've restricted the RNA stability-related terms to PTN0010338677 (only animals) in which it is well documented. In the case of fungi and especially PTN001812702, the closest of S. cerevisiae EST1 is S. cerevisiae EBS1 shown to be involved in RNA stability. The same is true for S. pombe est1 and SPBC2F12.03c. So, the existence of these "recent" duplications followed probably by funct

[2018-11-29 14:08] #2165 closed

[2018-11-29 14:17] marcfeuermann commented on #2159
ID: PTHR 10139
I agree no real solid data. I've removed the propagation.

[2018-11-29 14:17] #2159 closed

[2018-11-29 15:22] hdrabkin commented on #2204
As David points out we can use extensions with these terms, so this should not be made do not annotate. A rule could be made to require an extension if the term is used.

[2018-11-29 15:50] pfey03 commented on #2204
I'm done, cemented on the wrong issue yesterday.

The Dicty EXP were legacy and have been updated to term we use currently. These Dicty 'growth' IMP went years ago to 'cell proliferation' and then to 'asexual reproduction', which those were updated to.

I also deleted the legacy dictyBase ISS annotations

[2018-11-30 09:02] marcfeuermann commented on #2151
ID:PTHR28188
It is a recurrent mistake in GO annotation to associate complex assembly terms with parts of complexes. I've removed the propagation of the assembly terms.

[2018-11-30 09:02] #2151 closed

[2018-11-30 09:17] marcfeuermann commented on #2155
This annotation comes from SGD, based on PMID:21074047
"Here we show that the Rpb4/7 heterodimer interacts physically and functionally with components of the translation initiation factor 3 (eIF3), and is required for efficient translation initiation. Efficient translation in the cytoplasm depends on association of Rpb4/7 with RNA polymerase II (Pol II) in the nucleus, leading to a model in which

[2018-11-30 09:33] marcfeuermann commented on #2161
ID: PTHR11024
This seems to have already been addressed since none of the terms is propagated anymore in the family.

[2018-11-30 09:33] #2161 closed

[2018-11-30 09:39] marcfeuermann commented on #2150
ID:PTHR13043
assembly-term removed.

[2018-11-30 09:39] #2150 closed

[2018-11-30 09:59] ValWood commented on #2151
yep ;)  working on that soon, I think Matrix should sort it...

[2018-11-30 10:07] marcfeuermann commented on #2148
ID: PTHR11141
"regulation of cell shape" has already been removed. I've removed also the "regulation of COPII..." term.

[2018-11-30 10:07] #2148 closed

[2018-11-30 10:21] marcfeuermann commented on #2138
ID: PTHR11199
This has already been addressed and does not appear anymore in the current annnotation. In the tree, as there are no specific branches for mitotic or meiotic cohesin subunits, we've only propagated the parent term "sister chromatid cohesion".

[2018-11-30 10:21] #2138 closed

[2018-11-30 10:44] #2153 closed

[2018-11-30 10:52] marcfeuermann commented on #2146
ID: PTHR13032
I agree, the role is the import not the complex assembly itself. I've remove both "indirect" complex assembly terms.

[2018-11-30 10:52] #2146 closed

[2018-11-30 12:13] marcfeuermann commented on #2145
ID: PTHR13697
This is a term which should not be painted. I've removed it, as well as the function "identical protein binding".

[2018-11-30 12:13] #2145 closed

[2018-11-30 12:37] marcfeuermann commented on #2144
ID: PTHR11426
I would say another example of the "complex assembly vs complex part syndrome". Term removed.

[2018-11-30 12:37] #2144 closed

[2018-11-30 12:42] marcfeuermann commented on #2143
ID: PTHR28060
"Complex assembly vs complex part syndrome". Propagation removed.

[2018-11-30 12:42] #2143 closed

[2018-11-30 13:01] marcfeuermann commented on #2142
ID: PTHR28207
And again a "complex assembly vs complex part syndrome"
It was annotated from PMID:18252710 - "Yeast cells depleted in Atp14p fail to assemble Atp6p within the ATP synthase..."
It is obvious that, when a component of a complex is missing, the complex cannot assemble correctly, but the intrinsic function of the component is not the assembly of the complex (at least for most of them).

[2018-11-30 13:01] #2142 closed

[2018-11-30 13:53] marcfeuermann commented on #2175
ID: PTHR11851
The family contains duplications with neo-functionalization. For example, PTN002627006 contains cytochrome b-c1 complex subunit 1. However, propagation has not been done in the right way and MPP subunits have indeed been wrongly annotated. I've updated the family and the terms above should not be associated anymore with MPP subunits.

[2018-11-30 13:53] #2175 closed

[2018-11-30 14:17] marcfeuermann commented on #2152
ID: PTHR14089
I've blocked any annotation of splicing-related terms for PTN001164531, resulting from a duplication probably followed by functional divergence.

[2018-11-30 14:17] #2152 closed

[2018-11-30 14:32] marcfeuermann commented on #2157
ID: PTHR13315
It is indeed. I've removed the annotation.

[2018-11-30 14:32] #2157 closed

[2018-11-30 15:20] marcfeuermann commented on #2174
ID; PTHR10371
I understand your frustration Val, Anyway, this one has been addressed and corrected about a month ago. So it should disappear very soon.

[2018-11-30 15:20] #2174 closed

[2018-11-30 15:33] ValWood commented on #2174
;) You are on fire today! Are you going for a ticket closing record?

[2018-11-30 16:14] ValWood commented on #2174
So far, I have checked PAINT annotations for "Unknowns- those I thought should not have a process annotation, and I've checked those which were annotated to a GO slim term by PAINT, which we/PomBase had not annotated to the same slim term. That should capture most of the larger errors, at least for  conserved cell level processes.
Some time in the spring we will import the PAINT annotations into P

[2018-11-30 16:18] pgaudet commented on #2207
Hello,

This spreadsheet has proteins annotated to both DNA-binding transcription factor activity (GO:0003700) (or a child) and to catalytic activity (GO:0003824) (or a child). Most proteins should not have both functions - if there is an enzymatic activity, it is likely that the protein is a co-factor.

Would everyone please review their annotations to check whether the annotations are OK ? In th

[2018-11-30 16:39] pfey03 commented on #1974
Sorry it took me so long - 2 grants this year.. but now took care of all Dicty, mostly removed on changed

[2018-11-30 16:46] RLovering commented on #2208
I have updated this spreadsheet to show which records need to be reviewed, however I have not completed the table yet. But I have identified that some of the ones I pulled out are not annotated to catalytic activity, but to binding of an enzyme

[2018-11-30 17:41] pfey03 commented on #2207
I cannot edit the google sheet, sent request but wanted to get it done. Inspected all, and Q55ER4 - rbbB only has IBa and the tab submits have mostly IBA and some historic ISS from SGD. Left them unchanged.
Update Google sheet when I have access

[2018-11-30 19:06] ValWood commented on #2155
fair enough....sounds OK...

[2018-11-30 19:17] ValWood commented on #2207
I flagged the pombe ones as "PAINT". I presume they are, we never had any annotation in the intersection.

[2018-11-30 19:18] ValWood commented on #2207
Argh, I removed myself from the assignees and everyone disappeared. I don't know who is supposed to be...

[2018-12-01 14:31] RLovering commented on #2208
Hi Pascale

I have gone through all the human proteins in the spreadsheet and tried to decide which annotations need revising. I have contacted UniProt and Reactome if it looks like their annotations need to be edited.
However, I have been a bit cautious about making decisions about some of them (or some families) and so I have created an extra column with your name at the top, could you or Val (i

[2018-12-01 17:30] ValWood opened #2209 "PTN000926961 - PTHR43341"
GO:0015813 | L-glutamate transmembrane transport

L-aspartate transmembrane transporter activity

L-glutamate transmembrane transporter activity

seems too specific

[2018-12-01 18:59] ValWood opened #2210 "PANTHER:PTN000846358 - PTHR10791"
I think this is a family building issue.
In pombe this is mediator complex subunit 13. It isn't a transmembrane transporter

med13 | mediator complex subunit Med13 |   | sugar transmembrane transporter activity |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000846358TAIR:locus:2026997 more... | rag1-activating protein 1 pthr10791 | protein |   | PMID:21873635 | 20170228

[2018-12-02 21:03] ValWood commented on #2104
I'm looking at E. coli entry
https://www.uniprot.org/uniprot/P0AFD1
It *is* described as a NADH dehydrogenase (ubiquinone) activity
but that annotation come via GO-Centrla

The description says:
NDH-1 shuttles electrons from NADH, via FMN and iron-sulfur (Fe-S) centers, to quinones in the respiratory chain. The immediate electron acceptor for the enzyme in this species is believed to be ubiquinone

[2018-12-03 08:38] RLovering commented on #2208
Emails from Reactome re dbTF errors:
Subject: RE: [Reactome-help] [Protein2GO] Query concerning annotation to protein Q13127

Hi Peter,

These annotations look similar to some others we encountered a few weeks ago.  The physical entity of the catalyst activity using “histone deacetylase activity” looks to be a defined set whose members are complexes.  In version 66, the GAF script was only excludi

[2018-12-03 09:05] ValWood commented on #2207
Hi @bmeldal which gene products are these. When I make the rule I will make exceptions for these. Cheers.
Val

[2018-12-03 09:15] bmeldal commented on #2207
The GPs are specific, either DNA-binding or enzymatic, but I annotate to the complex and the complex has both activities.

[2018-12-03 09:20] #2155 closed

[2018-12-03 09:41] ValWood commented on #2207
Hi @bmeldal which Complex(s) ? Is the  DNA binding to a specific  motif ?
It would be good to have examples for the working group.

[2018-12-03 10:02] hattrill commented on #2207
We have a mixed bag.

Some are from PAINT/InterPro2GO (probably becuase some of the DNA-binding domains that are in TFs and chromatin modifying complexes. For example, the A-T Rich Interaction Domain (ARID) is found in transcription and chromatin regulators. A subset of ARID family proteins binds DNA specifically at AT-rich sites; while the others bind DNA non-specifically.

Some are contributes_t

[2018-12-03 10:07] bmeldal commented on #2207
TFIIF - CPX-79
GTF2F1: DNA-binding
GTF2F2: helicase activity
(extracted from UniProt)

TFIID - CPX-915/930 (variants of each other):
Def: General transcription factor complex that acts as the primary core promoter recognition factor in the initiation of RNA polymerase II (Pol II)-dependent transcription. The **TBP subunit of TFIID recognizes and binds to the TATA box** (if present), while **TAF1 a

[2018-12-03 10:08] bmeldal commented on #2207
Add Helen/ARID proteins:
I annotated the BAF complexes and wouldn't add TF activity to the chromatin remodellers :)

[2018-12-03 10:12] pgaudet commented on #2207
@bmeldal, GO:0003700 is not appropriate for TFIIF - CPX-79.
You should annotate to GO:0016251 RNA polymerase II general transcription initiation factor activity
and GO:0043565 sequence-specific DNA binding.

OK ?

Thanks, Pascale

[2018-12-03 10:17] hattrill commented on #2207
@bmeldal think that you misunderstand - we are **not** annotating TF activity to chrom remods - saying that the **propagation** from PAINT/InterPro2GO may come from situations where a particular DNA binding domain is some times found TFs and sometimes in chrom remods.

[2018-12-03 10:21] pgaudet commented on #2207
We definitely need to review PAINT annotations. I have done jmj, I'll check ARID.

Thanks, Pascale

[2018-12-03 10:22] bmeldal commented on #2207
I was just confirming that I would make the annotations and agreeing with Helen that it must come from the InterPro or PAINT assertions.

[2018-12-03 10:55] bmeldal commented on #2207
TFIIF currently annotated to:
1. GO:0000977 RNA polymerase II regulatory region sequence-specific DNA binding
   Child of GO:0043565 sequence-specific DNA binding
--> keep

2. GO:0001228 DNA-binding transcription activator activity, RNA polymerase II-specific
    child of GO:0003700 DNA-binding transcription factor activity
--> will delete

3. GO:0016251 RNA polymerase II general transcription ini

[2018-12-03 11:11] ValWood commented on #2207
Does  TFIIF binds to DNA in a sequence specific manner though? Doesn't the sequence specificity come from the "GO:0003700 DNA-binding transcription factor activity" ?
Doesn't it It binds to DNA, but none specifically?

[2018-12-03 11:14] pgaudet opened #2211 "IPR019503 family"
Hello,

IPR019503 hits some transcription factors - at least FBgn0011656     Mef2  Myocyte enhancer factor 2

Perhaps that mapping should be removed ?

Thanks, Pascale

[2018-12-03 11:19] pgaudet opened #2212 "IPR002515 change mapping"
Hello,

IPR002515 seems to contain transcription factors and co-factors; please consider changing mapping from 'GO:0003700 DNA-binding transcription factor activity' to 'GO:0140110 transcription regulator activity'

Thanks, Pascale

[2018-12-03 11:22] pgaudet commented on #2207
@bmeldal what you propose seems OK to me.

and also seems to address @ValWood 's comment - doesn't it ?

[2018-12-03 14:50] asangrador commented on #2211
Hi,
I only see one match to Myocyte enhancer factor 2, isoform G  ([A0A0B4KEP4](https://www.uniprot.org/uniprot/A0A0B4KEP4)) a trembl predicted protein, but it does not match any of the others.  The rest seem to be metallopeptidases. Is there any other hit that I am missing?

[2018-12-03 15:55] pgaudet commented on #2211
I dont know, maybe not, this is the protein that was causing problems.

Pascale

[2018-12-03 17:32] pgaudet commented on #2138
Another protein binding.

[2018-12-03 17:41] pgaudet commented on #2144
That was me. I must say, I dont know what assembles nucleosomes if it's not histones ? But this is just my ignorance...

Pascale

[2018-12-03 17:43] ValWood commented on #2144
histone chaperones?

[2018-12-03 17:45] pgaudet opened #2213 "Review annotations to 'protein-containing complex assembly' by IMP"
Coming from https://github.com/geneontology/go-annotation/issues/2142
(and others) - many times when a part of a complex is knocked-out, the complex doesn't form. It doesn't mean that that subunit assembles it. This is a place holder to look for suspicious annotations.

Pascale

[2018-12-03 17:46] ValWood commented on #2144
Nice review
https://www.cell.com/trends/biochemical-sciences/fulltext/S0968-0004(10)00070-8?mobileUi=0

[2018-12-03 17:46] pgaudet commented on #2144
OK, thanks !!

[2018-12-03 17:58] pgaudet commented on #2210
@huaiyumi Can you have a look at the family ?

[2018-12-04 19:58] vanaukenk commented on #2204
The WB annotations are done.  I removed one and changed the other two to variations on mitotic cell cycle.

[2018-12-04 20:24] tberardini commented on #2204
@ebakker2 :  Still working on getting you on the list for 'Assignees'.  This is the ticket we were talking about earlier today.

[2018-12-04 20:45] vanaukenk commented on #2111
WormBase annotations are done; both removed.

[2018-12-04 20:47] #2013 closed

[2018-12-04 21:30] tberardini commented on #2207
@lreiser and @ebakker2:  I split the rows among the three of us.

[2018-12-04 22:31] srengel commented on #2207
2 SGD rows are legit.  the others are from PAINT so i ignored.

[2018-12-05 08:58] pgaudet commented on #2207
@srengel Can you check again whether SGD:S000000971 | RPH1 really is a 'nucleic acid binding transcription factor activity' (note that this term has been merged into GO:0003700 DNA binding transcription factor activity).

I think 'GO:0003712 transcription coregulator activity' would be more appropriate.

Thanks for confirming -

Pascale

[2018-12-05 09:32] asangrador commented on #2211
I have removed one of the signatures in the InterPro entry that was matching this protein, so it should not be getting this annotation anymore (after our next release).
Cheers,

[2018-12-05 09:53] pgaudet commented on #2211
great, thanks !

[2018-12-05 09:53] #2211 closed

[2018-12-05 11:06] pgaudet commented on #2111
Thanks everyone !

[2018-12-05 11:06] #2111 closed

[2018-12-05 15:16] #2203 closed

[2018-12-05 18:33] pgaudet commented on #2205
task for @pgaudet: ping Paul regularly

[2018-12-06 07:36] pgaudet commented on #2205
Paul contacted Maria Martin at the EBI - her reply is:

As you can see, it is not simple but we are making good progress, As I said in the meeting, it was very important to involve the groups mentioned above to get synchronised and avoid loops in the pipeline.

Maria

[2018-12-06 23:45] sabrinatoro commented on #2204
I am working on adding the annotation extensions (I have to do it through Noctua) to the annotations. Should the required annotation extensions refer to the cell type/anatomy term?
OR could it also be a BP, for example "cell population proliferation" -part of- "fin regeneration" ?

[2018-12-07 11:00] marcfeuermann commented on #2171
PTHR13137
These protein seem inded to be involved in compèlex II assembly, the rest being more or less indirect. Terms removed.

[2018-12-07 11:00] #2171 closed

[2018-12-07 11:19] marcfeuermann commented on #2154
PTHR23105
It seems that this has already been corrected.

[2018-12-07 11:19] #2154 closed

[2018-12-07 11:37] marcfeuermann commented on #2164
PTHR23147 is a huge family of over 800 members. Within the family Tcg1 can be found on a tiny branch of 4 duplicated pombe genes (PTN001899513). Tgc1 os clearly not involved in splicing, so I blosked propagation of splicing stuff to PTN001899513.

[2018-12-07 11:37] #2164 closed

[2018-12-07 12:14] marcfeuermann commented on #2172
Most of the "weird" annotations copme from PMID;
"Nuclear CLK-1 mediates a retrograde signalling pathway that is conserved from Caenorhabditis elegans to humans and is responsive to mitochondrial reactive oxygen species, thus acting as a barometer of oxidative metabolism."
I've kept some nuvlear stuff restrictied to animals but removed transcription.

[2018-12-07 12:14] #2172 closed

[2018-12-07 12:32] marcfeuermann commented on #2173
PTHR12469
The only primary annotations for pombe is the CC mitochondrion (a HTP) consistent with the general annotation in the familly. I trust your expertise in fission yeast ant blocked the propagation in pombe.

[2018-12-07 12:32] #2173 closed

[2018-12-07 12:38] pgaudet commented on #2196
@dustine32 can you please have a look ?

[2018-12-07 12:45] ValWood commented on #2172
@vanaukenk  might be worth reviewing Wormbase coq7 ortholog annotation?

[2018-12-07 12:52] ValWood commented on #2173
mitochondria is fine.
In SGD it is "protein-FAD linkage "  the other annotations appear to be indirect phenotypes?

[2018-12-07 13:11] marcfeuermann commented on #2163
PTHR23355
rRNA processing has been propagated over ancient cuplication events. I would not have used it at all, so I've removed its propagation within the family.

[2018-12-07 13:11] #2163 closed

[2018-12-07 14:57] pgaudet commented on #1379
Possible solution propose by @pmasson55

Annotate HSA to
- MF GO:0140272 exogenous protein binding
- BP  GO:0032460 negative regulation of protein oligomerization

(and remove annotation to GO:0044179 hemolysis in other organism)

@pgarmiri Can you please do that ? (otherwise  @milarolo)

Thanks, Pascale

[2018-12-09 15:55] ValWood opened #2214 "pthr24221 oligopetide transport"
These annotation are infered from

mdl1 | mitochondrial peptide-transporting ATPase |   | oligopeptide-transporting ATPase activity |   | PomBase | Schizosaccharomyces pombe | ISO | SGD:S000006191 | family not named pthr24221 | protein |   | GO_REF:0000024 | 20040802

  | mdl1 | mitochondrial peptide-transporting ATPase |   | oligopeptide export from mitochondrion |   | PomBase | Schizosaccharomyc

[2018-12-09 15:56] ValWood commented on #2214
Ah, these are my annotations

[2018-12-09 15:56] #2214 closed

[2018-12-09 15:57] ValWood commented on #2214
should be S000004178

[2018-12-10 10:50] pgaudet commented on #2084
@RLovering I am creating the new term:
https://github.com/geneontology/go-ontology/issues/16778

[2018-12-10 12:43] rachhuntley opened #2215 "InterPro annotations to biofilm matrix"
Hello,

A few months ago we created two child terms of biofilm matrix; fungal biofilm matrix and bacterial biofilm matrix. All of the manual annotations were reviewed and moved (https://github.com/geneontology/go-annotation/issues/1964), but we missed the IEA annotations.

All of the IEAs are from InterPro and appear to be from bacterial species, therefore it should be possible to re-map the domai

[2018-12-10 14:48] ValWood opened #2216 "spore germination/sporulation"
Does anybody know why
spore germination

Definition (GO:0009847 GONUTS page)
The physiological and developmental changes that occur in a spore following release from dormancy up to the earliest signs of growth (e.g. emergence from a spore wall).

is not part_of

GO:0043934    sporulation

Definition (GO:0043934 GONUTS page)
The process whose specific outcome is the progression of a spore over time

[2018-12-10 14:52] mah11 commented on #2216
Yes: because sporulation is the *formation* of a spore. It ends when the spore is fully formed, which can be literally years before conditions change and the spore germinates. (It may be worth deviating from the usual standard "progression over time" definition wording to make that clearer, but sporulation ends before spore germination begins.)

[2018-12-10 15:58] ValWood opened #2217 "IPR039796"

[2018-12-10 16:00] ValWood commented on #2217
should this be
protein maturation by [4Fe-4S] cluster transfer

rather than

GO:0016226 | iron-sulfur cluster assembly

? @Antonialock

[2018-12-10 16:03] ValWood commented on #2217
Actually the ISO is to

protein maturation by [4Fe-4S] cluster transfer | ISO with S000001164

but SGD have GO:0016226 | iron-sulfur cluster assembly?

Assigning to @Antonialock  to add solution

[2018-12-10 16:49] jimhu-tamu commented on #1379
My reaction to reading this paper is that I wouldn't make this annotation. It's not at all clear to me that this is a biologically relevant activity; BSA is used as a nonspecific additive to lots of biochemical reactions to help keep proteins from sticking to other things like the sides of test tubes. The paper alludes to this.

I'm also not sure whether hemolysis is the actual pathogenic process

[2018-12-10 16:53] ValWood commented on #2082
Not a GO issue. Documented for UniProt and GO minutes

[2018-12-10 16:53] #2082 closed

[2018-12-10 17:51] hattrill opened #2218 "Pellino family (IPR006800)"
Pellino family (IPR006800) is associated with "Toll signaling pathway" GO:0008063, but this family of proteins has been shown to both positively and negatively regulate Toll signaling.

The Pellino family do have ubiquitin ligase activity (PMID:26085209,  PMID:1767529), so possibilty to link this domain with terms for this activity and process.

[2018-12-10 21:49] Antonialock commented on #2217
The paper I ISSd to seems to suggest it is [4Fe-4S] cluster transfer

<img width="691" alt="screenshot 2018-12-10 at 21 47 48" src="https://user-images.githubusercontent.com/12727506/49763737-6b138b80-fcc5-11e8-8cca-1bc675233701.png">

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4523923/

[2018-12-10 21:49] Antonialock commented on #2217
(IPR039796 is in cia2)

[2018-12-10 21:51] Antonialock commented on #2217
Val I added you back in, I'm not sure what you mean by 'Antonia to add solution'

[2018-12-10 21:55] Antonialock commented on #2217
unless you mean 'suggest solution' in which case I suggest that IPR039796 should map to the maturation term :-)

[2018-12-10 21:55] ValWood commented on #2217
That's OK, you answered the question !

[2018-12-11 07:36] ValWood commented on #2216
ok, wrong tracker anyway...

[2018-12-11 07:36] #2216 closed

[2018-12-11 08:00] hattrill opened #2219 "PANTHER:PTN000456925 Septate junction"
Node: PANTHER:PTN000456925 Septate junction

Several Ig-conatining domain proteins have been annotated with septate junction assembly ; GO:0019991/septate junction ; GO:0005918 from PTN000456925.

They seem to originate from one FlyBase gene - FBgn0010238 - which has IBAs evidenced by itself alone - so that circular annotation needs to be removed.

The other examples are not septate junction prote

[2018-12-11 11:12] asangrador commented on #2217
Agreed. I have changed the term to 'protein maturation by [4Fe-4S] cluster transfer'. There must be some confusion with these terms because UniProt and SGD have assigned  ' iron-sulfur cluster assembly'  to some of these proteins (Q9H5X1 (CIA2A_HUMAN), P38829 (YHS2_YEAST).

[2018-12-11 11:30] ggeorghiou commented on #1379
Hi all, I've followed @pgaudet and @jimhu-tamu suggestions for this particular issue. I've deleted the annotation regarding hemolysis and added in the two annotations Pascale had suggested.

[2018-12-11 11:45] asangrador commented on #2218
Yes, I have updated the annotation for this entry and GO terms, adding 'ubiquitin protein ligase activity' and 'protein polyubiquitination' and changing the Toll signalling term to 'regulation of Toll signaling pathway'.
Thanks,

[2018-12-11 11:49] pgaudet commented on #1379
Thanks !

[2018-12-11 11:49] #1379 closed

[2018-12-11 12:38] huaiyumi commented on #2196
@dustine32 I didn't see a NOT qualifier for that node (PTN000000116). Actually I searched and didn't find a NOT qualifier to any paint annotation,  including the obsoleted annotations, until @pgaudet added on two days ago. I also searched and found other NOT annotations were loaded at the time the initial data was loaded (creation_date = 2017-02-28). I could be wrong. Please double check. If what

[2018-12-11 13:04] asangrador commented on #2215
Hi,
We only had one annotation to biofilm matrix, and I have changed  it to bacterial biofilm matrix, as suggested.
Thanks for updating us on this.

[2018-12-11 13:17] ValWood commented on #2217
Yup, @Antonialock  when you went through these did you report the fixes required?
If not could you open an "annotation review" ticket and tag people to look at these?

[2018-12-11 17:07] pgaudet opened #2220 "Obsolete GO:0038053 transcription factor activity, estrogen-activated RNA polymerase II transcription factor binding"
Dear all,

To complete the transcription factor refactoring, the proposal has been made to obsolete GO:0038053  transcription factor activity, estrogen-activated RNA polymerase II transcription factor binding.

The reason for obsoleting is that this term represents a GO-CAM model. There are no annotations to those terms. There are no mappings; this term is not present in any subsets/slims. Any com

[2018-12-11 17:08] pgaudet commented on #2220
This issue was moved to geneontology/go-ontology#16788

[2018-12-11 17:08] #2220 closed

[2018-12-11 17:54] dustine32 commented on #2196
@huaiyumi Yeah, I guess I didn't provide any details of what I was looking at. This is looking in the GO release GAFs between 2018-04-02 and 2018-05-20:
[code]

And then checking the DB for a paint annotation to PTN000000116 and GO:0004784, I saw that this record was obsoleted. Though, 2018-03-01 and 2018-05-20 is a pretty long time for this obsoletion to be reflected in the GO release GAFs so I g

[2018-12-11 18:45] selewis commented on #2219
The circular IBAs have had a long-running debate. They were introduced when PAINT annotations started being exported out of the panther database by @huaiyumi and @dustine32. The resolution (regrettably IMHO) is that they are allowed (and I don't actually recall this being fully discussed at a consortium meeting). See #2049

However the issue of requiring >1 piece of experimental evidence is someth

[2018-12-12 08:13] rachhuntley commented on #2215
Thanks Amaia!

[2018-12-12 08:13] #2215 closed

[2018-12-12 08:30] hattrill commented on #2219
The problem is that is exactly circular - the gene is providing evidence for itself FBgn0010238 IBA from FBgn0010238. There are no other supporting genes. We have seen this quite a bit of late.
If we had the must have >1 annotation rule, then this would be prevented from happening - there would always have to be evidence from another entity.

[2018-12-12 08:51] pgaudet commented on #2219
I removed all annotations to that tree. It must be recurated - annotation were odd.

Thanks, Pascale

[2018-12-12 08:51] #2219 closed

[2018-12-12 12:20] ValWood opened #2221 "annotation review Q13127 Gene REST,"
A zinc finger protein
RE1-silencing transcription factor

outward rectifier potassium channel activity Source: UniProtKB
not so sur about some of the others either, but this is a major outlier

[2018-12-12 15:49] pgaudet commented on #2130
@RLovering Did we decide to replace this ticket by #2207 and #2208 ?

[2018-12-12 18:48] RLovering commented on #2130
yes I think so, although I must remember to do the annotation to that TREM paper at some point!

[2018-12-12 18:56] RLovering commented on #2221
Hi Val

if you look on my spreadsheet there is a list of emails I have sent to people about these 'outliers' Reactome is going to be addressing this

https://docs.google.com/spreadsheets/d/17mISqgr4JtlHO2ggpibcQ5pbOkes1d8v1Hh81nudpVg/edit?usp=sharing

Ruth

[2018-12-12 22:19] pfey03 commented on #2207
I now marked our annotations as unchanged. We only have some still valid ISS, all have a lot of IBA / PAINT, and in once case it's only the PAINT that created the enzymatic activity. The other, three, TAF subunits, I left the ISS and wait until IBA are gone or ISS WITH are gone, then I'll get notified.

[2018-12-13 05:16] pgaudet opened #2222 "Annotate TREM paper"
See https://github.com/geneontology/go-annotation/issues/2130#issuecomment-446699297

[2018-12-13 05:16] #2130 closed

[2018-12-13 08:58] pgaudet commented on #1901
@ggeorghiou or @milarolo Can you please look at the UniProt annotations for this ? There are 15 annotations (but fewer genes).

Thanks, Pascale

[2018-12-13 10:20] pgaudet commented on #2221
Removed by @milarolo

@RLovering  Q13127 is not in the spreadsheet - or am I missing something ?

[2018-12-13 10:20] #2221 closed

[2018-12-13 10:53] pgaudet commented on #2221
OK thanks, I've added that the enzymatic activity has been reviewed.

We still need to review the transcription part.

Pascale

[2018-12-13 12:55] ValWood commented on #2221
OK  I wasn’t really looking at this from the transcription overhaul perspective. I  was looking because one of our “conserved unknowns” , the ortholog of ZNF277 was published this week:
https://www.ncbi.nlm.nih.gov/pubmed/30530495
https://www.pombase.org/gene/SPAC19B12.07c

In human, this (ZNF277) is annotated to many transcription terms, but I hadn’t made this inference in pombe since the evidenc

[2018-12-13 12:55] ValWood commented on #2221
i.e ZNF277  needs looking at...

[2018-12-13 13:11] pgaudet commented on #2221
Disputed in Protein2GO.

[2018-12-13 15:50] milarolo commented on #1901
Done. The UniProt annotations had already been changed a year ago for "activation of MAPK activity" (GO:0000187). There was only one left.  I changed it to "positive regulation of MAPK cascade" (GO:0043410)

[2018-12-17 11:43] RLovering commented on #1720
Hi Pascale
1 HGNC annotation changed - today
1 BHF annotation removed previously
1 ARUK annotation removed previously
so UCL done for this ticket/spreadsheet
Ruth

[2018-12-17 11:55] RLovering commented on #1691
Hi Pascale

row 316 BHF annotation had been removed previously but not marked on sheet.
rows 201 and 473 Parkinsons's UK these were changed to GO:0007189  adenylate cyclase-activating G protein-coupled receptor signaling pathway in 2017, not sure why these are listed as in progress on the spreadsheet

Ruth

[2018-12-17 13:32] bmeldal commented on #1876
@vanaukenk & @pgaudet : were we meant to create some guidelines and stick them on the Wiki? Did the Noctua group ever discuss this?

[2018-12-17 19:54] RLovering commented on #2024
Hi Pascale

in ticket https://docs.google.com/spreadsheets/d/1uHMSFAuxsOL54F0CLiB2lbrYyvjHTbyA0O2n8rsgKEI/edit#gid=0 you list BHF annotations as not done for this ticket, but they are done it is just I hadn't marked them as done. I have highlighted them on the ticket.

Ruth

[2018-12-17 20:42] vanaukenk commented on #1876
@bmeldal - I'll review with @pgaudet and we'll update documentation where needed.  Thx.

[2018-12-17 22:20] RLovering commented on #1778
Hi Pascale
I have checked two annotations on this, although I think that ABCA1 is involved in endocytosis rather than being a target, but I can see also why most receptors are considered targets,
Ruth

[2018-12-17 23:08] sabrinatoro commented on #2207
I looked at the annotations. None of them have EXP evidence.
- some of them come from PAINT
- some are IEA annotations, created using the EC2GO, interpro2go, and uniprotkb_kw2go translation files.
Based on the fact that the proteins have domains suggesting both DNA-binding activity and catalytic activity (as per the translation files), I would say that these annotations are legit. However, I don't

[2018-12-18 07:54] RLovering commented on #2207
Hi Sabrina

please could you mark on the spreadsheet which proteins are marked as dbTFs and have catalytic activity from IEAs so that we can contact InterPro or the MOD supplying the annotation etc if necessary to get these removed. For human very few proteins with catalytic activity are also dbTFs they are mostly co-regulators. see https://docs.google.com/spreadsheets/d/17mISqgr4JtlHO2ggpibcQ5pbO

[2018-12-18 08:18] bmeldal commented on #1876
Thanks. Let me know if and where/when I can help. Memory is fading ;-(

[2018-12-18 17:09] sabrinatoro commented on #2207
@RLovering : yes! working on it! :-)

[2018-12-18 23:20] sabrinatoro commented on #2207
I added a sheet in the google doc (at the beginning of this ticket) to refer to the InterPro domains and the UniProtKB-KW on which the ZFIN IEA annotations were based.
In most cases (for what I can tell), the 'conflict' comes from the difference in annotations coming from InterPro domains (most often dbTFs) and from UniProtKB-KW (most often activity annotations).

I would be happy to talk with any

[2018-12-19 09:33] asangrador commented on #2212
Annotation has been changed as suggested. Thanks!

[2018-12-19 09:33] #2212 closed

[2018-12-19 09:33] #2198 closed

[2018-12-19 09:37] #2089 closed

[2018-12-19 09:38] #2080 closed

[2018-12-19 11:00] ValWood commented on #2207
Hi @sabrinatoro,

The normal mechanism is to report the InterPro, or UniProtKB-KW violations on this tracker.
It is usually easy to establish which one is the "violator" by looking at your in-house  GO annotation/description, so it is a useful QC exercise for a MOD.

The InterPro mappings will get fixed immediately, and disappear from your next release.
The UniProtKB-KW are usually a bit more diff

[2018-12-19 11:05] ValWood opened #2223 "IPR002515 / InterPro:IPR036060"
https://www.uniprot.org/uniprot/Q7ZW29

Histone acetyltransferase Genekat7b

Zinc finger, C2HC-type (IPR002515)
Zinc finger, C2HC-type superfamily (IPR036060)

not all C2HC-type zn finger are DNA-binding transcription factors

background:
https://github.com/geneontology/go-annotation/issues/2207

[2018-12-19 11:08] ValWood commented on #2207
Hi @sabrinatoro

First one easy, https://github.com/geneontology/go-annotation/issues/2223
Zinc finger, C2HC-type domains should not have "DNA-binding transcription factor activity" because this is not always true.

In these cases, to be really thorough, you would check if you lose any valid annotations to
"DNA-binding transcription factor activity"  by the removal of this mapping.

Looking throug

[2018-12-19 12:00] asangrador commented on #2223
Following an older issue I have just changed the annotation for these entries from 'DNA-binding transcription factor activity ' to 'transcription regulator activity'. I think that would apply to all/most cases.

[2018-12-19 16:44] ValWood commented on #2223
based on this description
http://www.ebi.ac.uk/interpro/entry/IPR002515

C2HC superfamily is found outside transcription regulators.

also, there are C2Hc domains that are definitely not transcription regulators, but are not in the superfamily

https://www.pombase.org/gene_subset/interpro:IPR001878

so it might be safest not to include?

[2018-12-19 21:37] hdrabkin commented on #2204
MGI done

[2018-12-20 11:16] asangrador commented on #2223
Actually IPR002515 should be called C2H2C-type, which is different from IPR001878 (C2HC-type). I will correct this. In the description for IPR00251 , the first paragraph, seems to refer to zinc fingers in general.  As far as I can see all the SWPs matches for IPR002515  correspond to enzymes involved in chromatin modification or transcription factors, but to be on the safe side I will remove the t

[2018-12-20 12:15] ValWood commented on #2223
OK in this case your original might be correct. This family does seems to be a) restricted to higher eukaryotes and b) more functionally related to transcription

[2018-12-20 13:30] asangrador commented on #2223
I will leave the annotation at the moment then.

[2018-12-20 13:30] #2223 closed

[2018-12-21 17:04] bmeldal opened #2224 "Annotate cell-cell adhesion complex with GO:0005887 integral component of plasma membrane?"
Neuroligin and neurexins bind to pre-and post-synaptic plasma membranes and both have well described intracellular, transmembrane and extracellular domains. Therefore, I annotated the complex to GO:0005887 integral component of plasma membrane but Livia raised the question if the annotation holds true even though the individual proteins bind different membranes.

PMID:18084303 & 28641112 (see also

[2018-12-26 19:20] RLovering commented on #2084
thanks I have used the new term

[2019-01-02 19:12] lreiser opened #2225 "Review PAINT annotations to cilium and protein localization to cilium"
This is related to the go-ontology issue #16767.
I noticed that some plant genes from Arabidopsis were being annotated to cilium (GO:0005929) and protein localization to cilium(GO:0061512).
The seem to be coming from PAINT annotations and this extends to other species that are outside of the species constraint for that term
For example, if I filter the set of annotations to protein localization to

[2019-01-02 22:04] RLovering commented on #1758
annotation deleted

[2019-01-03 18:57] ValWood opened #2226 "UR000106107 mappings O13814"
https://www.pombase.org/gene/SPAC17H9.17c

O13814

has 2 mappings and I'm not sure that either is correct?

GO:0000002 | mitochondrial genome maintenance | IEA with UR000106107 | GO_REF:0000104
- | GO:0070096 | mitochondrial outer membrane translocase complex assembly | IEA with UR000106107 | GO_REF:0000104 |

this is a
Subunit of both the ERMES and the SAM complex
I'm not sure that it is involved

[2019-01-03 19:00] ValWood opened #2227 "IPR001898 sodium ion transport"
Some have specificity for potassium not sodium.
Suggest cation.

[2019-01-07 16:02] hattrill opened #2228 "PANTHER:PTN001208729 -PTHR24276 sphe does not have serine-type endopeptidase activity"
serine-type endopeptidase activity GO:0004252
PANTHER:PTN001208729

Q9VXC8 - sphe - FBgn0030774 - does not have serine protease activity as there is a S to G mutation in the catalytic triad.

Note- it already has a "NOT" qualified annotation for this term.

[2019-01-07 16:04] hattrill commented on #2228
Adding to this: and sphe is not cytoplasmic either.

[2019-01-08 12:29] hattrill opened #2229 "PTN000105428 (PTHR10985) Notch Signaling"
Panther node PTN000105428 - Hes-related bHLH transcription factors should not be annotated with 'Notch signaling pathway'. Such TF genes tend to be transcriptionally actived by Notch signaling.

We have removed the experimentally evidenced annotations for FBgn0010109 dpn.

'Notch signaling pathway' from PTN000105428 is associated with these d.mel genes:
FBgn0002609	E(spl)m3-HLH
FBgn0002631	E(spl)m

[2019-01-08 13:36] RLovering commented on #2229
Hi Helen

Sorry are you saying that Notch signaling leads to an increase in the transcription of Hes. Then Hes regulates the transcription of lots of other genes? Therefore Hes is not part of the Notch signaling pathway? If so I agree.

But do you agree that RBPJ would be part of the Notch signaling pathway as it is activated by NICD and regulates the expression of the first genes transcribed foll

[2019-01-08 13:43] hattrill commented on #2229
Yes - Hes (and in the case of D.mel, these E(spl)XXX-HLH) are targets of the notch transcription complex and then these regulate the expression of other genes.

RBPJ (Su(H) to us) is definitely very much part of Notch signaling.

[2019-01-08 15:58] ValWood opened #2230 "IPR039896"
This family is mapping  fission yeast SPBC1539.02 to mitotic spindle checkpoint.
However, I looked at this a while back and I don't think the evidence is very clear.  This comes from the human entry  which has a lot of different annotations (splicing, chromosome segregation, checkpoint). It might be better not to map this family to a process until it's clearer.

https://www.uniprot.org/uniprot/Q13

[2019-01-08 16:52] bmeldal commented on #1500
From annotation call on 8/1/2019:

@RLovering: Are tools not stripping the whole annotation rather than only the qualifier?
@ukemi: Will check for tools that only remove the qualifier, not the annotation. Thinks all tools remove complete NOT annotations, though.
@vanaukenk: Will look at evaluating tools

[2019-01-08 17:22] ValWood commented on #1500
The question really should be "Do we really really need this qualifier"
There are only  2669 colocalizes_with Experimental. When I look at these in many cases it seems that the qualifier isn't really necessary.

There are 800 experimental annotations with colocalizes_with cytoplasm. What does that even mean? That could be stripped out bringing the number down to under 2000.

Maybe stripping the cl

[2019-01-08 18:12] ukemi commented on #1500
I agree we have never used this term consistently. It seems to have drifted from its original intent. I'm unsure that we want to strip these annotations from all tools. As Val says, in many cases that is useful information in the colaocalizes_with annotations.

[2019-01-08 18:21] hattrill commented on #1500
Perhaps 2019 is the year that we phase the colocalizes_with qualifier out. I don't think that it will be missed.
No new ones from now on and groups can whittle their collection down as and when they have the time.

[2019-01-08 18:33] RLovering commented on #1500
This is a list of 132 human proteins annotated with 'colocalizes with' and a child of GO:0032991 protein-containing complex. None of these are annotated directly to GO:0032991 protein-containing complex. Therefore this list could be used in functional analysis tools and if 32991 is enriched then the annotations have not been removed (you're welcome)

GENE PRODUCT ID

H7C1Q1
P14373
P23497
Q6ZRQ5
Q8

[2019-01-08 18:35] cmungall commented on #1500
Would protein-containing complex be an informative result in an enrichment analysis?

[2019-01-08 18:36] ukemi commented on #1500
I suspect that in reality everything should be annotated to it. If not, I'd be interested in the exception.

[2019-01-08 19:46] RLovering commented on #1500
obviously  protein-containing complex is unlikely to be an informative enriched terms and I agree that probably everything should be annotated to it. However, enrichment of the child terms might well be informative.
I was surprised when we did the analysis for the autophagy paper that autophagosome was enriched as well as autophagy processes. Personally I think it is very reassuring to have releva

[2019-01-09 08:39] bmeldal commented on #1500
@RLovering

That is a short list given how many co-loc studies are out there so clearly the data is usually captured in a different way.

I'd be worried if people annotated to the parent, it doesn't mean anything (just as protein binding and protein-containing complex binding means nothing, #1876)

@ukemi

Only 30% of the yeast proteome are represented in what we deem (at the moment!) the complete

[2019-01-09 08:42] bmeldal commented on #1500
Small amendments added in above comment

[2019-01-09 13:23] hattrill opened #2231 "PTN000262353 - PTHR12254 Update of source annotations"
The annotations associated with the genes from PTN000262353 infers 'Notch signaling pathway':

FBgn0002629
FBgn0002732
FBgn0026320

have been updated to "negative regulation of Notch signaling pathway"

[2019-01-09 14:03] ValWood commented on #1500
If we can't tie a location to a process maybe the annotation doesn't belong in GO.

Perhaps the way forwards is firstly to identify the main different use cases (there are clearly a number of different ones), and figure out how these are best annotated consistently.

The ones I  have seen include
i) assembly intermediates
ii) target of complex
iii) complex is target of gene product
iii)  complex b

[2019-01-09 15:46] bmeldal opened #2232 "Annotations to Complex Portal ACs where evidence spread across several expts in same paper"
PMID:16242404
https://www.sciencedirect.com/science/article/pii/S0896627305007014?via%3Dihub#fig5

The paper describes the role of neuroligin NLGN1(with/without A/B inserts) - neurexin NRXN1beta(with/without insert 4) complexes (there are a gazillion variants...!). There's PPI evidence for various combinations (F1-4) and then in F5 it describes:
GO:0007158 neuron cell-cell adhesion
by way of trans

[2019-01-09 16:01] bmeldal commented on #2232
Similar story here:
PMID:16846852
https://www.sciencedirect.com/science/article/pii/S0896627306004582?via%3Dihub

Neuroligin-neurexin localisation to glutamatergic vs GABAergic synapses, cf F1&2 (neuroligins) vs F4 (neurexins). Take together, we can say that complex NLGN1(without insert AB)-NRXN1beta(without insert 4) are found equally at both types of synapses as we know they bind (from other pap

[2019-01-11 11:52] ValWood opened #2233 "PANTHER:PTN000819906 NOT CCR4-NOT complex"
At least

	btf3	nascent polypeptide-associated complex beta subunit		CCR4-NOT core complex		GO_Central	Schizosaccharomyces pombe	IBA	PANTHER:PTN000819906
SGD:S000002660	transcription factor btf3 pthr10351	protein		PMID:21873635	20180521

is not CCR4-NOT in fission yeast....

the annotation comes from a reported interaction between
nascent polypeptide-associated complex  and
 interacts with Caf130p

[2019-01-11 19:47] hdrabkin opened #2234 "FCP inference annotations"
We have three annotations that are coming in from the FXP/FXC load that have IEP to non-process terms that are generating warnings.

My understanding is that these are made if there exists an F annotation.
Like if F = transcription factor activity, a C would be generated with same evidence code and reference to "nucleus"
These three in question have NO F annotations using IEP (which would also gen

[2019-01-14 09:16] asangrador commented on #2230
Ok. I have removed the term till there is evidence for other organisms.
Cheers.

[2019-01-14 09:16] #2230 closed

[2019-01-14 10:06] asangrador commented on #2227
I have removed the sodium transport term altogether, as it seems to be few exceptions.  I will leave it as transmembrane transport.

[2019-01-14 13:40] ValWood opened #2235 "IPR004789"
should be
acetolactate synthase regulator activity

rather than

GO:0003984 | acetolactate synthase activity

(not catalytic)

[2019-01-14 14:10] marcfeuermann commented on #2226
Hi Val,
This comes from a HAMAP rule: MF_03102
I would suggest to assign it to @pedruzzi
Best regards,
Marc

[2019-01-14 14:12] marcfeuermann commented on #2233
Sorry, I deleted my previous comment since I put it in the wrong ticket.
Marc.

[2019-01-14 14:39] marcfeuermann commented on #2233
Hi Val,
I've updated the annotation for PTHR10351. I agree with you, btf3 is indeed not part of the CCR4-NOT complex. In fact, CCR4-NOT complex interacts with NAC complex (I've worked on this subject during my 3rd post-doc !). So I've removed the PAINT propagation of "CCR4-NOT core complex".
Regards
Marc.

[2019-01-14 14:39] #2233 closed

[2019-01-14 15:20] ValWood commented on #2233
I now know where to direct my CCR4-NOT queries :)

[2019-01-14 17:47] ValWood opened #2236 "KW-0548 and other annotations for Q10315"
Q10315 is no longer considered to be fission yeast dpb3.

dpb3 is
https://www.pombase.org/gene/SPCC16C4.22

I think the explanation is in here IIRC
https://www.pombase.org/reference/PMID:29109278

this is actually pombe bur6 ortholog (a transcription factor)

annotations from
https://www.ncbi.nlm.nih.gov/pubmed/15388803
should be removed

[2019-01-14 17:47] ValWood commented on #2236
Hi @marcfeuermann  you might not be the correct person for this one so could you reassign?

Thanks

Val

[2019-01-14 19:34] suzialeksander opened #2237 "clarify docs on NOT"
Current documentation states:

http://wiki.geneontology.org/index.php/Qualifiers

http://geneontology.org/page/go-annotation-conventions#qual

Am I correct that currently, no group would annotate NOT to "our favorite protein is not found in the nucleus", and can I delete this from both sources?  This popped up way back on #3, but the documentation is still contradicting itself.

(note to self, par

[2019-01-15 16:06] marcfeuermann commented on #2236
Hi Val,
As I'm still 50% UniProtKB curator for fungal proteins, so you assigned this ticket correctly to me :-)
This is an unusual situation of identity theft ! I've made the changes in UniProtKB and SPAC17G8.03c (Q10315) is now the transcription regulator complex subunit bur6, SPCC16C4.22 (C6Y4D0) having now the identity of dpb3. As I've changed the KWs, mapping to GO should also change.
Regards,

[2019-01-15 16:06] #2236 closed

[2019-01-15 16:40] ValWood commented on #2236
Yes it flummoxed me for a long time, I always thought it  smelled a bit odd....but we had experiemnts

[2019-01-15 18:21] suzialeksander commented on #2237
After GO-CAM call today, docs need to be clarified: a negative use is permitted especially in PAINT

[2019-01-15 18:35] vanaukenk commented on #2237
I've now added documentation on use of NOT in PAINT annotation and linked that to the corresponding IKR evidence code page.

[2019-01-16 16:53] asangrador commented on #2235
Agreed, the small subunit is the regulatory subunit. I have changed the term to acetolactate synthase regulator activity.

[2019-01-16 16:53] #2235 closed

[2019-01-16 20:31] vanaukenk opened #2238 "PTN000799655 - PTHR10048 - platelet activation"
Hi,

Can you please take a look at the propagation of GO:0030168 'platelet activation' in PTN000799655.

We are getting an annotation to 'platelet activation' for C. elegans age-1 but C. elegans does not have platelets.

Thx.

[2019-01-16 20:41] vanaukenk commented on #2238
We may also need to re-evaluate the annotation to GO:006468 'phosphorylation'.

@hdrabkin @ukemi - do you still think the original annotations to PI3Ks from PMID:15192701 are okay?  They are quite old.

[2019-01-16 20:47] hdrabkin commented on #2238
As far as I can tell they seem to be coming in from PAINT in 2017

[2019-01-16 20:49] vanaukenk commented on #2238
@hdrabkin
I am looking at this page, for example, at MGI:

http://www.informatics.jax.org/go/marker/MGI:1206581

where I see an IDA annotation to protein phosphorylation from PMID:15192701

[2019-01-16 20:51] hdrabkin commented on #2238
Ok, did not notice; and because of that the other Pi3Ks are getting the IBA from Panther?

[2019-01-16 20:51] vanaukenk commented on #2238
Yes, it looks that way.  Thx.

[2019-01-16 20:52] ukemi commented on #2238
I see the ones from MGI in our interface. I will check it out. They look suspicious.

[2019-01-16 20:55] hdrabkin commented on #2238
So it appears the paper shows  "inhibition  of  either  PI3K  or  Akt  prevents
the  PS1-dependent  Akt  phosphorylation' ; not that PI3K is doing the Akt phosphorylation.

[2019-01-16 20:58] ukemi commented on #2238
Agreed. It is a downstream effect.

[2019-01-16 21:00] ukemi commented on #2238
causally-upstream, but important to capture the take-home message of the paper.

[2019-01-16 21:00] hdrabkin commented on #2238
I can fix now or you?

[2019-01-16 21:01] ukemi commented on #2238
Go ahead and fix. You're right, the authors argue that it is regulatory.

[2019-01-16 21:02] ukemi commented on #2238
Would be a nice one to model (hint hint).

[2019-01-16 21:10] hdrabkin commented on #2238
Done; other fish to fry for model (PRO)

[2019-01-17 17:20] bmeldal commented on #1500
i) Co-loc: physical properties of the technology - no IPI evidence
Sub cell: maybe remove very general things like "cell" or "cytoplasm"...
--> do not use co-loc with complex from now on, fix old annotations over time
--> still allow to subcell loc

iv) park - new ticket

to be completed

[2019-01-18 13:22] hattrill opened #2239 "Nct PANTHER:PTN000473192 only evidenced by itself"
FBgn0039234, Nct

D.mel Nct annotated to 'Notch receptor processing' with/from FB:FBgn0039234, PANTHER:PTN000473192

The with/from field only has one supporting gene id, but this is the gene itself.

[2019-01-18 14:22] hattrill opened #2240 "PANTHER:PTN000473190 endopeptidase activity"
Nicastrin PANTHER:PTN000473190 endopeptidase activity is a subunit of the gamma secretase complex that cleaves Notch receptor and APP, but it is the presenilin subunit that has the activity.

[2019-01-18 14:43] bmeldal commented on #1500
From Complex WG call 17/1/19:

We mainly discussed the use of colocalizes_with in co-localisation studies.

**colocalizes_with [complex]**

The apparent overlap of the colour response is in fact a physical properties of the technology - 2 probes of different wave lengths emit light from near each other, the light mixes and we detect an intermediate wave length. It does not imply that the 2 molecul

[2019-01-18 16:39] ukemi commented on #2240
Changed to contributes_to.

[2019-01-19 08:56] ValWood commented on #2240
Out of curiosity, will the PAINT annotation then automagically update?

[2019-01-20 21:45] ValWood commented on #2035
Hi Penelope,

Apologies for the delay. I still think this is indirect.

based on this paper:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4434539/
The membrane is not folded correctly and so the distribution of the ATPase complexes is affected. I would not annotate  MICOS to GO:0006119 'oxidative phosphorylation'

Pretty much most of the mitochondrial proteins will affect some aspect of
oxidative

[2019-01-20 22:45] ValWood opened #2241 "glucose-6-phosphate dehydrogenase activity IEA with IPR022674"
Hi

O59812

https://www.pombase.org/reference/PMID:28667014

is a

GO:0047935 | glucose 1-dehydrogenase (NADP+) activity
not

GO:0004345 | glucose-6-phosphate dehydrogenase activity

cheers

va

[2019-01-21 08:33] bmeldal commented on #1500
@vanaukenk @pgaudet @ukemi

Can this now be parked for "rubber stamping" in Cambridge in April? (I've created a new Milestone as there was none for Cambridge yet)

[2019-01-21 08:35] hattrill commented on #2240
I am not sure that it will get updated automatically. I am re-opening until we have a confirmation from PAINT.
I will note now, that I don't think that PAINT should propagate "contributes_to" as this qualifier has acknowledged issues with consistency of use. Ditto of coloc_with. Propagating them just amplifies the issue.

[2019-01-21 10:55] hattrill opened #2242 "PTN000288287 Q9V3V9 EndoGI is not Ku autoantigen DNA helicase"
Please block annotations from PTN000288287 to FBgn0028515 Q9V3V9 EndoGI.

It is an endonuclease inhibitor not a helicase. https://academic.oup.com/nar/article/37/21/7312/1422223

[2019-01-21 12:17] bmeldal commented on #1876
Added Cambridge GOC meeting as milestone.

Further discussions in https://github.com/geneontology/go-ontology/issues/16833

[2019-01-21 17:03] ValWood opened #2243 "dpb4 SPKW KW-0548"
https://www.pombase.org/gene/SPBC3D6.09
GO:0016779 | nucleotidyltransferase activity | IEA with KW-0548

Hi Marc,

I'm not sure if you looked at this when you did the dpb3-like last week, but I think this keyword is also misapplied. I think it is a very broad mapping for DNA polymerase possibly? but this subunit does not appear to part of the "polymerase activity" anyway.

So this mapping might ne

[2019-01-21 18:34] hattrill opened #2244 "PTN001060286 tetraspanins "cell surface receptor signaling pathway""
PTN001060286 tetraspanins "cell surface receptor signaling pathway" is only supported by one annotation that I do not think is suitable for propagation.

This family of proteins is not well-characterised, but they are generally not thought of as directly involved in cell surface signaling. They might act as scaffolds in intracellular trafficking, regulate signaling, protein maturatio, membrane mic

[2019-01-22 08:17] ValWood commented on #2244
I agree.  Tetraspanins or claudins are membrane fusion protein more generally.
https://www.ncbi.nlm.nih.gov/pubmed/29134248

[2019-01-22 09:23] hattrill opened #2245 "cell wall - PTN000114490 and PTN000905869"
Propagation of cell wall from PTN000114490 and PTN000905869 (both supported by only one annotation!) to organisms without cell walls.

I've requested taxon restriction on cell wall https://github.com/geneontology/go-ontology/issues/16859

[2019-01-23 10:03] ValWood opened #2246 "IPR022533 aerobic respiration"
Is indirect,

mitochondrial respiratory chain complex IV assembly
would be correct

SGD have removed annotation.

thanks
v

[2019-01-23 10:12] asangrador commented on #2241
We missed this. I have removed GO:0004345 and changed it to GO:0016614  | oxidoreductase activity, acting on CH-OH group of donors.
Thanks

[2019-01-23 10:38] asangrador commented on #2246
Agreed. I have removed aerobic respiration.

[2019-01-23 10:38] #2246 closed

[2019-01-24 17:07] bmeldal commented on #1500
Agreed:
Add warning in P2GO
Update docs and GO rule
Backlog: find a strategy to remove over time

[subcellular loc]: work through meaningless annotations like "cell"

[2019-01-25 09:39] hattrill opened #2247 "PAINT PIPELINE: Duplicate annotations"
We are seeing quite a lot of duplicate annotations coming from the PAINT pipeline where the only difference is a gene/protein id in the with field and the date stamp- not sure if some flush has been missed in the reload/release or it is some other issue.

For FBgn0030778
http://amigo.geneontology.org/amigo/gene_product/FB:FBgn0030778
extracellular space:
with/from:
MGI:MGI:1934569
PANTHER:PTN00016

[2019-01-25 09:48] marcfeuermann commented on #2244
PTHR19282 is a huge family. It is the kind of family which is not well characterized but for which there is a lot of literature (126 different BP annotations in total, mostly phenotypes). Many mammalian members have been associated with receptor protein maturation and complex association, receptor internalization and regulation of various signaling pathways. However, I agree that they seem not to

[2019-01-25 09:48] #2244 closed

[2019-01-25 10:30] hattrill commented on #2244
Thanks!

[2019-01-25 12:06] bmeldal commented on #1940
Agreed in call on 24/1/19 (in https://github.com/geneontology/go-annotation/issues/1500):

**Use of *colocolizes_with* GO:0032991 protein-containing complex and children no longer allowed**

**Actions required:**
- [ ] Add warning in P2GO @alexsign
- [ ] Update docs and GO rule @vanaukenk
- [ ] Backlog: find a strategy to remove over time.

**Use of *colocolizes_with* [subcellular location]:**
- [

[2019-01-25 12:17] bmeldal commented on #2232
From call on 24/1/19:

When transferring this kind of annotation from the GP to the complex it has to be inferred using ECO:0005547.

[2019-01-25 12:17] #2232 closed

[2019-01-25 15:53] alexsign commented on #1940
@bmeldal Hi Birgit, few questions:
We want to prevent adding new annotations of this type into Protein2GO, right?
Should this check include all gene products(proteins, complexes and RNAs)?
Is there any checks needed for NOT| colocolizes_with?

[2019-01-28 08:46] ValWood commented on #1940
I would say definitely  don't allow NOT with colocalizes_with

[2019-01-28 14:08] ValWood opened #2248 "human SGT1 annotation review"
Probably all the TAS from ProtINc should be removed.
transcription coactivator activity
transcription by RNA polymerase II
regulation of glycolytic process

Anything from
https://www.uniprot.org/citations/9928932
should be removed. This is a cross-species screen and there is no real evidence here for a role in transcription.

Even though there is an interaction between human hSgt1p and the DNA-bin

[2019-01-28 14:17] ValWood commented on #2248
I  also had a transcription annotation to pombe SGt1 from the same authors. I just deleted this:

Check out FlyBase for more recent info
Ecdysoneless (Ecd) physically interacts with several components of the U5 snRPN pre-mRNA splicing complex. Its loss result in intron retention within spok, accounting for ecdysone deficiency of ecd[1] mutants. [Date last reviewed: 2016-08-18]

[2019-01-28 16:27] ValWood opened #2249 "human Dr1-associated corepressor / annotation review"
DNA-binding transcription factor activity, RNA polymerase II-specific
seems incorrect?

@pgaudet   how do I tag NTNU_SB

[2019-01-28 17:15] ValWood commented on #1959
I still see the annotations her, should I? Oct seems a long time ago?

[2019-01-28 17:29] ValWood opened #2250 "SPAC18B11.03c PAINT annotation "response to drug""
SPAC18B11.03c | N-acetyltransferase (predicted) |   | response to drug |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN001997957SGD:S000003444 | family not named pthr28037 | protein |   | PMID:21873635 | 20170228

Can this be removed? I don't think we should annotate "response to" via PAINT.

[2019-01-28 17:38] ValWood opened #2251 "MGI:MGI:104873PANTHER:PTN000022480"
SPAC823.09c | threonine aspartase, unknown biological role (predicted) |   | protein maturation |   | GO_Central | Schizosaccharomyces pombe | IBA | MGI:MGI:104873PANTHER:PTN000022480 | l-asparaginase pthr10188 | protein |   | PMID:21873635 | 20171019

from
http://www.informatics.jax.org/go/marker/MGI:104873

I don't see where this comes from. The protein is processed but the abstract doesn't impl

[2019-01-28 21:33] ValWood commented on #2249
Hi Marcio, @mlacencio
could  you look at the

DNA-binding transcription factor activity, RNA polymerase II-specific
for
https://www.uniprot.org/uniprot/Q14919

Does this seem correct?

Cheers
Val

[2019-01-28 21:35] ValWood opened #2252 "IPR017964 DNA-directed DNA polymerase activity"
https://www.uniprot.org/uniprot/O60094 is
rDNA transcriptional regulator pol5

not a polymerase.

see "caution" in Uniprot entry
Caution
Was originally thought to belong to the DNA polymerase type-B family based on conserved motifs (PubMed:12093911). Has later been shown to be unrelated to B class DNA polymerases (PubMed:12695662).2 Publications

(SGD annotation was removed today)

[2019-01-29 08:35] ValWood commented on #2250
@suzialeksander is it possible to make this annotation more specific. At PomBase we don't use "response to drug"  as it is too vague, but we could use a more specific annotation by PAINT, or by ISO.

[2019-01-29 09:59] ValWood opened #2253 "RNA-binding protein with multiple splicing, RBPMS Q93062"
https://www.uniprot.org/uniprot/Q93062

Has a mixture of annotation.
It is an RNA binding protein.

transcription coactivator activity looks suspect (old paper)
or
mRNA splicing, via spliceosome Source: GO_Central PAINT

as its very unlikely to be both splicing AND transcription

[2019-01-29 10:05] ValWood commented on #2253
Actually, my concern is in the annotation of
mde7 (pombe ortholog of RBPMS) to "splicing.

This comes from

mde7 | RNA-binding protein Mde7 |   | mRNA splicing, via spliceosome |   | GO_Central | Schizosaccharomyces pombe | IBA | PANTHER:PTN000827569SGD:S000000323 more... | u1 small nuclear ribonucleoprotein a/u2 small nuclear ribonucleoprotein b pthr10501 | protein |   | PMID:21873635 | 20170228

[2019-01-29 10:13] ValWood opened #2254 "IPR001387 not DNA binding"
Hi,

This is multiprotein bridging factor.

mbf1 bridges the DNA-binding region of Gcn4p and TATA-binding protein Spt15p, should not have DNA binding itself (IIRC)

Val

[2019-01-29 10:17] mlacencio commented on #2249
Hi Val,

I will discuss this issue with the other NTNU curators here and then reply you as soon as possible.

Best regards,

Marcio

From: Val Wood <notifications@github.com>
Sent: Monday, January 28, 2019 10:33 PM
To: geneontology/go-annotation <go-annotation@noreply.github.com>
Cc: Marcio Luis Acencio <marcio.l.acencio@ntnu.no>; Mention <mention@noreply.github.com>
Subject: Re: [geneontology/go-

[2019-01-29 10:21] ValWood commented on #2241
OK thanks, closing!

[2019-01-29 10:21] #2241 closed

[2019-01-29 10:23] ValWood commented on #2234
Assigning to @cmungall  to assign to the correct GOC person

[2019-01-29 10:25] ValWood commented on #2227
Thanks, closing!

[2019-01-29 10:25] #2227 closed

[2019-01-29 10:37] pedruzzi commented on #2226
I'll have a look, yes :-)

[2019-01-29 10:38] ValWood commented on #2096
pinging @slaulederkind @ukemi @suzialeksander @sabrinatoro

[2019-01-29 10:39] pedruzzi commented on #2199
That's coming from HAMAP, so yes I will

[2019-01-29 10:41] ValWood commented on #2083
@sylvainpoux  @pgaudet  we had other issues like this which were discussed on QC call. Difficult to fix, but we need a solution.

[2019-01-29 10:52] ValWood opened #2255 "IPR017919"
tfa1

transcription factor TFIIE alpha subunit, TFIIEA

 general TF, not

sequence-specific DNA binding

I don't think it binds to DNA specifically. Does it bind at all or only through TBP?

[2019-01-29 14:38] ValWood opened #2256 "Zinc finger FYVE domain-containing protein 9 NOT serine-type peptidase activity"
I don't see any evidence that  ZFYVE9 is a
serine-type peptidase activity
https://www.uniprot.org/uniprot/O95405

[2019-01-29 14:47] ValWood commented on #2256
The paralog
https://www.uniprot.org/uniprot/Q7Z3T8 ZFYVE16
has
protein transporter activity Source: UniProtKB

which also looks wrong (although it does appear to be involved in endosomal transport in some way)

[2019-01-29 14:54] cmungall commented on #2234
you should get them from snapshot, @ukemi is with @kltm today they will explain

[2019-01-29 15:00] hdrabkin commented on #2234
We found the file in snapshot directory;  it was also renamed. I can close this

[2019-01-29 15:33] ValWood opened #2257 "hdd1 what's the correct process term?"
I had hdd1 as an unknown until recently, but it has been annotated in SGD as

term=deoxyribonucleoside monophosphate catabolic process; GOid=GO:0009159; evidence=ISO; with=SGD:S000003069

so I ISS'd to it.

Then I noticed that  I had a note to update because it has been PAINTED to

	hdd1		dUMP biosynthetic process	IBA	EcoGene:EG14102
PANTHER:PTN000217770
ASN
	hdd1			pyrimidine deoxyribonucleotide

[2019-01-29 18:01] ValWood opened #2258 "IPR016341 clathrin coat assembly"
This is used for  clathrin light chain which is part of the clathrin coat.

It's an example of this, I think
https://github.com/geneontology/go-annotation/issues/2213

[2019-01-29 18:02] ValWood commented on #2213
Another example of "protein complex assembly" for complex members

[2019-01-29 20:04] deustp01 commented on #2257
The textbook view (Wikipedia) has UMP as an end product both of de novo synthesis and of pyrimidine salvage but they arrive at that shared endpoint by different reactions so it's hard to see how one enzyme function could be part of both processes. The UniProt entries for the human (Q7Z4H3 - HDDC2) and pombe (P87242 - SPCC4G3.17) proteins both have both annotations, all as inferences from biologica

[2019-01-30 09:08] RLovering commented on #2224
I don't think I would describe these as membrane binding. They are located in the membrane, and neuroligin bind to neurexins (and vice versa) in adjacent cells.

I think this is a good point, both neuroligin and neurexin need to be integral to two different plasma membranes in order for the complex to be an adhesion complex.  But will annotation to GO:0005887 be misleading?

I would imagine that t

[2019-01-30 11:23] ValWood commented on #2224
I came across this issue a lot when I was  re-assessing our mitochondrial annotations.

I didn't like the fact that a complex could be "integral to membrane" and that would place all components as integral to membrane  although some clearly aren't.

[2019-01-30 12:01] ValWood commented on #2257
No, its all old genetics and functional complementation! Nobody looked at it since I worked on fission yeast. We don't do metabolism very well....

[2019-01-30 12:03] ValWood commented on #2257
This particular gene  product was in my unknowns. I was going to annotate based on the PAINT inference and the SGD annotation.
I think you are correct that "pyrimidine metabolic process".

I'll ask @marcfeuermann  to remove the PAINT inference.

[2019-01-30 13:54] deustp01 commented on #2224
This looks like a variant on the standard complex annotation problem: a whole complex does something; roles for individual subunits are not clear; how should the subunits be annotated? The one solution we don't have would it this case too and it seems unlikely that the case described here can be definitively sorted out without an agreement on handling the standard problem.

[2019-01-30 17:12] ValWood opened #2260 "KW-0269 for Q9USG9"
Q9USG9  has a mapping to KW-0269

GO:0004527 | exonuclease activity

but is a
GO:0017005 | 3'-tyrosyl-DNA phosphodiesterase activity

v

[2019-01-31 08:40] bmeldal commented on #2224
Thank you for sharing our frustration! We may just need a new term for these (I'm sure it applies to several ECM complexes, too, but I can't recall an example now).

I'm happy to discuss this in an annotation call. I can do most Tuesdays but need a heads up for the week you add it to the agenda.

[2019-01-31 09:13] ValWood commented on #2260
OK, I can move to the ontology tracker if necessary.

in GO nuclease is
Catalysis of the hydrolysis of ester linkages within nucleic acids.

and 3'-tyrosyl-DNA phosphodiesterase activity does not have this parentage which is suspect.
In fact I am not seeing the difference between some of the parents!

![ster phos](https://user-images.githubusercontent.com/7359272/52043767-74d4a500-2538-11e9-9e6f-4